In [1]:
# closest location Cambridge Maryland
# https://tidesandcurrents.noaa.gov/waterlevels.html?id=8571892

# Link for CSV:
# https://api.tidesandcurrents.noaa.gov/api/prod/datagetter
#  ?product=water_level&application=NOS.COOPS.TAC.WL
#  &begin_date=20250201&end_date=20250202&datum=MLLW
#  &station=8571892&time_zone=GMT&units=english&format=csv

import pandas as pd
import sqlite3
import csv
import requests

In [2]:
# Link for hourly CSV:
# https://api.tidesandcurrents.noaa.gov/api/prod/datagetter
#  ?product=hourly_height&application=NOS.COOPS.TAC.WL
#  &begin_date=19790601&end_date=19790701&datum=MLLW
#  &station=8571892&time_zone=GMT&units=english&format=CSV

In [3]:
conn = sqlite3.connect('water_levels.db')
scur = conn.cursor()

In [4]:
table_name = 'noaa_data'

In [5]:
scur = conn.cursor()
scur.execute(f'''
select Station, min(Date_Time), max(Date_Time), 
count(distinct(date(Date_Time,'start of year'))) as years_reported,
count(distinct(date(Date_Time,'start of month'))) as months_reported,
count(distinct(date(Date_Time,'start of day'))) as days_reported,
count(*) as total_records
from {table_name}
group by 1
order by 1''')

for col in scur.description:
    print(col[0])

for row in scur.fetchall():
    print(row)

Station
min(Date_Time)
max(Date_Time)
years_reported
months_reported
days_reported
total_records
('8571892', '1979-06-01 01:00', '2024-12-31 23:54', 46, 544, 16520, 2576856)
('8594900', '1996-01-01 00:00', '2024-12-31 23:54', 29, 338, 10261, 2594305)

In [6]:
station = '8571892' ## Cambridge, MD
station = '8575512' ## Annapolis, MD

In [7]:
scur = conn.cursor()
scur.execute(f'''
select Station, 
date(Date_Time,'start of year'),
min(Date_Time),
count(*) as total_records
from {table_name}
where station = {station}
group by 1,2
order by 1,2 desc
''')

for col in scur.description:
    print(col[0])

for row in scur.fetchall():
    print(row)

Station
date(Date_Time,'start of year')
min(Date_Time)
total_records

In [8]:
### URL Builder based on month, year, station
def url(year,month,station):
    first_day_of_month = 1
    short_mths = [9,4,6,11]
    if month == 2:  # February
        if year % 4 == 0:  #leap year
            last_day_of_month = 29
        else:
            last_day_of_month = 28
    elif month in short_mths:
        last_day_of_month = 30
    else:
        last_day_of_month = 31

    url = f"""https://api.tidesandcurrents.noaa.gov/api/prod/datagetter
?product=water_level&application=NOS.COOPS.TAC.WL
&begin_date={year}{month:02d}{first_day_of_month:02d}&end_date={year}{month:02d}{last_day_of_month}&datum=MLLW
&station={station}&time_zone=GMT&units=english&format=csv"""

    return (url.replace('\n',''))

year = 2000
month = 2
station = '8571892'
print(url(year,month,station))

https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000201&end_date=20000229&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv

In [9]:
### URL Builder based on month, year, station
### This does for the hourly height, as opposed to the water level
def alt_url(year,month,station):
    first_day_of_month = 1
    short_mths = [9,4,6,11]
    if month == 2:  # February
        if year % 4 == 0:  #leap year
            last_day_of_month = 29
        else:
            last_day_of_month = 28
    elif month in short_mths:
        last_day_of_month = 30
    else:
        last_day_of_month = 31

    url = f"""https://api.tidesandcurrents.noaa.gov/api/prod/datagetter
?product=hourly_height&application=NOS.COOPS.TAC.WL
&begin_date={year}{month:02d}{first_day_of_month:02d}&end_date={year}{month:02d}{last_day_of_month}&datum=MLLW
&station={station}&time_zone=GMT&units=english&format=csv"""

    return (url.replace('\n',''))

year = 2000
month = 2
station = '8571892'
print(alt_url(year,month,station))

https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=hourly_height&application=NOS.COOPS.TAC.WL&begin_date=20000201&end_date=20000229&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv

In [10]:
# check some dates:
year = 1997
station = 8571892
for month in range(5,3,-1):
    print(month,url(year,month,station))
    print(month,alt_url(year,month,station))

5 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19970501&end_date=19970531&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
5 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=hourly_height&application=NOS.COOPS.TAC.WL&begin_date=19970501&end_date=19970531&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
4 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19970401&end_date=19970430&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
4 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=hourly_height&application=NOS.COOPS.TAC.WL&begin_date=19970401&end_date=19970430&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv

In [12]:
### GET YEARS WORTH OF DATA
def year_upload(station, year, table_name):
    print(year)
    record_count = 0
    for month in range(12,0,-1):
        record_count += month_upload(station, year, month, table_name)

    conn.commit()
    return record_count

### GET MONTH OF DATA
def month_upload(station, year, month, table_name):
    print(year, month)
    #print(month,url(year,month,station))
    response = requests.get(url(year,month,station))
    alt_url_flag = False
    if "No data was found" in response.text:
        response = requests.get(alt_url(year,month,station))
        alt_url_flag = True
        if "No data was found" in response.text:
            print(f"No data for {year}, {month}")
            return 0

    #print(len(response.text))
    reader = csv.reader(response.text.splitlines())
    columns = next(reader)
    record_count = 0

    for line in reader:
        #print(line)
        try:
            if alt_url_flag: ## the alt url misses a few values
                placeholders = ", ".join([f"'{val}'" for val in line]) + ", '0', '0', 'v', " + str(station)
            else:
                placeholders = ", ".join([f"'{val}'" for val in line]) + ", " + str(station)
            record_count += 1
            query = f'INSERT INTO {table_name} VALUES ({placeholders})'
            conn.execute(query)
        except Exception as error_msg:
            print(f"Error {error_msg}")
    conn.commit()
    
    return record_count

In [13]:
station = '8575512' ## Annapolis
for year in range(2024,1927,-1):
    print(f"{year} has {year_upload(station, year, table_name)} records")

2024
2024 12
2024 11
2024 10
2024 9
2024 8
2024 7
2024 6
2024 5
2024 4
2024 3
2024 2
2024 1
2024 has 87840 records
2023
2023 12
2023 11
2023 10
2023 9
2023 8
2023 7
2023 6
2023 5
2023 4
2023 3
2023 2
2023 1
2023 has 87600 records
2022
2022 12
2022 11
2022 10
2022 9
2022 8
2022 7
2022 6
2022 5
2022 4
2022 3
2022 2
2022 1
2022 has 87600 records
2021
2021 12
2021 11
2021 10
2021 9
2021 8
2021 7
2021 6
2021 5
2021 4
2021 3
2021 2
2021 1
2021 has 87600 records
2020
2020 12
2020 11
2020 10
2020 9
2020 8
2020 7
2020 6
2020 5
2020 4
2020 3
2020 2
2020 1
2020 has 87840 records
2019
2019 12
2019 11
2019 10
2019 9
2019 8
2019 7
2019 6
2019 5
2019 4
2019 3
2019 2
2019 1
2019 has 87600 records
2018
2018 12
2018 11
2018 10
2018 9
2018 8
2018 7
2018 6
2018 5
2018 4
2018 3
2018 2
2018 1
2018 has 87600 records
2017
2017 12
2017 11
2017 10
2017 9
2017 8
2017 7
2017 6
2017 5
2017 4
2017 3
2017 2
2017 1
2017 has 87600 records
2016
2016 12
2016 11
2016 10
2016 9
2016 8
2016 7
2016 6
2016 5
2016 4
2016 3
2016 2
2016 1
2016 has 87840 records
2015
2015 12
2015 11
2015 10
2015 9
2015 8
2015 7
2015 6
2015 5
2015 4
2015 3
2015 2
2015 1
2015 has 87600 records
2014
2014 12
2014 11
2014 10
2014 9
2014 8
2014 7
2014 6
2014 5
2014 4
2014 3
2014 2
2014 1
2014 has 87600 records
2013
2013 12
2013 11
2013 10
2013 9
2013 8
2013 7
2013 6
2013 5
2013 4
2013 3
2013 2
2013 1
2013 has 87600 records
2012
2012 12
2012 11
2012 10
2012 9
2012 8
2012 7
2012 6
2012 5
2012 4
2012 3
2012 2
2012 1
2012 has 87840 records
2011
2011 12
2011 11
2011 10
2011 9
2011 8
2011 7
2011 6
2011 5
2011 4
2011 3
2011 2
2011 1
2011 has 87600 records
2010
2010 12
2010 11
2010 10
2010 9
2010 8
2010 7
2010 6
2010 5
2010 4
2010 3
2010 2
2010 1
2010 has 87600 records
2009
2009 12
2009 11
2009 10
2009 9
2009 8
2009 7
2009 6
2009 5
2009 4
2009 3
2009 2
2009 1
2009 has 87600 records
2008
2008 12
2008 11
2008 10
2008 9
2008 8
2008 7
2008 6
2008 5
2008 4
2008 3
2008 2
2008 1
2008 has 87840 records
2007
2007 12
2007 11
2007 10
2007 9
2007 8
2007 7
2007 6
2007 5
2007 4
2007 3
2007 2
2007 1
2007 has 87600 records
2006
2006 12
2006 11
2006 10
2006 9
2006 8
2006 7
2006 6
2006 5
2006 4
2006 3
2006 2
2006 1
2006 has 87600 records
2005
2005 12
2005 11
2005 10
2005 9
2005 8
2005 7
2005 6
2005 5
2005 4
2005 3
2005 2
2005 1
2005 has 87600 records
2004
2004 12
2004 11
2004 10
2004 9
2004 8
2004 7
2004 6
2004 5
2004 4
2004 3
2004 2
2004 1
2004 has 87840 records
2003
2003 12
2003 11
2003 10
2003 9
2003 8
2003 7
2003 6
2003 5
2003 4
2003 3
2003 2
2003 1
2003 has 87600 records
2002
2002 12
2002 11
2002 10
2002 9
2002 8
2002 7
2002 6
2002 5
2002 4
2002 3
2002 2
2002 1
2002 has 87600 records
2001
2001 12
2001 11
2001 10
2001 9
2001 8
2001 7
2001 6
2001 5
2001 4
2001 3
2001 2
2001 1
2001 has 87600 records
2000
2000 12
2000 11
2000 10
2000 9
2000 8
2000 7
No data for 2000, 7
2000 6
No data for 2000, 6
2000 5
No data for 2000, 5
2000 4
2000 3
2000 2
2000 1
2000 has 58340 records
1999
1999 12
1999 11
1999 10
1999 9
1999 8
1999 7
1999 6
1999 5
1999 4
1999 3
1999 2
1999 1
1999 has 87600 records
1998
1998 12
1998 11
1998 10
1998 9
1998 8
1998 7
1998 6
1998 5
1998 4
1998 3
1998 2
1998 1
1998 has 87600 records
1997
1997 12
1997 11
1997 10
1997 9
1997 8
1997 7
1997 6
1997 5
1997 4
1997 3
1997 2
1997 1
1997 has 87600 records
1996
1996 12
1996 11
1996 10
1996 9
1996 8
1996 7
1996 6
1996 5
1996 4
1996 3
1996 2
1996 1
1996 has 87840 records
1995
1995 12
1995 11
1995 10
1995 9
1995 8
1995 7
1995 6
1995 5
1995 4
1995 3
1995 2
1995 1
1995 has 8760 records
1994
1994 12
1994 11
1994 10
1994 9
1994 8
1994 7
1994 6
1994 5
1994 4
1994 3
1994 2
1994 1
1994 has 8453 records
1993
1993 12
1993 11
1993 10
1993 9
1993 8
1993 7
1993 6
1993 5
1993 4
1993 3
1993 2
1993 1
1993 has 8760 records
1992
1992 12
1992 11
1992 10
1992 9
1992 8
1992 7
1992 6
1992 5
1992 4
1992 3
1992 2
1992 1
1992 has 8784 records
1991
1991 12
1991 11
1991 10
1991 9
1991 8
1991 7
1991 6
1991 5
1991 4
1991 3
1991 2
1991 1
1991 has 8760 records
1990
1990 12
1990 11
1990 10
1990 9
1990 8
1990 7
1990 6
1990 5
1990 4
1990 3
1990 2
1990 1
1990 has 8760 records
1989
1989 12
1989 11
1989 10
1989 9
1989 8
1989 7
1989 6
1989 5
1989 4
1989 3
1989 2
1989 1
1989 has 8760 records
1988
1988 12
1988 11
1988 10
1988 9
1988 8
1988 7
1988 6
1988 5
1988 4
1988 3
1988 2
1988 1
1988 has 8784 records
1987
1987 12
1987 11
1987 10
1987 9
1987 8
1987 7
1987 6
1987 5
1987 4
1987 3
1987 2
1987 1
1987 has 8760 records
1986
1986 12
1986 11
1986 10
1986 9
1986 8
1986 7
1986 6
1986 5
1986 4
1986 3
1986 2
1986 1
1986 has 8760 records
1985
1985 12
1985 11
1985 10
1985 9
1985 8
1985 7
1985 6
1985 5
1985 4
1985 3
1985 2
1985 1
1985 has 8760 records
1984
1984 12
1984 11
1984 10
1984 9
1984 8
1984 7
1984 6
1984 5
1984 4
1984 3
1984 2
1984 1
1984 has 8784 records
1983
1983 12
1983 11
1983 10
1983 9
1983 8
1983 7
1983 6
1983 5
1983 4
1983 3
1983 2
1983 1
1983 has 8760 records
1982
1982 12
1982 11
1982 10
1982 9
1982 8
1982 7
1982 6
1982 5
1982 4
1982 3
1982 2
1982 1
1982 has 8500 records
1981
1981 12
1981 11
1981 10
1981 9
1981 8
1981 7
1981 6
1981 5
1981 4
1981 3
1981 2
1981 1
1981 has 8760 records
1980
1980 12
1980 11
1980 10
1980 9
1980 8
1980 7
1980 6
1980 5
1980 4
1980 3
1980 2
1980 1
1980 has 8784 records
1979
1979 12
1979 11
1979 10
1979 9
1979 8
1979 7
1979 6
1979 5
1979 4
1979 3
1979 2
1979 1
1979 has 8760 records
1978
1978 12
1978 11
1978 10
1978 9
1978 8
1978 7
1978 6
1978 5
1978 4
1978 3
1978 2
1978 1
1978 has 8760 records
1977
1977 12
1977 11
1977 10
1977 9
1977 8
1977 7
1977 6
1977 5
1977 4
1977 3
1977 2
1977 1
1977 has 8020 records
1976
1976 12
1976 11
1976 10
1976 9
1976 8
1976 7
1976 6
1976 5
1976 4
1976 3
1976 2
1976 1
1976 has 8784 records
1975
1975 12
1975 11
1975 10
1975 9
1975 8
1975 7
1975 6
1975 5
1975 4
1975 3
1975 2
1975 1
1975 has 8760 records
1974
1974 12
1974 11
1974 10
1974 9
1974 8
1974 7
1974 6
1974 5
1974 4
1974 3
1974 2
1974 1
1974 has 8760 records
1973
1973 12
1973 11
No data for 1973, 11
1973 10
No data for 1973, 10
1973 9
1973 8
1973 7
1973 6
1973 5
1973 4
1973 3
1973 2
1973 1
1973 has 6580 records
1972
1972 12
1972 11
1972 10
1972 9
1972 8
1972 7
1972 6
1972 5
1972 4
1972 3
1972 2
1972 1
1972 has 8777 records
1971
1971 12
1971 11
1971 10
1971 9
1971 8
1971 7
1971 6
1971 5
1971 4
1971 3
1971 2
1971 1
1971 has 8760 records
1970
1970 12
1970 11
1970 10
1970 9
1970 8
1970 7
1970 6
1970 5
1970 4
1970 3
1970 2
1970 1
1970 has 8759 records
1969
1969 12
No data for 1969, 12
1969 11
No data for 1969, 11
1969 10
No data for 1969, 10
1969 9
No data for 1969, 9
1969 8
1969 7
1969 6
1969 5
1969 4
1969 3
1969 2
1969 1
1969 has 5391 records
1968
1968 12
1968 11
1968 10
1968 9
1968 8
1968 7
1968 6
1968 5
1968 4
1968 3
1968 2
1968 1
1968 has 8784 records
1967
1967 12
1967 11
1967 10
1967 9
1967 8
1967 7
1967 6
1967 5
1967 4
1967 3
1967 2
1967 1
1967 has 8760 records
1966
1966 12
1966 11
1966 10
1966 9
1966 8
1966 7
1966 6
1966 5
1966 4
1966 3
1966 2
1966 1
1966 has 8760 records
1965
1965 12
1965 11
1965 10
1965 9
1965 8
1965 7
1965 6
1965 5
1965 4
1965 3
1965 2
1965 1
1965 has 8760 records
1964
1964 12
1964 11
1964 10
1964 9
1964 8
1964 7
1964 6
1964 5
1964 4
1964 3
1964 2
1964 1
1964 has 8784 records
1963
1963 12
1963 11
1963 10
1963 9
1963 8
1963 7
1963 6
1963 5
1963 4
1963 3
1963 2
1963 1
1963 has 8760 records
1962
1962 12
1962 11
1962 10
1962 9
1962 8
1962 7
1962 6
1962 5
1962 4
1962 3
1962 2
1962 1
1962 has 8559 records
1961
1961 12
1961 11
1961 10
1961 9
1961 8
1961 7
1961 6
1961 5
1961 4
1961 3
1961 2
1961 1
1961 has 8760 records
1960
1960 12
1960 11
1960 10
1960 9
1960 8
1960 7
1960 6
1960 5
1960 4
1960 3
1960 2
1960 1
1960 has 8198 records
1959
1959 12
1959 11
1959 10
1959 9
1959 8
1959 7
1959 6
1959 5
1959 4
1959 3
1959 2
1959 1
1959 has 8759 records
1958
1958 12
1958 11
1958 10
No data for 1958, 10
1958 9
No data for 1958, 9
1958 8
No data for 1958, 8
1958 7
1958 6
1958 5
1958 4
1958 3
1958 2
1958 1
1958 has 5865 records
1957
1957 12
1957 11
1957 10
1957 9
1957 8
1957 7
1957 6
1957 5
1957 4
1957 3
1957 2
1957 1
1957 has 8760 records
1956
1956 12
1956 11
1956 10
1956 9
1956 8
1956 7
1956 6
1956 5
1956 4
1956 3
1956 2
1956 1
1956 has 8784 records
1955
1955 12
1955 11
1955 10
1955 9
1955 8
1955 7
1955 6

1955 5
1955 4
1955 3
1955 2
1955 1
1955 has 8760 records
1954
1954 12
1954 11
1954 10
1954 9
1954 8
1954 7
1954 6
1954 5
1954 4
1954 3
1954 2
1954 1
1954 has 8760 records
1953
1953 12
1953 11
1953 10
1953 9
1953 8
1953 7
1953 6
1953 5
1953 4
1953 3
1953 2
1953 1
1953 has 8760 records
1952
1952 12
1952 11
1952 10
1952 9
1952 8
1952 7
1952 6
1952 5
1952 4
1952 3
1952 2
1952 1
1952 has 8784 records
1951
1951 12
1951 11
1951 10
1951 9
1951 8
1951 7
1951 6
1951 5
1951 4
1951 3
1951 2
1951 1
1951 has 8760 records
1950
1950 12
1950 11
1950 10
1950 9
1950 8
1950 7
1950 6
1950 5
1950 4
1950 3
1950 2
1950 1
1950 has 8760 records
1949
1949 12
1949 11
1949 10
1949 9
1949 8
1949 7
1949 6
1949 5
1949 4
1949 3
1949 2
1949 1
1949 has 8760 records
1948
1948 12
1948 11
1948 10
1948 9
1948 8
1948 7
1948 6
1948 5
1948 4
1948 3
1948 2
1948 1
1948 has 8784 records
1947
1947 12
1947 11
1947 10
1947 9
1947 8
1947 7
1947 6
1947 5
1947 4
1947 3
1947 2
1947 1
1947 has 8760 records
1946
1946 12
1946 11
1946 10
1946 9
No data for 1946, 9
1946 8
No data for 1946, 8
1946 7
No data for 1946, 7
1946 6
No data for 1946, 6
1946 5
No data for 1946, 5
1946 4
No data for 1946, 4
1946 3
No data for 1946, 3
1946 2
No data for 1946, 2
1946 1
No data for 1946, 1
1946 has 2207 records
1945
1945 12
1945 11
1945 10
1945 9
1945 8
1945 7
1945 6
1945 5
1945 4
1945 3
1945 2
1945 1
1945 has 8326 records
1944
1944 12
1944 11
1944 10
1944 9
1944 8
1944 7
1944 6
1944 5
1944 4
1944 3
1944 2
1944 1
1944 has 8784 records
1943
1943 12
1943 11
1943 10
1943 9
1943 8
1943 7
1943 6
1943 5
1943 4
1943 3
1943 2
1943 1
1943 has 8760 records
1942
1942 12
1942 11
1942 10
1942 9
1942 8
1942 7
1942 6
1942 5
1942 4
1942 3
1942 2
1942 1
1942 has 8760 records
1941
1941 12
1941 11
1941 10
1941 9
1941 8
1941 7
1941 6
1941 5
1941 4
1941 3
1941 2
1941 1
1941 has 8726 records
1940
1940 12
1940 11
1940 10
1940 9
1940 8
1940 7
1940 6
1940 5
1940 4
1940 3
1940 2
1940 1
1940 has 8784 records
1939
1939 12
1939 11
1939 10
1939 9
1939 8
1939 7
1939 6
1939 5
1939 4
1939 3
1939 2
1939 1
1939 has 8760 records
1938
1938 12
1938 11
1938 10
1938 9
1938 8
1938 7
1938 6
1938 5
1938 4
1938 3
1938 2
1938 1
1938 has 8572 records
1937
1937 12
No data for 1937, 12
1937 11
No data for 1937, 11
1937 10
No data for 1937, 10
1937 9
No data for 1937, 9
1937 8
No data for 1937, 8
1937 7
No data for 1937, 7
1937 6
No data for 1937, 6
1937 5
No data for 1937, 5
1937 4
1937 3
1937 2
1937 1
1937 has 2515 records
1936
1936 12
1936 11
1936 10
1936 9
1936 8
1936 7
1936 6
1936 5
1936 4
1936 3
1936 2
1936 1
1936 has 8784 records
1935
1935 12
1935 11
1935 10
1935 9
1935 8
1935 7
1935 6
1935 5
1935 4
1935 3
1935 2
1935 1
1935 has 8760 records
1934
1934 12
1934 11
1934 10
1934 9
1934 8
1934 7
1934 6
1934 5
1934 4
1934 3
1934 2
1934 1
1934 has 8760 records
1933
1933 12
1933 11
1933 10
1933 9
1933 8
1933 7
1933 6
1933 5
1933 4
1933 3
1933 2
1933 1
1933 has 8760 records
1932
1932 12
1932 11
1932 10
1932 9
1932 8
1932 7
1932 6
1932 5
1932 4
1932 3
1932 2
1932 1
1932 has 8784 records
1931
1931 12
1931 11
1931 10
1931 9
1931 8
1931 7
1931 6
1931 5
1931 4
1931 3
1931 2
1931 1
1931 has 8760 records
1930
1930 12
1930 11
1930 10
1930 9
1930 8
1930 7
1930 6
1930 5
1930 4
1930 3
1930 2
1930 1
1930 has 8760 records
1929
1929 12
1929 11
1929 10
1929 9
1929 8
1929 7
1929 6
1929 5
1929 4
1929 3
1929 2
1929 1
1929 has 8760 records
1928
1928 12
1928 11
1928 10
1928 9
1928 8
1928 7
No data for 1928, 7
1928 6
No data for 1928, 6
1928 5
No data for 1928, 5
1928 4
No data for 1928, 4
1928 3
No data for 1928, 3
1928 2
No data for 1928, 2
1928 1
No data for 1928, 1
1928 has 3671 records

In [ ]:
station = '8594900' ### Washington DC
for year in range(1996,1995,-1):
    year_upload(station, year)

In [ ]:
month = 12
year = 2003
station = '8594900'
print(url(year,month,station))
response = requests.get(url(year,month,station))

print(response)

reader = csv.reader(response.text.splitlines())
columns = next(reader)

# create table with columns, already done

for line in reader:
    placeholders = ", ".join([f"'{val}'" for val in line]) + ", " + station
print(placeholders)