Get Data for recent high water levels for Tilghman

Steps:
1. Get the data
2. Load to a dataframe
3. Analyze for daily high water

In [1]:
# closest location Cambridge Maryland
# https://tidesandcurrents.noaa.gov/waterlevels.html?id=8571892

# Link for CSV:
# https://api.tidesandcurrents.noaa.gov/api/prod/datagetter
#  ?product=water_level&application=NOS.COOPS.TAC.WL
#  &begin_date=20250201&end_date=20250202&datum=MLLW
#  &station=8571892&time_zone=GMT&units=english&format=csv

import pandas as pd
import sqlite3
import csv
import requests

In [2]:
conn = sqlite3.connect('water_levels.db')
scur = conn.cursor()

In [3]:
def url(year,month,station):
    first_day_of_month = 1
    short_mths = [9,4,6,11]
    if month == 2:
        last_day_of_month = 28
    elif month in short_mths:
        last_day_of_month = 30
    else:
        last_day_of_month = 31

    url = f"""https://api.tidesandcurrents.noaa.gov/api/prod/datagetter
?product=water_level&application=NOS.COOPS.TAC.WL
&begin_date={year}{month:02d}{first_day_of_month:02d}&end_date={year}{month:02d}{last_day_of_month}&datum=MLLW
&station={station}&time_zone=GMT&units=english&format=csv"""

    return (url.replace('\n',''))

year = 2010
month = 11
station = '8571892'
print(url(year,month,station))

https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20101101&end_date=20101130&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv

In [5]:
year = 2024
station = 8571892
for month in range(12,0,-1):
    print(month,url(year,month,station))

12 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20241201&end_date=20241231&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
11 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20241101&end_date=20241130&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
10 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20241001&end_date=20241031&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
9 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20240901&end_date=20240930&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
8 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20240801&end_date=20240831&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
7 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20240701&end_date=20240731&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
6 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20240601&end_date=20240630&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
5 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20240501&end_date=20240531&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
4 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20240401&end_date=20240430&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
3 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20240301&end_date=20240331&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
2 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20240201&end_date=20240228&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
1 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20240101&end_date=20240131&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv

In [131]:
# Download the CSV file
response = requests.get(url(year,month,station))
response.raise_for_status()  # Raise an exception if the download fails

In [132]:
response.text[:2000]

'Date Time, Water Level, Sigma, O or I (for verified), F, R, L, Quality \n2010-11-01 00:00,-0.050,0.007,0,0,0,0,v\n2010-11-01 00:06,-0.011,0.007,0,0,0,0,v\n2010-11-01 00:12,0.025,0.007,0,0,0,0,v\n2010-11-01 00:18,0.068,0.007,0,0,0,0,v\n2010-11-01 00:24,0.114,0.007,0,0,0,0,v\n2010-11-01 00:30,0.153,0.007,0,0,0,0,v\n2010-11-01 00:36,0.189,0.007,0,0,0,0,v\n2010-11-01 00:42,0.229,0.007,0,0,0,0,v\n2010-11-01 00:48,0.265,0.007,0,0,0,0,v\n2010-11-01 00:54,0.301,0.007,0,0,0,0,v\n2010-11-01 01:00,0.337,0.007,0,0,0,0,v\n2010-11-01 01:06,0.373,0.003,0,0,0,0,v\n2010-11-01 01:12,0.406,0.003,0,0,0,0,v\n2010-11-01 01:18,0.439,0.003,0,0,0,0,v\n2010-11-01 01:24,0.468,0.007,0,0,0,0,v\n2010-11-01 01:30,0.508,0.007,0,0,0,0,v\n2010-11-01 01:36,0.540,0.007,0,0,0,0,v\n2010-11-01 01:42,0.570,0.003,0,0,0,0,v\n2010-11-01 01:48,0.600,0.003,0,0,0,0,v\n2010-11-01 01:54,0.639,0.003,0,0,0,0,v\n2010-11-01 02:00,0.668,0.007,0,0,0,0,v\n2010-11-01 02:06,0.705,0.007,0,0,0,0,v\n2010-11-01 02:12,0.731,0.007,0,0,0,0,v\n2010-11-01 02:18,0.744,0.003,0,0,0,0,v\n2010-11-01 02:24,0.764,0.003,0,0,0,0,v\n2010-11-01 02:30,0.777,0.003,0,0,0,0,v\n2010-11-01 02:36,0.787,0.003,0,0,0,0,v\n2010-11-01 02:42,0.796,0.003,0,0,0,0,v\n2010-11-01 02:48,0.796,0.003,0,0,0,0,v\n2010-11-01 02:54,0.800,0.003,0,0,0,0,v\n2010-11-01 03:00,0.803,0.003,0,0,0,0,v\n2010-11-01 03:06,0.800,0.003,0,0,0,0,v\n2010-11-01 03:12,0.803,0.003,0,0,0,0,v\n2010-11-01 03:18,0.803,0.003,0,0,0,0,v\n2010-11-01 03:24,0.803,0.000,0,0,0,0,v\n2010-11-01 03:30,0.803,0.000,0,0,0,0,v\n2010-11-01 03:36,0.796,0.003,0,0,0,0,v\n2010-11-01 03:42,0.790,0.003,0,0,0,0,v\n2010-11-01 03:48,0.783,0.000,0,0,0,0,v\n2010-11-01 03:54,0.777,0.003,0,0,0,0,v\n2010-11-01 04:00,0.767,0.003,0,0,0,0,v\n2010-11-01 04:06,0.757,0.003,0,0,0,0,v\n2010-11-01 04:12,0.747,0.003,0,0,0,0,v\n2010-11-01 04:18,0.741,0.000,0,0,0,0,v\n2010-11-01 04:24,0.731,0.000,0,0,0,0,v\n2010-11-01 04:30,0.721,0.000,0,0,0,0,v\n2010-11-01 04:36,0.705,0.003,0,0,0,0,v\n2010-11-01 04:42,0.691,0.003,0,0,0,0,v\n2010-11-01 04:48,0.672,0.000,0,0,0,0,v\n2010-11-01 04:5'

In [90]:
reader = csv.reader(response.text.splitlines())
columns = next(reader)

In [91]:
table_name = 'noaa_data'
print(columns)

column_defs = ', '.join([f'{col.strip().replace(" ","_").replace("(","").replace(")","")} TEXT' for col in columns]) 
print(column_defs)
sql = f'CREATE TABLE IF NOT EXISTS {table_name} ({column_defs})'
conn.execute(sql)
print("table created")
conn.commit()

['Date Time', ' Water Level', ' Sigma', ' O or I (for verified)', ' F', ' R', ' L', ' Quality ']
Date_Time TEXT, Water_Level TEXT, Sigma TEXT, O_or_I_for_verified TEXT, F TEXT, R TEXT, L TEXT, Quality TEXT
table created

In [66]:
for line in reader:
    print(line[0])
    placeholders = ", ".join([f"'{val}'" for val in line])
    print(placeholders)
    query = f'INSERT INTO {table_name} VALUES ({placeholders})'
    print(query)
    conn.execute(query)

2024-01-01 00:06
'2024-01-01 00:06', '2.043', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 00:06', '2.043', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 00:12
'2024-01-01 00:12', '2.043', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 00:12', '2.043', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 00:18
'2024-01-01 00:18', '2.046', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 00:18', '2.046', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 00:24
'2024-01-01 00:24', '2.017', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 00:24', '2.017', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 00:30
'2024-01-01 00:30', '2.010', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 00:30', '2.010', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 00:36
'2024-01-01 00:36', '2.010', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 00:36', '2.010', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 00:42
'2024-01-01 00:42', '2.014', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 00:42', '2.014', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 00:48
'2024-01-01 00:48', '2.000', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 00:48', '2.000', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 00:54
'2024-01-01 00:54', '1.991', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 00:54', '1.991', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 01:00
'2024-01-01 01:00', '1.977', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:00', '1.977', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 01:06
'2024-01-01 01:06', '1.974', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:06', '1.974', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 01:12
'2024-01-01 01:12', '1.968', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:12', '1.968', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 01:18
'2024-01-01 01:18', '1.948', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:18', '1.948', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 01:24
'2024-01-01 01:24', '1.928', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:24', '1.928', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 01:30
'2024-01-01 01:30', '1.902', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:30', '1.902', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 01:36
'2024-01-01 01:36', '1.872', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:36', '1.872', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 01:42
'2024-01-01 01:42', '1.846', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:42', '1.846', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 01:48
'2024-01-01 01:48', '1.833', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:48', '1.833', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 01:54
'2024-01-01 01:54', '1.817', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 01:54', '1.817', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 02:00
'2024-01-01 02:00', '1.790', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:00', '1.790', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 02:06
'2024-01-01 02:06', '1.764', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:06', '1.764', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 02:12
'2024-01-01 02:12', '1.738', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:12', '1.738', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 02:18
'2024-01-01 02:18', '1.708', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:18', '1.708', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 02:24
'2024-01-01 02:24', '1.676', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:24', '1.676', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 02:30
'2024-01-01 02:30', '1.640', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:30', '1.640', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 02:36
'2024-01-01 02:36', '1.603', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:36', '1.603', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 02:42
'2024-01-01 02:42', '1.564', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:42', '1.564', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 02:48
'2024-01-01 02:48', '1.531', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:48', '1.531', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 02:54
'2024-01-01 02:54', '1.495', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 02:54', '1.495', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 03:00
'2024-01-01 03:00', '1.453', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:00', '1.453', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 03:06
'2024-01-01 03:06', '1.413', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:06', '1.413', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 03:12
'2024-01-01 03:12', '1.374', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:12', '1.374', '0.023', '0', '0', '0', '0', 'v')
2024-01-01 03:18
'2024-01-01 03:18', '1.338', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:18', '1.338', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 03:24
'2024-01-01 03:24', '1.311', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:24', '1.311', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 03:30
'2024-01-01 03:30', '1.275', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:30', '1.275', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 03:36
'2024-01-01 03:36', '1.239', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:36', '1.239', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 03:42
'2024-01-01 03:42', '1.213', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:42', '1.213', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 03:48
'2024-01-01 03:48', '1.190', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:48', '1.190', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 03:54
'2024-01-01 03:54', '1.154', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 03:54', '1.154', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 04:00
'2024-01-01 04:00', '1.111', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:00', '1.111', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 04:06
'2024-01-01 04:06', '1.079', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:06', '1.079', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 04:12
'2024-01-01 04:12', '1.049', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:12', '1.049', '0.026', '0', '0', '0', '0', 'v')
2024-01-01 04:18
'2024-01-01 04:18', '1.029', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:18', '1.029', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 04:24
'2024-01-01 04:24', '1.006', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:24', '1.006', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 04:30
'2024-01-01 04:30', '0.980', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:30', '0.980', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 04:36
'2024-01-01 04:36', '0.964', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:36', '0.964', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 04:42
'2024-01-01 04:42', '0.941', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:42', '0.941', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 04:48
'2024-01-01 04:48', '0.914', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:48', '0.914', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 04:54
'2024-01-01 04:54', '0.905', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 04:54', '0.905', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 05:00
'2024-01-01 05:00', '0.885', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:00', '0.885', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 05:06
'2024-01-01 05:06', '0.875', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:06', '0.875', '0.023', '0', '0', '0', '0', 'v')
2024-01-01 05:12
'2024-01-01 05:12', '0.872', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:12', '0.872', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 05:18
'2024-01-01 05:18', '0.859', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:18', '0.859', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 05:24
'2024-01-01 05:24', '0.862', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:24', '0.862', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 05:30
'2024-01-01 05:30', '0.859', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:30', '0.859', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 05:36
'2024-01-01 05:36', '0.859', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:36', '0.859', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 05:42
'2024-01-01 05:42', '0.849', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:42', '0.849', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 05:48
'2024-01-01 05:48', '0.842', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:48', '0.842', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 05:54
'2024-01-01 05:54', '0.846', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 05:54', '0.846', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 06:00
'2024-01-01 06:00', '0.842', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:00', '0.842', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 06:06
'2024-01-01 06:06', '0.832', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:06', '0.832', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 06:12
'2024-01-01 06:12', '0.836', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:12', '0.836', '0.003', '0', '0', '0', '0', 'v')
2024-01-01 06:18
'2024-01-01 06:18', '0.839', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:18', '0.839', '0.003', '0', '0', '0', '0', 'v')
2024-01-01 06:24
'2024-01-01 06:24', '0.839', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:24', '0.839', '0.003', '0', '0', '0', '0', 'v')
2024-01-01 06:30
'2024-01-01 06:30', '0.842', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:30', '0.842', '0.003', '0', '0', '0', '0', 'v')
2024-01-01 06:36
'2024-01-01 06:36', '0.849', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:36', '0.849', '0.003', '0', '0', '0', '0', 'v')
2024-01-01 06:42
'2024-01-01 06:42', '0.832', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:42', '0.832', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 06:48
'2024-01-01 06:48', '0.842', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:48', '0.842', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 06:54
'2024-01-01 06:54', '0.865', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 06:54', '0.865', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 07:00
'2024-01-01 07:00', '0.882', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:00', '0.882', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 07:06
'2024-01-01 07:06', '0.908', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:06', '0.908', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 07:12
'2024-01-01 07:12', '0.898', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:12', '0.898', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 07:18
'2024-01-01 07:18', '0.911', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:18', '0.911', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 07:24
'2024-01-01 07:24', '0.924', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:24', '0.924', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 07:30
'2024-01-01 07:30', '0.951', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:30', '0.951', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 07:36
'2024-01-01 07:36', '0.974', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:36', '0.974', '0.020', '0', '0', '0', '0', 'v')
2024-01-01 07:42
'2024-01-01 07:42', '1.013', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:42', '1.013', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 07:48
'2024-01-01 07:48', '1.049', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:48', '1.049', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 07:54
'2024-01-01 07:54', '1.082', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 07:54', '1.082', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 08:00
'2024-01-01 08:00', '1.105', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:00', '1.105', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 08:06
'2024-01-01 08:06', '1.128', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:06', '1.128', '0.026', '0', '0', '0', '0', 'v')
2024-01-01 08:12
'2024-01-01 08:12', '1.144', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:12', '1.144', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 08:18
'2024-01-01 08:18', '1.180', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:18', '1.180', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 08:24
'2024-01-01 08:24', '1.236', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:24', '1.236', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 08:30
'2024-01-01 08:30', '1.279', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:30', '1.279', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 08:36
'2024-01-01 08:36', '1.318', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:36', '1.318', '0.016', '0', '0', '0', '0', 'v')
2024-01-01 08:42
'2024-01-01 08:42', '1.357', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:42', '1.357', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 08:48
'2024-01-01 08:48', '1.397', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:48', '1.397', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 08:54
'2024-01-01 08:54', '1.433', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 08:54', '1.433', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 09:00
'2024-01-01 09:00', '1.472', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:00', '1.472', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 09:06
'2024-01-01 09:06', '1.515', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:06', '1.515', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 09:12
'2024-01-01 09:12', '1.558', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:12', '1.558', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 09:18
'2024-01-01 09:18', '1.597', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:18', '1.597', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 09:24
'2024-01-01 09:24', '1.636', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:24', '1.636', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 09:30
'2024-01-01 09:30', '1.679', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:30', '1.679', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 09:36
'2024-01-01 09:36', '1.715', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:36', '1.715', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 09:42
'2024-01-01 09:42', '1.754', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:42', '1.754', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 09:48
'2024-01-01 09:48', '1.790', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:48', '1.790', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 09:54
'2024-01-01 09:54', '1.830', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 09:54', '1.830', '0.013', '0', '0', '0', '0', 'v')
2024-01-01 10:00
'2024-01-01 10:00', '1.863', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:00', '1.863', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 10:06
'2024-01-01 10:06', '1.902', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:06', '1.902', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 10:12
'2024-01-01 10:12', '1.941', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:12', '1.941', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 10:18
'2024-01-01 10:18', '1.971', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:18', '1.971', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 10:24
'2024-01-01 10:24', '2.000', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:24', '2.000', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 10:30
'2024-01-01 10:30', '2.030', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:30', '2.030', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 10:36
'2024-01-01 10:36', '2.056', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:36', '2.056', '0.010', '0', '0', '0', '0', 'v')
2024-01-01 10:42
'2024-01-01 10:42', '2.082', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:42', '2.082', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 10:48
'2024-01-01 10:48', '2.109', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:48', '2.109', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 10:54
'2024-01-01 10:54', '2.142', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 10:54', '2.142', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 11:00
'2024-01-01 11:00', '2.168', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 11:00', '2.168', '0.003', '0', '0', '0', '0', 'v')
2024-01-01 11:06
'2024-01-01 11:06', '2.194', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 11:06', '2.194', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 11:12
'2024-01-01 11:12', '2.214', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 11:12', '2.214', '0.003', '0', '0', '0', '0', 'v')
2024-01-01 11:18
'2024-01-01 11:18', '2.237', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 11:18', '2.237', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 11:24
'2024-01-01 11:24', '2.253', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 11:24', '2.253', '0.007', '0', '0', '0', '0', 'v')
2024-01-01 11:30
'2024-01-01 11:30', '2.266', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 11:30', '2.266', '0.003', '0', '0', '0', '0', 'v')
2024-01-01 11:36
'2024-01-01 11:36', '2.279', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 11:36', '2.279', '0.000', '0', '0', '0', '0', 'v')
2024-01-01 11:42

2024-01-01 15:06
'2024-01-01 15:06', '1.702', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 15:06', '1.702', '0.036', '0', '0', '0', '0', 'v')
2024-01-01 15:12
'2024-01-01 15:12', '1.663', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 15:12', '1.663', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 15:18
'2024-01-01 15:18', '1.617', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 15:18', '1.617', '0.030', '0', '0', '0', '0', 'v')
2024-01-01 15:24
'2024-01-01 15:24', '1.590', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 15:24', '1.590', '0.026', '0', '0', '0', '0', 'v')
2024-01-01 15:30
'2024-01-01 15:30', '1.554', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 15:30', '1.554', '0.036', '0', '0', '0', '0', 'v')
2024-01-01 15:36
'2024-01-01 15:36', '1.521', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 15:36', '1.521', '0.033', '0', '0', '0', '0', 'v')
2024-01-01 15:42
'2024-01-01 15:42', '1.492', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 15:42', '1.492', '0.030', '0', '0', '0', '0', 'v')
2024-01-01 15:48
'2024-01-01 15:48', '1.469', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 15:48', '1.469', '0.030', '0', '0', '0', '0', 'v')
2024-01-01 15:54
'2024-01-01 15:54', '1.443', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 15:54', '1.443', '0.033', '0', '0', '0', '0', 'v')
2024-01-01 16:00
'2024-01-01 16:00', '1.420', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:00', '1.420', '0.036', '0', '0', '0', '0', 'v')
2024-01-01 16:06
'2024-01-01 16:06', '1.393', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:06', '1.393', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 16:12
'2024-01-01 16:12', '1.361', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:12', '1.361', '0.033', '0', '0', '0', '0', 'v')
2024-01-01 16:18
'2024-01-01 16:18', '1.334', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:18', '1.334', '0.026', '0', '0', '0', '0', 'v')
2024-01-01 16:24
'2024-01-01 16:24', '1.295', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:24', '1.295', '0.030', '0', '0', '0', '0', 'v')
2024-01-01 16:30
'2024-01-01 16:30', '1.282', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:30', '1.282', '0.036', '0', '0', '0', '0', 'v')
2024-01-01 16:36
'2024-01-01 16:36', '1.252', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:36', '1.252', '0.030', '0', '0', '0', '0', 'v')
2024-01-01 16:42
'2024-01-01 16:42', '1.220', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:42', '1.220', '0.026', '0', '0', '0', '0', 'v')
2024-01-01 16:48
'2024-01-01 16:48', '1.200', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:48', '1.200', '0.030', '0', '0', '0', '0', 'v')
2024-01-01 16:54
'2024-01-01 16:54', '1.177', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 16:54', '1.177', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 17:00
'2024-01-01 17:00', '1.167', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:00', '1.167', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 17:06
'2024-01-01 17:06', '1.141', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:06', '1.141', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 17:12
'2024-01-01 17:12', '1.128', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:12', '1.128', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 17:18
'2024-01-01 17:18', '1.115', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:18', '1.115', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 17:24
'2024-01-01 17:24', '1.115', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:24', '1.115', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 17:30
'2024-01-01 17:30', '1.082', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:30', '1.082', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 17:36
'2024-01-01 17:36', '1.069', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:36', '1.069', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 17:42
'2024-01-01 17:42', '1.065', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:42', '1.065', '0.036', '0', '0', '0', '0', 'v')
2024-01-01 17:48
'2024-01-01 17:48', '1.046', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:48', '1.046', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 17:54
'2024-01-01 17:54', '1.042', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 17:54', '1.042', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 18:00
'2024-01-01 18:00', '1.029', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:00', '1.029', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 18:06
'2024-01-01 18:06', '1.026', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:06', '1.026', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 18:12
'2024-01-01 18:12', '1.013', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:12', '1.013', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 18:18
'2024-01-01 18:18', '1.006', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:18', '1.006', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 18:24
'2024-01-01 18:24', '1.013', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:24', '1.013', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 18:30
'2024-01-01 18:30', '0.990', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:30', '0.990', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 18:36
'2024-01-01 18:36', '0.980', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:36', '0.980', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 18:42
'2024-01-01 18:42', '0.977', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:42', '0.977', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 18:48
'2024-01-01 18:48', '0.974', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:48', '0.974', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 18:54
'2024-01-01 18:54', '0.967', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 18:54', '0.967', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 19:00
'2024-01-01 19:00', '0.957', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:00', '0.957', '0.036', '0', '0', '0', '0', 'v')
2024-01-01 19:06
'2024-01-01 19:06', '0.964', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:06', '0.964', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 19:12
'2024-01-01 19:12', '0.974', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:12', '0.974', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 19:18
'2024-01-01 19:18', '0.974', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:18', '0.974', '0.036', '0', '0', '0', '0', 'v')
2024-01-01 19:24
'2024-01-01 19:24', '0.970', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:24', '0.970', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 19:30
'2024-01-01 19:30', '0.987', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:30', '0.987', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 19:36
'2024-01-01 19:36', '0.987', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:36', '0.987', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 19:42
'2024-01-01 19:42', '1.003', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:42', '1.003', '0.036', '0', '0', '0', '0', 'v')
2024-01-01 19:48
'2024-01-01 19:48', '1.029', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:48', '1.029', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 19:54
'2024-01-01 19:54', '1.036', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 19:54', '1.036', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 20:00
'2024-01-01 20:00', '1.062', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:00', '1.062', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 20:06
'2024-01-01 20:06', '1.085', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:06', '1.085', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 20:12
'2024-01-01 20:12', '1.111', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:12', '1.111', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 20:18
'2024-01-01 20:18', '1.131', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:18', '1.131', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 20:24
'2024-01-01 20:24', '1.167', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:24', '1.167', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 20:30
'2024-01-01 20:30', '1.170', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:30', '1.170', '0.052', '0', '0', '0', '0', 'v')
2024-01-01 20:36
'2024-01-01 20:36', '1.213', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:36', '1.213', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 20:42
'2024-01-01 20:42', '1.236', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:42', '1.236', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 20:48
'2024-01-01 20:48', '1.288', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:48', '1.288', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 20:54
'2024-01-01 20:54', '1.305', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 20:54', '1.305', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 21:00
'2024-01-01 21:00', '1.348', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:00', '1.348', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 21:06
'2024-01-01 21:06', '1.374', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:06', '1.374', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 21:12
'2024-01-01 21:12', '1.426', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:12', '1.426', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 21:18
'2024-01-01 21:18', '1.443', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:18', '1.443', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 21:24
'2024-01-01 21:24', '1.476', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:24', '1.476', '0.052', '0', '0', '0', '0', 'v')
2024-01-01 21:30
'2024-01-01 21:30', '1.512', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:30', '1.512', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 21:36
'2024-01-01 21:36', '1.548', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:36', '1.548', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 21:42
'2024-01-01 21:42', '1.577', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:42', '1.577', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 21:48
'2024-01-01 21:48', '1.620', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:48', '1.620', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 21:54
'2024-01-01 21:54', '1.656', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 21:54', '1.656', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 22:00
'2024-01-01 22:00', '1.676', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:00', '1.676', '0.056', '0', '0', '0', '0', 'v')
2024-01-01 22:06
'2024-01-01 22:06', '1.708', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:06', '1.708', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 22:12
'2024-01-01 22:12', '1.758', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:12', '1.758', '0.052', '0', '0', '0', '0', 'v')
2024-01-01 22:18
'2024-01-01 22:18', '1.781', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:18', '1.781', '0.052', '0', '0', '0', '0', 'v')
2024-01-01 22:24
'2024-01-01 22:24', '1.830', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:24', '1.830', '0.052', '0', '0', '0', '0', 'v')
2024-01-01 22:30
'2024-01-01 22:30', '1.850', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:30', '1.850', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 22:36
'2024-01-01 22:36', '1.876', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:36', '1.876', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 22:42
'2024-01-01 22:42', '1.912', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:42', '1.912', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 22:48
'2024-01-01 22:48', '1.951', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:48', '1.951', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 22:54
'2024-01-01 22:54', '1.981', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 22:54', '1.981', '0.043', '0', '0', '0', '0', 'v')
2024-01-01 23:00
'2024-01-01 23:00', '2.000', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:00', '2.000', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 23:06
'2024-01-01 23:06', '2.033', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:06', '2.033', '0.039', '0', '0', '0', '0', 'v')
2024-01-01 23:12
'2024-01-01 23:12', '2.053', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:12', '2.053', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 23:18
'2024-01-01 23:18', '2.076', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:18', '2.076', '0.046', '0', '0', '0', '0', 'v')
2024-01-01 23:24
'2024-01-01 23:24', '2.079', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:24', '2.079', '0.036', '0', '0', '0', '0', 'v')
2024-01-01 23:30
'2024-01-01 23:30', '2.128', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:30', '2.128', '0.059', '0', '0', '0', '0', 'v')
2024-01-01 23:36
'2024-01-01 23:36', '2.155', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:36', '2.155', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 23:42
'2024-01-01 23:42', '2.148', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:42', '2.148', '0.049', '0', '0', '0', '0', 'v')
2024-01-01 23:48
'2024-01-01 23:48', '2.184', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:48', '2.184', '0.052', '0', '0', '0', '0', 'v')
2024-01-01 23:54
'2024-01-01 23:54', '2.191', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-01 23:54', '2.191', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 00:00
'2024-01-02 00:00', '2.214', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:00', '2.214', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 00:06
'2024-01-02 00:06', '2.210', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:06', '2.210', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 00:12
'2024-01-02 00:12', '2.220', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:12', '2.220', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 00:18
'2024-01-02 00:18', '2.224', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:18', '2.224', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 00:24
'2024-01-02 00:24', '2.230', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:24', '2.230', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 00:30
'2024-01-02 00:30', '2.227', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:30', '2.227', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 00:36
'2024-01-02 00:36', '2.233', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:36', '2.233', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 00:42
'2024-01-02 00:42', '2.237', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:42', '2.237', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 00:48
'2024-01-02 00:48', '2.214', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:48', '2.214', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 00:54
'2024-01-02 00:54', '2.201', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 00:54', '2.201', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 01:00
'2024-01-02 01:00', '2.201', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:00', '2.201', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 01:06
'2024-01-02 01:06', '2.184', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:06', '2.184', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 01:12
'2024-01-02 01:12', '2.178', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:12', '2.178', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 01:18
'2024-01-02 01:18', '2.151', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:18', '2.151', '0.036', '0', '0', '0', '0', 'v')

2024-01-02 01:24
'2024-01-02 01:24', '2.135', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:24', '2.135', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 01:30
'2024-01-02 01:30', '2.109', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:30', '2.109', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 01:36
'2024-01-02 01:36', '2.073', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:36', '2.073', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 01:42
'2024-01-02 01:42', '2.046', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:42', '2.046', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 01:48
'2024-01-02 01:48', '2.027', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:48', '2.027', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 01:54
'2024-01-02 01:54', '2.004', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 01:54', '2.004', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 02:00
'2024-01-02 02:00', '1.981', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:00', '1.981', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 02:06
'2024-01-02 02:06', '1.951', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:06', '1.951', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 02:12
'2024-01-02 02:12', '1.932', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:12', '1.932', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 02:18
'2024-01-02 02:18', '1.899', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:18', '1.899', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 02:24
'2024-01-02 02:24', '1.876', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:24', '1.876', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 02:30
'2024-01-02 02:30', '1.840', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:30', '1.840', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 02:36
'2024-01-02 02:36', '1.797', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:36', '1.797', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 02:42
'2024-01-02 02:42', '1.777', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:42', '1.777', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 02:48
'2024-01-02 02:48', '1.751', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:48', '1.751', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 02:54
'2024-01-02 02:54', '1.715', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 02:54', '1.715', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 03:00
'2024-01-02 03:00', '1.679', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:00', '1.679', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 03:06
'2024-01-02 03:06', '1.643', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:06', '1.643', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 03:12
'2024-01-02 03:12', '1.610', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:12', '1.610', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 03:18
'2024-01-02 03:18', '1.564', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:18', '1.564', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 03:24
'2024-01-02 03:24', '1.538', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:24', '1.538', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 03:30
'2024-01-02 03:30', '1.505', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:30', '1.505', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 03:36
'2024-01-02 03:36', '1.476', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:36', '1.476', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 03:42
'2024-01-02 03:42', '1.430', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:42', '1.430', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 03:48
'2024-01-02 03:48', '1.397', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:48', '1.397', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 03:54
'2024-01-02 03:54', '1.357', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 03:54', '1.357', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 04:00
'2024-01-02 04:00', '1.325', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:00', '1.325', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 04:06
'2024-01-02 04:06', '1.295', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:06', '1.295', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 04:12
'2024-01-02 04:12', '1.252', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:12', '1.252', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 04:18
'2024-01-02 04:18', '1.223', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:18', '1.223', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 04:24
'2024-01-02 04:24', '1.177', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:24', '1.177', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 04:30
'2024-01-02 04:30', '1.157', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:30', '1.157', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 04:36
'2024-01-02 04:36', '1.121', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:36', '1.121', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 04:42
'2024-01-02 04:42', '1.088', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:42', '1.088', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 04:48
'2024-01-02 04:48', '1.042', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:48', '1.042', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 04:54
'2024-01-02 04:54', '1.019', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 04:54', '1.019', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 05:00
'2024-01-02 05:00', '0.983', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:00', '0.983', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 05:06
'2024-01-02 05:06', '0.947', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:06', '0.947', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 05:12
'2024-01-02 05:12', '0.931', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:12', '0.931', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 05:18
'2024-01-02 05:18', '0.892', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:18', '0.892', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 05:24
'2024-01-02 05:24', '0.872', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:24', '0.872', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 05:30
'2024-01-02 05:30', '0.855', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:30', '0.855', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 05:36
'2024-01-02 05:36', '0.826', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:36', '0.826', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 05:42
'2024-01-02 05:42', '0.793', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:42', '0.793', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 05:48
'2024-01-02 05:48', '0.777', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:48', '0.777', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 05:54
'2024-01-02 05:54', '0.760', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 05:54', '0.760', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 06:00
'2024-01-02 06:00', '0.727', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:00', '0.727', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 06:06
'2024-01-02 06:06', '0.705', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:06', '0.705', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 06:12
'2024-01-02 06:12', '0.705', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:12', '0.705', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 06:18
'2024-01-02 06:18', '0.668', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:18', '0.668', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 06:24
'2024-01-02 06:24', '0.652', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:24', '0.652', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 06:30
'2024-01-02 06:30', '0.619', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:30', '0.619', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 06:36
'2024-01-02 06:36', '0.603', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:36', '0.603', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 06:42
'2024-01-02 06:42', '0.590', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:42', '0.590', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 06:48
'2024-01-02 06:48', '0.557', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:48', '0.557', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 06:54
'2024-01-02 06:54', '0.540', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 06:54', '0.540', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 07:00
'2024-01-02 07:00', '0.521', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:00', '0.521', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 07:06
'2024-01-02 07:06', '0.511', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:06', '0.511', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 07:12
'2024-01-02 07:12', '0.491', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:12', '0.491', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 07:18
'2024-01-02 07:18', '0.475', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:18', '0.475', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 07:24
'2024-01-02 07:24', '0.475', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:24', '0.475', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 07:30
'2024-01-02 07:30', '0.455', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:30', '0.455', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 07:36
'2024-01-02 07:36', '0.445', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:36', '0.445', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 07:42
'2024-01-02 07:42', '0.445', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:42', '0.445', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 07:48
'2024-01-02 07:48', '0.442', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:48', '0.442', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 07:54
'2024-01-02 07:54', '0.432', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 07:54', '0.432', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 08:00
'2024-01-02 08:00', '0.432', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:00', '0.432', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 08:06
'2024-01-02 08:06', '0.432', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:06', '0.432', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 08:12
'2024-01-02 08:12', '0.419', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:12', '0.419', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 08:18
'2024-01-02 08:18', '0.429', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:18', '0.429', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 08:24
'2024-01-02 08:24', '0.422', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:24', '0.422', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 08:30
'2024-01-02 08:30', '0.422', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:30', '0.422', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 08:36
'2024-01-02 08:36', '0.439', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:36', '0.439', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 08:42
'2024-01-02 08:42', '0.452', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:42', '0.452', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 08:48
'2024-01-02 08:48', '0.449', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:48', '0.449', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 08:54
'2024-01-02 08:54', '0.462', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 08:54', '0.462', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 09:00
'2024-01-02 09:00', '0.472', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:00', '0.472', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 09:06
'2024-01-02 09:06', '0.475', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:06', '0.475', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 09:12
'2024-01-02 09:12', '0.491', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:12', '0.491', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 09:18
'2024-01-02 09:18', '0.514', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:18', '0.514', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 09:24
'2024-01-02 09:24', '0.531', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:24', '0.531', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 09:30
'2024-01-02 09:30', '0.544', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:30', '0.544', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 09:36
'2024-01-02 09:36', '0.580', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:36', '0.580', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 09:42
'2024-01-02 09:42', '0.596', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:42', '0.596', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 09:48
'2024-01-02 09:48', '0.622', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:48', '0.622', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 09:54
'2024-01-02 09:54', '0.639', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 09:54', '0.639', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 10:00
'2024-01-02 10:00', '0.685', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:00', '0.685', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 10:06
'2024-01-02 10:06', '0.711', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:06', '0.711', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 10:12
'2024-01-02 10:12', '0.737', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:12', '0.737', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 10:18
'2024-01-02 10:18', '0.767', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:18', '0.767', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 10:24
'2024-01-02 10:24', '0.800', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:24', '0.800', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 10:30
'2024-01-02 10:30', '0.842', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:30', '0.842', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 10:36
'2024-01-02 10:36', '0.869', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:36', '0.869', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 10:42
'2024-01-02 10:42', '0.908', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:42', '0.908', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 10:48
'2024-01-02 10:48', '0.934', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:48', '0.934', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 10:54
'2024-01-02 10:54', '0.990', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 10:54', '0.990', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 11:00
'2024-01-02 11:00', '1.016', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:00', '1.016', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 11:06
'2024-01-02 11:06', '1.049', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:06', '1.049', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 11:12
'2024-01-02 11:12', '1.095', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:12', '1.095', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 11:18
'2024-01-02 11:18', '1.121', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:18', '1.121', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 11:24
'2024-01-02 11:24', '1.161', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:24', '1.161', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 11:30
'2024-01-02 11:30', '1.197', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:30', '1.197', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 11:36
'2024-01-02 11:36', '1.213', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:36', '1.213', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 11:42
'2024-01-02 11:42', '1.239', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:42', '1.239', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 11:48
'2024-01-02 11:48', '1.262', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:48', '1.262', '0.030', '0', '0', '0', '0', 'v')
2024-01-02 11:54
'2024-01-02 11:54', '1.262', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 11:54', '1.262', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 12:00
'2024-01-02 12:00', '1.288', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:00', '1.288', '0.033', '0', '0', '0', '0', 'v')
2024-01-02 12:06
'2024-01-02 12:06', '1.311', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:06', '1.311', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 12:12
'2024-01-02 12:12', '1.325', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:12', '1.325', '0.033', '0', '0', '0', '0', 'v')
2024-01-02 12:18
'2024-01-02 12:18', '1.351', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:18', '1.351', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 12:24
'2024-01-02 12:24', '1.367', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:24', '1.367', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 12:30
'2024-01-02 12:30', '1.400', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:30', '1.400', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 12:36
'2024-01-02 12:36', '1.407', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:36', '1.407', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 12:42
'2024-01-02 12:42', '1.416', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:42', '1.416', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 12:48
'2024-01-02 12:48', '1.407', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:48', '1.407', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 12:54
'2024-01-02 12:54', '1.426', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 12:54', '1.426', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 13:00

2024-01-02 15:00
'2024-01-02 15:00', '1.292', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:00', '1.292', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 15:06
'2024-01-02 15:06', '1.243', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:06', '1.243', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 15:12
'2024-01-02 15:12', '1.213', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:12', '1.213', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 15:18
'2024-01-02 15:18', '1.200', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:18', '1.200', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 15:24
'2024-01-02 15:24', '1.170', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:24', '1.170', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 15:30
'2024-01-02 15:30', '1.141', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:30', '1.141', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 15:36
'2024-01-02 15:36', '1.101', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:36', '1.101', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 15:42
'2024-01-02 15:42', '1.075', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:42', '1.075', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 15:48
'2024-01-02 15:48', '1.052', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:48', '1.052', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 15:54
'2024-01-02 15:54', '1.016', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 15:54', '1.016', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 16:00
'2024-01-02 16:00', '1.006', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:00', '1.006', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 16:06
'2024-01-02 16:06', '0.983', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:06', '0.983', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 16:12
'2024-01-02 16:12', '0.947', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:12', '0.947', '0.056', '0', '0', '0', '0', 'v')
2024-01-02 16:18
'2024-01-02 16:18', '0.924', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:18', '0.924', '0.056', '0', '0', '0', '0', 'v')
2024-01-02 16:24
'2024-01-02 16:24', '0.905', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:24', '0.905', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 16:30
'2024-01-02 16:30', '0.869', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:30', '0.869', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 16:36
'2024-01-02 16:36', '0.849', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:36', '0.849', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 16:42
'2024-01-02 16:42', '0.823', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:42', '0.823', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 16:48
'2024-01-02 16:48', '0.773', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:48', '0.773', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 16:54
'2024-01-02 16:54', '0.757', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 16:54', '0.757', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 17:00
'2024-01-02 17:00', '0.734', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:00', '0.734', '0.056', '0', '0', '0', '0', 'v')
2024-01-02 17:06
'2024-01-02 17:06', '0.705', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:06', '0.705', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 17:12
'2024-01-02 17:12', '0.685', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:12', '0.685', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 17:18
'2024-01-02 17:18', '0.649', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:18', '0.649', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 17:24
'2024-01-02 17:24', '0.632', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:24', '0.632', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 17:30
'2024-01-02 17:30', '0.600', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:30', '0.600', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 17:36
'2024-01-02 17:36', '0.570', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:36', '0.570', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 17:42
'2024-01-02 17:42', '0.550', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:42', '0.550', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 17:48
'2024-01-02 17:48', '0.521', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:48', '0.521', '0.059', '0', '0', '0', '0', 'v')
2024-01-02 17:54
'2024-01-02 17:54', '0.491', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 17:54', '0.491', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 18:00
'2024-01-02 18:00', '0.488', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:00', '0.488', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 18:06
'2024-01-02 18:06', '0.455', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:06', '0.455', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 18:12
'2024-01-02 18:12', '0.449', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:12', '0.449', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 18:18
'2024-01-02 18:18', '0.435', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:18', '0.435', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 18:24
'2024-01-02 18:24', '0.426', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:24', '0.426', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 18:30
'2024-01-02 18:30', '0.399', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:30', '0.399', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 18:36
'2024-01-02 18:36', '0.396', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:36', '0.396', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 18:42
'2024-01-02 18:42', '0.390', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:42', '0.390', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 18:48
'2024-01-02 18:48', '0.380', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:48', '0.380', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 18:54
'2024-01-02 18:54', '0.376', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 18:54', '0.376', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 19:00
'2024-01-02 19:00', '0.373', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:00', '0.373', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 19:06
'2024-01-02 19:06', '0.357', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:06', '0.357', '0.056', '0', '0', '0', '0', 'v')
2024-01-02 19:12
'2024-01-02 19:12', '0.344', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:12', '0.344', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 19:18
'2024-01-02 19:18', '0.347', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:18', '0.347', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 19:24
'2024-01-02 19:24', '0.340', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:24', '0.340', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 19:30
'2024-01-02 19:30', '0.350', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:30', '0.350', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 19:36
'2024-01-02 19:36', '0.350', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:36', '0.350', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 19:42
'2024-01-02 19:42', '0.360', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:42', '0.360', '0.052', '0', '0', '0', '0', 'v')
2024-01-02 19:48
'2024-01-02 19:48', '0.353', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:48', '0.353', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 19:54
'2024-01-02 19:54', '0.357', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 19:54', '0.357', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 20:00
'2024-01-02 20:00', '0.363', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:00', '0.363', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 20:06
'2024-01-02 20:06', '0.367', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:06', '0.367', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 20:12
'2024-01-02 20:12', '0.386', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:12', '0.386', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 20:18
'2024-01-02 20:18', '0.406', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:18', '0.406', '0.056', '0', '0', '0', '0', 'v')
2024-01-02 20:24
'2024-01-02 20:24', '0.426', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:24', '0.426', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 20:30
'2024-01-02 20:30', '0.449', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:30', '0.449', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 20:36
'2024-01-02 20:36', '0.462', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:36', '0.462', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 20:42
'2024-01-02 20:42', '0.475', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:42', '0.475', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 20:48
'2024-01-02 20:48', '0.495', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:48', '0.495', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 20:54
'2024-01-02 20:54', '0.524', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 20:54', '0.524', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 21:00
'2024-01-02 21:00', '0.550', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:00', '0.550', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 21:06
'2024-01-02 21:06', '0.586', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:06', '0.586', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 21:12
'2024-01-02 21:12', '0.600', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:12', '0.600', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 21:18
'2024-01-02 21:18', '0.642', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:18', '0.642', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 21:24
'2024-01-02 21:24', '0.668', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:24', '0.668', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 21:30
'2024-01-02 21:30', '0.718', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:30', '0.718', '0.049', '0', '0', '0', '0', 'v')
2024-01-02 21:36
'2024-01-02 21:36', '0.757', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:36', '0.757', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 21:42
'2024-01-02 21:42', '0.787', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:42', '0.787', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 21:48
'2024-01-02 21:48', '0.809', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:48', '0.809', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 21:54
'2024-01-02 21:54', '0.872', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 21:54', '0.872', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 22:00
'2024-01-02 22:00', '0.901', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:00', '0.901', '0.046', '0', '0', '0', '0', 'v')
2024-01-02 22:06
'2024-01-02 22:06', '0.934', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:06', '0.934', '0.043', '0', '0', '0', '0', 'v')
2024-01-02 22:12
'2024-01-02 22:12', '0.983', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:12', '0.983', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 22:18
'2024-01-02 22:18', '1.019', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:18', '1.019', '0.033', '0', '0', '0', '0', 'v')
2024-01-02 22:24
'2024-01-02 22:24', '1.056', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:24', '1.056', '0.033', '0', '0', '0', '0', 'v')
2024-01-02 22:30
'2024-01-02 22:30', '1.092', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:30', '1.092', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 22:36
'2024-01-02 22:36', '1.134', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:36', '1.134', '0.039', '0', '0', '0', '0', 'v')
2024-01-02 22:42
'2024-01-02 22:42', '1.184', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:42', '1.184', '0.036', '0', '0', '0', '0', 'v')
2024-01-02 22:48
'2024-01-02 22:48', '1.229', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:48', '1.229', '0.030', '0', '0', '0', '0', 'v')
2024-01-02 22:54
'2024-01-02 22:54', '1.282', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 22:54', '1.282', '0.033', '0', '0', '0', '0', 'v')
2024-01-02 23:00
'2024-01-02 23:00', '1.318', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:00', '1.318', '0.030', '0', '0', '0', '0', 'v')
2024-01-02 23:06
'2024-01-02 23:06', '1.371', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:06', '1.371', '0.026', '0', '0', '0', '0', 'v')
2024-01-02 23:12
'2024-01-02 23:12', '1.423', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:12', '1.423', '0.023', '0', '0', '0', '0', 'v')
2024-01-02 23:18
'2024-01-02 23:18', '1.462', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:18', '1.462', '0.020', '0', '0', '0', '0', 'v')
2024-01-02 23:24
'2024-01-02 23:24', '1.508', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:24', '1.508', '0.020', '0', '0', '0', '0', 'v')
2024-01-02 23:30
'2024-01-02 23:30', '1.554', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:30', '1.554', '0.016', '0', '0', '0', '0', 'v')
2024-01-02 23:36
'2024-01-02 23:36', '1.597', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:36', '1.597', '0.013', '0', '0', '0', '0', 'v')
2024-01-02 23:42
'2024-01-02 23:42', '1.636', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:42', '1.636', '0.016', '0', '0', '0', '0', 'v')
2024-01-02 23:48
'2024-01-02 23:48', '1.676', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:48', '1.676', '0.013', '0', '0', '0', '0', 'v')
2024-01-02 23:54
'2024-01-02 23:54', '1.715', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-02 23:54', '1.715', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 00:00
'2024-01-03 00:00', '1.754', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:00', '1.754', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 00:06
'2024-01-03 00:06', '1.794', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:06', '1.794', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 00:12
'2024-01-03 00:12', '1.830', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:12', '1.830', '0.010', '0', '0', '0', '0', 'v')
2024-01-03 00:18
'2024-01-03 00:18', '1.863', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:18', '1.863', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 00:24
'2024-01-03 00:24', '1.895', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:24', '1.895', '0.010', '0', '0', '0', '0', 'v')
2024-01-03 00:30
'2024-01-03 00:30', '1.928', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:30', '1.928', '0.010', '0', '0', '0', '0', 'v')
2024-01-03 00:36
'2024-01-03 00:36', '1.961', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:36', '1.961', '0.010', '0', '0', '0', '0', 'v')
2024-01-03 00:42
'2024-01-03 00:42', '1.974', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:42', '1.974', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 00:48
'2024-01-03 00:48', '2.007', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:48', '2.007', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 00:54
'2024-01-03 00:54', '2.050', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 00:54', '2.050', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 01:00
'2024-01-03 01:00', '2.076', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:00', '2.076', '0.020', '0', '0', '0', '0', 'v')
2024-01-03 01:06
'2024-01-03 01:06', '2.102', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:06', '2.102', '0.020', '0', '0', '0', '0', 'v')
2024-01-03 01:12
'2024-01-03 01:12', '2.112', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:12', '2.112', '0.023', '0', '0', '0', '0', 'v')
2024-01-03 01:18
'2024-01-03 01:18', '2.122', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:18', '2.122', '0.023', '0', '0', '0', '0', 'v')
2024-01-03 01:24
'2024-01-03 01:24', '2.132', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:24', '2.132', '0.023', '0', '0', '0', '0', 'v')
2024-01-03 01:30
'2024-01-03 01:30', '2.158', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:30', '2.158', '0.023', '0', '0', '0', '0', 'v')
2024-01-03 01:36
'2024-01-03 01:36', '2.161', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:36', '2.161', '0.023', '0', '0', '0', '0', 'v')
2024-01-03 01:42
'2024-01-03 01:42', '2.161', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:42', '2.161', '0.026', '0', '0', '0', '0', 'v')
2024-01-03 01:48
'2024-01-03 01:48', '2.168', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:48', '2.168', '0.030', '0', '0', '0', '0', 'v')
2024-01-03 01:54
'2024-01-03 01:54', '2.151', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 01:54', '2.151', '0.030', '0', '0', '0', '0', 'v')
2024-01-03 02:00
'2024-01-03 02:00', '2.145', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 02:00', '2.145', '0.033', '0', '0', '0', '0', 'v')
2024-01-03 02:06
'2024-01-03 02:06', '2.142', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 02:06', '2.142', '0.026', '0', '0', '0', '0', 'v')
2024-01-03 02:12
'2024-01-03 02:12', '2.142', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 02:12', '2.142', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 02:18
'2024-01-03 02:18', '2.151', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 02:18', '2.151', '0.033', '0', '0', '0', '0', 'v')
2024-01-03 02:24
'2024-01-03 02:24', '2.155', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 02:24', '2.155', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 02:30
'2024-01-03 02:30', '2.148', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 02:30', '2.148', '0.033', '0', '0', '0', '0', 'v')
2024-01-03 02:36

2024-01-03 06:30
'2024-01-03 06:30', '1.377', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 06:30', '1.377', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 06:36
'2024-01-03 06:36', '1.354', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 06:36', '1.354', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 06:42
'2024-01-03 06:42', '1.344', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 06:42', '1.344', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 06:48
'2024-01-03 06:48', '1.318', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 06:48', '1.318', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 06:54
'2024-01-03 06:54', '1.305', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 06:54', '1.305', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 07:00
'2024-01-03 07:00', '1.292', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:00', '1.292', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 07:06
'2024-01-03 07:06', '1.272', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:06', '1.272', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 07:12
'2024-01-03 07:12', '1.262', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:12', '1.262', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 07:18
'2024-01-03 07:18', '1.249', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:18', '1.249', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 07:24
'2024-01-03 07:24', '1.249', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:24', '1.249', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 07:30
'2024-01-03 07:30', '1.243', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:30', '1.243', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 07:36
'2024-01-03 07:36', '1.213', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:36', '1.213', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 07:42
'2024-01-03 07:42', '1.203', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:42', '1.203', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 07:48
'2024-01-03 07:48', '1.213', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:48', '1.213', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 07:54
'2024-01-03 07:54', '1.197', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 07:54', '1.197', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 08:00
'2024-01-03 08:00', '1.197', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:00', '1.197', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 08:06
'2024-01-03 08:06', '1.200', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:06', '1.200', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 08:12
'2024-01-03 08:12', '1.200', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:12', '1.200', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 08:18
'2024-01-03 08:18', '1.203', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:18', '1.203', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 08:24
'2024-01-03 08:24', '1.210', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:24', '1.210', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 08:30
'2024-01-03 08:30', '1.226', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:30', '1.226', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 08:36
'2024-01-03 08:36', '1.223', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:36', '1.223', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 08:42
'2024-01-03 08:42', '1.233', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:42', '1.233', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 08:48
'2024-01-03 08:48', '1.249', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:48', '1.249', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 08:54
'2024-01-03 08:54', '1.262', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 08:54', '1.262', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 09:00
'2024-01-03 09:00', '1.298', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:00', '1.298', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 09:06
'2024-01-03 09:06', '1.305', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:06', '1.305', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 09:12
'2024-01-03 09:12', '1.315', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:12', '1.315', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 09:18
'2024-01-03 09:18', '1.338', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:18', '1.338', '0.049', '0', '0', '0', '0', 'v')
2024-01-03 09:24
'2024-01-03 09:24', '1.367', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:24', '1.367', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 09:30
'2024-01-03 09:30', '1.390', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:30', '1.390', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 09:36
'2024-01-03 09:36', '1.413', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:36', '1.413', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 09:42
'2024-01-03 09:42', '1.443', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:42', '1.443', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 09:48
'2024-01-03 09:48', '1.479', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:48', '1.479', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 09:54
'2024-01-03 09:54', '1.502', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 09:54', '1.502', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 10:00
'2024-01-03 10:00', '1.538', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:00', '1.538', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 10:06
'2024-01-03 10:06', '1.577', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:06', '1.577', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 10:12
'2024-01-03 10:12', '1.620', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:12', '1.620', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 10:18
'2024-01-03 10:18', '1.643', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:18', '1.643', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 10:24
'2024-01-03 10:24', '1.685', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:24', '1.685', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 10:30
'2024-01-03 10:30', '1.738', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:30', '1.738', '0.052', '0', '0', '0', '0', 'v')
2024-01-03 10:36
'2024-01-03 10:36', '1.767', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:36', '1.767', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 10:42
'2024-01-03 10:42', '1.813', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:42', '1.813', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 10:48
'2024-01-03 10:48', '1.856', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:48', '1.856', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 10:54
'2024-01-03 10:54', '1.886', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 10:54', '1.886', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 11:00
'2024-01-03 11:00', '1.925', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:00', '1.925', '0.049', '0', '0', '0', '0', 'v')
2024-01-03 11:06
'2024-01-03 11:06', '1.974', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:06', '1.974', '0.049', '0', '0', '0', '0', 'v')
2024-01-03 11:12
'2024-01-03 11:12', '2.007', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:12', '2.007', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 11:18
'2024-01-03 11:18', '2.056', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:18', '2.056', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 11:24
'2024-01-03 11:24', '2.089', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:24', '2.089', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 11:30
'2024-01-03 11:30', '2.125', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:30', '2.125', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 11:36
'2024-01-03 11:36', '2.168', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:36', '2.168', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 11:42
'2024-01-03 11:42', '2.204', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:42', '2.204', '0.049', '0', '0', '0', '0', 'v')
2024-01-03 11:48
'2024-01-03 11:48', '2.246', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:48', '2.246', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 11:54
'2024-01-03 11:54', '2.279', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 11:54', '2.279', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 12:00
'2024-01-03 12:00', '2.306', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:00', '2.306', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 12:06
'2024-01-03 12:06', '2.348', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:06', '2.348', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 12:12
'2024-01-03 12:12', '2.381', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:12', '2.381', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 12:18
'2024-01-03 12:18', '2.417', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:18', '2.417', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 12:24
'2024-01-03 12:24', '2.434', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:24', '2.434', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 12:30
'2024-01-03 12:30', '2.466', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:30', '2.466', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 12:36
'2024-01-03 12:36', '2.486', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:36', '2.486', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 12:42
'2024-01-03 12:42', '2.489', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:42', '2.489', '0.039', '0', '0', '0', '0', 'v')
2024-01-03 12:48
'2024-01-03 12:48', '2.529', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:48', '2.529', '0.046', '0', '0', '0', '0', 'v')
2024-01-03 12:54
'2024-01-03 12:54', '2.545', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 12:54', '2.545', '0.043', '0', '0', '0', '0', 'v')
2024-01-03 13:00
'2024-01-03 13:00', '2.545', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:00', '2.545', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 13:06
'2024-01-03 13:06', '2.565', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:06', '2.565', '0.030', '0', '0', '0', '0', 'v')
2024-01-03 13:12
'2024-01-03 13:12', '2.588', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:12', '2.588', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 13:18
'2024-01-03 13:18', '2.581', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:18', '2.581', '0.033', '0', '0', '0', '0', 'v')
2024-01-03 13:24
'2024-01-03 13:24', '2.594', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:24', '2.594', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 13:30
'2024-01-03 13:30', '2.611', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:30', '2.611', '0.033', '0', '0', '0', '0', 'v')
2024-01-03 13:36
'2024-01-03 13:36', '2.611', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:36', '2.611', '0.030', '0', '0', '0', '0', 'v')
2024-01-03 13:42
'2024-01-03 13:42', '2.627', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:42', '2.627', '0.036', '0', '0', '0', '0', 'v')
2024-01-03 13:48
'2024-01-03 13:48', '2.627', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:48', '2.627', '0.033', '0', '0', '0', '0', 'v')
2024-01-03 13:54
'2024-01-03 13:54', '2.617', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 13:54', '2.617', '0.033', '0', '0', '0', '0', 'v')
2024-01-03 14:00
'2024-01-03 14:00', '2.607', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:00', '2.607', '0.030', '0', '0', '0', '0', 'v')
2024-01-03 14:06
'2024-01-03 14:06', '2.607', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:06', '2.607', '0.023', '0', '0', '0', '0', 'v')
2024-01-03 14:12
'2024-01-03 14:12', '2.607', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:12', '2.607', '0.026', '0', '0', '0', '0', 'v')
2024-01-03 14:18
'2024-01-03 14:18', '2.594', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:18', '2.594', '0.026', '0', '0', '0', '0', 'v')
2024-01-03 14:24
'2024-01-03 14:24', '2.591', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:24', '2.591', '0.030', '0', '0', '0', '0', 'v')
2024-01-03 14:30
'2024-01-03 14:30', '2.581', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:30', '2.581', '0.026', '0', '0', '0', '0', 'v')
2024-01-03 14:36
'2024-01-03 14:36', '2.568', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:36', '2.568', '0.030', '0', '0', '0', '0', 'v')
2024-01-03 14:42
'2024-01-03 14:42', '2.558', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:42', '2.558', '0.030', '0', '0', '0', '0', 'v')
2024-01-03 14:48
'2024-01-03 14:48', '2.535', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:48', '2.535', '0.026', '0', '0', '0', '0', 'v')
2024-01-03 14:54
'2024-01-03 14:54', '2.538', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 14:54', '2.538', '0.030', '0', '0', '0', '0', 'v')
2024-01-03 15:00
'2024-01-03 15:00', '2.525', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:00', '2.525', '0.023', '0', '0', '0', '0', 'v')
2024-01-03 15:06
'2024-01-03 15:06', '2.499', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:06', '2.499', '0.023', '0', '0', '0', '0', 'v')
2024-01-03 15:12
'2024-01-03 15:12', '2.489', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:12', '2.489', '0.020', '0', '0', '0', '0', 'v')
2024-01-03 15:18
'2024-01-03 15:18', '2.470', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:18', '2.470', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 15:24
'2024-01-03 15:24', '2.447', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:24', '2.447', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 15:30
'2024-01-03 15:30', '2.430', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:30', '2.430', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 15:36
'2024-01-03 15:36', '2.404', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:36', '2.404', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 15:42
'2024-01-03 15:42', '2.378', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:42', '2.378', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 15:48
'2024-01-03 15:48', '2.348', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:48', '2.348', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 15:54
'2024-01-03 15:54', '2.302', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 15:54', '2.302', '0.023', '0', '0', '0', '0', 'v')
2024-01-03 16:00
'2024-01-03 16:00', '2.286', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:00', '2.286', '0.020', '0', '0', '0', '0', 'v')
2024-01-03 16:06
'2024-01-03 16:06', '2.253', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:06', '2.253', '0.020', '0', '0', '0', '0', 'v')
2024-01-03 16:12
'2024-01-03 16:12', '2.237', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:12', '2.237', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 16:18
'2024-01-03 16:18', '2.210', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:18', '2.210', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 16:24
'2024-01-03 16:24', '2.184', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:24', '2.184', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 16:30
'2024-01-03 16:30', '2.158', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:30', '2.158', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 16:36
'2024-01-03 16:36', '2.125', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:36', '2.125', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 16:42
'2024-01-03 16:42', '2.089', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:42', '2.089', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 16:48
'2024-01-03 16:48', '2.046', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:48', '2.046', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 16:54
'2024-01-03 16:54', '2.020', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 16:54', '2.020', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 17:00
'2024-01-03 17:00', '1.984', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:00', '1.984', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 17:06
'2024-01-03 17:06', '1.951', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:06', '1.951', '0.016', '0', '0', '0', '0', 'v')
2024-01-03 17:12
'2024-01-03 17:12', '1.922', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:12', '1.922', '0.020', '0', '0', '0', '0', 'v')
2024-01-03 17:18
'2024-01-03 17:18', '1.889', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:18', '1.889', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 17:24
'2024-01-03 17:24', '1.869', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:24', '1.869', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 17:30
'2024-01-03 17:30', '1.846', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:30', '1.846', '0.010', '0', '0', '0', '0', 'v')
2024-01-03 17:36
'2024-01-03 17:36', '1.813', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:36', '1.813', '0.010', '0', '0', '0', '0', 'v')
2024-01-03 17:42
'2024-01-03 17:42', '1.787', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:42', '1.787', '0.010', '0', '0', '0', '0', 'v')
2024-01-03 17:48
'2024-01-03 17:48', '1.754', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:48', '1.754', '0.010', '0', '0', '0', '0', 'v')
2024-01-03 17:54
'2024-01-03 17:54', '1.728', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 17:54', '1.728', '0.007', '0', '0', '0', '0', 'v')
2024-01-03 18:00
'2024-01-03 18:00', '1.699', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 18:00', '1.699', '0.007', '0', '0', '0', '0', 'v')
2024-01-03 18:06

2024-01-03 23:36
'2024-01-03 23:36', '2.102', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 23:36', '2.102', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 23:42
'2024-01-03 23:42', '2.138', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 23:42', '2.138', '0.013', '0', '0', '0', '0', 'v')
2024-01-03 23:48
'2024-01-03 23:48', '2.178', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 23:48', '2.178', '0.010', '0', '0', '0', '0', 'v')
2024-01-03 23:54
'2024-01-03 23:54', '2.210', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-03 23:54', '2.210', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 00:00
'2024-01-04 00:00', '2.243', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:00', '2.243', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 00:06
'2024-01-04 00:06', '2.276', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:06', '2.276', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 00:12
'2024-01-04 00:12', '2.306', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:12', '2.306', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 00:18
'2024-01-04 00:18', '2.338', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:18', '2.338', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 00:24
'2024-01-04 00:24', '2.368', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:24', '2.368', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 00:30
'2024-01-04 00:30', '2.394', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:30', '2.394', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 00:36
'2024-01-04 00:36', '2.420', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:36', '2.420', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 00:42
'2024-01-04 00:42', '2.447', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:42', '2.447', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 00:48
'2024-01-04 00:48', '2.466', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:48', '2.466', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 00:54
'2024-01-04 00:54', '2.489', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 00:54', '2.489', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 01:00
'2024-01-04 01:00', '2.506', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:00', '2.506', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 01:06
'2024-01-04 01:06', '2.522', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:06', '2.522', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 01:12
'2024-01-04 01:12', '2.538', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:12', '2.538', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 01:18
'2024-01-04 01:18', '2.548', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:18', '2.548', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 01:24
'2024-01-04 01:24', '2.558', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:24', '2.558', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 01:30
'2024-01-04 01:30', '2.565', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:30', '2.565', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 01:36
'2024-01-04 01:36', '2.568', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:36', '2.568', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 01:42
'2024-01-04 01:42', '2.568', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:42', '2.568', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 01:48
'2024-01-04 01:48', '2.575', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:48', '2.575', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 01:54
'2024-01-04 01:54', '2.571', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 01:54', '2.571', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 02:00
'2024-01-04 02:00', '2.571', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:00', '2.571', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 02:06
'2024-01-04 02:06', '2.571', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:06', '2.571', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 02:12
'2024-01-04 02:12', '2.565', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:12', '2.565', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 02:18
'2024-01-04 02:18', '2.561', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:18', '2.561', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 02:24
'2024-01-04 02:24', '2.558', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:24', '2.558', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 02:30
'2024-01-04 02:30', '2.548', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:30', '2.548', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 02:36
'2024-01-04 02:36', '2.538', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:36', '2.538', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 02:42
'2024-01-04 02:42', '2.529', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:42', '2.529', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 02:48
'2024-01-04 02:48', '2.516', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:48', '2.516', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 02:54
'2024-01-04 02:54', '2.493', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 02:54', '2.493', '0.016', '0', '0', '0', '0', 'v')
2024-01-04 03:00
'2024-01-04 03:00', '2.476', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:00', '2.476', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 03:06
'2024-01-04 03:06', '2.466', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:06', '2.466', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 03:12
'2024-01-04 03:12', '2.450', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:12', '2.450', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 03:18
'2024-01-04 03:18', '2.430', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:18', '2.430', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 03:24
'2024-01-04 03:24', '2.407', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:24', '2.407', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 03:30
'2024-01-04 03:30', '2.384', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:30', '2.384', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 03:36
'2024-01-04 03:36', '2.358', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:36', '2.358', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 03:42
'2024-01-04 03:42', '2.332', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:42', '2.332', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 03:48
'2024-01-04 03:48', '2.306', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:48', '2.306', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 03:54
'2024-01-04 03:54', '2.273', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 03:54', '2.273', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 04:00
'2024-01-04 04:00', '2.237', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:00', '2.237', '0.013', '0', '0', '0', '0', 'v')
2024-01-04 04:06
'2024-01-04 04:06', '2.194', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:06', '2.194', '0.020', '0', '0', '0', '0', 'v')
2024-01-04 04:12
'2024-01-04 04:12', '2.158', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:12', '2.158', '0.016', '0', '0', '0', '0', 'v')
2024-01-04 04:18
'2024-01-04 04:18', '2.142', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:18', '2.142', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 04:24
'2024-01-04 04:24', '2.125', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:24', '2.125', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 04:30
'2024-01-04 04:30', '2.092', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:30', '2.092', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 04:36
'2024-01-04 04:36', '2.043', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:36', '2.043', '0.023', '0', '0', '0', '0', 'v')
2024-01-04 04:42
'2024-01-04 04:42', '1.987', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:42', '1.987', '0.020', '0', '0', '0', '0', 'v')
2024-01-04 04:48
'2024-01-04 04:48', '1.945', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:48', '1.945', '0.020', '0', '0', '0', '0', 'v')
2024-01-04 04:54
'2024-01-04 04:54', '1.915', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 04:54', '1.915', '0.013', '0', '0', '0', '0', 'v')
2024-01-04 05:00
'2024-01-04 05:00', '1.909', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:00', '1.909', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 05:06
'2024-01-04 05:06', '1.872', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:06', '1.872', '0.013', '0', '0', '0', '0', 'v')
2024-01-04 05:12
'2024-01-04 05:12', '1.846', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:12', '1.846', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 05:18
'2024-01-04 05:18', '1.820', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:18', '1.820', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 05:24
'2024-01-04 05:24', '1.794', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:24', '1.794', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 05:30
'2024-01-04 05:30', '1.761', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:30', '1.761', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 05:36
'2024-01-04 05:36', '1.725', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:36', '1.725', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 05:42
'2024-01-04 05:42', '1.699', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:42', '1.699', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 05:48
'2024-01-04 05:48', '1.666', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:48', '1.666', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 05:54
'2024-01-04 05:54', '1.633', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 05:54', '1.633', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 06:00
'2024-01-04 06:00', '1.600', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:00', '1.600', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 06:06
'2024-01-04 06:06', '1.574', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:06', '1.574', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 06:12
'2024-01-04 06:12', '1.544', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:12', '1.544', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 06:18
'2024-01-04 06:18', '1.518', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:18', '1.518', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 06:24
'2024-01-04 06:24', '1.492', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:24', '1.492', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 06:30
'2024-01-04 06:30', '1.466', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:30', '1.466', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 06:36
'2024-01-04 06:36', '1.436', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:36', '1.436', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 06:42
'2024-01-04 06:42', '1.410', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:42', '1.410', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 06:48
'2024-01-04 06:48', '1.384', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:48', '1.384', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 06:54
'2024-01-04 06:54', '1.354', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 06:54', '1.354', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 07:00
'2024-01-04 07:00', '1.338', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:00', '1.338', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 07:06
'2024-01-04 07:06', '1.311', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:06', '1.311', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 07:12
'2024-01-04 07:12', '1.298', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:12', '1.298', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 07:18
'2024-01-04 07:18', '1.282', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:18', '1.282', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 07:24
'2024-01-04 07:24', '1.262', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:24', '1.262', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 07:30
'2024-01-04 07:30', '1.246', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:30', '1.246', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 07:36
'2024-01-04 07:36', '1.226', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:36', '1.226', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 07:42
'2024-01-04 07:42', '1.213', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:42', '1.213', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 07:48
'2024-01-04 07:48', '1.190', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:48', '1.190', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 07:54
'2024-01-04 07:54', '1.177', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 07:54', '1.177', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 08:00
'2024-01-04 08:00', '1.164', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:00', '1.164', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 08:06
'2024-01-04 08:06', '1.154', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:06', '1.154', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 08:12
'2024-01-04 08:12', '1.151', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:12', '1.151', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 08:18
'2024-01-04 08:18', '1.144', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:18', '1.144', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 08:24
'2024-01-04 08:24', '1.138', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:24', '1.138', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 08:30
'2024-01-04 08:30', '1.134', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:30', '1.134', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 08:36
'2024-01-04 08:36', '1.128', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:36', '1.128', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 08:42
'2024-01-04 08:42', '1.131', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:42', '1.131', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 08:48
'2024-01-04 08:48', '1.131', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:48', '1.131', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 08:54
'2024-01-04 08:54', '1.134', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 08:54', '1.134', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 09:00
'2024-01-04 09:00', '1.141', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:00', '1.141', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 09:06
'2024-01-04 09:06', '1.144', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:06', '1.144', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 09:12
'2024-01-04 09:12', '1.147', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:12', '1.147', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 09:18
'2024-01-04 09:18', '1.161', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:18', '1.161', '0.000', '0', '0', '0', '0', 'v')
2024-01-04 09:24
'2024-01-04 09:24', '1.170', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:24', '1.170', '0.003', '0', '0', '0', '0', 'v')
2024-01-04 09:30
'2024-01-04 09:30', '1.174', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:30', '1.174', '0.007', '0', '0', '0', '0', 'v')
2024-01-04 09:36
'2024-01-04 09:36', '1.184', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:36', '1.184', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 09:42
'2024-01-04 09:42', '1.187', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:42', '1.187', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 09:48
'2024-01-04 09:48', '1.197', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:48', '1.197', '0.010', '0', '0', '0', '0', 'v')
2024-01-04 09:54
'2024-01-04 09:54', '1.213', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 09:54', '1.213', '0.016', '0', '0', '0', '0', 'v')
2024-01-04 10:00
'2024-01-04 10:00', '1.236', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:00', '1.236', '0.016', '0', '0', '0', '0', 'v')
2024-01-04 10:06
'2024-01-04 10:06', '1.266', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:06', '1.266', '0.013', '0', '0', '0', '0', 'v')
2024-01-04 10:12
'2024-01-04 10:12', '1.292', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:12', '1.292', '0.013', '0', '0', '0', '0', 'v')
2024-01-04 10:18
'2024-01-04 10:18', '1.325', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:18', '1.325', '0.016', '0', '0', '0', '0', 'v')
2024-01-04 10:24
'2024-01-04 10:24', '1.361', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:24', '1.361', '0.016', '0', '0', '0', '0', 'v')

2024-01-04 10:30
'2024-01-04 10:30', '1.393', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:30', '1.393', '0.013', '0', '0', '0', '0', 'v')
2024-01-04 10:36
'2024-01-04 10:36', '1.426', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:36', '1.426', '0.013', '0', '0', '0', '0', 'v')
2024-01-04 10:42
'2024-01-04 10:42', '1.462', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:42', '1.462', '0.013', '0', '0', '0', '0', 'v')
2024-01-04 10:48
'2024-01-04 10:48', '1.489', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:48', '1.489', '0.016', '0', '0', '0', '0', 'v')
2024-01-04 10:54
'2024-01-04 10:54', '1.512', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 10:54', '1.512', '0.020', '0', '0', '0', '0', 'v')
2024-01-04 11:00
'2024-01-04 11:00', '1.551', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:00', '1.551', '0.020', '0', '0', '0', '0', 'v')
2024-01-04 11:06
'2024-01-04 11:06', '1.577', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:06', '1.577', '0.026', '0', '0', '0', '0', 'v')
2024-01-04 11:12
'2024-01-04 11:12', '1.613', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:12', '1.613', '0.036', '0', '0', '0', '0', 'v')
2024-01-04 11:18
'2024-01-04 11:18', '1.663', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:18', '1.663', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 11:24
'2024-01-04 11:24', '1.682', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:24', '1.682', '0.033', '0', '0', '0', '0', 'v')
2024-01-04 11:30
'2024-01-04 11:30', '1.718', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:30', '1.718', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 11:36
'2024-01-04 11:36', '1.751', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:36', '1.751', '0.033', '0', '0', '0', '0', 'v')
2024-01-04 11:42
'2024-01-04 11:42', '1.771', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:42', '1.771', '0.036', '0', '0', '0', '0', 'v')
2024-01-04 11:48
'2024-01-04 11:48', '1.804', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:48', '1.804', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 11:54
'2024-01-04 11:54', '1.846', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 11:54', '1.846', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 12:00
'2024-01-04 12:00', '1.876', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:00', '1.876', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 12:06
'2024-01-04 12:06', '1.912', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:06', '1.912', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 12:12
'2024-01-04 12:12', '1.938', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:12', '1.938', '0.036', '0', '0', '0', '0', 'v')
2024-01-04 12:18
'2024-01-04 12:18', '1.974', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:18', '1.974', '0.033', '0', '0', '0', '0', 'v')
2024-01-04 12:24
'2024-01-04 12:24', '2.014', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:24', '2.014', '0.033', '0', '0', '0', '0', 'v')
2024-01-04 12:30
'2024-01-04 12:30', '2.040', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:30', '2.040', '0.033', '0', '0', '0', '0', 'v')
2024-01-04 12:36
'2024-01-04 12:36', '2.066', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:36', '2.066', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 12:42
'2024-01-04 12:42', '2.086', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:42', '2.086', '0.036', '0', '0', '0', '0', 'v')
2024-01-04 12:48
'2024-01-04 12:48', '2.112', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:48', '2.112', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 12:54
'2024-01-04 12:54', '2.142', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 12:54', '2.142', '0.033', '0', '0', '0', '0', 'v')
2024-01-04 13:00
'2024-01-04 13:00', '2.187', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:00', '2.187', '0.036', '0', '0', '0', '0', 'v')
2024-01-04 13:06
'2024-01-04 13:06', '2.210', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:06', '2.210', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 13:12
'2024-01-04 13:12', '2.237', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:12', '2.237', '0.036', '0', '0', '0', '0', 'v')
2024-01-04 13:18
'2024-01-04 13:18', '2.256', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:18', '2.256', '0.036', '0', '0', '0', '0', 'v')
2024-01-04 13:24
'2024-01-04 13:24', '2.273', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:24', '2.273', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 13:30
'2024-01-04 13:30', '2.289', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:30', '2.289', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 13:36
'2024-01-04 13:36', '2.315', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:36', '2.315', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 13:42
'2024-01-04 13:42', '2.329', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:42', '2.329', '0.036', '0', '0', '0', '0', 'v')
2024-01-04 13:48
'2024-01-04 13:48', '2.345', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:48', '2.345', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 13:54
'2024-01-04 13:54', '2.342', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 13:54', '2.342', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 14:00
'2024-01-04 14:00', '2.361', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:00', '2.361', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 14:06
'2024-01-04 14:06', '2.368', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:06', '2.368', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 14:12
'2024-01-04 14:12', '2.381', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:12', '2.381', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 14:18
'2024-01-04 14:18', '2.374', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:18', '2.374', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 14:24
'2024-01-04 14:24', '2.394', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:24', '2.394', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 14:30
'2024-01-04 14:30', '2.411', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:30', '2.411', '0.036', '0', '0', '0', '0', 'v')
2024-01-04 14:36
'2024-01-04 14:36', '2.411', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:36', '2.411', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 14:42
'2024-01-04 14:42', '2.417', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:42', '2.417', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 14:48
'2024-01-04 14:48', '2.420', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:48', '2.420', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 14:54
'2024-01-04 14:54', '2.394', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 14:54', '2.394', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 15:00
'2024-01-04 15:00', '2.401', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:00', '2.401', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 15:06
'2024-01-04 15:06', '2.404', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:06', '2.404', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 15:12
'2024-01-04 15:12', '2.397', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:12', '2.397', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 15:18
'2024-01-04 15:18', '2.371', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:18', '2.371', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 15:24
'2024-01-04 15:24', '2.368', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:24', '2.368', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 15:30
'2024-01-04 15:30', '2.348', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:30', '2.348', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 15:36
'2024-01-04 15:36', '2.329', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:36', '2.329', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 15:42
'2024-01-04 15:42', '2.319', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:42', '2.319', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 15:48
'2024-01-04 15:48', '2.296', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:48', '2.296', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 15:54
'2024-01-04 15:54', '2.273', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 15:54', '2.273', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 16:00
'2024-01-04 16:00', '2.240', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:00', '2.240', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 16:06
'2024-01-04 16:06', '2.224', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:06', '2.224', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 16:12
'2024-01-04 16:12', '2.184', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:12', '2.184', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 16:18
'2024-01-04 16:18', '2.148', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:18', '2.148', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 16:24
'2024-01-04 16:24', '2.119', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:24', '2.119', '0.039', '0', '0', '0', '0', 'v')
2024-01-04 16:30
'2024-01-04 16:30', '2.102', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:30', '2.102', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 16:36
'2024-01-04 16:36', '2.069', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:36', '2.069', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 16:42
'2024-01-04 16:42', '2.063', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:42', '2.063', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 16:48
'2024-01-04 16:48', '2.050', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:48', '2.050', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 16:54
'2024-01-04 16:54', '2.010', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 16:54', '2.010', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 17:00
'2024-01-04 17:00', '2.000', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:00', '2.000', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 17:06
'2024-01-04 17:06', '1.987', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:06', '1.987', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 17:12
'2024-01-04 17:12', '1.945', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:12', '1.945', '0.059', '0', '0', '0', '0', 'v')
2024-01-04 17:18
'2024-01-04 17:18', '1.932', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:18', '1.932', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 17:24
'2024-01-04 17:24', '1.928', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:24', '1.928', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 17:30
'2024-01-04 17:30', '1.932', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:30', '1.932', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 17:36
'2024-01-04 17:36', '1.912', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:36', '1.912', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 17:42
'2024-01-04 17:42', '1.915', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:42', '1.915', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 17:48
'2024-01-04 17:48', '1.892', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:48', '1.892', '0.062', '0', '0', '0', '0', 'v')
2024-01-04 17:54
'2024-01-04 17:54', '1.859', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 17:54', '1.859', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 18:00
'2024-01-04 18:00', '1.843', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:00', '1.843', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 18:06
'2024-01-04 18:06', '1.810', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:06', '1.810', '0.066', '0', '0', '0', '0', 'v')
2024-01-04 18:12
'2024-01-04 18:12', '1.781', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:12', '1.781', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 18:18
'2024-01-04 18:18', '1.748', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:18', '1.748', '0.069', '0', '0', '0', '0', 'v')
2024-01-04 18:24
'2024-01-04 18:24', '1.712', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:24', '1.712', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 18:30
'2024-01-04 18:30', '1.705', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:30', '1.705', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 18:36
'2024-01-04 18:36', '1.663', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:36', '1.663', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 18:42
'2024-01-04 18:42', '1.640', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:42', '1.640', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 18:48
'2024-01-04 18:48', '1.597', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:48', '1.597', '0.059', '0', '0', '0', '0', 'v')
2024-01-04 18:54
'2024-01-04 18:54', '1.564', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 18:54', '1.564', '0.062', '0', '0', '0', '0', 'v')
2024-01-04 19:00
'2024-01-04 19:00', '1.528', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:00', '1.528', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 19:06
'2024-01-04 19:06', '1.476', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:06', '1.476', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 19:12
'2024-01-04 19:12', '1.456', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:12', '1.456', '0.043', '0', '0', '0', '0', 'v')
2024-01-04 19:18
'2024-01-04 19:18', '1.413', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:18', '1.413', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 19:24
'2024-01-04 19:24', '1.413', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:24', '1.413', '0.066', '0', '0', '0', '0', 'v')
2024-01-04 19:30
'2024-01-04 19:30', '1.393', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:30', '1.393', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 19:36
'2024-01-04 19:36', '1.361', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:36', '1.361', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 19:42
'2024-01-04 19:42', '1.328', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:42', '1.328', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 19:48
'2024-01-04 19:48', '1.292', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:48', '1.292', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 19:54
'2024-01-04 19:54', '1.269', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 19:54', '1.269', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 20:00
'2024-01-04 20:00', '1.266', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:00', '1.266', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 20:06
'2024-01-04 20:06', '1.266', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:06', '1.266', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 20:12
'2024-01-04 20:12', '1.259', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:12', '1.259', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 20:18
'2024-01-04 20:18', '1.249', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:18', '1.249', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 20:24
'2024-01-04 20:24', '1.216', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:24', '1.216', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 20:30
'2024-01-04 20:30', '1.197', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:30', '1.197', '0.059', '0', '0', '0', '0', 'v')
2024-01-04 20:36
'2024-01-04 20:36', '1.180', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:36', '1.180', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 20:42
'2024-01-04 20:42', '1.161', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:42', '1.161', '0.062', '0', '0', '0', '0', 'v')
2024-01-04 20:48
'2024-01-04 20:48', '1.138', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:48', '1.138', '0.059', '0', '0', '0', '0', 'v')
2024-01-04 20:54
'2024-01-04 20:54', '1.118', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 20:54', '1.118', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 21:00
'2024-01-04 21:00', '1.095', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:00', '1.095', '0.059', '0', '0', '0', '0', 'v')
2024-01-04 21:06
'2024-01-04 21:06', '1.085', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:06', '1.085', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 21:12
'2024-01-04 21:12', '1.088', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:12', '1.088', '0.059', '0', '0', '0', '0', 'v')
2024-01-04 21:18
'2024-01-04 21:18', '1.105', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:18', '1.105', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 21:24
'2024-01-04 21:24', '1.108', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:24', '1.108', '0.062', '0', '0', '0', '0', 'v')

2024-01-04 21:30
'2024-01-04 21:30', '1.111', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:30', '1.111', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 21:36
'2024-01-04 21:36', '1.111', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:36', '1.111', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 21:42
'2024-01-04 21:42', '1.108', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:42', '1.108', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 21:48
'2024-01-04 21:48', '1.088', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:48', '1.088', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 21:54
'2024-01-04 21:54', '1.069', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 21:54', '1.069', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 22:00
'2024-01-04 22:00', '1.079', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:00', '1.079', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 22:06
'2024-01-04 22:06', '1.085', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:06', '1.085', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 22:12
'2024-01-04 22:12', '1.092', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:12', '1.092', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 22:18
'2024-01-04 22:18', '1.092', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:18', '1.092', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 22:24
'2024-01-04 22:24', '1.095', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:24', '1.095', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 22:30
'2024-01-04 22:30', '1.092', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:30', '1.092', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 22:36
'2024-01-04 22:36', '1.101', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:36', '1.101', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 22:42
'2024-01-04 22:42', '1.111', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:42', '1.111', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 22:48
'2024-01-04 22:48', '1.124', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:48', '1.124', '0.046', '0', '0', '0', '0', 'v')
2024-01-04 22:54
'2024-01-04 22:54', '1.105', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 22:54', '1.105', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 23:00
'2024-01-04 23:00', '1.128', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:00', '1.128', '0.062', '0', '0', '0', '0', 'v')
2024-01-04 23:06
'2024-01-04 23:06', '1.138', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:06', '1.138', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 23:12
'2024-01-04 23:12', '1.147', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:12', '1.147', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 23:18
'2024-01-04 23:18', '1.151', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:18', '1.151', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 23:24
'2024-01-04 23:24', '1.154', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:24', '1.154', '0.049', '0', '0', '0', '0', 'v')
2024-01-04 23:30
'2024-01-04 23:30', '1.164', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:30', '1.164', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 23:36
'2024-01-04 23:36', '1.184', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:36', '1.184', '0.056', '0', '0', '0', '0', 'v')
2024-01-04 23:42
'2024-01-04 23:42', '1.187', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:42', '1.187', '0.052', '0', '0', '0', '0', 'v')
2024-01-04 23:48
'2024-01-04 23:48', '1.206', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:48', '1.206', '0.059', '0', '0', '0', '0', 'v')
2024-01-04 23:54
'2024-01-04 23:54', '1.210', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-04 23:54', '1.210', '0.056', '0', '0', '0', '0', 'v')
2024-01-05 00:00
'2024-01-05 00:00', '1.252', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:00', '1.252', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 00:06
'2024-01-05 00:06', '1.262', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:06', '1.262', '0.062', '0', '0', '0', '0', 'v')
2024-01-05 00:12
'2024-01-05 00:12', '1.269', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:12', '1.269', '0.062', '0', '0', '0', '0', 'v')
2024-01-05 00:18
'2024-01-05 00:18', '1.285', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:18', '1.285', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 00:24
'2024-01-05 00:24', '1.288', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:24', '1.288', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 00:30
'2024-01-05 00:30', '1.302', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:30', '1.302', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 00:36
'2024-01-05 00:36', '1.311', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:36', '1.311', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 00:42
'2024-01-05 00:42', '1.328', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:42', '1.328', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 00:48
'2024-01-05 00:48', '1.341', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:48', '1.341', '0.056', '0', '0', '0', '0', 'v')
2024-01-05 00:54
'2024-01-05 00:54', '1.338', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 00:54', '1.338', '0.056', '0', '0', '0', '0', 'v')
2024-01-05 01:00
'2024-01-05 01:00', '1.357', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:00', '1.357', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 01:06
'2024-01-05 01:06', '1.357', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:06', '1.357', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 01:12
'2024-01-05 01:12', '1.361', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:12', '1.361', '0.062', '0', '0', '0', '0', 'v')
2024-01-05 01:18
'2024-01-05 01:18', '1.377', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:18', '1.377', '0.062', '0', '0', '0', '0', 'v')
2024-01-05 01:24
'2024-01-05 01:24', '1.377', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:24', '1.377', '0.056', '0', '0', '0', '0', 'v')
2024-01-05 01:30
'2024-01-05 01:30', '1.374', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:30', '1.374', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 01:36
'2024-01-05 01:36', '1.361', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:36', '1.361', '0.059', '0', '0', '0', '0', 'v')
2024-01-05 01:42
'2024-01-05 01:42', '1.351', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:42', '1.351', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 01:48
'2024-01-05 01:48', '1.364', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:48', '1.364', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 01:54
'2024-01-05 01:54', '1.344', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 01:54', '1.344', '0.062', '0', '0', '0', '0', 'v')
2024-01-05 02:00
'2024-01-05 02:00', '1.348', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:00', '1.348', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 02:06
'2024-01-05 02:06', '1.357', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:06', '1.357', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 02:12
'2024-01-05 02:12', '1.344', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:12', '1.344', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 02:18
'2024-01-05 02:18', '1.351', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:18', '1.351', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 02:24
'2024-01-05 02:24', '1.357', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:24', '1.357', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 02:30
'2024-01-05 02:30', '1.348', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:30', '1.348', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 02:36
'2024-01-05 02:36', '1.344', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:36', '1.344', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 02:42
'2024-01-05 02:42', '1.325', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:42', '1.325', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 02:48
'2024-01-05 02:48', '1.318', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:48', '1.318', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 02:54
'2024-01-05 02:54', '1.302', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 02:54', '1.302', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 03:00
'2024-01-05 03:00', '1.305', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:00', '1.305', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 03:06
'2024-01-05 03:06', '1.295', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:06', '1.295', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 03:12
'2024-01-05 03:12', '1.292', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:12', '1.292', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 03:18
'2024-01-05 03:18', '1.279', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:18', '1.279', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 03:24
'2024-01-05 03:24', '1.256', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:24', '1.256', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 03:30
'2024-01-05 03:30', '1.256', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:30', '1.256', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 03:36
'2024-01-05 03:36', '1.236', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:36', '1.236', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 03:42
'2024-01-05 03:42', '1.223', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:42', '1.223', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 03:48
'2024-01-05 03:48', '1.197', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:48', '1.197', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 03:54
'2024-01-05 03:54', '1.190', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 03:54', '1.190', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 04:00
'2024-01-05 04:00', '1.174', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:00', '1.174', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 04:06
'2024-01-05 04:06', '1.157', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:06', '1.157', '0.056', '0', '0', '0', '0', 'v')
2024-01-05 04:12
'2024-01-05 04:12', '1.128', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:12', '1.128', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 04:18
'2024-01-05 04:18', '1.118', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:18', '1.118', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 04:24
'2024-01-05 04:24', '1.092', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:24', '1.092', '0.059', '0', '0', '0', '0', 'v')
2024-01-05 04:30
'2024-01-05 04:30', '1.069', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:30', '1.069', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 04:36
'2024-01-05 04:36', '1.033', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:36', '1.033', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 04:42
'2024-01-05 04:42', '1.006', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:42', '1.006', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 04:48
'2024-01-05 04:48', '0.974', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:48', '0.974', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 04:54
'2024-01-05 04:54', '0.937', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 04:54', '0.937', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 05:00
'2024-01-05 05:00', '0.905', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:00', '0.905', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 05:06
'2024-01-05 05:06', '0.859', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:06', '0.859', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 05:12
'2024-01-05 05:12', '0.846', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:12', '0.846', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 05:18
'2024-01-05 05:18', '0.826', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:18', '0.826', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 05:24
'2024-01-05 05:24', '0.790', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:24', '0.790', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 05:30
'2024-01-05 05:30', '0.767', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:30', '0.767', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 05:36
'2024-01-05 05:36', '0.750', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:36', '0.750', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 05:42
'2024-01-05 05:42', '0.724', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:42', '0.724', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 05:48
'2024-01-05 05:48', '0.711', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:48', '0.711', '0.052', '0', '0', '0', '0', 'v')
2024-01-05 05:54
'2024-01-05 05:54', '0.678', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 05:54', '0.678', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 06:00
'2024-01-05 06:00', '0.659', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:00', '0.659', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 06:06
'2024-01-05 06:06', '0.639', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:06', '0.639', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 06:12
'2024-01-05 06:12', '0.596', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:12', '0.596', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 06:18
'2024-01-05 06:18', '0.583', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:18', '0.583', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 06:24
'2024-01-05 06:24', '0.544', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:24', '0.544', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 06:30
'2024-01-05 06:30', '0.511', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:30', '0.511', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 06:36
'2024-01-05 06:36', '0.488', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:36', '0.488', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 06:42
'2024-01-05 06:42', '0.458', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:42', '0.458', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 06:48
'2024-01-05 06:48', '0.435', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:48', '0.435', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 06:54
'2024-01-05 06:54', '0.406', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 06:54', '0.406', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 07:00
'2024-01-05 07:00', '0.383', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:00', '0.383', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 07:06
'2024-01-05 07:06', '0.350', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:06', '0.350', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 07:12
'2024-01-05 07:12', '0.337', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:12', '0.337', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 07:18
'2024-01-05 07:18', '0.317', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:18', '0.317', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 07:24
'2024-01-05 07:24', '0.281', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:24', '0.281', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 07:30
'2024-01-05 07:30', '0.252', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:30', '0.252', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 07:36
'2024-01-05 07:36', '0.235', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:36', '0.235', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 07:42
'2024-01-05 07:42', '0.189', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:42', '0.189', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 07:48
'2024-01-05 07:48', '0.166', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:48', '0.166', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 07:54
'2024-01-05 07:54', '0.153', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 07:54', '0.153', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 08:00
'2024-01-05 08:00', '0.121', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:00', '0.121', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 08:06
'2024-01-05 08:06', '0.104', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:06', '0.104', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 08:12
'2024-01-05 08:12', '0.075', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:12', '0.075', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 08:18
'2024-01-05 08:18', '0.035', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:18', '0.035', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 08:24
'2024-01-05 08:24', '0.016', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:24', '0.016', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 08:30
'2024-01-05 08:30', '-0.001', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:30', '-0.001', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 08:36
'2024-01-05 08:36', '-0.017', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:36', '-0.017', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 08:42
'2024-01-05 08:42', '-0.037', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:42', '-0.037', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 08:48
'2024-01-05 08:48', '-0.060', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:48', '-0.060', '0.043', '0', '0', '0', '0', 'v')

2024-01-05 08:54
'2024-01-05 08:54', '-0.086', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 08:54', '-0.086', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 09:00
'2024-01-05 09:00', '-0.119', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:00', '-0.119', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 09:06
'2024-01-05 09:06', '-0.135', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:06', '-0.135', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 09:12
'2024-01-05 09:12', '-0.162', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:12', '-0.162', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 09:18
'2024-01-05 09:18', '-0.181', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:18', '-0.181', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 09:24
'2024-01-05 09:24', '-0.178', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:24', '-0.178', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 09:30
'2024-01-05 09:30', '-0.185', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:30', '-0.185', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 09:36
'2024-01-05 09:36', '-0.188', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:36', '-0.188', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 09:42
'2024-01-05 09:42', '-0.171', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:42', '-0.171', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 09:48
'2024-01-05 09:48', '-0.175', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:48', '-0.175', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 09:54
'2024-01-05 09:54', '-0.165', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 09:54', '-0.165', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 10:00
'2024-01-05 10:00', '-0.149', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:00', '-0.149', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 10:06
'2024-01-05 10:06', '-0.132', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:06', '-0.132', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 10:12
'2024-01-05 10:12', '-0.135', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:12', '-0.135', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 10:18
'2024-01-05 10:18', '-0.109', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:18', '-0.109', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 10:24
'2024-01-05 10:24', '-0.106', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:24', '-0.106', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 10:30
'2024-01-05 10:30', '-0.089', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:30', '-0.089', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 10:36
'2024-01-05 10:36', '-0.070', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:36', '-0.070', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 10:42
'2024-01-05 10:42', '-0.050', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:42', '-0.050', '0.030', '0', '0', '0', '0', 'v')
2024-01-05 10:48
'2024-01-05 10:48', '-0.021', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:48', '-0.021', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 10:54
'2024-01-05 10:54', '0.006', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 10:54', '0.006', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 11:00
'2024-01-05 11:00', '0.035', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:00', '0.035', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 11:06
'2024-01-05 11:06', '0.065', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:06', '0.065', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 11:12
'2024-01-05 11:12', '0.111', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:12', '0.111', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 11:18
'2024-01-05 11:18', '0.137', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:18', '0.137', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 11:24
'2024-01-05 11:24', '0.173', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:24', '0.173', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 11:30
'2024-01-05 11:30', '0.199', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:30', '0.199', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 11:36
'2024-01-05 11:36', '0.239', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:36', '0.239', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 11:42
'2024-01-05 11:42', '0.262', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:42', '0.262', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 11:48
'2024-01-05 11:48', '0.311', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:48', '0.311', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 11:54
'2024-01-05 11:54', '0.350', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 11:54', '0.350', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 12:00
'2024-01-05 12:00', '0.383', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:00', '0.383', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 12:06
'2024-01-05 12:06', '0.419', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:06', '0.419', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 12:12
'2024-01-05 12:12', '0.458', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:12', '0.458', '0.030', '0', '0', '0', '0', 'v')
2024-01-05 12:18
'2024-01-05 12:18', '0.498', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:18', '0.498', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 12:24
'2024-01-05 12:24', '0.544', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:24', '0.544', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 12:30
'2024-01-05 12:30', '0.577', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:30', '0.577', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 12:36
'2024-01-05 12:36', '0.616', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:36', '0.616', '0.049', '0', '0', '0', '0', 'v')
2024-01-05 12:42
'2024-01-05 12:42', '0.659', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:42', '0.659', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 12:48
'2024-01-05 12:48', '0.685', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:48', '0.685', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 12:54
'2024-01-05 12:54', '0.731', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 12:54', '0.731', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 13:00
'2024-01-05 13:00', '0.770', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:00', '0.770', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 13:06
'2024-01-05 13:06', '0.809', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:06', '0.809', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 13:12
'2024-01-05 13:12', '0.849', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:12', '0.849', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 13:18
'2024-01-05 13:18', '0.885', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:18', '0.885', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 13:24
'2024-01-05 13:24', '0.921', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:24', '0.921', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 13:30
'2024-01-05 13:30', '0.964', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:30', '0.964', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 13:36
'2024-01-05 13:36', '1.006', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:36', '1.006', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 13:42
'2024-01-05 13:42', '1.039', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:42', '1.039', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 13:48
'2024-01-05 13:48', '1.062', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:48', '1.062', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 13:54
'2024-01-05 13:54', '1.098', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 13:54', '1.098', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 14:00
'2024-01-05 14:00', '1.131', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:00', '1.131', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 14:06
'2024-01-05 14:06', '1.144', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:06', '1.144', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 14:12
'2024-01-05 14:12', '1.174', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:12', '1.174', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 14:18
'2024-01-05 14:18', '1.213', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:18', '1.213', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 14:24
'2024-01-05 14:24', '1.233', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:24', '1.233', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 14:30
'2024-01-05 14:30', '1.252', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:30', '1.252', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 14:36
'2024-01-05 14:36', '1.288', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:36', '1.288', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 14:42
'2024-01-05 14:42', '1.315', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:42', '1.315', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 14:48
'2024-01-05 14:48', '1.331', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:48', '1.331', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 14:54
'2024-01-05 14:54', '1.361', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 14:54', '1.361', '0.046', '0', '0', '0', '0', 'v')
2024-01-05 15:00
'2024-01-05 15:00', '1.377', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:00', '1.377', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 15:06
'2024-01-05 15:06', '1.393', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:06', '1.393', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 15:12
'2024-01-05 15:12', '1.416', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:12', '1.416', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 15:18
'2024-01-05 15:18', '1.436', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:18', '1.436', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 15:24
'2024-01-05 15:24', '1.453', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:24', '1.453', '0.030', '0', '0', '0', '0', 'v')
2024-01-05 15:30
'2024-01-05 15:30', '1.466', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:30', '1.466', '0.030', '0', '0', '0', '0', 'v')
2024-01-05 15:36
'2024-01-05 15:36', '1.485', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:36', '1.485', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 15:42
'2024-01-05 15:42', '1.492', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:42', '1.492', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 15:48
'2024-01-05 15:48', '1.505', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:48', '1.505', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 15:54
'2024-01-05 15:54', '1.521', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 15:54', '1.521', '0.030', '0', '0', '0', '0', 'v')
2024-01-05 16:00
'2024-01-05 16:00', '1.528', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:00', '1.528', '0.023', '0', '0', '0', '0', 'v')
2024-01-05 16:06
'2024-01-05 16:06', '1.535', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:06', '1.535', '0.030', '0', '0', '0', '0', 'v')
2024-01-05 16:12
'2024-01-05 16:12', '1.538', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:12', '1.538', '0.023', '0', '0', '0', '0', 'v')
2024-01-05 16:18
'2024-01-05 16:18', '1.544', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:18', '1.544', '0.020', '0', '0', '0', '0', 'v')
2024-01-05 16:24
'2024-01-05 16:24', '1.541', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:24', '1.541', '0.016', '0', '0', '0', '0', 'v')
2024-01-05 16:30
'2024-01-05 16:30', '1.548', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:30', '1.548', '0.013', '0', '0', '0', '0', 'v')
2024-01-05 16:36
'2024-01-05 16:36', '1.548', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:36', '1.548', '0.010', '0', '0', '0', '0', 'v')
2024-01-05 16:42
'2024-01-05 16:42', '1.541', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:42', '1.541', '0.016', '0', '0', '0', '0', 'v')
2024-01-05 16:48
'2024-01-05 16:48', '1.531', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:48', '1.531', '0.013', '0', '0', '0', '0', 'v')
2024-01-05 16:54
'2024-01-05 16:54', '1.538', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 16:54', '1.538', '0.013', '0', '0', '0', '0', 'v')
2024-01-05 17:00
'2024-01-05 17:00', '1.551', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:00', '1.551', '0.010', '0', '0', '0', '0', 'v')
2024-01-05 17:06
'2024-01-05 17:06', '1.551', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:06', '1.551', '0.010', '0', '0', '0', '0', 'v')
2024-01-05 17:12
'2024-01-05 17:12', '1.535', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:12', '1.535', '0.016', '0', '0', '0', '0', 'v')
2024-01-05 17:18
'2024-01-05 17:18', '1.525', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:18', '1.525', '0.016', '0', '0', '0', '0', 'v')
2024-01-05 17:24
'2024-01-05 17:24', '1.525', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:24', '1.525', '0.020', '0', '0', '0', '0', 'v')
2024-01-05 17:30
'2024-01-05 17:30', '1.512', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:30', '1.512', '0.016', '0', '0', '0', '0', 'v')
2024-01-05 17:36
'2024-01-05 17:36', '1.502', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:36', '1.502', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 17:42
'2024-01-05 17:42', '1.495', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:42', '1.495', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 17:48
'2024-01-05 17:48', '1.489', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:48', '1.489', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 17:54
'2024-01-05 17:54', '1.479', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 17:54', '1.479', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 18:00
'2024-01-05 18:00', '1.462', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:00', '1.462', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 18:06
'2024-01-05 18:06', '1.462', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:06', '1.462', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 18:12
'2024-01-05 18:12', '1.423', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:12', '1.423', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 18:18
'2024-01-05 18:18', '1.416', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:18', '1.416', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 18:24
'2024-01-05 18:24', '1.384', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:24', '1.384', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 18:30
'2024-01-05 18:30', '1.371', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:30', '1.371', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 18:36
'2024-01-05 18:36', '1.344', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:36', '1.344', '0.043', '0', '0', '0', '0', 'v')
2024-01-05 18:42
'2024-01-05 18:42', '1.328', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:42', '1.328', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 18:48
'2024-01-05 18:48', '1.295', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:48', '1.295', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 18:54
'2024-01-05 18:54', '1.282', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 18:54', '1.282', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 19:00
'2024-01-05 19:00', '1.266', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:00', '1.266', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 19:06
'2024-01-05 19:06', '1.252', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:06', '1.252', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 19:12
'2024-01-05 19:12', '1.239', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:12', '1.239', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 19:18
'2024-01-05 19:18', '1.220', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:18', '1.220', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 19:24
'2024-01-05 19:24', '1.200', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:24', '1.200', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 19:30
'2024-01-05 19:30', '1.193', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:30', '1.193', '0.030', '0', '0', '0', '0', 'v')
2024-01-05 19:36
'2024-01-05 19:36', '1.180', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:36', '1.180', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 19:42
'2024-01-05 19:42', '1.161', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:42', '1.161', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 19:48
'2024-01-05 19:48', '1.141', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:48', '1.141', '0.039', '0', '0', '0', '0', 'v')
2024-01-05 19:54
'2024-01-05 19:54', '1.108', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 19:54', '1.108', '0.036', '0', '0', '0', '0', 'v')
2024-01-05 20:00
'2024-01-05 20:00', '1.092', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 20:00', '1.092', '0.033', '0', '0', '0', '0', 'v')
2024-01-05 20:06
'2024-01-05 20:06', '1.092', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 20:06', '1.092', '0.030', '0', '0', '0', '0', 'v')
2024-01-05 20:12
'2024-01-05 20:12', '1.072', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 20:12', '1.072', '0.026', '0', '0', '0', '0', 'v')
2024-01-05 20:18
'2024-01-05 20:18', '1.059', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 20:18', '1.059', '0.026', '0', '0', '0', '0', 'v')
2024-01-05 20:24
'2024-01-05 20:24', '1.056', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-05 20:24', '1.056', '0.026', '0', '0', '0', '0', 'v')

2024-01-06 00:12
'2024-01-06 00:12', '1.433', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 00:12', '1.433', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 00:18
'2024-01-06 00:18', '1.462', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 00:18', '1.462', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 00:24
'2024-01-06 00:24', '1.492', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 00:24', '1.492', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 00:30
'2024-01-06 00:30', '1.531', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 00:30', '1.531', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 00:36
'2024-01-06 00:36', '1.564', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 00:36', '1.564', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 00:42
'2024-01-06 00:42', '1.603', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 00:42', '1.603', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 00:48
'2024-01-06 00:48', '1.636', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 00:48', '1.636', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 00:54
'2024-01-06 00:54', '1.669', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 00:54', '1.669', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 01:00
'2024-01-06 01:00', '1.702', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:00', '1.702', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 01:06
'2024-01-06 01:06', '1.735', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:06', '1.735', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 01:12
'2024-01-06 01:12', '1.767', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:12', '1.767', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 01:18
'2024-01-06 01:18', '1.797', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:18', '1.797', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 01:24
'2024-01-06 01:24', '1.830', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:24', '1.830', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 01:30
'2024-01-06 01:30', '1.859', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:30', '1.859', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 01:36
'2024-01-06 01:36', '1.895', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:36', '1.895', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 01:42
'2024-01-06 01:42', '1.928', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:42', '1.928', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 01:48
'2024-01-06 01:48', '1.964', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:48', '1.964', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 01:54
'2024-01-06 01:54', '1.997', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 01:54', '1.997', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 02:00
'2024-01-06 02:00', '2.030', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:00', '2.030', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 02:06
'2024-01-06 02:06', '2.063', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:06', '2.063', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 02:12
'2024-01-06 02:12', '2.076', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:12', '2.076', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 02:18
'2024-01-06 02:18', '2.099', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:18', '2.099', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 02:24
'2024-01-06 02:24', '2.122', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:24', '2.122', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 02:30
'2024-01-06 02:30', '2.145', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:30', '2.145', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 02:36
'2024-01-06 02:36', '2.171', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:36', '2.171', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 02:42
'2024-01-06 02:42', '2.197', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:42', '2.197', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 02:48
'2024-01-06 02:48', '2.233', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:48', '2.233', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 02:54
'2024-01-06 02:54', '2.243', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 02:54', '2.243', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 03:00
'2024-01-06 03:00', '2.253', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:00', '2.253', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 03:06
'2024-01-06 03:06', '2.286', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:06', '2.286', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 03:12
'2024-01-06 03:12', '2.302', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:12', '2.302', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 03:18
'2024-01-06 03:18', '2.306', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:18', '2.306', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 03:24
'2024-01-06 03:24', '2.332', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:24', '2.332', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 03:30
'2024-01-06 03:30', '2.348', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:30', '2.348', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 03:36
'2024-01-06 03:36', '2.355', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:36', '2.355', '0.003', '0', '0', '0', '0', 'v')
2024-01-06 03:42
'2024-01-06 03:42', '2.358', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:42', '2.358', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 03:48
'2024-01-06 03:48', '2.361', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:48', '2.361', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 03:54
'2024-01-06 03:54', '2.368', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 03:54', '2.368', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 04:00
'2024-01-06 04:00', '2.371', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:00', '2.371', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 04:06
'2024-01-06 04:06', '2.374', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:06', '2.374', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 04:12
'2024-01-06 04:12', '2.384', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:12', '2.384', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 04:18
'2024-01-06 04:18', '2.381', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:18', '2.381', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 04:24
'2024-01-06 04:24', '2.355', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:24', '2.355', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 04:30
'2024-01-06 04:30', '2.365', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:30', '2.365', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 04:36
'2024-01-06 04:36', '2.365', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:36', '2.365', '0.003', '0', '0', '0', '0', 'v')
2024-01-06 04:42
'2024-01-06 04:42', '2.355', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:42', '2.355', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 04:48
'2024-01-06 04:48', '2.351', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:48', '2.351', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 04:54
'2024-01-06 04:54', '2.342', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 04:54', '2.342', '0.003', '0', '0', '0', '0', 'v')
2024-01-06 05:00
'2024-01-06 05:00', '2.322', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:00', '2.322', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 05:06
'2024-01-06 05:06', '2.292', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:06', '2.292', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 05:12
'2024-01-06 05:12', '2.279', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:12', '2.279', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 05:18
'2024-01-06 05:18', '2.273', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:18', '2.273', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 05:24
'2024-01-06 05:24', '2.260', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:24', '2.260', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 05:30
'2024-01-06 05:30', '2.250', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:30', '2.250', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 05:36
'2024-01-06 05:36', '2.224', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:36', '2.224', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 05:42
'2024-01-06 05:42', '2.187', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:42', '2.187', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 05:48
'2024-01-06 05:48', '2.171', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:48', '2.171', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 05:54
'2024-01-06 05:54', '2.164', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 05:54', '2.164', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 06:00
'2024-01-06 06:00', '2.138', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:00', '2.138', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 06:06
'2024-01-06 06:06', '2.102', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:06', '2.102', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 06:12
'2024-01-06 06:12', '2.066', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:12', '2.066', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 06:18
'2024-01-06 06:18', '2.059', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:18', '2.059', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 06:24
'2024-01-06 06:24', '2.010', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:24', '2.010', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 06:30
'2024-01-06 06:30', '1.964', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:30', '1.964', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 06:36
'2024-01-06 06:36', '1.961', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:36', '1.961', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 06:42
'2024-01-06 06:42', '1.935', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:42', '1.935', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 06:48
'2024-01-06 06:48', '1.889', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:48', '1.889', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 06:54
'2024-01-06 06:54', '1.863', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 06:54', '1.863', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 07:00
'2024-01-06 07:00', '1.827', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:00', '1.827', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 07:06
'2024-01-06 07:06', '1.781', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:06', '1.781', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 07:12
'2024-01-06 07:12', '1.761', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:12', '1.761', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 07:18
'2024-01-06 07:18', '1.745', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:18', '1.745', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 07:24
'2024-01-06 07:24', '1.715', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:24', '1.715', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 07:30
'2024-01-06 07:30', '1.689', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:30', '1.689', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 07:36
'2024-01-06 07:36', '1.643', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:36', '1.643', '0.023', '0', '0', '0', '0', 'v')
2024-01-06 07:42
'2024-01-06 07:42', '1.600', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:42', '1.600', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 07:48
'2024-01-06 07:48', '1.564', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:48', '1.564', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 07:54
'2024-01-06 07:54', '1.531', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 07:54', '1.531', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 08:00
'2024-01-06 08:00', '1.492', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:00', '1.492', '0.023', '0', '0', '0', '0', 'v')
2024-01-06 08:06
'2024-01-06 08:06', '1.469', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:06', '1.469', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 08:12
'2024-01-06 08:12', '1.456', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:12', '1.456', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 08:18
'2024-01-06 08:18', '1.426', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:18', '1.426', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 08:24
'2024-01-06 08:24', '1.407', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:24', '1.407', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 08:30
'2024-01-06 08:30', '1.393', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:30', '1.393', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 08:36
'2024-01-06 08:36', '1.367', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:36', '1.367', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 08:42
'2024-01-06 08:42', '1.348', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:42', '1.348', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 08:48
'2024-01-06 08:48', '1.325', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:48', '1.325', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 08:54
'2024-01-06 08:54', '1.302', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 08:54', '1.302', '0.007', '0', '0', '0', '0', 'v')
2024-01-06 09:00
'2024-01-06 09:00', '1.282', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:00', '1.282', '0.003', '0', '0', '0', '0', 'v')
2024-01-06 09:06
'2024-01-06 09:06', '1.262', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:06', '1.262', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 09:12
'2024-01-06 09:12', '1.236', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:12', '1.236', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 09:18
'2024-01-06 09:18', '1.193', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:18', '1.193', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 09:24
'2024-01-06 09:24', '1.184', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:24', '1.184', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 09:30
'2024-01-06 09:30', '1.184', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:30', '1.184', '0.010', '0', '0', '0', '0', 'v')
2024-01-06 09:36
'2024-01-06 09:36', '1.170', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:36', '1.170', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 09:42
'2024-01-06 09:42', '1.151', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:42', '1.151', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 09:48
'2024-01-06 09:48', '1.157', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:48', '1.157', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 09:54
'2024-01-06 09:54', '1.138', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 09:54', '1.138', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 10:00
'2024-01-06 10:00', '1.115', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:00', '1.115', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 10:06
'2024-01-06 10:06', '1.105', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:06', '1.105', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 10:12
'2024-01-06 10:12', '1.092', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:12', '1.092', '0.023', '0', '0', '0', '0', 'v')
2024-01-06 10:18
'2024-01-06 10:18', '1.092', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:18', '1.092', '0.026', '0', '0', '0', '0', 'v')
2024-01-06 10:24
'2024-01-06 10:24', '1.079', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:24', '1.079', '0.030', '0', '0', '0', '0', 'v')
2024-01-06 10:30
'2024-01-06 10:30', '1.082', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:30', '1.082', '0.030', '0', '0', '0', '0', 'v')
2024-01-06 10:36
'2024-01-06 10:36', '1.088', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:36', '1.088', '0.036', '0', '0', '0', '0', 'v')
2024-01-06 10:42
'2024-01-06 10:42', '1.082', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:42', '1.082', '0.033', '0', '0', '0', '0', 'v')
2024-01-06 10:48
'2024-01-06 10:48', '1.095', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:48', '1.095', '0.030', '0', '0', '0', '0', 'v')
2024-01-06 10:54
'2024-01-06 10:54', '1.095', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 10:54', '1.095', '0.026', '0', '0', '0', '0', 'v')
2024-01-06 11:00
'2024-01-06 11:00', '1.115', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 11:00', '1.115', '0.026', '0', '0', '0', '0', 'v')
2024-01-06 11:06
'2024-01-06 11:06', '1.134', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 11:06', '1.134', '0.026', '0', '0', '0', '0', 'v')
2024-01-06 11:12
'2024-01-06 11:12', '1.151', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 11:12', '1.151', '0.020', '0', '0', '0', '0', 'v')
2024-01-06 11:18
'2024-01-06 11:18', '1.193', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 11:18', '1.193', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 11:24
'2024-01-06 11:24', '1.220', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 11:24', '1.220', '0.013', '0', '0', '0', '0', 'v')
2024-01-06 11:30
'2024-01-06 11:30', '1.233', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 11:30', '1.233', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 11:36
'2024-01-06 11:36', '1.252', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 11:36', '1.252', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 11:42
'2024-01-06 11:42', '1.285', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 11:42', '1.285', '0.016', '0', '0', '0', '0', 'v')
2024-01-06 11:48

2024-01-06 15:54
'2024-01-06 15:54', '2.643', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 15:54', '2.643', '0.036', '0', '0', '0', '0', 'v')
2024-01-06 16:00
'2024-01-06 16:00', '2.650', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:00', '2.650', '0.033', '0', '0', '0', '0', 'v')
2024-01-06 16:06
'2024-01-06 16:06', '2.663', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:06', '2.663', '0.039', '0', '0', '0', '0', 'v')
2024-01-06 16:12
'2024-01-06 16:12', '2.666', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:12', '2.666', '0.030', '0', '0', '0', '0', 'v')
2024-01-06 16:18
'2024-01-06 16:18', '2.673', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:18', '2.673', '0.033', '0', '0', '0', '0', 'v')
2024-01-06 16:24
'2024-01-06 16:24', '2.666', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:24', '2.666', '0.033', '0', '0', '0', '0', 'v')
2024-01-06 16:30
'2024-01-06 16:30', '2.673', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:30', '2.673', '0.033', '0', '0', '0', '0', 'v')
2024-01-06 16:36
'2024-01-06 16:36', '2.676', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:36', '2.676', '0.039', '0', '0', '0', '0', 'v')
2024-01-06 16:42
'2024-01-06 16:42', '2.680', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:42', '2.680', '0.033', '0', '0', '0', '0', 'v')
2024-01-06 16:48
'2024-01-06 16:48', '2.670', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:48', '2.670', '0.033', '0', '0', '0', '0', 'v')
2024-01-06 16:54
'2024-01-06 16:54', '2.663', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 16:54', '2.663', '0.039', '0', '0', '0', '0', 'v')
2024-01-06 17:00
'2024-01-06 17:00', '2.657', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:00', '2.657', '0.036', '0', '0', '0', '0', 'v')
2024-01-06 17:06
'2024-01-06 17:06', '2.637', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:06', '2.637', '0.036', '0', '0', '0', '0', 'v')
2024-01-06 17:12
'2024-01-06 17:12', '2.640', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:12', '2.640', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 17:18
'2024-01-06 17:18', '2.624', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:18', '2.624', '0.039', '0', '0', '0', '0', 'v')
2024-01-06 17:24
'2024-01-06 17:24', '2.614', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:24', '2.614', '0.036', '0', '0', '0', '0', 'v')
2024-01-06 17:30
'2024-01-06 17:30', '2.598', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:30', '2.598', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 17:36
'2024-01-06 17:36', '2.571', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:36', '2.571', '0.039', '0', '0', '0', '0', 'v')
2024-01-06 17:42
'2024-01-06 17:42', '2.532', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:42', '2.532', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 17:48
'2024-01-06 17:48', '2.529', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:48', '2.529', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 17:54
'2024-01-06 17:54', '2.502', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 17:54', '2.502', '0.039', '0', '0', '0', '0', 'v')
2024-01-06 18:00
'2024-01-06 18:00', '2.483', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:00', '2.483', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 18:06
'2024-01-06 18:06', '2.450', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:06', '2.450', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 18:12
'2024-01-06 18:12', '2.437', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:12', '2.437', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 18:18
'2024-01-06 18:18', '2.417', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:18', '2.417', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 18:24
'2024-01-06 18:24', '2.384', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:24', '2.384', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 18:30
'2024-01-06 18:30', '2.361', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:30', '2.361', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 18:36
'2024-01-06 18:36', '2.335', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:36', '2.335', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 18:42
'2024-01-06 18:42', '2.306', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:42', '2.306', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 18:48
'2024-01-06 18:48', '2.289', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:48', '2.289', '0.039', '0', '0', '0', '0', 'v')
2024-01-06 18:54
'2024-01-06 18:54', '2.263', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 18:54', '2.263', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 19:00
'2024-01-06 19:00', '2.253', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:00', '2.253', '0.052', '0', '0', '0', '0', 'v')
2024-01-06 19:06
'2024-01-06 19:06', '2.201', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:06', '2.201', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 19:12
'2024-01-06 19:12', '2.184', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:12', '2.184', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 19:18
'2024-01-06 19:18', '2.164', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:18', '2.164', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 19:24
'2024-01-06 19:24', '2.142', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:24', '2.142', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 19:30
'2024-01-06 19:30', '2.119', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:30', '2.119', '0.039', '0', '0', '0', '0', 'v')
2024-01-06 19:36
'2024-01-06 19:36', '2.102', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:36', '2.102', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 19:42
'2024-01-06 19:42', '2.086', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:42', '2.086', '0.039', '0', '0', '0', '0', 'v')
2024-01-06 19:48
'2024-01-06 19:48', '2.050', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:48', '2.050', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 19:54
'2024-01-06 19:54', '2.037', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 19:54', '2.037', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 20:00
'2024-01-06 20:00', '2.027', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:00', '2.027', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 20:06
'2024-01-06 20:06', '2.014', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:06', '2.014', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 20:12
'2024-01-06 20:12', '1.994', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:12', '1.994', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 20:18
'2024-01-06 20:18', '1.968', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:18', '1.968', '0.056', '0', '0', '0', '0', 'v')
2024-01-06 20:24
'2024-01-06 20:24', '1.932', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:24', '1.932', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 20:30
'2024-01-06 20:30', '1.909', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:30', '1.909', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 20:36
'2024-01-06 20:36', '1.899', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:36', '1.899', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 20:42
'2024-01-06 20:42', '1.869', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:42', '1.869', '0.059', '0', '0', '0', '0', 'v')
2024-01-06 20:48
'2024-01-06 20:48', '1.863', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:48', '1.863', '0.056', '0', '0', '0', '0', 'v')
2024-01-06 20:54
'2024-01-06 20:54', '1.843', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 20:54', '1.843', '0.052', '0', '0', '0', '0', 'v')
2024-01-06 21:00
'2024-01-06 21:00', '1.820', '0.217', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:00', '1.820', '0.217', '0', '0', '0', '0', 'v')
2024-01-06 21:06
'2024-01-06 21:06', '1.794', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:06', '1.794', '0.052', '0', '0', '0', '0', 'v')
2024-01-06 21:12
'2024-01-06 21:12', '1.764', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:12', '1.764', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 21:18
'2024-01-06 21:18', '1.754', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:18', '1.754', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 21:24
'2024-01-06 21:24', '1.751', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:24', '1.751', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 21:30
'2024-01-06 21:30', '1.745', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:30', '1.745', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 21:36
'2024-01-06 21:36', '1.731', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:36', '1.731', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 21:42
'2024-01-06 21:42', '1.728', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:42', '1.728', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 21:48
'2024-01-06 21:48', '1.718', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:48', '1.718', '0.052', '0', '0', '0', '0', 'v')
2024-01-06 21:54
'2024-01-06 21:54', '1.702', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 21:54', '1.702', '0.052', '0', '0', '0', '0', 'v')
2024-01-06 22:00
'2024-01-06 22:00', '1.702', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:00', '1.702', '0.062', '0', '0', '0', '0', 'v')
2024-01-06 22:06
'2024-01-06 22:06', '1.679', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:06', '1.679', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 22:12
'2024-01-06 22:12', '1.669', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:12', '1.669', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 22:18
'2024-01-06 22:18', '1.669', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:18', '1.669', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 22:24
'2024-01-06 22:24', '1.663', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:24', '1.663', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 22:30
'2024-01-06 22:30', '1.666', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:30', '1.666', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 22:36
'2024-01-06 22:36', '1.659', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:36', '1.659', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 22:42
'2024-01-06 22:42', '1.649', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:42', '1.649', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 22:48
'2024-01-06 22:48', '1.623', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:48', '1.623', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 22:54
'2024-01-06 22:54', '1.617', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 22:54', '1.617', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 23:00
'2024-01-06 23:00', '1.603', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:00', '1.603', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 23:06
'2024-01-06 23:06', '1.597', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:06', '1.597', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 23:12
'2024-01-06 23:12', '1.574', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:12', '1.574', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 23:18
'2024-01-06 23:18', '1.561', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:18', '1.561', '0.049', '0', '0', '0', '0', 'v')
2024-01-06 23:24
'2024-01-06 23:24', '1.584', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:24', '1.584', '0.043', '0', '0', '0', '0', 'v')
2024-01-06 23:30
'2024-01-06 23:30', '1.603', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:30', '1.603', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 23:36
'2024-01-06 23:36', '1.580', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:36', '1.580', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 23:42
'2024-01-06 23:42', '1.623', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:42', '1.623', '0.046', '0', '0', '0', '0', 'v')
2024-01-06 23:48
'2024-01-06 23:48', '1.633', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:48', '1.633', '0.059', '0', '0', '0', '0', 'v')
2024-01-06 23:54
'2024-01-06 23:54', '1.679', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-06 23:54', '1.679', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 00:00
'2024-01-07 00:00', '1.705', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:00', '1.705', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 00:06
'2024-01-07 00:06', '1.728', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:06', '1.728', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 00:12
'2024-01-07 00:12', '1.807', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:12', '1.807', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 00:18
'2024-01-07 00:18', '1.859', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:18', '1.859', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 00:24
'2024-01-07 00:24', '1.899', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:24', '1.899', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 00:30
'2024-01-07 00:30', '1.997', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:30', '1.997', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 00:36
'2024-01-07 00:36', '2.043', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:36', '2.043', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 00:42
'2024-01-07 00:42', '2.102', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:42', '2.102', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 00:48
'2024-01-07 00:48', '2.148', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:48', '2.148', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 00:54
'2024-01-07 00:54', '2.210', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 00:54', '2.210', '0.023', '0', '0', '0', '0', 'v')
2024-01-07 01:00
'2024-01-07 01:00', '2.276', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:00', '2.276', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 01:06
'2024-01-07 01:06', '2.342', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:06', '2.342', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 01:12
'2024-01-07 01:12', '2.401', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:12', '2.401', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 01:18
'2024-01-07 01:18', '2.463', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:18', '2.463', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 01:24
'2024-01-07 01:24', '2.538', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:24', '2.538', '0.059', '0', '0', '0', '0', 'v')
2024-01-07 01:30
'2024-01-07 01:30', '2.594', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:30', '2.594', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 01:36
'2024-01-07 01:36', '2.643', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:36', '2.643', '0.062', '0', '0', '0', '0', 'v')
2024-01-07 01:42
'2024-01-07 01:42', '2.709', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:42', '2.709', '0.056', '0', '0', '0', '0', 'v')
2024-01-07 01:48
'2024-01-07 01:48', '2.758', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:48', '2.758', '0.056', '0', '0', '0', '0', 'v')
2024-01-07 01:54
'2024-01-07 01:54', '2.801', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 01:54', '2.801', '0.059', '0', '0', '0', '0', 'v')
2024-01-07 02:00
'2024-01-07 02:00', '2.837', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:00', '2.837', '0.056', '0', '0', '0', '0', 'v')
2024-01-07 02:06
'2024-01-07 02:06', '2.880', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:06', '2.880', '0.059', '0', '0', '0', '0', 'v')
2024-01-07 02:12
'2024-01-07 02:12', '2.916', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:12', '2.916', '0.059', '0', '0', '0', '0', 'v')
2024-01-07 02:18
'2024-01-07 02:18', '2.935', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:18', '2.935', '0.052', '0', '0', '0', '0', 'v')
2024-01-07 02:24
'2024-01-07 02:24', '2.975', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:24', '2.975', '0.062', '0', '0', '0', '0', 'v')
2024-01-07 02:30
'2024-01-07 02:30', '3.001', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:30', '3.001', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 02:36
'2024-01-07 02:36', '2.998', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:36', '2.998', '0.056', '0', '0', '0', '0', 'v')
2024-01-07 02:42
'2024-01-07 02:42', '2.995', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:42', '2.995', '0.052', '0', '0', '0', '0', 'v')
2024-01-07 02:48
'2024-01-07 02:48', '3.001', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:48', '3.001', '0.062', '0', '0', '0', '0', 'v')
2024-01-07 02:54
'2024-01-07 02:54', '2.998', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 02:54', '2.998', '0.052', '0', '0', '0', '0', 'v')
2024-01-07 03:00
'2024-01-07 03:00', '2.998', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 03:00', '2.998', '0.056', '0', '0', '0', '0', 'v')
2024-01-07 03:06
'2024-01-07 03:06', '2.988', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 03:06', '2.988', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 03:12
'2024-01-07 03:12', '3.004', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 03:12', '3.004', '0.056', '0', '0', '0', '0', 'v')
2024-01-07 03:18
'2024-01-07 03:18', '2.985', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 03:18', '2.985', '0.056', '0', '0', '0', '0', 'v')
2024-01-07 03:24
'2024-01-07 03:24', '2.995', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 03:24', '2.995', '0.052', '0', '0', '0', '0', 'v')
2024-01-07 03:30

2024-01-07 05:36
'2024-01-07 05:36', '2.899', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 05:36', '2.899', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 05:42
'2024-01-07 05:42', '2.863', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 05:42', '2.863', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 05:48
'2024-01-07 05:48', '2.837', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 05:48', '2.837', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 05:54
'2024-01-07 05:54', '2.808', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 05:54', '2.808', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 06:00
'2024-01-07 06:00', '2.781', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:00', '2.781', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 06:06
'2024-01-07 06:06', '2.752', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:06', '2.752', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 06:12
'2024-01-07 06:12', '2.709', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:12', '2.709', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 06:18
'2024-01-07 06:18', '2.693', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:18', '2.693', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 06:24
'2024-01-07 06:24', '2.653', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:24', '2.653', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 06:30
'2024-01-07 06:30', '2.624', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:30', '2.624', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 06:36
'2024-01-07 06:36', '2.591', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:36', '2.591', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 06:42
'2024-01-07 06:42', '2.558', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:42', '2.558', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 06:48
'2024-01-07 06:48', '2.529', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:48', '2.529', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 06:54
'2024-01-07 06:54', '2.502', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 06:54', '2.502', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 07:00
'2024-01-07 07:00', '2.466', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:00', '2.466', '0.056', '0', '0', '0', '0', 'v')
2024-01-07 07:06
'2024-01-07 07:06', '2.430', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:06', '2.430', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 07:12
'2024-01-07 07:12', '2.384', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:12', '2.384', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 07:18
'2024-01-07 07:18', '2.348', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:18', '2.348', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 07:24
'2024-01-07 07:24', '2.315', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:24', '2.315', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 07:30
'2024-01-07 07:30', '2.273', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:30', '2.273', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 07:36
'2024-01-07 07:36', '2.250', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:36', '2.250', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 07:42
'2024-01-07 07:42', '2.201', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:42', '2.201', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 07:48
'2024-01-07 07:48', '2.174', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:48', '2.174', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 07:54
'2024-01-07 07:54', '2.132', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 07:54', '2.132', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 08:00
'2024-01-07 08:00', '2.105', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:00', '2.105', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 08:06
'2024-01-07 08:06', '2.066', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:06', '2.066', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 08:12
'2024-01-07 08:12', '2.027', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:12', '2.027', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 08:18
'2024-01-07 08:18', '1.981', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:18', '1.981', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 08:24
'2024-01-07 08:24', '1.948', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:24', '1.948', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 08:30
'2024-01-07 08:30', '1.909', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:30', '1.909', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 08:36
'2024-01-07 08:36', '1.882', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:36', '1.882', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 08:42
'2024-01-07 08:42', '1.850', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:42', '1.850', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 08:48
'2024-01-07 08:48', '1.813', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:48', '1.813', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 08:54
'2024-01-07 08:54', '1.771', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 08:54', '1.771', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 09:00
'2024-01-07 09:00', '1.748', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:00', '1.748', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 09:06
'2024-01-07 09:06', '1.722', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:06', '1.722', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 09:12
'2024-01-07 09:12', '1.689', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:12', '1.689', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 09:18
'2024-01-07 09:18', '1.656', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:18', '1.656', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 09:24
'2024-01-07 09:24', '1.626', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:24', '1.626', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 09:30
'2024-01-07 09:30', '1.594', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:30', '1.594', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 09:36
'2024-01-07 09:36', '1.561', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:36', '1.561', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 09:42
'2024-01-07 09:42', '1.521', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:42', '1.521', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 09:48
'2024-01-07 09:48', '1.489', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:48', '1.489', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 09:54
'2024-01-07 09:54', '1.459', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 09:54', '1.459', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 10:00
'2024-01-07 10:00', '1.430', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:00', '1.430', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 10:06
'2024-01-07 10:06', '1.413', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:06', '1.413', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 10:12
'2024-01-07 10:12', '1.387', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:12', '1.387', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 10:18
'2024-01-07 10:18', '1.367', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:18', '1.367', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 10:24
'2024-01-07 10:24', '1.351', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:24', '1.351', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 10:30
'2024-01-07 10:30', '1.328', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:30', '1.328', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 10:36
'2024-01-07 10:36', '1.318', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:36', '1.318', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 10:42
'2024-01-07 10:42', '1.302', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:42', '1.302', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 10:48
'2024-01-07 10:48', '1.288', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:48', '1.288', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 10:54
'2024-01-07 10:54', '1.272', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 10:54', '1.272', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 11:00
'2024-01-07 11:00', '1.262', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:00', '1.262', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 11:06
'2024-01-07 11:06', '1.256', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:06', '1.256', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 11:12
'2024-01-07 11:12', '1.243', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:12', '1.243', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 11:18
'2024-01-07 11:18', '1.236', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:18', '1.236', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 11:24
'2024-01-07 11:24', '1.213', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:24', '1.213', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 11:30
'2024-01-07 11:30', '1.206', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:30', '1.206', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 11:36
'2024-01-07 11:36', '1.200', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:36', '1.200', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 11:42
'2024-01-07 11:42', '1.203', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:42', '1.203', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 11:48
'2024-01-07 11:48', '1.210', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:48', '1.210', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 11:54
'2024-01-07 11:54', '1.210', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 11:54', '1.210', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 12:00
'2024-01-07 12:00', '1.213', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:00', '1.213', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 12:06
'2024-01-07 12:06', '1.210', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:06', '1.210', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 12:12
'2024-01-07 12:12', '1.206', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:12', '1.206', '0.023', '0', '0', '0', '0', 'v')
2024-01-07 12:18
'2024-01-07 12:18', '1.223', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:18', '1.223', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 12:24
'2024-01-07 12:24', '1.233', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:24', '1.233', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 12:30
'2024-01-07 12:30', '1.249', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:30', '1.249', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 12:36
'2024-01-07 12:36', '1.269', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:36', '1.269', '0.023', '0', '0', '0', '0', 'v')
2024-01-07 12:42
'2024-01-07 12:42', '1.285', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:42', '1.285', '0.023', '0', '0', '0', '0', 'v')
2024-01-07 12:48
'2024-01-07 12:48', '1.302', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:48', '1.302', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 12:54
'2024-01-07 12:54', '1.321', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 12:54', '1.321', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 13:00
'2024-01-07 13:00', '1.338', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:00', '1.338', '0.023', '0', '0', '0', '0', 'v')
2024-01-07 13:06
'2024-01-07 13:06', '1.371', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:06', '1.371', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 13:12
'2024-01-07 13:12', '1.397', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:12', '1.397', '0.023', '0', '0', '0', '0', 'v')
2024-01-07 13:18
'2024-01-07 13:18', '1.423', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:18', '1.423', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 13:24
'2024-01-07 13:24', '1.453', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:24', '1.453', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 13:30
'2024-01-07 13:30', '1.476', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:30', '1.476', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 13:36
'2024-01-07 13:36', '1.508', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:36', '1.508', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 13:42
'2024-01-07 13:42', '1.538', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:42', '1.538', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 13:48
'2024-01-07 13:48', '1.580', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:48', '1.580', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 13:54
'2024-01-07 13:54', '1.620', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 13:54', '1.620', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 14:00
'2024-01-07 14:00', '1.656', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:00', '1.656', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 14:06
'2024-01-07 14:06', '1.695', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:06', '1.695', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 14:12
'2024-01-07 14:12', '1.741', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:12', '1.741', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 14:18
'2024-01-07 14:18', '1.784', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:18', '1.784', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 14:24
'2024-01-07 14:24', '1.817', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:24', '1.817', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 14:30
'2024-01-07 14:30', '1.869', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:30', '1.869', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 14:36
'2024-01-07 14:36', '1.925', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:36', '1.925', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 14:42
'2024-01-07 14:42', '1.968', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:42', '1.968', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 14:48
'2024-01-07 14:48', '2.004', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:48', '2.004', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 14:54
'2024-01-07 14:54', '2.069', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 14:54', '2.069', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 15:00
'2024-01-07 15:00', '2.112', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:00', '2.112', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 15:06
'2024-01-07 15:06', '2.155', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:06', '2.155', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 15:12
'2024-01-07 15:12', '2.184', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:12', '2.184', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 15:18
'2024-01-07 15:18', '2.224', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:18', '2.224', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 15:24
'2024-01-07 15:24', '2.256', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:24', '2.256', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 15:30
'2024-01-07 15:30', '2.292', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:30', '2.292', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 15:36
'2024-01-07 15:36', '2.325', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:36', '2.325', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 15:42
'2024-01-07 15:42', '2.368', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:42', '2.368', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 15:48
'2024-01-07 15:48', '2.388', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:48', '2.388', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 15:54
'2024-01-07 15:54', '2.427', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 15:54', '2.427', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 16:00
'2024-01-07 16:00', '2.466', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:00', '2.466', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 16:06
'2024-01-07 16:06', '2.486', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:06', '2.486', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 16:12
'2024-01-07 16:12', '2.519', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:12', '2.519', '0.023', '0', '0', '0', '0', 'v')

2024-01-07 16:18
'2024-01-07 16:18', '2.545', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:18', '2.545', '0.023', '0', '0', '0', '0', 'v')
2024-01-07 16:24
'2024-01-07 16:24', '2.565', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:24', '2.565', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 16:30
'2024-01-07 16:30', '2.598', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:30', '2.598', '0.020', '0', '0', '0', '0', 'v')
2024-01-07 16:36
'2024-01-07 16:36', '2.621', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:36', '2.621', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 16:42
'2024-01-07 16:42', '2.637', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:42', '2.637', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 16:48
'2024-01-07 16:48', '2.650', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:48', '2.650', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 16:54
'2024-01-07 16:54', '2.663', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 16:54', '2.663', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 17:00
'2024-01-07 17:00', '2.680', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:00', '2.680', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 17:06
'2024-01-07 17:06', '2.683', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:06', '2.683', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 17:12
'2024-01-07 17:12', '2.689', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:12', '2.689', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 17:18
'2024-01-07 17:18', '2.703', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:18', '2.703', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 17:24
'2024-01-07 17:24', '2.712', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:24', '2.712', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 17:30
'2024-01-07 17:30', '2.709', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:30', '2.709', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 17:36
'2024-01-07 17:36', '2.709', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:36', '2.709', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 17:42
'2024-01-07 17:42', '2.699', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:42', '2.699', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 17:48
'2024-01-07 17:48', '2.696', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:48', '2.696', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 17:54
'2024-01-07 17:54', '2.699', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 17:54', '2.699', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 18:00
'2024-01-07 18:00', '2.696', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:00', '2.696', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 18:06
'2024-01-07 18:06', '2.673', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:06', '2.673', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 18:12
'2024-01-07 18:12', '2.647', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:12', '2.647', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 18:18
'2024-01-07 18:18', '2.643', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:18', '2.643', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 18:24
'2024-01-07 18:24', '2.634', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:24', '2.634', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 18:30
'2024-01-07 18:30', '2.617', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:30', '2.617', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 18:36
'2024-01-07 18:36', '2.601', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:36', '2.601', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 18:42
'2024-01-07 18:42', '2.588', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:42', '2.588', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 18:48
'2024-01-07 18:48', '2.565', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:48', '2.565', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 18:54
'2024-01-07 18:54', '2.555', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 18:54', '2.555', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 19:00
'2024-01-07 19:00', '2.538', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:00', '2.538', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 19:06
'2024-01-07 19:06', '2.519', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:06', '2.519', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 19:12
'2024-01-07 19:12', '2.483', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:12', '2.483', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 19:18
'2024-01-07 19:18', '2.476', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:18', '2.476', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 19:24
'2024-01-07 19:24', '2.447', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:24', '2.447', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 19:30
'2024-01-07 19:30', '2.443', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:30', '2.443', '0.033', '0', '0', '0', '0', 'v')
2024-01-07 19:36
'2024-01-07 19:36', '2.430', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:36', '2.430', '0.030', '0', '0', '0', '0', 'v')
2024-01-07 19:42
'2024-01-07 19:42', '2.427', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:42', '2.427', '0.026', '0', '0', '0', '0', 'v')
2024-01-07 19:48
'2024-01-07 19:48', '2.404', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:48', '2.404', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 19:54
'2024-01-07 19:54', '2.365', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 19:54', '2.365', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 20:00
'2024-01-07 20:00', '2.351', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:00', '2.351', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 20:06
'2024-01-07 20:06', '2.335', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:06', '2.335', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 20:12
'2024-01-07 20:12', '2.315', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:12', '2.315', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 20:18
'2024-01-07 20:18', '2.299', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:18', '2.299', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 20:24
'2024-01-07 20:24', '2.263', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:24', '2.263', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 20:30
'2024-01-07 20:30', '2.240', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:30', '2.240', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 20:36
'2024-01-07 20:36', '2.230', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:36', '2.230', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 20:42
'2024-01-07 20:42', '2.210', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:42', '2.210', '0.052', '0', '0', '0', '0', 'v')
2024-01-07 20:48
'2024-01-07 20:48', '2.178', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:48', '2.178', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 20:54
'2024-01-07 20:54', '2.142', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 20:54', '2.142', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 21:00
'2024-01-07 21:00', '2.112', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:00', '2.112', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 21:06
'2024-01-07 21:06', '2.082', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:06', '2.082', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 21:12
'2024-01-07 21:12', '2.063', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:12', '2.063', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 21:18
'2024-01-07 21:18', '2.043', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:18', '2.043', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 21:24
'2024-01-07 21:24', '1.997', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:24', '1.997', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 21:30
'2024-01-07 21:30', '1.951', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:30', '1.951', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 21:36
'2024-01-07 21:36', '1.935', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:36', '1.935', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 21:42
'2024-01-07 21:42', '1.886', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:42', '1.886', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 21:48
'2024-01-07 21:48', '1.846', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:48', '1.846', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 21:54
'2024-01-07 21:54', '1.833', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 21:54', '1.833', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 22:00
'2024-01-07 22:00', '1.784', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:00', '1.784', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 22:06
'2024-01-07 22:06', '1.764', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:06', '1.764', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 22:12
'2024-01-07 22:12', '1.738', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:12', '1.738', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 22:18
'2024-01-07 22:18', '1.722', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:18', '1.722', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 22:24
'2024-01-07 22:24', '1.708', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:24', '1.708', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 22:30
'2024-01-07 22:30', '1.692', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:30', '1.692', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 22:36
'2024-01-07 22:36', '1.689', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:36', '1.689', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 22:42
'2024-01-07 22:42', '1.663', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:42', '1.663', '0.036', '0', '0', '0', '0', 'v')
2024-01-07 22:48
'2024-01-07 22:48', '1.640', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:48', '1.640', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 22:54
'2024-01-07 22:54', '1.600', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 22:54', '1.600', '0.043', '0', '0', '0', '0', 'v')
2024-01-07 23:00
'2024-01-07 23:00', '1.577', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:00', '1.577', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 23:06
'2024-01-07 23:06', '1.564', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:06', '1.564', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 23:12
'2024-01-07 23:12', '1.551', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:12', '1.551', '0.039', '0', '0', '0', '0', 'v')
2024-01-07 23:18
'2024-01-07 23:18', '1.554', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:18', '1.554', '0.056', '0', '0', '0', '0', 'v')
2024-01-07 23:24
'2024-01-07 23:24', '1.518', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:24', '1.518', '0.052', '0', '0', '0', '0', 'v')
2024-01-07 23:30
'2024-01-07 23:30', '1.518', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:30', '1.518', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 23:36
'2024-01-07 23:36', '1.505', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:36', '1.505', '0.052', '0', '0', '0', '0', 'v')
2024-01-07 23:42
'2024-01-07 23:42', '1.505', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:42', '1.505', '0.049', '0', '0', '0', '0', 'v')
2024-01-07 23:48
'2024-01-07 23:48', '1.492', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:48', '1.492', '0.046', '0', '0', '0', '0', 'v')
2024-01-07 23:54
'2024-01-07 23:54', '1.495', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-07 23:54', '1.495', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 00:00
'2024-01-08 00:00', '1.489', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:00', '1.489', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 00:06
'2024-01-08 00:06', '1.492', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:06', '1.492', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 00:12
'2024-01-08 00:12', '1.502', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:12', '1.502', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 00:18
'2024-01-08 00:18', '1.498', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:18', '1.498', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 00:24
'2024-01-08 00:24', '1.476', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:24', '1.476', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 00:30
'2024-01-08 00:30', '1.466', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:30', '1.466', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 00:36
'2024-01-08 00:36', '1.446', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:36', '1.446', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 00:42
'2024-01-08 00:42', '1.420', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:42', '1.420', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 00:48
'2024-01-08 00:48', '1.416', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:48', '1.416', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 00:54
'2024-01-08 00:54', '1.403', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 00:54', '1.403', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 01:00
'2024-01-08 01:00', '1.390', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:00', '1.390', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 01:06
'2024-01-08 01:06', '1.377', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:06', '1.377', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 01:12
'2024-01-08 01:12', '1.387', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:12', '1.387', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 01:18
'2024-01-08 01:18', '1.397', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:18', '1.397', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 01:24
'2024-01-08 01:24', '1.403', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:24', '1.403', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 01:30
'2024-01-08 01:30', '1.423', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:30', '1.423', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 01:36
'2024-01-08 01:36', '1.446', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:36', '1.446', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 01:42
'2024-01-08 01:42', '1.482', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:42', '1.482', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 01:48
'2024-01-08 01:48', '1.495', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:48', '1.495', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 01:54
'2024-01-08 01:54', '1.502', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 01:54', '1.502', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 02:00
'2024-01-08 02:00', '1.512', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:00', '1.512', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 02:06
'2024-01-08 02:06', '1.538', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:06', '1.538', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 02:12
'2024-01-08 02:12', '1.564', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:12', '1.564', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 02:18
'2024-01-08 02:18', '1.590', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:18', '1.590', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 02:24
'2024-01-08 02:24', '1.617', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:24', '1.617', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 02:30
'2024-01-08 02:30', '1.649', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:30', '1.649', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 02:36
'2024-01-08 02:36', '1.666', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:36', '1.666', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 02:42
'2024-01-08 02:42', '1.695', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:42', '1.695', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 02:48
'2024-01-08 02:48', '1.738', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:48', '1.738', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 02:54
'2024-01-08 02:54', '1.784', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 02:54', '1.784', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 03:00
'2024-01-08 03:00', '1.813', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 03:00', '1.813', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 03:06
'2024-01-08 03:06', '1.859', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 03:06', '1.859', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 03:12
'2024-01-08 03:12', '1.889', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 03:12', '1.889', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 03:18
'2024-01-08 03:18', '1.928', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 03:18', '1.928', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 03:24
'2024-01-08 03:24', '1.968', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 03:24', '1.968', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 03:30
'2024-01-08 03:30', '2.000', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 03:30', '2.000', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 03:36
'2024-01-08 03:36', '2.050', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 03:36', '2.050', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 03:42
'2024-01-08 03:42', '2.082', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 03:42', '2.082', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 03:48
'2024-01-08 03:48', '2.112', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 03:48', '2.112', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 03:54

2024-01-08 06:00
'2024-01-08 06:00', '2.401', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:00', '2.401', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 06:06
'2024-01-08 06:06', '2.397', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:06', '2.397', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 06:12
'2024-01-08 06:12', '2.378', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:12', '2.378', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 06:18
'2024-01-08 06:18', '2.361', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:18', '2.361', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 06:24
'2024-01-08 06:24', '2.335', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:24', '2.335', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 06:30
'2024-01-08 06:30', '2.306', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:30', '2.306', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 06:36
'2024-01-08 06:36', '2.283', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:36', '2.283', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 06:42
'2024-01-08 06:42', '2.253', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:42', '2.253', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 06:48
'2024-01-08 06:48', '2.227', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:48', '2.227', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 06:54
'2024-01-08 06:54', '2.187', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 06:54', '2.187', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 07:00
'2024-01-08 07:00', '2.174', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:00', '2.174', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 07:06
'2024-01-08 07:06', '2.145', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:06', '2.145', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 07:12
'2024-01-08 07:12', '2.145', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:12', '2.145', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 07:18
'2024-01-08 07:18', '2.099', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:18', '2.099', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 07:24
'2024-01-08 07:24', '2.069', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:24', '2.069', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 07:30
'2024-01-08 07:30', '2.046', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:30', '2.046', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 07:36
'2024-01-08 07:36', '2.017', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:36', '2.017', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 07:42
'2024-01-08 07:42', '1.997', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:42', '1.997', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 07:48
'2024-01-08 07:48', '1.951', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:48', '1.951', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 07:54
'2024-01-08 07:54', '1.895', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 07:54', '1.895', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 08:00
'2024-01-08 08:00', '1.853', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:00', '1.853', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 08:06
'2024-01-08 08:06', '1.817', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:06', '1.817', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 08:12
'2024-01-08 08:12', '1.774', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:12', '1.774', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 08:18
'2024-01-08 08:18', '1.731', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:18', '1.731', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 08:24
'2024-01-08 08:24', '1.699', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:24', '1.699', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 08:30
'2024-01-08 08:30', '1.659', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:30', '1.659', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 08:36
'2024-01-08 08:36', '1.623', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:36', '1.623', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 08:42
'2024-01-08 08:42', '1.587', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:42', '1.587', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 08:48
'2024-01-08 08:48', '1.561', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:48', '1.561', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 08:54
'2024-01-08 08:54', '1.531', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 08:54', '1.531', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 09:00
'2024-01-08 09:00', '1.505', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:00', '1.505', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 09:06
'2024-01-08 09:06', '1.479', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:06', '1.479', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 09:12
'2024-01-08 09:12', '1.443', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:12', '1.443', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 09:18
'2024-01-08 09:18', '1.416', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:18', '1.416', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 09:24
'2024-01-08 09:24', '1.393', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:24', '1.393', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 09:30
'2024-01-08 09:30', '1.351', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:30', '1.351', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 09:36
'2024-01-08 09:36', '1.311', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:36', '1.311', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 09:42
'2024-01-08 09:42', '1.288', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:42', '1.288', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 09:48
'2024-01-08 09:48', '1.259', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:48', '1.259', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 09:54
'2024-01-08 09:54', '1.226', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 09:54', '1.226', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 10:00
'2024-01-08 10:00', '1.213', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:00', '1.213', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 10:06
'2024-01-08 10:06', '1.187', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:06', '1.187', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 10:12
'2024-01-08 10:12', '1.167', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:12', '1.167', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 10:18
'2024-01-08 10:18', '1.141', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:18', '1.141', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 10:24
'2024-01-08 10:24', '1.118', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:24', '1.118', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 10:30
'2024-01-08 10:30', '1.085', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:30', '1.085', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 10:36
'2024-01-08 10:36', '1.065', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:36', '1.065', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 10:42
'2024-01-08 10:42', '1.046', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:42', '1.046', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 10:48
'2024-01-08 10:48', '1.019', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:48', '1.019', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 10:54
'2024-01-08 10:54', '1.000', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 10:54', '1.000', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 11:00
'2024-01-08 11:00', '0.974', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:00', '0.974', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 11:06
'2024-01-08 11:06', '0.967', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:06', '0.967', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 11:12
'2024-01-08 11:12', '0.931', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:12', '0.931', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 11:18
'2024-01-08 11:18', '0.928', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:18', '0.928', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 11:24
'2024-01-08 11:24', '0.914', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:24', '0.914', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 11:30
'2024-01-08 11:30', '0.901', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:30', '0.901', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 11:36
'2024-01-08 11:36', '0.885', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:36', '0.885', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 11:42
'2024-01-08 11:42', '0.865', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:42', '0.865', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 11:48
'2024-01-08 11:48', '0.846', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:48', '0.846', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 11:54
'2024-01-08 11:54', '0.849', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 11:54', '0.849', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 12:00
'2024-01-08 12:00', '0.839', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:00', '0.839', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 12:06
'2024-01-08 12:06', '0.852', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:06', '0.852', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 12:12
'2024-01-08 12:12', '0.842', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:12', '0.842', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 12:18
'2024-01-08 12:18', '0.842', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:18', '0.842', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 12:24
'2024-01-08 12:24', '0.842', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:24', '0.842', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 12:30
'2024-01-08 12:30', '0.836', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:30', '0.836', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 12:36
'2024-01-08 12:36', '0.852', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:36', '0.852', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 12:42
'2024-01-08 12:42', '0.849', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:42', '0.849', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 12:48
'2024-01-08 12:48', '0.859', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:48', '0.859', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 12:54
'2024-01-08 12:54', '0.869', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 12:54', '0.869', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 13:00
'2024-01-08 13:00', '0.882', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:00', '0.882', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 13:06
'2024-01-08 13:06', '0.895', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:06', '0.895', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 13:12
'2024-01-08 13:12', '0.911', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:12', '0.911', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 13:18
'2024-01-08 13:18', '0.941', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:18', '0.941', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 13:24
'2024-01-08 13:24', '0.957', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:24', '0.957', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 13:30
'2024-01-08 13:30', '0.990', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:30', '0.990', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 13:36
'2024-01-08 13:36', '1.029', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:36', '1.029', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 13:42
'2024-01-08 13:42', '1.049', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:42', '1.049', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 13:48
'2024-01-08 13:48', '1.079', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:48', '1.079', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 13:54
'2024-01-08 13:54', '1.111', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 13:54', '1.111', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 14:00
'2024-01-08 14:00', '1.134', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:00', '1.134', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 14:06
'2024-01-08 14:06', '1.180', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:06', '1.180', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 14:12
'2024-01-08 14:12', '1.220', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:12', '1.220', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 14:18
'2024-01-08 14:18', '1.249', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:18', '1.249', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 14:24
'2024-01-08 14:24', '1.311', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:24', '1.311', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 14:30
'2024-01-08 14:30', '1.338', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:30', '1.338', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 14:36
'2024-01-08 14:36', '1.387', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:36', '1.387', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 14:42
'2024-01-08 14:42', '1.423', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:42', '1.423', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 14:48
'2024-01-08 14:48', '1.462', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:48', '1.462', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 14:54
'2024-01-08 14:54', '1.502', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 14:54', '1.502', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 15:00
'2024-01-08 15:00', '1.544', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:00', '1.544', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 15:06
'2024-01-08 15:06', '1.580', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:06', '1.580', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 15:12
'2024-01-08 15:12', '1.633', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:12', '1.633', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 15:18
'2024-01-08 15:18', '1.669', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:18', '1.669', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 15:24
'2024-01-08 15:24', '1.705', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:24', '1.705', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 15:30
'2024-01-08 15:30', '1.764', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:30', '1.764', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 15:36
'2024-01-08 15:36', '1.794', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:36', '1.794', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 15:42
'2024-01-08 15:42', '1.853', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:42', '1.853', '0.052', '0', '0', '0', '0', 'v')
2024-01-08 15:48
'2024-01-08 15:48', '1.905', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:48', '1.905', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 15:54
'2024-01-08 15:54', '1.938', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 15:54', '1.938', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 16:00
'2024-01-08 16:00', '1.994', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:00', '1.994', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 16:06
'2024-01-08 16:06', '2.017', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:06', '2.017', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 16:12
'2024-01-08 16:12', '2.053', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:12', '2.053', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 16:18
'2024-01-08 16:18', '2.082', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:18', '2.082', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 16:24
'2024-01-08 16:24', '2.122', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:24', '2.122', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 16:30
'2024-01-08 16:30', '2.145', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:30', '2.145', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 16:36
'2024-01-08 16:36', '2.174', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:36', '2.174', '0.046', '0', '0', '0', '0', 'v')
2024-01-08 16:42
'2024-01-08 16:42', '2.220', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:42', '2.220', '0.049', '0', '0', '0', '0', 'v')
2024-01-08 16:48
'2024-01-08 16:48', '2.243', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:48', '2.243', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 16:54
'2024-01-08 16:54', '2.279', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 16:54', '2.279', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 17:00
'2024-01-08 17:00', '2.309', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 17:00', '2.309', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 17:06
'2024-01-08 17:06', '2.322', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 17:06', '2.322', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 17:12
'2024-01-08 17:12', '2.345', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 17:12', '2.345', '0.043', '0', '0', '0', '0', 'v')
2024-01-08 17:18
'2024-01-08 17:18', '2.371', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 17:18', '2.371', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 17:24
'2024-01-08 17:24', '2.394', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 17:24', '2.394', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 17:30
'2024-01-08 17:30', '2.401', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 17:30', '2.401', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 17:36

2024-01-08 19:36
'2024-01-08 19:36', '2.397', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 19:36', '2.397', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 19:42
'2024-01-08 19:42', '2.371', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 19:42', '2.371', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 19:48
'2024-01-08 19:48', '2.361', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 19:48', '2.361', '0.039', '0', '0', '0', '0', 'v')
2024-01-08 19:54
'2024-01-08 19:54', '2.345', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 19:54', '2.345', '0.030', '0', '0', '0', '0', 'v')
2024-01-08 20:00
'2024-01-08 20:00', '2.315', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:00', '2.315', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 20:06
'2024-01-08 20:06', '2.289', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:06', '2.289', '0.030', '0', '0', '0', '0', 'v')
2024-01-08 20:12
'2024-01-08 20:12', '2.263', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:12', '2.263', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 20:18
'2024-01-08 20:18', '2.243', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:18', '2.243', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 20:24
'2024-01-08 20:24', '2.220', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:24', '2.220', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 20:30
'2024-01-08 20:30', '2.191', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:30', '2.191', '0.023', '0', '0', '0', '0', 'v')
2024-01-08 20:36
'2024-01-08 20:36', '2.155', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:36', '2.155', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 20:42
'2024-01-08 20:42', '2.119', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:42', '2.119', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 20:48
'2024-01-08 20:48', '2.099', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:48', '2.099', '0.030', '0', '0', '0', '0', 'v')
2024-01-08 20:54
'2024-01-08 20:54', '2.069', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 20:54', '2.069', '0.026', '0', '0', '0', '0', 'v')
2024-01-08 21:00
'2024-01-08 21:00', '2.017', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:00', '2.017', '0.026', '0', '0', '0', '0', 'v')
2024-01-08 21:06
'2024-01-08 21:06', '1.991', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:06', '1.991', '0.030', '0', '0', '0', '0', 'v')
2024-01-08 21:12
'2024-01-08 21:12', '1.948', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:12', '1.948', '0.036', '0', '0', '0', '0', 'v')
2024-01-08 21:18
'2024-01-08 21:18', '1.925', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:18', '1.925', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 21:24
'2024-01-08 21:24', '1.895', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:24', '1.895', '0.033', '0', '0', '0', '0', 'v')
2024-01-08 21:30
'2024-01-08 21:30', '1.856', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:30', '1.856', '0.030', '0', '0', '0', '0', 'v')
2024-01-08 21:36
'2024-01-08 21:36', '1.827', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:36', '1.827', '0.026', '0', '0', '0', '0', 'v')
2024-01-08 21:42
'2024-01-08 21:42', '1.804', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:42', '1.804', '0.023', '0', '0', '0', '0', 'v')
2024-01-08 21:48
'2024-01-08 21:48', '1.777', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:48', '1.777', '0.020', '0', '0', '0', '0', 'v')
2024-01-08 21:54
'2024-01-08 21:54', '1.754', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 21:54', '1.754', '0.020', '0', '0', '0', '0', 'v')
2024-01-08 22:00
'2024-01-08 22:00', '1.722', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:00', '1.722', '0.020', '0', '0', '0', '0', 'v')
2024-01-08 22:06
'2024-01-08 22:06', '1.695', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:06', '1.695', '0.016', '0', '0', '0', '0', 'v')
2024-01-08 22:12
'2024-01-08 22:12', '1.676', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:12', '1.676', '0.016', '0', '0', '0', '0', 'v')
2024-01-08 22:18
'2024-01-08 22:18', '1.643', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:18', '1.643', '0.013', '0', '0', '0', '0', 'v')
2024-01-08 22:24
'2024-01-08 22:24', '1.613', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:24', '1.613', '0.013', '0', '0', '0', '0', 'v')
2024-01-08 22:30
'2024-01-08 22:30', '1.587', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:30', '1.587', '0.010', '0', '0', '0', '0', 'v')
2024-01-08 22:36
'2024-01-08 22:36', '1.558', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:36', '1.558', '0.010', '0', '0', '0', '0', 'v')
2024-01-08 22:42
'2024-01-08 22:42', '1.528', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:42', '1.528', '0.010', '0', '0', '0', '0', 'v')
2024-01-08 22:48
'2024-01-08 22:48', '1.502', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:48', '1.502', '0.007', '0', '0', '0', '0', 'v')
2024-01-08 22:54
'2024-01-08 22:54', '1.476', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 22:54', '1.476', '0.010', '0', '0', '0', '0', 'v')
2024-01-08 23:00
'2024-01-08 23:00', '1.449', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:00', '1.449', '0.007', '0', '0', '0', '0', 'v')
2024-01-08 23:06
'2024-01-08 23:06', '1.426', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:06', '1.426', '0.007', '0', '0', '0', '0', 'v')
2024-01-08 23:12
'2024-01-08 23:12', '1.400', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:12', '1.400', '0.007', '0', '0', '0', '0', 'v')
2024-01-08 23:18
'2024-01-08 23:18', '1.374', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:18', '1.374', '0.007', '0', '0', '0', '0', 'v')
2024-01-08 23:24
'2024-01-08 23:24', '1.351', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:24', '1.351', '0.010', '0', '0', '0', '0', 'v')
2024-01-08 23:30
'2024-01-08 23:30', '1.311', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:30', '1.311', '0.013', '0', '0', '0', '0', 'v')
2024-01-08 23:36
'2024-01-08 23:36', '1.282', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:36', '1.282', '0.016', '0', '0', '0', '0', 'v')
2024-01-08 23:42
'2024-01-08 23:42', '1.266', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:42', '1.266', '0.016', '0', '0', '0', '0', 'v')
2024-01-08 23:48
'2024-01-08 23:48', '1.256', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:48', '1.256', '0.013', '0', '0', '0', '0', 'v')
2024-01-08 23:54
'2024-01-08 23:54', '1.246', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-08 23:54', '1.246', '0.010', '0', '0', '0', '0', 'v')
2024-01-09 00:00
'2024-01-09 00:00', '1.223', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:00', '1.223', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 00:06
'2024-01-09 00:06', '1.213', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:06', '1.213', '0.010', '0', '0', '0', '0', 'v')
2024-01-09 00:12
'2024-01-09 00:12', '1.210', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:12', '1.210', '0.003', '0', '0', '0', '0', 'v')
2024-01-09 00:18
'2024-01-09 00:18', '1.203', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:18', '1.203', '0.003', '0', '0', '0', '0', 'v')
2024-01-09 00:24
'2024-01-09 00:24', '1.190', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:24', '1.190', '0.000', '0', '0', '0', '0', 'v')
2024-01-09 00:30
'2024-01-09 00:30', '1.180', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:30', '1.180', '0.003', '0', '0', '0', '0', 'v')
2024-01-09 00:36
'2024-01-09 00:36', '1.170', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:36', '1.170', '0.003', '0', '0', '0', '0', 'v')
2024-01-09 00:42
'2024-01-09 00:42', '1.164', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:42', '1.164', '0.003', '0', '0', '0', '0', 'v')
2024-01-09 00:48
'2024-01-09 00:48', '1.157', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:48', '1.157', '0.003', '0', '0', '0', '0', 'v')
2024-01-09 00:54
'2024-01-09 00:54', '1.151', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 00:54', '1.151', '0.000', '0', '0', '0', '0', 'v')
2024-01-09 01:00
'2024-01-09 01:00', '1.144', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:00', '1.144', '0.000', '0', '0', '0', '0', 'v')
2024-01-09 01:06
'2024-01-09 01:06', '1.144', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:06', '1.144', '0.000', '0', '0', '0', '0', 'v')
2024-01-09 01:12
'2024-01-09 01:12', '1.141', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:12', '1.141', '0.003', '0', '0', '0', '0', 'v')
2024-01-09 01:18
'2024-01-09 01:18', '1.111', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:18', '1.111', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 01:24
'2024-01-09 01:24', '1.101', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:24', '1.101', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 01:30
'2024-01-09 01:30', '1.101', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:30', '1.101', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 01:36
'2024-01-09 01:36', '1.101', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:36', '1.101', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 01:42
'2024-01-09 01:42', '1.098', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:42', '1.098', '0.026', '0', '0', '0', '0', 'v')
2024-01-09 01:48
'2024-01-09 01:48', '1.101', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:48', '1.101', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 01:54
'2024-01-09 01:54', '1.111', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 01:54', '1.111', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 02:00
'2024-01-09 02:00', '1.118', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:00', '1.118', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 02:06
'2024-01-09 02:06', '1.138', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:06', '1.138', '0.026', '0', '0', '0', '0', 'v')
2024-01-09 02:12
'2024-01-09 02:12', '1.151', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:12', '1.151', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 02:18
'2024-01-09 02:18', '1.174', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:18', '1.174', '0.030', '0', '0', '0', '0', 'v')
2024-01-09 02:24
'2024-01-09 02:24', '1.190', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:24', '1.190', '0.030', '0', '0', '0', '0', 'v')
2024-01-09 02:30
'2024-01-09 02:30', '1.213', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:30', '1.213', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 02:36
'2024-01-09 02:36', '1.243', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:36', '1.243', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 02:42
'2024-01-09 02:42', '1.275', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:42', '1.275', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 02:48
'2024-01-09 02:48', '1.288', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:48', '1.288', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 02:54
'2024-01-09 02:54', '1.308', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 02:54', '1.308', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 03:00
'2024-01-09 03:00', '1.348', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:00', '1.348', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 03:06
'2024-01-09 03:06', '1.377', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:06', '1.377', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 03:12
'2024-01-09 03:12', '1.403', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:12', '1.403', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 03:18
'2024-01-09 03:18', '1.433', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:18', '1.433', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 03:24
'2024-01-09 03:24', '1.469', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:24', '1.469', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 03:30
'2024-01-09 03:30', '1.502', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:30', '1.502', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 03:36
'2024-01-09 03:36', '1.551', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:36', '1.551', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 03:42
'2024-01-09 03:42', '1.584', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:42', '1.584', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 03:48
'2024-01-09 03:48', '1.620', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:48', '1.620', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 03:54
'2024-01-09 03:54', '1.669', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 03:54', '1.669', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 04:00
'2024-01-09 04:00', '1.708', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:00', '1.708', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 04:06
'2024-01-09 04:06', '1.761', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:06', '1.761', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 04:12
'2024-01-09 04:12', '1.784', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:12', '1.784', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 04:18
'2024-01-09 04:18', '1.820', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:18', '1.820', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 04:24
'2024-01-09 04:24', '1.856', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:24', '1.856', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 04:30
'2024-01-09 04:30', '1.902', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:30', '1.902', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 04:36
'2024-01-09 04:36', '1.945', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:36', '1.945', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 04:42
'2024-01-09 04:42', '1.974', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:42', '1.974', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 04:48
'2024-01-09 04:48', '2.017', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:48', '2.017', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 04:54
'2024-01-09 04:54', '2.043', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 04:54', '2.043', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 05:00
'2024-01-09 05:00', '2.079', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:00', '2.079', '0.016', '0', '0', '0', '0', 'v')
2024-01-09 05:06
'2024-01-09 05:06', '2.112', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:06', '2.112', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 05:12
'2024-01-09 05:12', '2.145', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:12', '2.145', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 05:18
'2024-01-09 05:18', '2.171', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:18', '2.171', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 05:24
'2024-01-09 05:24', '2.201', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:24', '2.201', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 05:30
'2024-01-09 05:30', '2.224', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:30', '2.224', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 05:36
'2024-01-09 05:36', '2.266', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:36', '2.266', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 05:42
'2024-01-09 05:42', '2.292', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:42', '2.292', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 05:48
'2024-01-09 05:48', '2.315', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:48', '2.315', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 05:54
'2024-01-09 05:54', '2.332', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 05:54', '2.332', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 06:00
'2024-01-09 06:00', '2.351', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:00', '2.351', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 06:06
'2024-01-09 06:06', '2.371', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:06', '2.371', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 06:12
'2024-01-09 06:12', '2.384', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:12', '2.384', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 06:18
'2024-01-09 06:18', '2.381', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:18', '2.381', '0.020', '0', '0', '0', '0', 'v')
2024-01-09 06:24
'2024-01-09 06:24', '2.391', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:24', '2.391', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 06:30
'2024-01-09 06:30', '2.391', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:30', '2.391', '0.026', '0', '0', '0', '0', 'v')
2024-01-09 06:36
'2024-01-09 06:36', '2.391', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:36', '2.391', '0.026', '0', '0', '0', '0', 'v')
2024-01-09 06:42
'2024-01-09 06:42', '2.394', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:42', '2.394', '0.033', '0', '0', '0', '0', 'v')
2024-01-09 06:48
'2024-01-09 06:48', '2.381', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:48', '2.381', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 06:54
'2024-01-09 06:54', '2.384', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 06:54', '2.384', '0.023', '0', '0', '0', '0', 'v')
2024-01-09 07:00
'2024-01-09 07:00', '2.374', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 07:00', '2.374', '0.026', '0', '0', '0', '0', 'v')
2024-01-09 07:06
'2024-01-09 07:06', '2.358', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 07:06', '2.358', '0.026', '0', '0', '0', '0', 'v')
2024-01-09 07:12

2024-01-09 10:24
'2024-01-09 10:24', '1.308', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 10:24', '1.308', '0.039', '0', '0', '0', '0', 'v')
2024-01-09 10:30
'2024-01-09 10:30', '1.279', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 10:30', '1.279', '0.030', '0', '0', '0', '0', 'v')
2024-01-09 10:36
'2024-01-09 10:36', '1.246', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 10:36', '1.246', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 10:42
'2024-01-09 10:42', '1.206', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 10:42', '1.206', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 10:48
'2024-01-09 10:48', '1.167', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 10:48', '1.167', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 10:54
'2024-01-09 10:54', '1.147', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 10:54', '1.147', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 11:00
'2024-01-09 11:00', '1.124', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:00', '1.124', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 11:06
'2024-01-09 11:06', '1.092', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:06', '1.092', '0.036', '0', '0', '0', '0', 'v')
2024-01-09 11:12
'2024-01-09 11:12', '1.079', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:12', '1.079', '0.036', '0', '0', '0', '0', 'v')
2024-01-09 11:18
'2024-01-09 11:18', '1.042', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:18', '1.042', '0.039', '0', '0', '0', '0', 'v')
2024-01-09 11:24
'2024-01-09 11:24', '1.000', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:24', '1.000', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 11:30
'2024-01-09 11:30', '0.980', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:30', '0.980', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 11:36
'2024-01-09 11:36', '0.954', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:36', '0.954', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 11:42
'2024-01-09 11:42', '0.931', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:42', '0.931', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 11:48
'2024-01-09 11:48', '0.918', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:48', '0.918', '0.036', '0', '0', '0', '0', 'v')
2024-01-09 11:54
'2024-01-09 11:54', '0.908', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 11:54', '0.908', '0.039', '0', '0', '0', '0', 'v')
2024-01-09 12:00
'2024-01-09 12:00', '0.872', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:00', '0.872', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 12:06
'2024-01-09 12:06', '0.842', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:06', '0.842', '0.039', '0', '0', '0', '0', 'v')
2024-01-09 12:12
'2024-01-09 12:12', '0.823', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:12', '0.823', '0.036', '0', '0', '0', '0', 'v')
2024-01-09 12:18
'2024-01-09 12:18', '0.819', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:18', '0.819', '0.039', '0', '0', '0', '0', 'v')
2024-01-09 12:24
'2024-01-09 12:24', '0.809', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:24', '0.809', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 12:30
'2024-01-09 12:30', '0.780', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:30', '0.780', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 12:36
'2024-01-09 12:36', '0.777', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:36', '0.777', '0.039', '0', '0', '0', '0', 'v')
2024-01-09 12:42
'2024-01-09 12:42', '0.770', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:42', '0.770', '0.033', '0', '0', '0', '0', 'v')
2024-01-09 12:48
'2024-01-09 12:48', '0.777', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:48', '0.777', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 12:54
'2024-01-09 12:54', '0.764', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 12:54', '0.764', '0.039', '0', '0', '0', '0', 'v')
2024-01-09 13:00
'2024-01-09 13:00', '0.773', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:00', '0.773', '0.039', '0', '0', '0', '0', 'v')
2024-01-09 13:06
'2024-01-09 13:06', '0.783', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:06', '0.783', '0.039', '0', '0', '0', '0', 'v')
2024-01-09 13:12
'2024-01-09 13:12', '0.777', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:12', '0.777', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 13:18
'2024-01-09 13:18', '0.800', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:18', '0.800', '0.036', '0', '0', '0', '0', 'v')
2024-01-09 13:24
'2024-01-09 13:24', '0.819', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:24', '0.819', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 13:30
'2024-01-09 13:30', '0.842', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:30', '0.842', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 13:36
'2024-01-09 13:36', '0.872', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:36', '0.872', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 13:42
'2024-01-09 13:42', '0.895', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:42', '0.895', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 13:48
'2024-01-09 13:48', '0.937', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:48', '0.937', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 13:54
'2024-01-09 13:54', '0.970', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 13:54', '0.970', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 14:00
'2024-01-09 14:00', '1.023', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:00', '1.023', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 14:06
'2024-01-09 14:06', '1.042', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:06', '1.042', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 14:12
'2024-01-09 14:12', '1.085', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:12', '1.085', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 14:18
'2024-01-09 14:18', '1.111', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:18', '1.111', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 14:24
'2024-01-09 14:24', '1.147', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:24', '1.147', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 14:30
'2024-01-09 14:30', '1.180', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:30', '1.180', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 14:36
'2024-01-09 14:36', '1.236', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:36', '1.236', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 14:42
'2024-01-09 14:42', '1.282', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:42', '1.282', '0.062', '0', '0', '0', '0', 'v')
2024-01-09 14:48
'2024-01-09 14:48', '1.344', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:48', '1.344', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 14:54
'2024-01-09 14:54', '1.397', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 14:54', '1.397', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 15:00
'2024-01-09 15:00', '1.453', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:00', '1.453', '0.062', '0', '0', '0', '0', 'v')
2024-01-09 15:06
'2024-01-09 15:06', '1.528', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:06', '1.528', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 15:12
'2024-01-09 15:12', '1.577', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:12', '1.577', '0.062', '0', '0', '0', '0', 'v')
2024-01-09 15:18
'2024-01-09 15:18', '1.640', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:18', '1.640', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 15:24
'2024-01-09 15:24', '1.715', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:24', '1.715', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 15:30
'2024-01-09 15:30', '1.781', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:30', '1.781', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 15:36
'2024-01-09 15:36', '1.853', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:36', '1.853', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 15:42
'2024-01-09 15:42', '1.932', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:42', '1.932', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 15:48
'2024-01-09 15:48', '2.000', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:48', '2.000', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 15:54
'2024-01-09 15:54', '2.056', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 15:54', '2.056', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 16:00
'2024-01-09 16:00', '2.142', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:00', '2.142', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 16:06
'2024-01-09 16:06', '2.220', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:06', '2.220', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 16:12
'2024-01-09 16:12', '2.260', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:12', '2.260', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 16:18
'2024-01-09 16:18', '2.335', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:18', '2.335', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 16:24
'2024-01-09 16:24', '2.391', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:24', '2.391', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 16:30
'2024-01-09 16:30', '2.440', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:30', '2.440', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 16:36
'2024-01-09 16:36', '2.496', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:36', '2.496', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 16:42
'2024-01-09 16:42', '2.555', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:42', '2.555', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 16:48
'2024-01-09 16:48', '2.617', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:48', '2.617', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 16:54
'2024-01-09 16:54', '2.660', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 16:54', '2.660', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 17:00
'2024-01-09 17:00', '2.719', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:00', '2.719', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 17:06
'2024-01-09 17:06', '2.742', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:06', '2.742', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 17:12
'2024-01-09 17:12', '2.785', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:12', '2.785', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 17:18
'2024-01-09 17:18', '2.814', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:18', '2.814', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 17:24
'2024-01-09 17:24', '2.863', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:24', '2.863', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 17:30
'2024-01-09 17:30', '2.890', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:30', '2.890', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 17:36
'2024-01-09 17:36', '2.916', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:36', '2.916', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 17:42
'2024-01-09 17:42', '2.965', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:42', '2.965', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 17:48
'2024-01-09 17:48', '2.988', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:48', '2.988', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 17:54
'2024-01-09 17:54', '3.014', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 17:54', '3.014', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 18:00
'2024-01-09 18:00', '3.027', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:00', '3.027', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 18:06
'2024-01-09 18:06', '3.063', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:06', '3.063', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 18:12
'2024-01-09 18:12', '3.077', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:12', '3.077', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 18:18
'2024-01-09 18:18', '3.067', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:18', '3.067', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 18:24
'2024-01-09 18:24', '3.073', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:24', '3.073', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 18:30
'2024-01-09 18:30', '3.093', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:30', '3.093', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 18:36
'2024-01-09 18:36', '3.083', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:36', '3.083', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 18:42
'2024-01-09 18:42', '3.116', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:42', '3.116', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 18:48
'2024-01-09 18:48', '3.106', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:48', '3.106', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 18:54
'2024-01-09 18:54', '3.129', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 18:54', '3.129', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 19:00
'2024-01-09 19:00', '3.126', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:00', '3.126', '0.066', '0', '0', '0', '0', 'v')
2024-01-09 19:06
'2024-01-09 19:06', '3.119', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:06', '3.119', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 19:12
'2024-01-09 19:12', '3.139', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:12', '3.139', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 19:18
'2024-01-09 19:18', '3.136', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:18', '3.136', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 19:24
'2024-01-09 19:24', '3.139', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:24', '3.139', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 19:30
'2024-01-09 19:30', '3.142', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:30', '3.142', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 19:36
'2024-01-09 19:36', '3.136', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:36', '3.136', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 19:42
'2024-01-09 19:42', '3.149', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:42', '3.149', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 19:48
'2024-01-09 19:48', '3.149', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:48', '3.149', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 19:54
'2024-01-09 19:54', '3.145', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 19:54', '3.145', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 20:00
'2024-01-09 20:00', '3.142', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:00', '3.142', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 20:06
'2024-01-09 20:06', '3.149', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:06', '3.149', '0.062', '0', '0', '0', '0', 'v')
2024-01-09 20:12
'2024-01-09 20:12', '3.122', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:12', '3.122', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 20:18
'2024-01-09 20:18', '3.122', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:18', '3.122', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 20:24
'2024-01-09 20:24', '3.119', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:24', '3.119', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 20:30
'2024-01-09 20:30', '3.116', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:30', '3.116', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 20:36
'2024-01-09 20:36', '3.100', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:36', '3.100', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 20:42
'2024-01-09 20:42', '3.106', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:42', '3.106', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 20:48
'2024-01-09 20:48', '3.086', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:48', '3.086', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 20:54
'2024-01-09 20:54', '3.086', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 20:54', '3.086', '0.046', '0', '0', '0', '0', 'v')
2024-01-09 21:00
'2024-01-09 21:00', '3.073', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:00', '3.073', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 21:06
'2024-01-09 21:06', '3.047', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:06', '3.047', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 21:12
'2024-01-09 21:12', '3.011', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:12', '3.011', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 21:18
'2024-01-09 21:18', '2.981', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:18', '2.981', '0.052', '0', '0', '0', '0', 'v')
2024-01-09 21:24
'2024-01-09 21:24', '2.942', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:24', '2.942', '0.056', '0', '0', '0', '0', 'v')
2024-01-09 21:30
'2024-01-09 21:30', '2.903', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:30', '2.903', '0.049', '0', '0', '0', '0', 'v')
2024-01-09 21:36
'2024-01-09 21:36', '2.880', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:36', '2.880', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 21:42
'2024-01-09 21:42', '2.850', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:42', '2.850', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 21:48
'2024-01-09 21:48', '2.837', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:48', '2.837', '0.059', '0', '0', '0', '0', 'v')
2024-01-09 21:54
'2024-01-09 21:54', '2.834', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-09 21:54', '2.834', '0.043', '0', '0', '0', '0', 'v')
2024-01-09 22:00

2024-01-10 01:48
'2024-01-10 01:48', '3.454', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 01:48', '3.454', '0.056', '0', '0', '0', '0', 'v')
2024-01-10 01:54
'2024-01-10 01:54', '3.579', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 01:54', '3.579', '0.059', '0', '0', '0', '0', 'v')
2024-01-10 02:00
'2024-01-10 02:00', '3.749', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:00', '3.749', '0.075', '0', '0', '0', '0', 'v')
2024-01-10 02:06
'2024-01-10 02:06', '3.897', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:06', '3.897', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 02:12
'2024-01-10 02:12', '3.953', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:12', '3.953', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 02:18
'2024-01-10 02:18', '4.012', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:18', '4.012', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 02:24
'2024-01-10 02:24', '4.071', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:24', '4.071', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 02:30
'2024-01-10 02:30', '4.107', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:30', '4.107', '0.020', '0', '0', '0', '0', 'v')
2024-01-10 02:36
'2024-01-10 02:36', '4.126', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:36', '4.126', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 02:42
'2024-01-10 02:42', '4.166', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:42', '4.166', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 02:48
'2024-01-10 02:48', '4.228', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:48', '4.228', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 02:54
'2024-01-10 02:54', '4.267', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 02:54', '4.267', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 03:00
'2024-01-10 03:00', '4.310', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:00', '4.310', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 03:06
'2024-01-10 03:06', '4.366', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:06', '4.366', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 03:12
'2024-01-10 03:12', '4.402', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:12', '4.402', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 03:18
'2024-01-10 03:18', '4.428', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:18', '4.428', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 03:24
'2024-01-10 03:24', '4.451', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:24', '4.451', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 03:30
'2024-01-10 03:30', '4.481', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:30', '4.481', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 03:36
'2024-01-10 03:36', '4.504', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:36', '4.504', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 03:42
'2024-01-10 03:42', '4.527', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:42', '4.527', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 03:48
'2024-01-10 03:48', '4.510', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:48', '4.510', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 03:54
'2024-01-10 03:54', '4.533', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 03:54', '4.533', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 04:00
'2024-01-10 04:00', '4.553', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:00', '4.553', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 04:06
'2024-01-10 04:06', '4.586', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:06', '4.586', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 04:12
'2024-01-10 04:12', '4.622', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:12', '4.622', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 04:18
'2024-01-10 04:18', '4.651', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:18', '4.651', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 04:24
'2024-01-10 04:24', '4.684', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:24', '4.684', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 04:30
'2024-01-10 04:30', '4.737', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:30', '4.737', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 04:36
'2024-01-10 04:36', '4.760', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:36', '4.760', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 04:42
'2024-01-10 04:42', '4.806', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:42', '4.806', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 04:48
'2024-01-10 04:48', '4.838', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:48', '4.838', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 04:54
'2024-01-10 04:54', '4.868', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 04:54', '4.868', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 05:00
'2024-01-10 05:00', '4.897', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:00', '4.897', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 05:06
'2024-01-10 05:06', '4.920', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:06', '4.920', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 05:12
'2024-01-10 05:12', '4.950', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:12', '4.950', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 05:18
'2024-01-10 05:18', '4.966', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:18', '4.966', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 05:24
'2024-01-10 05:24', '4.976', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:24', '4.976', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 05:30
'2024-01-10 05:30', '4.999', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:30', '4.999', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 05:36
'2024-01-10 05:36', '5.022', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:36', '5.022', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 05:42
'2024-01-10 05:42', '5.035', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:42', '5.035', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 05:48
'2024-01-10 05:48', '5.045', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:48', '5.045', '0.020', '0', '0', '0', '0', 'v')
2024-01-10 05:54
'2024-01-10 05:54', '5.048', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 05:54', '5.048', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 06:00
'2024-01-10 06:00', '5.055', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:00', '5.055', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 06:06
'2024-01-10 06:06', '5.061', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:06', '5.061', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 06:12
'2024-01-10 06:12', '5.068', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:12', '5.068', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 06:18
'2024-01-10 06:18', '5.081', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:18', '5.081', '0.020', '0', '0', '0', '0', 'v')
2024-01-10 06:24
'2024-01-10 06:24', '5.104', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:24', '5.104', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 06:30
'2024-01-10 06:30', '5.114', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:30', '5.114', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 06:36
'2024-01-10 06:36', '5.124', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:36', '5.124', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 06:42
'2024-01-10 06:42', '5.134', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:42', '5.134', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 06:48
'2024-01-10 06:48', '5.143', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:48', '5.143', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 06:54
'2024-01-10 06:54', '5.163', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 06:54', '5.163', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 07:00
'2024-01-10 07:00', '5.173', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:00', '5.173', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 07:06
'2024-01-10 07:06', '5.180', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:06', '5.180', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 07:12
'2024-01-10 07:12', '5.199', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:12', '5.199', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 07:18
'2024-01-10 07:18', '5.212', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:18', '5.212', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 07:24
'2024-01-10 07:24', '5.222', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:24', '5.222', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 07:30
'2024-01-10 07:30', '5.239', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:30', '5.239', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 07:36
'2024-01-10 07:36', '5.245', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:36', '5.245', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 07:42
'2024-01-10 07:42', '5.245', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:42', '5.245', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 07:48
'2024-01-10 07:48', '5.239', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:48', '5.239', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 07:54
'2024-01-10 07:54', '5.235', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 07:54', '5.235', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 08:00
'2024-01-10 08:00', '5.219', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:00', '5.219', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 08:06
'2024-01-10 08:06', '5.212', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:06', '5.212', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 08:12
'2024-01-10 08:12', '5.203', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:12', '5.203', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 08:18
'2024-01-10 08:18', '5.193', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:18', '5.193', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 08:24
'2024-01-10 08:24', '5.173', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:24', '5.173', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 08:30
'2024-01-10 08:30', '5.157', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:30', '5.157', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 08:36
'2024-01-10 08:36', '5.130', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:36', '5.130', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 08:42
'2024-01-10 08:42', '5.107', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:42', '5.107', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 08:48
'2024-01-10 08:48', '5.071', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:48', '5.071', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 08:54
'2024-01-10 08:54', '5.038', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 08:54', '5.038', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 09:00
'2024-01-10 09:00', '5.006', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:00', '5.006', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 09:06
'2024-01-10 09:06', '4.973', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:06', '4.973', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 09:12
'2024-01-10 09:12', '4.940', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:12', '4.940', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 09:18
'2024-01-10 09:18', '4.917', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:18', '4.917', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 09:24
'2024-01-10 09:24', '4.881', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:24', '4.881', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 09:30
'2024-01-10 09:30', '4.845', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:30', '4.845', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 09:36
'2024-01-10 09:36', '4.806', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:36', '4.806', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 09:42
'2024-01-10 09:42', '4.769', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:42', '4.769', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 09:48
'2024-01-10 09:48', '4.733', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:48', '4.733', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 09:54
'2024-01-10 09:54', '4.691', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 09:54', '4.691', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 10:00
'2024-01-10 10:00', '4.661', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:00', '4.661', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 10:06
'2024-01-10 10:06', '4.628', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:06', '4.628', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 10:12
'2024-01-10 10:12', '4.592', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:12', '4.592', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 10:18
'2024-01-10 10:18', '4.559', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:18', '4.559', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 10:24
'2024-01-10 10:24', '4.517', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:24', '4.517', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 10:30
'2024-01-10 10:30', '4.477', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:30', '4.477', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 10:36
'2024-01-10 10:36', '4.438', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:36', '4.438', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 10:42
'2024-01-10 10:42', '4.392', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:42', '4.392', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 10:48
'2024-01-10 10:48', '4.346', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:48', '4.346', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 10:54
'2024-01-10 10:54', '4.310', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 10:54', '4.310', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 11:00
'2024-01-10 11:00', '4.254', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:00', '4.254', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 11:06
'2024-01-10 11:06', '4.212', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:06', '4.212', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 11:12
'2024-01-10 11:12', '4.163', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:12', '4.163', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 11:18
'2024-01-10 11:18', '4.110', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:18', '4.110', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 11:24
'2024-01-10 11:24', '4.064', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:24', '4.064', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 11:30
'2024-01-10 11:30', '4.048', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:30', '4.048', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 11:36
'2024-01-10 11:36', '4.005', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:36', '4.005', '0.049', '0', '0', '0', '0', 'v')
2024-01-10 11:42
'2024-01-10 11:42', '3.969', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:42', '3.969', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 11:48
'2024-01-10 11:48', '3.946', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:48', '3.946', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 11:54
'2024-01-10 11:54', '3.923', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 11:54', '3.923', '0.049', '0', '0', '0', '0', 'v')
2024-01-10 12:00
'2024-01-10 12:00', '3.874', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:00', '3.874', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 12:06
'2024-01-10 12:06', '3.805', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:06', '3.805', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 12:12
'2024-01-10 12:12', '3.739', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:12', '3.739', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 12:18
'2024-01-10 12:18', '3.684', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:18', '3.684', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 12:24
'2024-01-10 12:24', '3.618', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:24', '3.618', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 12:30
'2024-01-10 12:30', '3.559', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:30', '3.559', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 12:36
'2024-01-10 12:36', '3.496', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:36', '3.496', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 12:42
'2024-01-10 12:42', '3.441', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:42', '3.441', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 12:48
'2024-01-10 12:48', '3.382', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:48', '3.382', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 12:54
'2024-01-10 12:54', '3.319', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 12:54', '3.319', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 13:00
'2024-01-10 13:00', '3.260', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 13:00', '3.260', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 13:06
'2024-01-10 13:06', '3.185', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 13:06', '3.185', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 13:12
'2024-01-10 13:12', '3.139', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 13:12', '3.139', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 13:18
'2024-01-10 13:18', '3.096', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 13:18', '3.096', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 13:24

2024-01-10 14:24
'2024-01-10 14:24', '2.949', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 14:24', '2.949', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 14:30
'2024-01-10 14:30', '2.942', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 14:30', '2.942', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 14:36
'2024-01-10 14:36', '2.952', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 14:36', '2.952', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 14:42
'2024-01-10 14:42', '2.962', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 14:42', '2.962', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 14:48
'2024-01-10 14:48', '2.955', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 14:48', '2.955', '0.049', '0', '0', '0', '0', 'v')
2024-01-10 14:54
'2024-01-10 14:54', '2.978', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 14:54', '2.978', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 15:00
'2024-01-10 15:00', '2.965', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:00', '2.965', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 15:06
'2024-01-10 15:06', '2.972', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:06', '2.972', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 15:12
'2024-01-10 15:12', '2.972', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:12', '2.972', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 15:18
'2024-01-10 15:18', '2.965', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:18', '2.965', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 15:24
'2024-01-10 15:24', '2.942', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:24', '2.942', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 15:30
'2024-01-10 15:30', '2.949', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:30', '2.949', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 15:36
'2024-01-10 15:36', '2.916', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:36', '2.916', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 15:42
'2024-01-10 15:42', '2.922', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:42', '2.922', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 15:48
'2024-01-10 15:48', '2.899', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:48', '2.899', '0.052', '0', '0', '0', '0', 'v')
2024-01-10 15:54
'2024-01-10 15:54', '2.886', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 15:54', '2.886', '0.052', '0', '0', '0', '0', 'v')
2024-01-10 16:00
'2024-01-10 16:00', '2.876', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:00', '2.876', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 16:06
'2024-01-10 16:06', '2.873', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:06', '2.873', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 16:12
'2024-01-10 16:12', '2.880', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:12', '2.880', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 16:18
'2024-01-10 16:18', '2.903', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:18', '2.903', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 16:24
'2024-01-10 16:24', '2.916', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:24', '2.916', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 16:30
'2024-01-10 16:30', '2.945', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:30', '2.945', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 16:36
'2024-01-10 16:36', '2.962', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:36', '2.962', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 16:42
'2024-01-10 16:42', '2.985', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:42', '2.985', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 16:48
'2024-01-10 16:48', '3.004', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:48', '3.004', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 16:54
'2024-01-10 16:54', '3.027', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 16:54', '3.027', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 17:00
'2024-01-10 17:00', '3.054', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:00', '3.054', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 17:06
'2024-01-10 17:06', '3.070', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:06', '3.070', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 17:12
'2024-01-10 17:12', '3.090', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:12', '3.090', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 17:18
'2024-01-10 17:18', '3.100', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:18', '3.100', '0.052', '0', '0', '0', '0', 'v')
2024-01-10 17:24
'2024-01-10 17:24', '3.139', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:24', '3.139', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 17:30
'2024-01-10 17:30', '3.149', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:30', '3.149', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 17:36
'2024-01-10 17:36', '3.182', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:36', '3.182', '0.049', '0', '0', '0', '0', 'v')
2024-01-10 17:42
'2024-01-10 17:42', '3.188', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:42', '3.188', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 17:48
'2024-01-10 17:48', '3.218', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:48', '3.218', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 17:54
'2024-01-10 17:54', '3.234', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 17:54', '3.234', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 18:00
'2024-01-10 18:00', '3.250', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:00', '3.250', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 18:06
'2024-01-10 18:06', '3.287', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:06', '3.287', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 18:12
'2024-01-10 18:12', '3.306', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:12', '3.306', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 18:18
'2024-01-10 18:18', '3.336', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:18', '3.336', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 18:24
'2024-01-10 18:24', '3.342', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:24', '3.342', '0.052', '0', '0', '0', '0', 'v')
2024-01-10 18:30
'2024-01-10 18:30', '3.346', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:30', '3.346', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 18:36
'2024-01-10 18:36', '3.372', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:36', '3.372', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 18:42
'2024-01-10 18:42', '3.375', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:42', '3.375', '0.046', '0', '0', '0', '0', 'v')
2024-01-10 18:48
'2024-01-10 18:48', '3.382', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:48', '3.382', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 18:54
'2024-01-10 18:54', '3.388', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 18:54', '3.388', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 19:00
'2024-01-10 19:00', '3.398', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:00', '3.398', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 19:06
'2024-01-10 19:06', '3.405', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:06', '3.405', '0.049', '0', '0', '0', '0', 'v')
2024-01-10 19:12
'2024-01-10 19:12', '3.405', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:12', '3.405', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 19:18
'2024-01-10 19:18', '3.411', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:18', '3.411', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 19:24
'2024-01-10 19:24', '3.428', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:24', '3.428', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 19:30
'2024-01-10 19:30', '3.414', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:30', '3.414', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 19:36
'2024-01-10 19:36', '3.418', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:36', '3.418', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 19:42
'2024-01-10 19:42', '3.398', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:42', '3.398', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 19:48
'2024-01-10 19:48', '3.395', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:48', '3.395', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 19:54
'2024-01-10 19:54', '3.378', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 19:54', '3.378', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 20:00
'2024-01-10 20:00', '3.359', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:00', '3.359', '0.049', '0', '0', '0', '0', 'v')
2024-01-10 20:06
'2024-01-10 20:06', '3.349', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:06', '3.349', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 20:12
'2024-01-10 20:12', '3.342', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:12', '3.342', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 20:18
'2024-01-10 20:18', '3.323', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:18', '3.323', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 20:24
'2024-01-10 20:24', '3.287', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:24', '3.287', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 20:30
'2024-01-10 20:30', '3.264', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:30', '3.264', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 20:36
'2024-01-10 20:36', '3.231', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:36', '3.231', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 20:42
'2024-01-10 20:42', '3.198', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:42', '3.198', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 20:48
'2024-01-10 20:48', '3.165', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:48', '3.165', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 20:54
'2024-01-10 20:54', '3.126', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 20:54', '3.126', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 21:00
'2024-01-10 21:00', '3.080', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:00', '3.080', '0.043', '0', '0', '0', '0', 'v')
2024-01-10 21:06
'2024-01-10 21:06', '3.034', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:06', '3.034', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 21:12
'2024-01-10 21:12', '2.988', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:12', '2.988', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 21:18
'2024-01-10 21:18', '2.949', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:18', '2.949', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 21:24
'2024-01-10 21:24', '2.909', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:24', '2.909', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 21:30
'2024-01-10 21:30', '2.847', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:30', '2.847', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 21:36
'2024-01-10 21:36', '2.808', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:36', '2.808', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 21:42
'2024-01-10 21:42', '2.765', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:42', '2.765', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 21:48
'2024-01-10 21:48', '2.739', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:48', '2.739', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 21:54
'2024-01-10 21:54', '2.696', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 21:54', '2.696', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 22:00
'2024-01-10 22:00', '2.657', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:00', '2.657', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 22:06
'2024-01-10 22:06', '2.614', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:06', '2.614', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 22:12
'2024-01-10 22:12', '2.588', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:12', '2.588', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 22:18
'2024-01-10 22:18', '2.552', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:18', '2.552', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 22:24
'2024-01-10 22:24', '2.509', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:24', '2.509', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 22:30
'2024-01-10 22:30', '2.466', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:30', '2.466', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 22:36
'2024-01-10 22:36', '2.411', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:36', '2.411', '0.039', '0', '0', '0', '0', 'v')
2024-01-10 22:42
'2024-01-10 22:42', '2.391', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:42', '2.391', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 22:48
'2024-01-10 22:48', '2.358', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:48', '2.358', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 22:54
'2024-01-10 22:54', '2.309', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 22:54', '2.309', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 23:00
'2024-01-10 23:00', '2.273', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:00', '2.273', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 23:06
'2024-01-10 23:06', '2.233', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:06', '2.233', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 23:12
'2024-01-10 23:12', '2.201', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:12', '2.201', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 23:18
'2024-01-10 23:18', '2.161', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:18', '2.161', '0.030', '0', '0', '0', '0', 'v')
2024-01-10 23:24
'2024-01-10 23:24', '2.122', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:24', '2.122', '0.036', '0', '0', '0', '0', 'v')
2024-01-10 23:30
'2024-01-10 23:30', '2.109', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:30', '2.109', '0.033', '0', '0', '0', '0', 'v')
2024-01-10 23:36
'2024-01-10 23:36', '2.086', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:36', '2.086', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 23:42
'2024-01-10 23:42', '2.056', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:42', '2.056', '0.023', '0', '0', '0', '0', 'v')
2024-01-10 23:48
'2024-01-10 23:48', '2.020', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:48', '2.020', '0.026', '0', '0', '0', '0', 'v')
2024-01-10 23:54
'2024-01-10 23:54', '1.984', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-10 23:54', '1.984', '0.030', '0', '0', '0', '0', 'v')
2024-01-11 00:00
'2024-01-11 00:00', '1.961', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:00', '1.961', '0.033', '0', '0', '0', '0', 'v')
2024-01-11 00:06
'2024-01-11 00:06', '1.935', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:06', '1.935', '0.030', '0', '0', '0', '0', 'v')
2024-01-11 00:12
'2024-01-11 00:12', '1.905', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:12', '1.905', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 00:18
'2024-01-11 00:18', '1.886', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:18', '1.886', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 00:24
'2024-01-11 00:24', '1.850', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:24', '1.850', '0.030', '0', '0', '0', '0', 'v')
2024-01-11 00:30
'2024-01-11 00:30', '1.827', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:30', '1.827', '0.030', '0', '0', '0', '0', 'v')
2024-01-11 00:36
'2024-01-11 00:36', '1.810', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:36', '1.810', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 00:42
'2024-01-11 00:42', '1.787', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:42', '1.787', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 00:48
'2024-01-11 00:48', '1.754', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:48', '1.754', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 00:54
'2024-01-11 00:54', '1.728', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 00:54', '1.728', '0.030', '0', '0', '0', '0', 'v')
2024-01-11 01:00
'2024-01-11 01:00', '1.699', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:00', '1.699', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 01:06
'2024-01-11 01:06', '1.685', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:06', '1.685', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 01:12
'2024-01-11 01:12', '1.659', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:12', '1.659', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 01:18
'2024-01-11 01:18', '1.626', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:18', '1.626', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 01:24
'2024-01-11 01:24', '1.600', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:24', '1.600', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 01:30
'2024-01-11 01:30', '1.571', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:30', '1.571', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 01:36
'2024-01-11 01:36', '1.548', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:36', '1.548', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 01:42
'2024-01-11 01:42', '1.531', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:42', '1.531', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 01:48
'2024-01-11 01:48', '1.498', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:48', '1.498', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 01:54
'2024-01-11 01:54', '1.469', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 01:54', '1.469', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 02:00

2024-01-11 04:18
'2024-01-11 04:18', '1.206', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 04:18', '1.206', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 04:24
'2024-01-11 04:24', '1.216', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 04:24', '1.216', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 04:30
'2024-01-11 04:30', '1.233', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 04:30', '1.233', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 04:36
'2024-01-11 04:36', '1.239', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 04:36', '1.239', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 04:42
'2024-01-11 04:42', '1.259', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 04:42', '1.259', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 04:48
'2024-01-11 04:48', '1.282', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 04:48', '1.282', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 04:54
'2024-01-11 04:54', '1.305', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 04:54', '1.305', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 05:00
'2024-01-11 05:00', '1.328', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:00', '1.328', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 05:06
'2024-01-11 05:06', '1.361', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:06', '1.361', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 05:12
'2024-01-11 05:12', '1.393', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:12', '1.393', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 05:18
'2024-01-11 05:18', '1.416', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:18', '1.416', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 05:24
'2024-01-11 05:24', '1.449', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:24', '1.449', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 05:30
'2024-01-11 05:30', '1.485', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:30', '1.485', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 05:36
'2024-01-11 05:36', '1.515', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:36', '1.515', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 05:42
'2024-01-11 05:42', '1.551', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:42', '1.551', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 05:48
'2024-01-11 05:48', '1.587', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:48', '1.587', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 05:54
'2024-01-11 05:54', '1.620', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 05:54', '1.620', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 06:00
'2024-01-11 06:00', '1.656', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:00', '1.656', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 06:06
'2024-01-11 06:06', '1.682', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:06', '1.682', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 06:12
'2024-01-11 06:12', '1.712', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:12', '1.712', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 06:18
'2024-01-11 06:18', '1.745', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:18', '1.745', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 06:24
'2024-01-11 06:24', '1.784', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:24', '1.784', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 06:30
'2024-01-11 06:30', '1.804', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:30', '1.804', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 06:36
'2024-01-11 06:36', '1.840', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:36', '1.840', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 06:42
'2024-01-11 06:42', '1.876', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:42', '1.876', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 06:48
'2024-01-11 06:48', '1.895', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:48', '1.895', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 06:54
'2024-01-11 06:54', '1.922', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 06:54', '1.922', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 07:00
'2024-01-11 07:00', '1.941', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:00', '1.941', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 07:06
'2024-01-11 07:06', '1.974', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:06', '1.974', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 07:12
'2024-01-11 07:12', '2.000', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:12', '2.000', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 07:18
'2024-01-11 07:18', '2.017', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:18', '2.017', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 07:24
'2024-01-11 07:24', '2.037', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:24', '2.037', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 07:30
'2024-01-11 07:30', '2.040', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:30', '2.040', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 07:36
'2024-01-11 07:36', '2.053', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:36', '2.053', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 07:42
'2024-01-11 07:42', '2.073', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:42', '2.073', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 07:48
'2024-01-11 07:48', '2.076', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:48', '2.076', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 07:54
'2024-01-11 07:54', '2.073', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 07:54', '2.073', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 08:00
'2024-01-11 08:00', '2.076', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:00', '2.076', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 08:06
'2024-01-11 08:06', '2.076', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:06', '2.076', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 08:12
'2024-01-11 08:12', '2.073', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:12', '2.073', '0.003', '0', '0', '0', '0', 'v')
2024-01-11 08:18
'2024-01-11 08:18', '2.066', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:18', '2.066', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 08:24
'2024-01-11 08:24', '2.053', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:24', '2.053', '0.003', '0', '0', '0', '0', 'v')
2024-01-11 08:30
'2024-01-11 08:30', '2.040', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:30', '2.040', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 08:36
'2024-01-11 08:36', '2.023', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:36', '2.023', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 08:42
'2024-01-11 08:42', '2.007', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:42', '2.007', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 08:48
'2024-01-11 08:48', '1.984', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:48', '1.984', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 08:54
'2024-01-11 08:54', '1.964', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 08:54', '1.964', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 09:00
'2024-01-11 09:00', '1.941', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:00', '1.941', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 09:06
'2024-01-11 09:06', '1.909', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:06', '1.909', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 09:12
'2024-01-11 09:12', '1.886', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:12', '1.886', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 09:18
'2024-01-11 09:18', '1.853', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:18', '1.853', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 09:24
'2024-01-11 09:24', '1.823', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:24', '1.823', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 09:30
'2024-01-11 09:30', '1.784', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:30', '1.784', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 09:36
'2024-01-11 09:36', '1.751', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:36', '1.751', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 09:42
'2024-01-11 09:42', '1.715', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:42', '1.715', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 09:48
'2024-01-11 09:48', '1.666', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:48', '1.666', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 09:54
'2024-01-11 09:54', '1.617', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 09:54', '1.617', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 10:00
'2024-01-11 10:00', '1.567', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:00', '1.567', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 10:06
'2024-01-11 10:06', '1.531', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:06', '1.531', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 10:12
'2024-01-11 10:12', '1.492', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:12', '1.492', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 10:18
'2024-01-11 10:18', '1.456', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:18', '1.456', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 10:24
'2024-01-11 10:24', '1.407', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:24', '1.407', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 10:30
'2024-01-11 10:30', '1.361', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:30', '1.361', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 10:36
'2024-01-11 10:36', '1.321', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:36', '1.321', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 10:42
'2024-01-11 10:42', '1.279', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:42', '1.279', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 10:48
'2024-01-11 10:48', '1.236', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:48', '1.236', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 10:54
'2024-01-11 10:54', '1.210', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 10:54', '1.210', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 11:00
'2024-01-11 11:00', '1.170', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:00', '1.170', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 11:06
'2024-01-11 11:06', '1.128', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:06', '1.128', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 11:12
'2024-01-11 11:12', '1.092', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:12', '1.092', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 11:18
'2024-01-11 11:18', '1.056', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:18', '1.056', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 11:24
'2024-01-11 11:24', '1.023', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:24', '1.023', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 11:30
'2024-01-11 11:30', '0.993', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:30', '0.993', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 11:36
'2024-01-11 11:36', '0.957', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:36', '0.957', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 11:42
'2024-01-11 11:42', '0.924', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:42', '0.924', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 11:48
'2024-01-11 11:48', '0.888', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:48', '0.888', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 11:54
'2024-01-11 11:54', '0.855', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 11:54', '0.855', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 12:00
'2024-01-11 12:00', '0.826', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:00', '0.826', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 12:06
'2024-01-11 12:06', '0.796', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:06', '0.796', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 12:12
'2024-01-11 12:12', '0.773', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:12', '0.773', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 12:18
'2024-01-11 12:18', '0.760', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:18', '0.760', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 12:24
'2024-01-11 12:24', '0.734', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:24', '0.734', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 12:30
'2024-01-11 12:30', '0.711', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:30', '0.711', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 12:36
'2024-01-11 12:36', '0.691', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:36', '0.691', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 12:42
'2024-01-11 12:42', '0.672', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:42', '0.672', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 12:48
'2024-01-11 12:48', '0.642', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:48', '0.642', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 12:54
'2024-01-11 12:54', '0.622', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 12:54', '0.622', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 13:00
'2024-01-11 13:00', '0.596', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:00', '0.596', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 13:06
'2024-01-11 13:06', '0.580', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:06', '0.580', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 13:12
'2024-01-11 13:12', '0.560', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:12', '0.560', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 13:18
'2024-01-11 13:18', '0.547', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:18', '0.547', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 13:24
'2024-01-11 13:24', '0.524', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:24', '0.524', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 13:30
'2024-01-11 13:30', '0.501', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:30', '0.501', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 13:36
'2024-01-11 13:36', '0.488', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:36', '0.488', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 13:42
'2024-01-11 13:42', '0.481', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:42', '0.481', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 13:48
'2024-01-11 13:48', '0.468', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:48', '0.468', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 13:54
'2024-01-11 13:54', '0.475', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 13:54', '0.475', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 14:00
'2024-01-11 14:00', '0.452', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:00', '0.452', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 14:06
'2024-01-11 14:06', '0.455', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:06', '0.455', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 14:12
'2024-01-11 14:12', '0.439', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:12', '0.439', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 14:18
'2024-01-11 14:18', '0.432', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:18', '0.432', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 14:24
'2024-01-11 14:24', '0.432', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:24', '0.432', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 14:30
'2024-01-11 14:30', '0.432', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:30', '0.432', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 14:36
'2024-01-11 14:36', '0.439', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:36', '0.439', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 14:42
'2024-01-11 14:42', '0.449', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:42', '0.449', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 14:48
'2024-01-11 14:48', '0.458', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:48', '0.458', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 14:54
'2024-01-11 14:54', '0.491', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 14:54', '0.491', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 15:00
'2024-01-11 15:00', '0.481', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 15:00', '0.481', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 15:06
'2024-01-11 15:06', '0.501', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 15:06', '0.501', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 15:12
'2024-01-11 15:12', '0.511', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 15:12', '0.511', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 15:18
'2024-01-11 15:18', '0.531', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 15:18', '0.531', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 15:24
'2024-01-11 15:24', '0.544', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 15:24', '0.544', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 15:30
'2024-01-11 15:30', '0.567', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 15:30', '0.567', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 15:36
'2024-01-11 15:36', '0.593', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 15:36', '0.593', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 15:42
'2024-01-11 15:42', '0.639', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 15:42', '0.639', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 15:48
'2024-01-11 15:48', '0.678', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 15:48', '0.678', '0.007', '0', '0', '0', '0', 'v')
2024-01-11 15:54

2024-01-11 18:00
'2024-01-11 18:00', '1.781', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:00', '1.781', '0.033', '0', '0', '0', '0', 'v')
2024-01-11 18:06
'2024-01-11 18:06', '1.840', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:06', '1.840', '0.036', '0', '0', '0', '0', 'v')
2024-01-11 18:12
'2024-01-11 18:12', '1.892', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:12', '1.892', '0.039', '0', '0', '0', '0', 'v')
2024-01-11 18:18
'2024-01-11 18:18', '1.941', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:18', '1.941', '0.036', '0', '0', '0', '0', 'v')
2024-01-11 18:24
'2024-01-11 18:24', '2.004', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:24', '2.004', '0.033', '0', '0', '0', '0', 'v')
2024-01-11 18:30
'2024-01-11 18:30', '2.046', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:30', '2.046', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 18:36
'2024-01-11 18:36', '2.099', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:36', '2.099', '0.030', '0', '0', '0', '0', 'v')
2024-01-11 18:42
'2024-01-11 18:42', '2.138', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:42', '2.138', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 18:48
'2024-01-11 18:48', '2.181', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:48', '2.181', '0.030', '0', '0', '0', '0', 'v')
2024-01-11 18:54
'2024-01-11 18:54', '2.224', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 18:54', '2.224', '0.030', '0', '0', '0', '0', 'v')
2024-01-11 19:00
'2024-01-11 19:00', '2.269', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:00', '2.269', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 19:06
'2024-01-11 19:06', '2.299', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:06', '2.299', '0.026', '0', '0', '0', '0', 'v')
2024-01-11 19:12
'2024-01-11 19:12', '2.332', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:12', '2.332', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 19:18
'2024-01-11 19:18', '2.368', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:18', '2.368', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 19:24
'2024-01-11 19:24', '2.401', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:24', '2.401', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 19:30
'2024-01-11 19:30', '2.434', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:30', '2.434', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 19:36
'2024-01-11 19:36', '2.466', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:36', '2.466', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 19:42
'2024-01-11 19:42', '2.486', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:42', '2.486', '0.030', '0', '0', '0', '0', 'v')
2024-01-11 19:48
'2024-01-11 19:48', '2.509', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:48', '2.509', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 19:54
'2024-01-11 19:54', '2.542', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 19:54', '2.542', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 20:00
'2024-01-11 20:00', '2.555', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:00', '2.555', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 20:06
'2024-01-11 20:06', '2.571', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:06', '2.571', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 20:12
'2024-01-11 20:12', '2.588', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:12', '2.588', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 20:18
'2024-01-11 20:18', '2.611', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:18', '2.611', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 20:24
'2024-01-11 20:24', '2.630', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:24', '2.630', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 20:30
'2024-01-11 20:30', '2.640', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:30', '2.640', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 20:36
'2024-01-11 20:36', '2.660', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:36', '2.660', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 20:42
'2024-01-11 20:42', '2.663', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:42', '2.663', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 20:48
'2024-01-11 20:48', '2.680', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:48', '2.680', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 20:54
'2024-01-11 20:54', '2.683', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 20:54', '2.683', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 21:00
'2024-01-11 21:00', '2.676', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:00', '2.676', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 21:06
'2024-01-11 21:06', '2.673', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:06', '2.673', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 21:12
'2024-01-11 21:12', '2.680', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:12', '2.680', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 21:18
'2024-01-11 21:18', '2.670', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:18', '2.670', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 21:24
'2024-01-11 21:24', '2.666', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:24', '2.666', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 21:30
'2024-01-11 21:30', '2.660', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:30', '2.660', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 21:36
'2024-01-11 21:36', '2.657', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:36', '2.657', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 21:42
'2024-01-11 21:42', '2.647', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:42', '2.647', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 21:48
'2024-01-11 21:48', '2.634', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:48', '2.634', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 21:54
'2024-01-11 21:54', '2.617', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 21:54', '2.617', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 22:00
'2024-01-11 22:00', '2.601', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:00', '2.601', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 22:06
'2024-01-11 22:06', '2.588', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:06', '2.588', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 22:12
'2024-01-11 22:12', '2.571', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:12', '2.571', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 22:18
'2024-01-11 22:18', '2.552', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:18', '2.552', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 22:24
'2024-01-11 22:24', '2.545', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:24', '2.545', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 22:30
'2024-01-11 22:30', '2.519', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:30', '2.519', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 22:36
'2024-01-11 22:36', '2.493', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:36', '2.493', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 22:42
'2024-01-11 22:42', '2.470', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:42', '2.470', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 22:48
'2024-01-11 22:48', '2.427', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:48', '2.427', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 22:54
'2024-01-11 22:54', '2.407', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 22:54', '2.407', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 23:00
'2024-01-11 23:00', '2.368', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:00', '2.368', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 23:06
'2024-01-11 23:06', '2.335', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:06', '2.335', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 23:12
'2024-01-11 23:12', '2.306', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:12', '2.306', '0.010', '0', '0', '0', '0', 'v')
2024-01-11 23:18
'2024-01-11 23:18', '2.266', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:18', '2.266', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 23:24
'2024-01-11 23:24', '2.227', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:24', '2.227', '0.013', '0', '0', '0', '0', 'v')
2024-01-11 23:30
'2024-01-11 23:30', '2.184', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:30', '2.184', '0.020', '0', '0', '0', '0', 'v')
2024-01-11 23:36
'2024-01-11 23:36', '2.135', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:36', '2.135', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 23:42
'2024-01-11 23:42', '2.105', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:42', '2.105', '0.016', '0', '0', '0', '0', 'v')
2024-01-11 23:48
'2024-01-11 23:48', '2.059', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:48', '2.059', '0.023', '0', '0', '0', '0', 'v')
2024-01-11 23:54
'2024-01-11 23:54', '2.010', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-11 23:54', '2.010', '0.023', '0', '0', '0', '0', 'v')
2024-01-12 00:00
'2024-01-12 00:00', '1.968', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:00', '1.968', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 00:06
'2024-01-12 00:06', '1.928', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:06', '1.928', '0.023', '0', '0', '0', '0', 'v')
2024-01-12 00:12
'2024-01-12 00:12', '1.886', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:12', '1.886', '0.023', '0', '0', '0', '0', 'v')
2024-01-12 00:18
'2024-01-12 00:18', '1.846', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:18', '1.846', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 00:24
'2024-01-12 00:24', '1.807', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:24', '1.807', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 00:30
'2024-01-12 00:30', '1.764', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:30', '1.764', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 00:36
'2024-01-12 00:36', '1.728', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:36', '1.728', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 00:42
'2024-01-12 00:42', '1.692', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:42', '1.692', '0.023', '0', '0', '0', '0', 'v')
2024-01-12 00:48
'2024-01-12 00:48', '1.643', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:48', '1.643', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 00:54
'2024-01-12 00:54', '1.613', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 00:54', '1.613', '0.023', '0', '0', '0', '0', 'v')
2024-01-12 01:00
'2024-01-12 01:00', '1.580', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:00', '1.580', '0.023', '0', '0', '0', '0', 'v')
2024-01-12 01:06
'2024-01-12 01:06', '1.541', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:06', '1.541', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 01:12
'2024-01-12 01:12', '1.498', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:12', '1.498', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 01:18
'2024-01-12 01:18', '1.476', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:18', '1.476', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 01:24
'2024-01-12 01:24', '1.459', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:24', '1.459', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 01:30
'2024-01-12 01:30', '1.436', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:30', '1.436', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 01:36
'2024-01-12 01:36', '1.420', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:36', '1.420', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 01:42
'2024-01-12 01:42', '1.393', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:42', '1.393', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 01:48
'2024-01-12 01:48', '1.357', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:48', '1.357', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 01:54
'2024-01-12 01:54', '1.338', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 01:54', '1.338', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 02:00
'2024-01-12 02:00', '1.311', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:00', '1.311', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 02:06
'2024-01-12 02:06', '1.285', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:06', '1.285', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 02:12
'2024-01-12 02:12', '1.269', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:12', '1.269', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 02:18
'2024-01-12 02:18', '1.256', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:18', '1.256', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 02:24
'2024-01-12 02:24', '1.233', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:24', '1.233', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 02:30
'2024-01-12 02:30', '1.213', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:30', '1.213', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 02:36
'2024-01-12 02:36', '1.200', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:36', '1.200', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 02:42
'2024-01-12 02:42', '1.184', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:42', '1.184', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 02:48
'2024-01-12 02:48', '1.167', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:48', '1.167', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 02:54
'2024-01-12 02:54', '1.147', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 02:54', '1.147', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 03:00
'2024-01-12 03:00', '1.131', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:00', '1.131', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 03:06
'2024-01-12 03:06', '1.118', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:06', '1.118', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 03:12
'2024-01-12 03:12', '1.105', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:12', '1.105', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 03:18
'2024-01-12 03:18', '1.088', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:18', '1.088', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 03:24
'2024-01-12 03:24', '1.095', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:24', '1.095', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 03:30
'2024-01-12 03:30', '1.098', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:30', '1.098', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 03:36
'2024-01-12 03:36', '1.098', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:36', '1.098', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 03:42
'2024-01-12 03:42', '1.098', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:42', '1.098', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 03:48
'2024-01-12 03:48', '1.101', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:48', '1.101', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 03:54
'2024-01-12 03:54', '1.101', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 03:54', '1.101', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 04:00
'2024-01-12 04:00', '1.105', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:00', '1.105', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 04:06
'2024-01-12 04:06', '1.111', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:06', '1.111', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 04:12
'2024-01-12 04:12', '1.118', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:12', '1.118', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 04:18
'2024-01-12 04:18', '1.128', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:18', '1.128', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 04:24
'2024-01-12 04:24', '1.141', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:24', '1.141', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 04:30
'2024-01-12 04:30', '1.161', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:30', '1.161', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 04:36
'2024-01-12 04:36', '1.177', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:36', '1.177', '0.003', '0', '0', '0', '0', 'v')
2024-01-12 04:42
'2024-01-12 04:42', '1.197', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:42', '1.197', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 04:48
'2024-01-12 04:48', '1.223', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:48', '1.223', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 04:54
'2024-01-12 04:54', '1.249', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 04:54', '1.249', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 05:00
'2024-01-12 05:00', '1.275', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 05:00', '1.275', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 05:06
'2024-01-12 05:06', '1.305', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 05:06', '1.305', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 05:12
'2024-01-12 05:12', '1.334', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 05:12', '1.334', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 05:18
'2024-01-12 05:18', '1.364', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 05:18', '1.364', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 05:24
'2024-01-12 05:24', '1.397', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 05:24', '1.397', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 05:30
'2024-01-12 05:30', '1.433', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 05:30', '1.433', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 05:36

2024-01-12 09:42
'2024-01-12 09:42', '2.151', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 09:42', '2.151', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 09:48
'2024-01-12 09:48', '2.132', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 09:48', '2.132', '0.007', '0', '0', '0', '0', 'v')
2024-01-12 09:54
'2024-01-12 09:54', '2.099', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 09:54', '2.099', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 10:00
'2024-01-12 10:00', '2.066', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:00', '2.066', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 10:06
'2024-01-12 10:06', '2.030', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:06', '2.030', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 10:12
'2024-01-12 10:12', '1.997', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:12', '1.997', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 10:18
'2024-01-12 10:18', '1.951', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:18', '1.951', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 10:24
'2024-01-12 10:24', '1.905', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:24', '1.905', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 10:30
'2024-01-12 10:30', '1.876', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:30', '1.876', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 10:36
'2024-01-12 10:36', '1.833', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:36', '1.833', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 10:42
'2024-01-12 10:42', '1.800', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:42', '1.800', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 10:48
'2024-01-12 10:48', '1.764', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:48', '1.764', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 10:54
'2024-01-12 10:54', '1.722', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 10:54', '1.722', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 11:00
'2024-01-12 11:00', '1.679', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:00', '1.679', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 11:06
'2024-01-12 11:06', '1.646', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:06', '1.646', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 11:12
'2024-01-12 11:12', '1.613', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:12', '1.613', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 11:18
'2024-01-12 11:18', '1.574', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:18', '1.574', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 11:24
'2024-01-12 11:24', '1.531', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:24', '1.531', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 11:30
'2024-01-12 11:30', '1.492', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:30', '1.492', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 11:36
'2024-01-12 11:36', '1.453', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:36', '1.453', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 11:42
'2024-01-12 11:42', '1.407', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:42', '1.407', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 11:48
'2024-01-12 11:48', '1.361', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:48', '1.361', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 11:54
'2024-01-12 11:54', '1.318', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 11:54', '1.318', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 12:00
'2024-01-12 12:00', '1.275', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:00', '1.275', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 12:06
'2024-01-12 12:06', '1.236', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:06', '1.236', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 12:12
'2024-01-12 12:12', '1.193', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:12', '1.193', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 12:18
'2024-01-12 12:18', '1.151', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:18', '1.151', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 12:24
'2024-01-12 12:24', '1.108', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:24', '1.108', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 12:30
'2024-01-12 12:30', '1.065', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:30', '1.065', '0.013', '0', '0', '0', '0', 'v')
2024-01-12 12:36
'2024-01-12 12:36', '1.033', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:36', '1.033', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 12:42
'2024-01-12 12:42', '0.987', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:42', '0.987', '0.010', '0', '0', '0', '0', 'v')
2024-01-12 12:48
'2024-01-12 12:48', '0.951', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:48', '0.951', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 12:54
'2024-01-12 12:54', '0.911', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 12:54', '0.911', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 13:00
'2024-01-12 13:00', '0.892', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:00', '0.892', '0.023', '0', '0', '0', '0', 'v')
2024-01-12 13:06
'2024-01-12 13:06', '0.836', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:06', '0.836', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 13:12
'2024-01-12 13:12', '0.813', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:12', '0.813', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 13:18
'2024-01-12 13:18', '0.787', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:18', '0.787', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 13:24
'2024-01-12 13:24', '0.747', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:24', '0.747', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 13:30
'2024-01-12 13:30', '0.721', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:30', '0.721', '0.023', '0', '0', '0', '0', 'v')
2024-01-12 13:36
'2024-01-12 13:36', '0.691', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:36', '0.691', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 13:42
'2024-01-12 13:42', '0.655', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:42', '0.655', '0.026', '0', '0', '0', '0', 'v')
2024-01-12 13:48
'2024-01-12 13:48', '0.632', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:48', '0.632', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 13:54
'2024-01-12 13:54', '0.616', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 13:54', '0.616', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 14:00
'2024-01-12 14:00', '0.596', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:00', '0.596', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 14:06
'2024-01-12 14:06', '0.570', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:06', '0.570', '0.016', '0', '0', '0', '0', 'v')
2024-01-12 14:12
'2024-01-12 14:12', '0.547', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:12', '0.547', '0.020', '0', '0', '0', '0', 'v')
2024-01-12 14:18
'2024-01-12 14:18', '0.517', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:18', '0.517', '0.026', '0', '0', '0', '0', 'v')
2024-01-12 14:24
'2024-01-12 14:24', '0.504', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:24', '0.504', '0.026', '0', '0', '0', '0', 'v')
2024-01-12 14:30
'2024-01-12 14:30', '0.478', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:30', '0.478', '0.026', '0', '0', '0', '0', 'v')
2024-01-12 14:36
'2024-01-12 14:36', '0.472', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:36', '0.472', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 14:42
'2024-01-12 14:42', '0.455', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:42', '0.455', '0.033', '0', '0', '0', '0', 'v')
2024-01-12 14:48
'2024-01-12 14:48', '0.445', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:48', '0.445', '0.033', '0', '0', '0', '0', 'v')
2024-01-12 14:54
'2024-01-12 14:54', '0.429', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 14:54', '0.429', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 15:00
'2024-01-12 15:00', '0.426', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:00', '0.426', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 15:06
'2024-01-12 15:06', '0.419', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:06', '0.419', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 15:12
'2024-01-12 15:12', '0.413', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:12', '0.413', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 15:18
'2024-01-12 15:18', '0.409', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:18', '0.409', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 15:24
'2024-01-12 15:24', '0.409', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:24', '0.409', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 15:30
'2024-01-12 15:30', '0.409', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:30', '0.409', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 15:36
'2024-01-12 15:36', '0.406', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:36', '0.406', '0.033', '0', '0', '0', '0', 'v')
2024-01-12 15:42
'2024-01-12 15:42', '0.426', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:42', '0.426', '0.033', '0', '0', '0', '0', 'v')
2024-01-12 15:48
'2024-01-12 15:48', '0.435', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:48', '0.435', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 15:54
'2024-01-12 15:54', '0.445', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 15:54', '0.445', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 16:00
'2024-01-12 16:00', '0.452', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:00', '0.452', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 16:06
'2024-01-12 16:06', '0.468', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:06', '0.468', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 16:12
'2024-01-12 16:12', '0.498', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:12', '0.498', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 16:18
'2024-01-12 16:18', '0.527', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:18', '0.527', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 16:24
'2024-01-12 16:24', '0.554', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:24', '0.554', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 16:30
'2024-01-12 16:30', '0.580', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:30', '0.580', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 16:36
'2024-01-12 16:36', '0.613', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:36', '0.613', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 16:42
'2024-01-12 16:42', '0.626', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:42', '0.626', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 16:48
'2024-01-12 16:48', '0.659', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:48', '0.659', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 16:54
'2024-01-12 16:54', '0.698', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 16:54', '0.698', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 17:00
'2024-01-12 17:00', '0.734', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:00', '0.734', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 17:06
'2024-01-12 17:06', '0.780', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:06', '0.780', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 17:12
'2024-01-12 17:12', '0.823', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:12', '0.823', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 17:18
'2024-01-12 17:18', '0.869', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:18', '0.869', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 17:24
'2024-01-12 17:24', '0.918', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:24', '0.918', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 17:30
'2024-01-12 17:30', '0.954', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:30', '0.954', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 17:36
'2024-01-12 17:36', '1.010', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:36', '1.010', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 17:42
'2024-01-12 17:42', '1.069', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:42', '1.069', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 17:48
'2024-01-12 17:48', '1.124', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:48', '1.124', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 17:54
'2024-01-12 17:54', '1.174', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 17:54', '1.174', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 18:00
'2024-01-12 18:00', '1.236', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:00', '1.236', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 18:06
'2024-01-12 18:06', '1.295', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:06', '1.295', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 18:12
'2024-01-12 18:12', '1.334', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:12', '1.334', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 18:18
'2024-01-12 18:18', '1.400', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:18', '1.400', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 18:24
'2024-01-12 18:24', '1.459', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:24', '1.459', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 18:30
'2024-01-12 18:30', '1.515', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:30', '1.515', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 18:36
'2024-01-12 18:36', '1.574', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:36', '1.574', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 18:42
'2024-01-12 18:42', '1.630', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:42', '1.630', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 18:48
'2024-01-12 18:48', '1.682', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:48', '1.682', '0.052', '0', '0', '0', '0', 'v')
2024-01-12 18:54
'2024-01-12 18:54', '1.748', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 18:54', '1.748', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 19:00
'2024-01-12 19:00', '1.804', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:00', '1.804', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 19:06
'2024-01-12 19:06', '1.863', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:06', '1.863', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 19:12
'2024-01-12 19:12', '1.915', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:12', '1.915', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 19:18
'2024-01-12 19:18', '1.974', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:18', '1.974', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 19:24
'2024-01-12 19:24', '2.027', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:24', '2.027', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 19:30
'2024-01-12 19:30', '2.073', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:30', '2.073', '0.052', '0', '0', '0', '0', 'v')
2024-01-12 19:36
'2024-01-12 19:36', '2.119', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:36', '2.119', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 19:42
'2024-01-12 19:42', '2.164', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:42', '2.164', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 19:48
'2024-01-12 19:48', '2.214', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:48', '2.214', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 19:54
'2024-01-12 19:54', '2.256', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 19:54', '2.256', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 20:00
'2024-01-12 20:00', '2.299', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:00', '2.299', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 20:06
'2024-01-12 20:06', '2.355', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:06', '2.355', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 20:12
'2024-01-12 20:12', '2.384', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:12', '2.384', '0.052', '0', '0', '0', '0', 'v')
2024-01-12 20:18
'2024-01-12 20:18', '2.430', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:18', '2.430', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 20:24
'2024-01-12 20:24', '2.463', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:24', '2.463', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 20:30
'2024-01-12 20:30', '2.486', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:30', '2.486', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 20:36
'2024-01-12 20:36', '2.509', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:36', '2.509', '0.033', '0', '0', '0', '0', 'v')
2024-01-12 20:42
'2024-01-12 20:42', '2.552', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:42', '2.552', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 20:48
'2024-01-12 20:48', '2.561', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:48', '2.561', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 20:54
'2024-01-12 20:54', '2.594', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 20:54', '2.594', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 21:00
'2024-01-12 21:00', '2.627', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:00', '2.627', '0.049', '0', '0', '0', '0', 'v')

2024-01-12 21:06
'2024-01-12 21:06', '2.627', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:06', '2.627', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 21:12
'2024-01-12 21:12', '2.647', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:12', '2.647', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 21:18
'2024-01-12 21:18', '2.630', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:18', '2.630', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 21:24
'2024-01-12 21:24', '2.653', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:24', '2.653', '0.036', '0', '0', '0', '0', 'v')
2024-01-12 21:30
'2024-01-12 21:30', '2.670', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:30', '2.670', '0.039', '0', '0', '0', '0', 'v')
2024-01-12 21:36
'2024-01-12 21:36', '2.647', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:36', '2.647', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 21:42
'2024-01-12 21:42', '2.657', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:42', '2.657', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 21:48
'2024-01-12 21:48', '2.640', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:48', '2.640', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 21:54
'2024-01-12 21:54', '2.643', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 21:54', '2.643', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 22:00
'2024-01-12 22:00', '2.640', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:00', '2.640', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 22:06
'2024-01-12 22:06', '2.643', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:06', '2.643', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 22:12
'2024-01-12 22:12', '2.630', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:12', '2.630', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 22:18
'2024-01-12 22:18', '2.624', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:18', '2.624', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 22:24
'2024-01-12 22:24', '2.601', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:24', '2.601', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 22:30
'2024-01-12 22:30', '2.575', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:30', '2.575', '0.052', '0', '0', '0', '0', 'v')
2024-01-12 22:36
'2024-01-12 22:36', '2.575', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:36', '2.575', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 22:42
'2024-01-12 22:42', '2.571', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:42', '2.571', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 22:48
'2024-01-12 22:48', '2.571', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:48', '2.571', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 22:54
'2024-01-12 22:54', '2.558', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 22:54', '2.558', '0.052', '0', '0', '0', '0', 'v')
2024-01-12 23:00
'2024-01-12 23:00', '2.532', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:00', '2.532', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 23:06
'2024-01-12 23:06', '2.529', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:06', '2.529', '0.046', '0', '0', '0', '0', 'v')
2024-01-12 23:12
'2024-01-12 23:12', '2.512', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:12', '2.512', '0.049', '0', '0', '0', '0', 'v')
2024-01-12 23:18
'2024-01-12 23:18', '2.470', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:18', '2.470', '0.043', '0', '0', '0', '0', 'v')
2024-01-12 23:24
'2024-01-12 23:24', '2.443', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:24', '2.443', '0.056', '0', '0', '0', '0', 'v')
2024-01-12 23:30
'2024-01-12 23:30', '2.414', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:30', '2.414', '0.056', '0', '0', '0', '0', 'v')
2024-01-12 23:36
'2024-01-12 23:36', '2.397', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:36', '2.397', '0.059', '0', '0', '0', '0', 'v')
2024-01-12 23:42
'2024-01-12 23:42', '2.329', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:42', '2.329', '0.066', '0', '0', '0', '0', 'v')
2024-01-12 23:48
'2024-01-12 23:48', '2.289', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:48', '2.289', '0.059', '0', '0', '0', '0', 'v')
2024-01-12 23:54
'2024-01-12 23:54', '2.263', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-12 23:54', '2.263', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 00:00
'2024-01-13 00:00', '2.204', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:00', '2.204', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 00:06
'2024-01-13 00:06', '2.164', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:06', '2.164', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 00:12
'2024-01-13 00:12', '2.138', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:12', '2.138', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 00:18
'2024-01-13 00:18', '2.105', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:18', '2.105', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 00:24
'2024-01-13 00:24', '2.046', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:24', '2.046', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 00:30
'2024-01-13 00:30', '1.997', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:30', '1.997', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 00:36
'2024-01-13 00:36', '1.961', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:36', '1.961', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 00:42
'2024-01-13 00:42', '1.918', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:42', '1.918', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 00:48
'2024-01-13 00:48', '1.889', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:48', '1.889', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 00:54
'2024-01-13 00:54', '1.853', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 00:54', '1.853', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 01:00
'2024-01-13 01:00', '1.853', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:00', '1.853', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 01:06
'2024-01-13 01:06', '1.830', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:06', '1.830', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 01:12
'2024-01-13 01:12', '1.790', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:12', '1.790', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 01:18
'2024-01-13 01:18', '1.754', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:18', '1.754', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 01:24
'2024-01-13 01:24', '1.731', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:24', '1.731', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 01:30
'2024-01-13 01:30', '1.712', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:30', '1.712', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 01:36
'2024-01-13 01:36', '1.685', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:36', '1.685', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 01:42
'2024-01-13 01:42', '1.653', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:42', '1.653', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 01:48
'2024-01-13 01:48', '1.633', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:48', '1.633', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 01:54
'2024-01-13 01:54', '1.623', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 01:54', '1.623', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 02:00
'2024-01-13 02:00', '1.580', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:00', '1.580', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 02:06
'2024-01-13 02:06', '1.551', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:06', '1.551', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 02:12
'2024-01-13 02:12', '1.541', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:12', '1.541', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 02:18
'2024-01-13 02:18', '1.544', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:18', '1.544', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 02:24
'2024-01-13 02:24', '1.502', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:24', '1.502', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 02:30
'2024-01-13 02:30', '1.482', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:30', '1.482', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 02:36
'2024-01-13 02:36', '1.462', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:36', '1.462', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 02:42
'2024-01-13 02:42', '1.430', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:42', '1.430', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 02:48
'2024-01-13 02:48', '1.387', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:48', '1.387', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 02:54
'2024-01-13 02:54', '1.387', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 02:54', '1.387', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 03:00
'2024-01-13 03:00', '1.377', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:00', '1.377', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 03:06
'2024-01-13 03:06', '1.351', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:06', '1.351', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 03:12
'2024-01-13 03:12', '1.344', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:12', '1.344', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 03:18
'2024-01-13 03:18', '1.357', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:18', '1.357', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 03:24
'2024-01-13 03:24', '1.367', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:24', '1.367', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 03:30
'2024-01-13 03:30', '1.351', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:30', '1.351', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 03:36
'2024-01-13 03:36', '1.308', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:36', '1.308', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 03:42
'2024-01-13 03:42', '1.328', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:42', '1.328', '0.062', '0', '0', '0', '0', 'v')
2024-01-13 03:48
'2024-01-13 03:48', '1.298', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:48', '1.298', '0.059', '0', '0', '0', '0', 'v')
2024-01-13 03:54
'2024-01-13 03:54', '1.252', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 03:54', '1.252', '0.069', '0', '0', '0', '0', 'v')
2024-01-13 04:00
'2024-01-13 04:00', '1.249', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:00', '1.249', '0.066', '0', '0', '0', '0', 'v')
2024-01-13 04:06
'2024-01-13 04:06', '1.272', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:06', '1.272', '0.062', '0', '0', '0', '0', 'v')
2024-01-13 04:12
'2024-01-13 04:12', '1.321', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:12', '1.321', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 04:18
'2024-01-13 04:18', '1.321', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:18', '1.321', '0.059', '0', '0', '0', '0', 'v')
2024-01-13 04:24
'2024-01-13 04:24', '1.351', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:24', '1.351', '0.062', '0', '0', '0', '0', 'v')
2024-01-13 04:30
'2024-01-13 04:30', '1.341', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:30', '1.341', '0.059', '0', '0', '0', '0', 'v')
2024-01-13 04:36
'2024-01-13 04:36', '1.384', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:36', '1.384', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 04:42
'2024-01-13 04:42', '1.416', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:42', '1.416', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 04:48
'2024-01-13 04:48', '1.446', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:48', '1.446', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 04:54
'2024-01-13 04:54', '1.479', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 04:54', '1.479', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 05:00
'2024-01-13 05:00', '1.548', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:00', '1.548', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 05:06
'2024-01-13 05:06', '1.620', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:06', '1.620', '0.059', '0', '0', '0', '0', 'v')
2024-01-13 05:12
'2024-01-13 05:12', '1.725', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:12', '1.725', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 05:18
'2024-01-13 05:18', '1.820', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:18', '1.820', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 05:24
'2024-01-13 05:24', '1.909', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:24', '1.909', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 05:30
'2024-01-13 05:30', '1.987', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:30', '1.987', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 05:36
'2024-01-13 05:36', '2.059', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:36', '2.059', '0.033', '0', '0', '0', '0', 'v')
2024-01-13 05:42
'2024-01-13 05:42', '2.158', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:42', '2.158', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 05:48
'2024-01-13 05:48', '2.230', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:48', '2.230', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 05:54
'2024-01-13 05:54', '2.312', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 05:54', '2.312', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 06:00
'2024-01-13 06:00', '2.365', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:00', '2.365', '0.033', '0', '0', '0', '0', 'v')
2024-01-13 06:06
'2024-01-13 06:06', '2.414', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:06', '2.414', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 06:12
'2024-01-13 06:12', '2.463', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:12', '2.463', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 06:18
'2024-01-13 06:18', '2.509', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:18', '2.509', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 06:24
'2024-01-13 06:24', '2.565', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:24', '2.565', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 06:30
'2024-01-13 06:30', '2.578', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:30', '2.578', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 06:36
'2024-01-13 06:36', '2.621', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:36', '2.621', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 06:42
'2024-01-13 06:42', '2.666', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:42', '2.666', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 06:48
'2024-01-13 06:48', '2.699', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:48', '2.699', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 06:54
'2024-01-13 06:54', '2.739', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 06:54', '2.739', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 07:00
'2024-01-13 07:00', '2.775', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:00', '2.775', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 07:06
'2024-01-13 07:06', '2.801', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:06', '2.801', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 07:12
'2024-01-13 07:12', '2.853', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:12', '2.853', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 07:18
'2024-01-13 07:18', '2.896', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:18', '2.896', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 07:24
'2024-01-13 07:24', '2.929', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:24', '2.929', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 07:30
'2024-01-13 07:30', '2.998', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:30', '2.998', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 07:36
'2024-01-13 07:36', '3.050', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:36', '3.050', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 07:42
'2024-01-13 07:42', '3.109', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:42', '3.109', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 07:48
'2024-01-13 07:48', '3.168', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:48', '3.168', '0.033', '0', '0', '0', '0', 'v')
2024-01-13 07:54
'2024-01-13 07:54', '3.195', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 07:54', '3.195', '0.033', '0', '0', '0', '0', 'v')
2024-01-13 08:00
'2024-01-13 08:00', '3.234', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 08:00', '3.234', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 08:06
'2024-01-13 08:06', '3.273', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 08:06', '3.273', '0.033', '0', '0', '0', '0', 'v')
2024-01-13 08:12
'2024-01-13 08:12', '3.316', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 08:12', '3.316', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 08:18
'2024-01-13 08:18', '3.342', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 08:18', '3.342', '0.033', '0', '0', '0', '0', 'v')
2024-01-13 08:24
'2024-01-13 08:24', '3.369', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 08:24', '3.369', '0.026', '0', '0', '0', '0', 'v')
2024-01-13 08:30
'2024-01-13 08:30', '3.408', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 08:30', '3.408', '0.026', '0', '0', '0', '0', 'v')
2024-01-13 08:36
'2024-01-13 08:36', '3.441', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 08:36', '3.441', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 08:42

2024-01-13 10:48
'2024-01-13 10:48', '3.556', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 10:48', '3.556', '0.013', '0', '0', '0', '0', 'v')
2024-01-13 10:54
'2024-01-13 10:54', '3.549', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 10:54', '3.549', '0.016', '0', '0', '0', '0', 'v')
2024-01-13 11:00
'2024-01-13 11:00', '3.529', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:00', '3.529', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 11:06
'2024-01-13 11:06', '3.523', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:06', '3.523', '0.013', '0', '0', '0', '0', 'v')
2024-01-13 11:12
'2024-01-13 11:12', '3.506', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:12', '3.506', '0.013', '0', '0', '0', '0', 'v')
2024-01-13 11:18
'2024-01-13 11:18', '3.493', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:18', '3.493', '0.016', '0', '0', '0', '0', 'v')
2024-01-13 11:24
'2024-01-13 11:24', '3.470', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:24', '3.470', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 11:30
'2024-01-13 11:30', '3.434', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:30', '3.434', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 11:36
'2024-01-13 11:36', '3.411', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:36', '3.411', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 11:42
'2024-01-13 11:42', '3.385', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:42', '3.385', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 11:48
'2024-01-13 11:48', '3.369', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:48', '3.369', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 11:54
'2024-01-13 11:54', '3.339', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 11:54', '3.339', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 12:00
'2024-01-13 12:00', '3.313', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:00', '3.313', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 12:06
'2024-01-13 12:06', '3.273', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:06', '3.273', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 12:12
'2024-01-13 12:12', '3.250', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:12', '3.250', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 12:18
'2024-01-13 12:18', '3.211', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:18', '3.211', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 12:24
'2024-01-13 12:24', '3.172', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:24', '3.172', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 12:30
'2024-01-13 12:30', '3.129', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:30', '3.129', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 12:36
'2024-01-13 12:36', '3.096', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:36', '3.096', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 12:42
'2024-01-13 12:42', '3.060', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:42', '3.060', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 12:48
'2024-01-13 12:48', '3.021', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:48', '3.021', '0.026', '0', '0', '0', '0', 'v')
2024-01-13 12:54
'2024-01-13 12:54', '2.972', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 12:54', '2.972', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 13:00
'2024-01-13 13:00', '2.932', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:00', '2.932', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 13:06
'2024-01-13 13:06', '2.890', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:06', '2.890', '0.030', '0', '0', '0', '0', 'v')
2024-01-13 13:12
'2024-01-13 13:12', '2.850', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:12', '2.850', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 13:18
'2024-01-13 13:18', '2.814', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:18', '2.814', '0.016', '0', '0', '0', '0', 'v')
2024-01-13 13:24
'2024-01-13 13:24', '2.775', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:24', '2.775', '0.030', '0', '0', '0', '0', 'v')
2024-01-13 13:30
'2024-01-13 13:30', '2.739', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:30', '2.739', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 13:36
'2024-01-13 13:36', '2.703', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:36', '2.703', '0.020', '0', '0', '0', '0', 'v')
2024-01-13 13:42
'2024-01-13 13:42', '2.673', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:42', '2.673', '0.016', '0', '0', '0', '0', 'v')
2024-01-13 13:48
'2024-01-13 13:48', '2.637', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:48', '2.637', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 13:54
'2024-01-13 13:54', '2.611', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 13:54', '2.611', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 14:00
'2024-01-13 14:00', '2.578', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:00', '2.578', '0.023', '0', '0', '0', '0', 'v')
2024-01-13 14:06
'2024-01-13 14:06', '2.545', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:06', '2.545', '0.026', '0', '0', '0', '0', 'v')
2024-01-13 14:12
'2024-01-13 14:12', '2.506', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:12', '2.506', '0.026', '0', '0', '0', '0', 'v')
2024-01-13 14:18
'2024-01-13 14:18', '2.483', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:18', '2.483', '0.026', '0', '0', '0', '0', 'v')
2024-01-13 14:24
'2024-01-13 14:24', '2.456', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:24', '2.456', '0.033', '0', '0', '0', '0', 'v')
2024-01-13 14:30
'2024-01-13 14:30', '2.427', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:30', '2.427', '0.033', '0', '0', '0', '0', 'v')
2024-01-13 14:36
'2024-01-13 14:36', '2.391', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:36', '2.391', '0.030', '0', '0', '0', '0', 'v')
2024-01-13 14:42
'2024-01-13 14:42', '2.371', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:42', '2.371', '0.030', '0', '0', '0', '0', 'v')
2024-01-13 14:48
'2024-01-13 14:48', '2.358', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:48', '2.358', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 14:54
'2024-01-13 14:54', '2.335', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 14:54', '2.335', '0.030', '0', '0', '0', '0', 'v')
2024-01-13 15:00
'2024-01-13 15:00', '2.332', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:00', '2.332', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 15:06
'2024-01-13 15:06', '2.312', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:06', '2.312', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 15:12
'2024-01-13 15:12', '2.302', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:12', '2.302', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 15:18
'2024-01-13 15:18', '2.302', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:18', '2.302', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 15:24
'2024-01-13 15:24', '2.289', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:24', '2.289', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 15:30
'2024-01-13 15:30', '2.276', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:30', '2.276', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 15:36
'2024-01-13 15:36', '2.263', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:36', '2.263', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 15:42
'2024-01-13 15:42', '2.253', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:42', '2.253', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 15:48
'2024-01-13 15:48', '2.250', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:48', '2.250', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 15:54
'2024-01-13 15:54', '2.240', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 15:54', '2.240', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 16:00
'2024-01-13 16:00', '2.250', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:00', '2.250', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 16:06
'2024-01-13 16:06', '2.237', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:06', '2.237', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 16:12
'2024-01-13 16:12', '2.243', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:12', '2.243', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 16:18
'2024-01-13 16:18', '2.233', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:18', '2.233', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 16:24
'2024-01-13 16:24', '2.210', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:24', '2.210', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 16:30
'2024-01-13 16:30', '2.210', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:30', '2.210', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 16:36
'2024-01-13 16:36', '2.220', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:36', '2.220', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 16:42
'2024-01-13 16:42', '2.233', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:42', '2.233', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 16:48
'2024-01-13 16:48', '2.233', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:48', '2.233', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 16:54
'2024-01-13 16:54', '2.260', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 16:54', '2.260', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 17:00
'2024-01-13 17:00', '2.279', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:00', '2.279', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 17:06
'2024-01-13 17:06', '2.299', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:06', '2.299', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 17:12
'2024-01-13 17:12', '2.355', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:12', '2.355', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 17:18
'2024-01-13 17:18', '2.368', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:18', '2.368', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 17:24
'2024-01-13 17:24', '2.411', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:24', '2.411', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 17:30
'2024-01-13 17:30', '2.460', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:30', '2.460', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 17:36
'2024-01-13 17:36', '2.509', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:36', '2.509', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 17:42
'2024-01-13 17:42', '2.555', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:42', '2.555', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 17:48
'2024-01-13 17:48', '2.604', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:48', '2.604', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 17:54
'2024-01-13 17:54', '2.621', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 17:54', '2.621', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 18:00
'2024-01-13 18:00', '2.634', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:00', '2.634', '0.033', '0', '0', '0', '0', 'v')
2024-01-13 18:06
'2024-01-13 18:06', '2.637', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:06', '2.637', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 18:12
'2024-01-13 18:12', '2.643', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:12', '2.643', '0.036', '0', '0', '0', '0', 'v')
2024-01-13 18:18
'2024-01-13 18:18', '2.657', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:18', '2.657', '0.039', '0', '0', '0', '0', 'v')
2024-01-13 18:24
'2024-01-13 18:24', '2.670', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:24', '2.670', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 18:30
'2024-01-13 18:30', '2.706', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:30', '2.706', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 18:36
'2024-01-13 18:36', '2.758', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:36', '2.758', '0.062', '0', '0', '0', '0', 'v')
2024-01-13 18:42
'2024-01-13 18:42', '2.824', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:42', '2.824', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 18:48
'2024-01-13 18:48', '2.880', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:48', '2.880', '0.059', '0', '0', '0', '0', 'v')
2024-01-13 18:54
'2024-01-13 18:54', '2.932', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 18:54', '2.932', '0.066', '0', '0', '0', '0', 'v')
2024-01-13 19:00
'2024-01-13 19:00', '2.998', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:00', '2.998', '0.059', '0', '0', '0', '0', 'v')
2024-01-13 19:06
'2024-01-13 19:06', '3.067', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:06', '3.067', '0.069', '0', '0', '0', '0', 'v')
2024-01-13 19:12
'2024-01-13 19:12', '3.136', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:12', '3.136', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 19:18
'2024-01-13 19:18', '3.185', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:18', '3.185', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 19:24
'2024-01-13 19:24', '3.244', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:24', '3.244', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 19:30
'2024-01-13 19:30', '3.287', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:30', '3.287', '0.066', '0', '0', '0', '0', 'v')
2024-01-13 19:36
'2024-01-13 19:36', '3.319', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:36', '3.319', '0.069', '0', '0', '0', '0', 'v')
2024-01-13 19:42
'2024-01-13 19:42', '3.365', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:42', '3.365', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 19:48
'2024-01-13 19:48', '3.437', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:48', '3.437', '0.059', '0', '0', '0', '0', 'v')
2024-01-13 19:54
'2024-01-13 19:54', '3.460', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 19:54', '3.460', '0.062', '0', '0', '0', '0', 'v')
2024-01-13 20:00
'2024-01-13 20:00', '3.496', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:00', '3.496', '0.069', '0', '0', '0', '0', 'v')
2024-01-13 20:06
'2024-01-13 20:06', '3.559', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:06', '3.559', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 20:12
'2024-01-13 20:12', '3.572', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:12', '3.572', '0.062', '0', '0', '0', '0', 'v')
2024-01-13 20:18
'2024-01-13 20:18', '3.611', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:18', '3.611', '0.066', '0', '0', '0', '0', 'v')
2024-01-13 20:24
'2024-01-13 20:24', '3.677', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:24', '3.677', '0.066', '0', '0', '0', '0', 'v')
2024-01-13 20:30
'2024-01-13 20:30', '3.706', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:30', '3.706', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 20:36
'2024-01-13 20:36', '3.726', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:36', '3.726', '0.069', '0', '0', '0', '0', 'v')
2024-01-13 20:42
'2024-01-13 20:42', '3.726', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:42', '3.726', '0.059', '0', '0', '0', '0', 'v')
2024-01-13 20:48
'2024-01-13 20:48', '3.759', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:48', '3.759', '0.062', '0', '0', '0', '0', 'v')
2024-01-13 20:54
'2024-01-13 20:54', '3.762', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 20:54', '3.762', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 21:00
'2024-01-13 21:00', '3.769', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:00', '3.769', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 21:06
'2024-01-13 21:06', '3.775', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:06', '3.775', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 21:12
'2024-01-13 21:12', '3.762', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:12', '3.762', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 21:18
'2024-01-13 21:18', '3.782', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:18', '3.782', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 21:24
'2024-01-13 21:24', '3.769', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:24', '3.769', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 21:30
'2024-01-13 21:30', '3.769', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:30', '3.769', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 21:36
'2024-01-13 21:36', '3.782', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:36', '3.782', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 21:42
'2024-01-13 21:42', '3.788', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:42', '3.788', '0.052', '0', '0', '0', '0', 'v')
2024-01-13 21:48
'2024-01-13 21:48', '3.798', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:48', '3.798', '0.049', '0', '0', '0', '0', 'v')
2024-01-13 21:54
'2024-01-13 21:54', '3.811', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 21:54', '3.811', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 22:00
'2024-01-13 22:00', '3.802', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 22:00', '3.802', '0.056', '0', '0', '0', '0', 'v')
2024-01-13 22:06
'2024-01-13 22:06', '3.815', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 22:06', '3.815', '0.043', '0', '0', '0', '0', 'v')
2024-01-13 22:12
'2024-01-13 22:12', '3.798', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 22:12', '3.798', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 22:18
'2024-01-13 22:18', '3.769', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-13 22:18', '3.769', '0.046', '0', '0', '0', '0', 'v')
2024-01-13 22:24

INSERT INTO noaa_data VALUES ('2024-01-14 02:24', '2.217', '0.036', '0', '0', '0', '0', 'v')
2024-01-14 02:30
'2024-01-14 02:30', '2.181', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 02:30', '2.181', '0.039', '0', '0', '0', '0', 'v')
2024-01-14 02:36
'2024-01-14 02:36', '2.155', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 02:36', '2.155', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 02:42
'2024-01-14 02:42', '2.119', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 02:42', '2.119', '0.039', '0', '0', '0', '0', 'v')
2024-01-14 02:48
'2024-01-14 02:48', '2.099', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 02:48', '2.099', '0.039', '0', '0', '0', '0', 'v')
2024-01-14 02:54
'2024-01-14 02:54', '2.063', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 02:54', '2.063', '0.043', '0', '0', '0', '0', 'v')
2024-01-14 03:00
'2024-01-14 03:00', '2.037', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:00', '2.037', '0.036', '0', '0', '0', '0', 'v')
2024-01-14 03:06
'2024-01-14 03:06', '2.017', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:06', '2.017', '0.036', '0', '0', '0', '0', 'v')
2024-01-14 03:12
'2024-01-14 03:12', '1.991', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:12', '1.991', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 03:18
'2024-01-14 03:18', '1.955', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:18', '1.955', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 03:24
'2024-01-14 03:24', '1.941', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:24', '1.941', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 03:30
'2024-01-14 03:30', '1.912', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:30', '1.912', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 03:36
'2024-01-14 03:36', '1.892', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:36', '1.892', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 03:42
'2024-01-14 03:42', '1.869', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:42', '1.869', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 03:48
'2024-01-14 03:48', '1.846', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:48', '1.846', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 03:54
'2024-01-14 03:54', '1.813', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 03:54', '1.813', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 04:00
'2024-01-14 04:00', '1.790', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:00', '1.790', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 04:06
'2024-01-14 04:06', '1.761', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:06', '1.761', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 04:12
'2024-01-14 04:12', '1.738', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:12', '1.738', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 04:18
'2024-01-14 04:18', '1.735', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:18', '1.735', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 04:24
'2024-01-14 04:24', '1.702', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:24', '1.702', '0.036', '0', '0', '0', '0', 'v')
2024-01-14 04:30
'2024-01-14 04:30', '1.679', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:30', '1.679', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 04:36
'2024-01-14 04:36', '1.663', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:36', '1.663', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 04:42
'2024-01-14 04:42', '1.649', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:42', '1.649', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 04:48
'2024-01-14 04:48', '1.636', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:48', '1.636', '0.036', '0', '0', '0', '0', 'v')
2024-01-14 04:54
'2024-01-14 04:54', '1.626', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 04:54', '1.626', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 05:00
'2024-01-14 05:00', '1.620', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:00', '1.620', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 05:06
'2024-01-14 05:06', '1.607', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:06', '1.607', '0.043', '0', '0', '0', '0', 'v')
2024-01-14 05:12
'2024-01-14 05:12', '1.603', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:12', '1.603', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 05:18
'2024-01-14 05:18', '1.603', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:18', '1.603', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 05:24
'2024-01-14 05:24', '1.594', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:24', '1.594', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 05:30
'2024-01-14 05:30', '1.590', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:30', '1.590', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 05:36
'2024-01-14 05:36', '1.587', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:36', '1.587', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 05:42
'2024-01-14 05:42', '1.587', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:42', '1.587', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 05:48
'2024-01-14 05:48', '1.577', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:48', '1.577', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 05:54
'2024-01-14 05:54', '1.590', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 05:54', '1.590', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 06:00
'2024-01-14 06:00', '1.587', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:00', '1.587', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 06:06
'2024-01-14 06:06', '1.587', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:06', '1.587', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 06:12
'2024-01-14 06:12', '1.590', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:12', '1.590', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 06:18
'2024-01-14 06:18', '1.597', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:18', '1.597', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 06:24
'2024-01-14 06:24', '1.600', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:24', '1.600', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 06:30
'2024-01-14 06:30', '1.600', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:30', '1.600', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 06:36
'2024-01-14 06:36', '1.613', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:36', '1.613', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 06:42
'2024-01-14 06:42', '1.626', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:42', '1.626', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 06:48
'2024-01-14 06:48', '1.636', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:48', '1.636', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 06:54
'2024-01-14 06:54', '1.649', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 06:54', '1.649', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 07:00
'2024-01-14 07:00', '1.676', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:00', '1.676', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 07:06
'2024-01-14 07:06', '1.708', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:06', '1.708', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 07:12
'2024-01-14 07:12', '1.728', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:12', '1.728', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 07:18
'2024-01-14 07:18', '1.754', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:18', '1.754', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 07:24
'2024-01-14 07:24', '1.771', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:24', '1.771', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 07:30
'2024-01-14 07:30', '1.820', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:30', '1.820', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 07:36
'2024-01-14 07:36', '1.853', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:36', '1.853', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 07:42
'2024-01-14 07:42', '1.886', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:42', '1.886', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 07:48
'2024-01-14 07:48', '1.922', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:48', '1.922', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 07:54
'2024-01-14 07:54', '1.961', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 07:54', '1.961', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 08:00
'2024-01-14 08:00', '2.004', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:00', '2.004', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 08:06
'2024-01-14 08:06', '2.037', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:06', '2.037', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 08:12
'2024-01-14 08:12', '2.073', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:12', '2.073', '0.016', '0', '0', '0', '0', 'v')
2024-01-14 08:18
'2024-01-14 08:18', '2.119', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:18', '2.119', '0.016', '0', '0', '0', '0', 'v')
2024-01-14 08:24
'2024-01-14 08:24', '2.138', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:24', '2.138', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 08:30
'2024-01-14 08:30', '2.181', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:30', '2.181', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 08:36
'2024-01-14 08:36', '2.210', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:36', '2.210', '0.016', '0', '0', '0', '0', 'v')
2024-01-14 08:42
'2024-01-14 08:42', '2.246', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:42', '2.246', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 08:48
'2024-01-14 08:48', '2.279', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:48', '2.279', '0.016', '0', '0', '0', '0', 'v')
2024-01-14 08:54
'2024-01-14 08:54', '2.315', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 08:54', '2.315', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 09:00
'2024-01-14 09:00', '2.348', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:00', '2.348', '0.013', '0', '0', '0', '0', 'v')
2024-01-14 09:06
'2024-01-14 09:06', '2.371', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:06', '2.371', '0.013', '0', '0', '0', '0', 'v')
2024-01-14 09:12
'2024-01-14 09:12', '2.394', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:12', '2.394', '0.016', '0', '0', '0', '0', 'v')
2024-01-14 09:18
'2024-01-14 09:18', '2.427', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:18', '2.427', '0.016', '0', '0', '0', '0', 'v')
2024-01-14 09:24
'2024-01-14 09:24', '2.450', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:24', '2.450', '0.013', '0', '0', '0', '0', 'v')
2024-01-14 09:30
'2024-01-14 09:30', '2.473', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:30', '2.473', '0.013', '0', '0', '0', '0', 'v')
2024-01-14 09:36
'2024-01-14 09:36', '2.499', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:36', '2.499', '0.010', '0', '0', '0', '0', 'v')
2024-01-14 09:42
'2024-01-14 09:42', '2.509', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:42', '2.509', '0.010', '0', '0', '0', '0', 'v')
2024-01-14 09:48
'2024-01-14 09:48', '2.525', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:48', '2.525', '0.007', '0', '0', '0', '0', 'v')
2024-01-14 09:54
'2024-01-14 09:54', '2.545', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 09:54', '2.545', '0.007', '0', '0', '0', '0', 'v')
2024-01-14 10:00
'2024-01-14 10:00', '2.558', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:00', '2.558', '0.003', '0', '0', '0', '0', 'v')
2024-01-14 10:06
'2024-01-14 10:06', '2.565', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:06', '2.565', '0.003', '0', '0', '0', '0', 'v')
2024-01-14 10:12
'2024-01-14 10:12', '2.571', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:12', '2.571', '0.007', '0', '0', '0', '0', 'v')
2024-01-14 10:18
'2024-01-14 10:18', '2.571', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:18', '2.571', '0.007', '0', '0', '0', '0', 'v')
2024-01-14 10:24
'2024-01-14 10:24', '2.575', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:24', '2.575', '0.007', '0', '0', '0', '0', 'v')
2024-01-14 10:30
'2024-01-14 10:30', '2.575', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:30', '2.575', '0.007', '0', '0', '0', '0', 'v')
2024-01-14 10:36
'2024-01-14 10:36', '2.575', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:36', '2.575', '0.003', '0', '0', '0', '0', 'v')
2024-01-14 10:42
'2024-01-14 10:42', '2.568', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:42', '2.568', '0.003', '0', '0', '0', '0', 'v')
2024-01-14 10:48
'2024-01-14 10:48', '2.558', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:48', '2.558', '0.003', '0', '0', '0', '0', 'v')
2024-01-14 10:54
'2024-01-14 10:54', '2.545', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 10:54', '2.545', '0.010', '0', '0', '0', '0', 'v')
2024-01-14 11:00
'2024-01-14 11:00', '2.532', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:00', '2.532', '0.010', '0', '0', '0', '0', 'v')
2024-01-14 11:06
'2024-01-14 11:06', '2.525', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:06', '2.525', '0.007', '0', '0', '0', '0', 'v')
2024-01-14 11:12
'2024-01-14 11:12', '2.512', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:12', '2.512', '0.007', '0', '0', '0', '0', 'v')
2024-01-14 11:18
'2024-01-14 11:18', '2.489', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:18', '2.489', '0.010', '0', '0', '0', '0', 'v')
2024-01-14 11:24
'2024-01-14 11:24', '2.463', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:24', '2.463', '0.013', '0', '0', '0', '0', 'v')
2024-01-14 11:30
'2024-01-14 11:30', '2.434', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:30', '2.434', '0.010', '0', '0', '0', '0', 'v')
2024-01-14 11:36
'2024-01-14 11:36', '2.404', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:36', '2.404', '0.016', '0', '0', '0', '0', 'v')
2024-01-14 11:42
'2024-01-14 11:42', '2.368', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:42', '2.368', '0.013', '0', '0', '0', '0', 'v')
2024-01-14 11:48
'2024-01-14 11:48', '2.335', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:48', '2.335', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 11:54
'2024-01-14 11:54', '2.299', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 11:54', '2.299', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 12:00
'2024-01-14 12:00', '2.269', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:00', '2.269', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 12:06
'2024-01-14 12:06', '2.233', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:06', '2.233', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 12:12
'2024-01-14 12:12', '2.187', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:12', '2.187', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 12:18
'2024-01-14 12:18', '2.151', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:18', '2.151', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 12:24
'2024-01-14 12:24', '2.105', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:24', '2.105', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 12:30
'2024-01-14 12:30', '2.069', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:30', '2.069', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 12:36
'2024-01-14 12:36', '2.040', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:36', '2.040', '0.020', '0', '0', '0', '0', 'v')
2024-01-14 12:42
'2024-01-14 12:42', '1.991', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:42', '1.991', '0.016', '0', '0', '0', '0', 'v')
2024-01-14 12:48
'2024-01-14 12:48', '1.941', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:48', '1.941', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 12:54
'2024-01-14 12:54', '1.899', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 12:54', '1.899', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 13:00
'2024-01-14 13:00', '1.859', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:00', '1.859', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 13:06
'2024-01-14 13:06', '1.813', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:06', '1.813', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 13:12
'2024-01-14 13:12', '1.774', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:12', '1.774', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 13:18
'2024-01-14 13:18', '1.731', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:18', '1.731', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 13:24
'2024-01-14 13:24', '1.692', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:24', '1.692', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 13:30
'2024-01-14 13:30', '1.666', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:30', '1.666', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 13:36
'2024-01-14 13:36', '1.623', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:36', '1.623', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 13:42
'2024-01-14 13:42', '1.580', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:42', '1.580', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 13:48
'2024-01-14 13:48', '1.541', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:48', '1.541', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 13:54
'2024-01-14 13:54', '1.495', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 13:54', '1.495', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 14:00
'2024-01-14 14:00', '1.462', '0.026', '0', '0', '0', '0', 'v'

2024-01-14 15:06
'2024-01-14 15:06', '1.111', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 15:06', '1.111', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 15:12
'2024-01-14 15:12', '1.095', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 15:12', '1.095', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 15:18
'2024-01-14 15:18', '1.082', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 15:18', '1.082', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 15:24
'2024-01-14 15:24', '1.056', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 15:24', '1.056', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 15:30
'2024-01-14 15:30', '1.049', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 15:30', '1.049', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 15:36
'2024-01-14 15:36', '1.052', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 15:36', '1.052', '0.023', '0', '0', '0', '0', 'v')
2024-01-14 15:42
'2024-01-14 15:42', '1.042', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 15:42', '1.042', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 15:48
'2024-01-14 15:48', '1.046', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 15:48', '1.046', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 15:54
'2024-01-14 15:54', '1.039', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 15:54', '1.039', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 16:00
'2024-01-14 16:00', '1.029', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:00', '1.029', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 16:06
'2024-01-14 16:06', '1.046', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:06', '1.046', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 16:12
'2024-01-14 16:12', '1.046', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:12', '1.046', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 16:18
'2024-01-14 16:18', '1.049', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:18', '1.049', '0.026', '0', '0', '0', '0', 'v')
2024-01-14 16:24
'2024-01-14 16:24', '1.062', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:24', '1.062', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 16:30
'2024-01-14 16:30', '1.065', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:30', '1.065', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 16:36
'2024-01-14 16:36', '1.079', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:36', '1.079', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 16:42
'2024-01-14 16:42', '1.092', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:42', '1.092', '0.030', '0', '0', '0', '0', 'v')
2024-01-14 16:48
'2024-01-14 16:48', '1.075', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:48', '1.075', '0.043', '0', '0', '0', '0', 'v')
2024-01-14 16:54
'2024-01-14 16:54', '1.131', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 16:54', '1.131', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 17:00
'2024-01-14 17:00', '1.128', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:00', '1.128', '0.033', '0', '0', '0', '0', 'v')
2024-01-14 17:06
'2024-01-14 17:06', '1.161', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:06', '1.161', '0.046', '0', '0', '0', '0', 'v')
2024-01-14 17:12
'2024-01-14 17:12', '1.157', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:12', '1.157', '0.046', '0', '0', '0', '0', 'v')
2024-01-14 17:18
'2024-01-14 17:18', '1.190', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:18', '1.190', '0.036', '0', '0', '0', '0', 'v')
2024-01-14 17:24
'2024-01-14 17:24', '1.210', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:24', '1.210', '0.039', '0', '0', '0', '0', 'v')
2024-01-14 17:30
'2024-01-14 17:30', '1.252', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:30', '1.252', '0.039', '0', '0', '0', '0', 'v')
2024-01-14 17:36
'2024-01-14 17:36', '1.252', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:36', '1.252', '0.049', '0', '0', '0', '0', 'v')
2024-01-14 17:42
'2024-01-14 17:42', '1.285', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:42', '1.285', '0.036', '0', '0', '0', '0', 'v')
2024-01-14 17:48
'2024-01-14 17:48', '1.318', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:48', '1.318', '0.046', '0', '0', '0', '0', 'v')
2024-01-14 17:54
'2024-01-14 17:54', '1.361', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 17:54', '1.361', '0.049', '0', '0', '0', '0', 'v')
2024-01-14 18:00
'2024-01-14 18:00', '1.390', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:00', '1.390', '0.043', '0', '0', '0', '0', 'v')
2024-01-14 18:06
'2024-01-14 18:06', '1.446', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:06', '1.446', '0.056', '0', '0', '0', '0', 'v')
2024-01-14 18:12
'2024-01-14 18:12', '1.456', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:12', '1.456', '0.039', '0', '0', '0', '0', 'v')
2024-01-14 18:18
'2024-01-14 18:18', '1.498', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:18', '1.498', '0.056', '0', '0', '0', '0', 'v')
2024-01-14 18:24
'2024-01-14 18:24', '1.597', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:24', '1.597', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 18:30
'2024-01-14 18:30', '1.669', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:30', '1.669', '0.079', '0', '0', '0', '0', 'v')
2024-01-14 18:36
'2024-01-14 18:36', '1.764', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:36', '1.764', '0.082', '0', '0', '0', '0', 'v')
2024-01-14 18:42
'2024-01-14 18:42', '1.843', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:42', '1.843', '0.075', '0', '0', '0', '0', 'v')
2024-01-14 18:48
'2024-01-14 18:48', '1.968', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:48', '1.968', '0.079', '0', '0', '0', '0', 'v')
2024-01-14 18:54
'2024-01-14 18:54', '2.004', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 18:54', '2.004', '0.075', '0', '0', '0', '0', 'v')
2024-01-14 19:00
'2024-01-14 19:00', '2.059', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:00', '2.059', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 19:06
'2024-01-14 19:06', '2.132', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:06', '2.132', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 19:12
'2024-01-14 19:12', '2.174', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:12', '2.174', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 19:18
'2024-01-14 19:18', '2.214', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:18', '2.214', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 19:24
'2024-01-14 19:24', '2.227', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:24', '2.227', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 19:30
'2024-01-14 19:30', '2.240', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:30', '2.240', '0.056', '0', '0', '0', '0', 'v')
2024-01-14 19:36
'2024-01-14 19:36', '2.276', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:36', '2.276', '0.072', '0', '0', '0', '0', 'v')
2024-01-14 19:42
'2024-01-14 19:42', '2.289', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:42', '2.289', '0.075', '0', '0', '0', '0', 'v')
2024-01-14 19:48
'2024-01-14 19:48', '2.319', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:48', '2.319', '0.059', '0', '0', '0', '0', 'v')
2024-01-14 19:54
'2024-01-14 19:54', '2.329', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 19:54', '2.329', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 20:00
'2024-01-14 20:00', '2.361', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:00', '2.361', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 20:06
'2024-01-14 20:06', '2.391', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:06', '2.391', '0.059', '0', '0', '0', '0', 'v')
2024-01-14 20:12
'2024-01-14 20:12', '2.407', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:12', '2.407', '0.069', '0', '0', '0', '0', 'v')
2024-01-14 20:18
'2024-01-14 20:18', '2.430', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:18', '2.430', '0.059', '0', '0', '0', '0', 'v')
2024-01-14 20:24
'2024-01-14 20:24', '2.443', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:24', '2.443', '0.072', '0', '0', '0', '0', 'v')
2024-01-14 20:30
'2024-01-14 20:30', '2.496', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:30', '2.496', '0.056', '0', '0', '0', '0', 'v')
2024-01-14 20:36
'2024-01-14 20:36', '2.506', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:36', '2.506', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 20:42
'2024-01-14 20:42', '2.538', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:42', '2.538', '0.059', '0', '0', '0', '0', 'v')
2024-01-14 20:48
'2024-01-14 20:48', '2.578', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:48', '2.578', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 20:54
'2024-01-14 20:54', '2.614', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 20:54', '2.614', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 21:00
'2024-01-14 21:00', '2.614', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:00', '2.614', '0.075', '0', '0', '0', '0', 'v')
2024-01-14 21:06
'2024-01-14 21:06', '2.676', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:06', '2.676', '0.069', '0', '0', '0', '0', 'v')
2024-01-14 21:12
'2024-01-14 21:12', '2.706', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:12', '2.706', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 21:18
'2024-01-14 21:18', '2.732', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:18', '2.732', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 21:24
'2024-01-14 21:24', '2.781', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:24', '2.781', '0.059', '0', '0', '0', '0', 'v')
2024-01-14 21:30
'2024-01-14 21:30', '2.817', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:30', '2.817', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 21:36
'2024-01-14 21:36', '2.857', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:36', '2.857', '0.056', '0', '0', '0', '0', 'v')
2024-01-14 21:42
'2024-01-14 21:42', '2.873', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:42', '2.873', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 21:48
'2024-01-14 21:48', '2.913', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:48', '2.913', '0.072', '0', '0', '0', '0', 'v')
2024-01-14 21:54
'2024-01-14 21:54', '2.929', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 21:54', '2.929', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 22:00
'2024-01-14 22:00', '2.958', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:00', '2.958', '0.072', '0', '0', '0', '0', 'v')
2024-01-14 22:06
'2024-01-14 22:06', '2.965', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:06', '2.965', '0.082', '0', '0', '0', '0', 'v')
2024-01-14 22:12
'2024-01-14 22:12', '2.998', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:12', '2.998', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 22:18
'2024-01-14 22:18', '3.004', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:18', '3.004', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 22:24
'2024-01-14 22:24', '2.991', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:24', '2.991', '0.069', '0', '0', '0', '0', 'v')
2024-01-14 22:30
'2024-01-14 22:30', '3.001', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:30', '3.001', '0.069', '0', '0', '0', '0', 'v')
2024-01-14 22:36
'2024-01-14 22:36', '3.001', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:36', '3.001', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 22:42
'2024-01-14 22:42', '3.011', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:42', '3.011', '0.082', '0', '0', '0', '0', 'v')
2024-01-14 22:48
'2024-01-14 22:48', '2.981', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:48', '2.981', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 22:54
'2024-01-14 22:54', '2.972', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 22:54', '2.972', '0.075', '0', '0', '0', '0', 'v')
2024-01-14 23:00
'2024-01-14 23:00', '2.945', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:00', '2.945', '0.072', '0', '0', '0', '0', 'v')
2024-01-14 23:06
'2024-01-14 23:06', '2.922', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:06', '2.922', '0.075', '0', '0', '0', '0', 'v')
2024-01-14 23:12
'2024-01-14 23:12', '2.893', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:12', '2.893', '0.082', '0', '0', '0', '0', 'v')
2024-01-14 23:18
'2024-01-14 23:18', '2.860', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:18', '2.860', '0.062', '0', '0', '0', '0', 'v')
2024-01-14 23:24
'2024-01-14 23:24', '2.840', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:24', '2.840', '0.059', '0', '0', '0', '0', 'v')
2024-01-14 23:30
'2024-01-14 23:30', '2.808', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:30', '2.808', '0.066', '0', '0', '0', '0', 'v')
2024-01-14 23:36
'2024-01-14 23:36', '2.781', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:36', '2.781', '0.056', '0', '0', '0', '0', 'v')
2024-01-14 23:42
'2024-01-14 23:42', '2.745', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:42', '2.745', '0.059', '0', '0', '0', '0', 'v')
2024-01-14 23:48
'2024-01-14 23:48', '2.722', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:48', '2.722', '0.056', '0', '0', '0', '0', 'v')
2024-01-14 23:54
'2024-01-14 23:54', '2.693', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-14 23:54', '2.693', '0.052', '0', '0', '0', '0', 'v')
2024-01-15 00:00
'2024-01-15 00:00', '2.663', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:00', '2.663', '0.052', '0', '0', '0', '0', 'v')
2024-01-15 00:06
'2024-01-15 00:06', '2.621', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:06', '2.621', '0.046', '0', '0', '0', '0', 'v')
2024-01-15 00:12
'2024-01-15 00:12', '2.565', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:12', '2.565', '0.049', '0', '0', '0', '0', 'v')
2024-01-15 00:18
'2024-01-15 00:18', '2.519', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:18', '2.519', '0.052', '0', '0', '0', '0', 'v')
2024-01-15 00:24
'2024-01-15 00:24', '2.453', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:24', '2.453', '0.049', '0', '0', '0', '0', 'v')
2024-01-15 00:30
'2024-01-15 00:30', '2.411', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:30', '2.411', '0.052', '0', '0', '0', '0', 'v')
2024-01-15 00:36
'2024-01-15 00:36', '2.371', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:36', '2.371', '0.059', '0', '0', '0', '0', 'v')
2024-01-15 00:42
'2024-01-15 00:42', '2.319', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:42', '2.319', '0.059', '0', '0', '0', '0', 'v')
2024-01-15 00:48
'2024-01-15 00:48', '2.306', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:48', '2.306', '0.052', '0', '0', '0', '0', 'v')
2024-01-15 00:54
'2024-01-15 00:54', '2.243', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 00:54', '2.243', '0.056', '0', '0', '0', '0', 'v')
2024-01-15 01:00
'2024-01-15 01:00', '2.191', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:00', '2.191', '0.059', '0', '0', '0', '0', 'v')
2024-01-15 01:06
'2024-01-15 01:06', '2.168', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:06', '2.168', '0.049', '0', '0', '0', '0', 'v')
2024-01-15 01:12
'2024-01-15 01:12', '2.112', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:12', '2.112', '0.049', '0', '0', '0', '0', 'v')
2024-01-15 01:18
'2024-01-15 01:18', '2.069', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:18', '2.069', '0.046', '0', '0', '0', '0', 'v')
2024-01-15 01:24
'2024-01-15 01:24', '2.020', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:24', '2.020', '0.052', '0', '0', '0', '0', 'v')
2024-01-15 01:30
'2024-01-15 01:30', '1.981', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:30', '1.981', '0.056', '0', '0', '0', '0', 'v')
2024-01-15 01:36
'2024-01-15 01:36', '1.938', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:36', '1.938', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 01:42
'2024-01-15 01:42', '1.909', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:42', '1.909', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 01:48
'2024-01-15 01:48', '1.872', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:48', '1.872', '0.046', '0', '0', '0', '0', 'v')
2024-01-15 01:54
'2024-01-15 01:54', '1.846', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 01:54', '1.846', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 02:00
'2024-01-15 02:00', '1.794', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 02:00', '1.794', '0.049', '0', '0', '0', '0', 'v')
2024-01-15 02:06
'2024-01-15 02:06', '1.761', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 02:06', '1.761', '0.052', '0', '0', '0', '0', 'v')
2024-01-15 02:12
'2024-01-15 02:12', '1.722', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 02:12', '1.722', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 02:18
'2024-01-15 02:18', '1.685', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 02:18', '1.685', '0.052', '0', '0', '0', '0', 'v')
2024-01-15 02:24
'2024-01-15 02:24', '1.656', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 02:24', '1.656', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 02:30
'2024-01-15 02:30', '1.617', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 02:30', '1.617', '0.049', '0', '0', '0', '0', 'v')
2024-01-15 02:36
'2024-01-15 02:36', '1.567', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 02:36', '1.567', '0.052', '0', '0', '0', '0', 'v')
2024-01-15 02:42

2024-01-15 04:36
'2024-01-15 04:36', '0.885', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 04:36', '0.885', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 04:42
'2024-01-15 04:42', '0.862', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 04:42', '0.862', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 04:48
'2024-01-15 04:48', '0.855', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 04:48', '0.855', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 04:54
'2024-01-15 04:54', '0.836', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 04:54', '0.836', '0.046', '0', '0', '0', '0', 'v')
2024-01-15 05:00
'2024-01-15 05:00', '0.823', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:00', '0.823', '0.049', '0', '0', '0', '0', 'v')
2024-01-15 05:06
'2024-01-15 05:06', '0.813', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:06', '0.813', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 05:12
'2024-01-15 05:12', '0.793', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:12', '0.793', '0.056', '0', '0', '0', '0', 'v')
2024-01-15 05:18
'2024-01-15 05:18', '0.764', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:18', '0.764', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 05:24
'2024-01-15 05:24', '0.750', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:24', '0.750', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 05:30
'2024-01-15 05:30', '0.721', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:30', '0.721', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 05:36
'2024-01-15 05:36', '0.714', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:36', '0.714', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 05:42
'2024-01-15 05:42', '0.708', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:42', '0.708', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 05:48
'2024-01-15 05:48', '0.682', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:48', '0.682', '0.049', '0', '0', '0', '0', 'v')
2024-01-15 05:54
'2024-01-15 05:54', '0.685', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 05:54', '0.685', '0.049', '0', '0', '0', '0', 'v')
2024-01-15 06:00
'2024-01-15 06:00', '0.665', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:00', '0.665', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 06:06
'2024-01-15 06:06', '0.649', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:06', '0.649', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 06:12
'2024-01-15 06:12', '0.645', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:12', '0.645', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 06:18
'2024-01-15 06:18', '0.636', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:18', '0.636', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 06:24
'2024-01-15 06:24', '0.613', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:24', '0.613', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 06:30
'2024-01-15 06:30', '0.613', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:30', '0.613', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 06:36
'2024-01-15 06:36', '0.609', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:36', '0.609', '0.046', '0', '0', '0', '0', 'v')
2024-01-15 06:42
'2024-01-15 06:42', '0.596', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:42', '0.596', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 06:48
'2024-01-15 06:48', '0.593', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:48', '0.593', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 06:54
'2024-01-15 06:54', '0.593', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 06:54', '0.593', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 07:00
'2024-01-15 07:00', '0.577', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:00', '0.577', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 07:06
'2024-01-15 07:06', '0.586', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:06', '0.586', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 07:12
'2024-01-15 07:12', '0.573', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:12', '0.573', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 07:18
'2024-01-15 07:18', '0.583', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:18', '0.583', '0.026', '0', '0', '0', '0', 'v')
2024-01-15 07:24
'2024-01-15 07:24', '0.567', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:24', '0.567', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 07:30
'2024-01-15 07:30', '0.567', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:30', '0.567', '0.026', '0', '0', '0', '0', 'v')
2024-01-15 07:36
'2024-01-15 07:36', '0.577', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:36', '0.577', '0.026', '0', '0', '0', '0', 'v')
2024-01-15 07:42
'2024-01-15 07:42', '0.577', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:42', '0.577', '0.023', '0', '0', '0', '0', 'v')
2024-01-15 07:48
'2024-01-15 07:48', '0.586', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:48', '0.586', '0.020', '0', '0', '0', '0', 'v')
2024-01-15 07:54
'2024-01-15 07:54', '0.583', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 07:54', '0.583', '0.020', '0', '0', '0', '0', 'v')
2024-01-15 08:00
'2024-01-15 08:00', '0.613', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:00', '0.613', '0.023', '0', '0', '0', '0', 'v')
2024-01-15 08:06
'2024-01-15 08:06', '0.619', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:06', '0.619', '0.023', '0', '0', '0', '0', 'v')
2024-01-15 08:12
'2024-01-15 08:12', '0.626', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:12', '0.626', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 08:18
'2024-01-15 08:18', '0.642', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:18', '0.642', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 08:24
'2024-01-15 08:24', '0.665', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:24', '0.665', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 08:30
'2024-01-15 08:30', '0.688', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:30', '0.688', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 08:36
'2024-01-15 08:36', '0.698', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:36', '0.698', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 08:42
'2024-01-15 08:42', '0.727', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:42', '0.727', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 08:48
'2024-01-15 08:48', '0.744', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:48', '0.744', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 08:54
'2024-01-15 08:54', '0.783', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 08:54', '0.783', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 09:00
'2024-01-15 09:00', '0.813', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:00', '0.813', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 09:06
'2024-01-15 09:06', '0.842', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:06', '0.842', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 09:12
'2024-01-15 09:12', '0.885', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:12', '0.885', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 09:18
'2024-01-15 09:18', '0.905', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:18', '0.905', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 09:24
'2024-01-15 09:24', '0.960', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:24', '0.960', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 09:30
'2024-01-15 09:30', '0.983', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:30', '0.983', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 09:36
'2024-01-15 09:36', '1.023', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:36', '1.023', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 09:42
'2024-01-15 09:42', '1.069', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:42', '1.069', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 09:48
'2024-01-15 09:48', '1.098', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:48', '1.098', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 09:54
'2024-01-15 09:54', '1.131', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 09:54', '1.131', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 10:00
'2024-01-15 10:00', '1.164', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:00', '1.164', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 10:06
'2024-01-15 10:06', '1.200', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:06', '1.200', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 10:12
'2024-01-15 10:12', '1.229', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:12', '1.229', '0.046', '0', '0', '0', '0', 'v')
2024-01-15 10:18
'2024-01-15 10:18', '1.252', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:18', '1.252', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 10:24
'2024-01-15 10:24', '1.269', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:24', '1.269', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 10:30
'2024-01-15 10:30', '1.311', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:30', '1.311', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 10:36
'2024-01-15 10:36', '1.344', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:36', '1.344', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 10:42
'2024-01-15 10:42', '1.374', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:42', '1.374', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 10:48
'2024-01-15 10:48', '1.387', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:48', '1.387', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 10:54
'2024-01-15 10:54', '1.416', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 10:54', '1.416', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 11:00
'2024-01-15 11:00', '1.456', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:00', '1.456', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 11:06
'2024-01-15 11:06', '1.466', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:06', '1.466', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 11:12
'2024-01-15 11:12', '1.489', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:12', '1.489', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 11:18
'2024-01-15 11:18', '1.518', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:18', '1.518', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 11:24
'2024-01-15 11:24', '1.538', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:24', '1.538', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 11:30
'2024-01-15 11:30', '1.541', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:30', '1.541', '0.026', '0', '0', '0', '0', 'v')
2024-01-15 11:36
'2024-01-15 11:36', '1.571', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:36', '1.571', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 11:42
'2024-01-15 11:42', '1.597', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:42', '1.597', '0.020', '0', '0', '0', '0', 'v')
2024-01-15 11:48
'2024-01-15 11:48', '1.594', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:48', '1.594', '0.020', '0', '0', '0', '0', 'v')
2024-01-15 11:54
'2024-01-15 11:54', '1.603', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 11:54', '1.603', '0.020', '0', '0', '0', '0', 'v')
2024-01-15 12:00
'2024-01-15 12:00', '1.607', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:00', '1.607', '0.023', '0', '0', '0', '0', 'v')
2024-01-15 12:06
'2024-01-15 12:06', '1.600', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:06', '1.600', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 12:12
'2024-01-15 12:12', '1.567', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:12', '1.567', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 12:18
'2024-01-15 12:18', '1.538', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:18', '1.538', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 12:24
'2024-01-15 12:24', '1.538', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:24', '1.538', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 12:30
'2024-01-15 12:30', '1.508', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:30', '1.508', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 12:36
'2024-01-15 12:36', '1.498', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:36', '1.498', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 12:42
'2024-01-15 12:42', '1.472', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:42', '1.472', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 12:48
'2024-01-15 12:48', '1.446', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:48', '1.446', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 12:54
'2024-01-15 12:54', '1.420', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 12:54', '1.420', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 13:00
'2024-01-15 13:00', '1.387', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:00', '1.387', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 13:06
'2024-01-15 13:06', '1.364', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:06', '1.364', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 13:12
'2024-01-15 13:12', '1.325', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:12', '1.325', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 13:18
'2024-01-15 13:18', '1.298', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:18', '1.298', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 13:24
'2024-01-15 13:24', '1.262', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:24', '1.262', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 13:30
'2024-01-15 13:30', '1.220', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:30', '1.220', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 13:36
'2024-01-15 13:36', '1.184', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:36', '1.184', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 13:42
'2024-01-15 13:42', '1.134', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:42', '1.134', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 13:48
'2024-01-15 13:48', '1.101', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:48', '1.101', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 13:54
'2024-01-15 13:54', '1.042', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 13:54', '1.042', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 14:00
'2024-01-15 14:00', '0.996', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:00', '0.996', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 14:06
'2024-01-15 14:06', '0.951', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:06', '0.951', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 14:12
'2024-01-15 14:12', '0.914', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:12', '0.914', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 14:18
'2024-01-15 14:18', '0.855', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:18', '0.855', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 14:24
'2024-01-15 14:24', '0.813', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:24', '0.813', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 14:30
'2024-01-15 14:30', '0.764', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:30', '0.764', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 14:36
'2024-01-15 14:36', '0.731', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:36', '0.731', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 14:42
'2024-01-15 14:42', '0.682', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:42', '0.682', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 14:48
'2024-01-15 14:48', '0.645', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:48', '0.645', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 14:54
'2024-01-15 14:54', '0.606', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 14:54', '0.606', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 15:00
'2024-01-15 15:00', '0.563', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:00', '0.563', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 15:06
'2024-01-15 15:06', '0.531', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:06', '0.531', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 15:12
'2024-01-15 15:12', '0.488', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:12', '0.488', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 15:18
'2024-01-15 15:18', '0.465', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:18', '0.465', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 15:24
'2024-01-15 15:24', '0.429', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:24', '0.429', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 15:30
'2024-01-15 15:30', '0.403', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:30', '0.403', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 15:36
'2024-01-15 15:36', '0.376', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:36', '0.376', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 15:42
'2024-01-15 15:42', '0.360', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:42', '0.360', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 15:48
'2024-01-15 15:48', '0.327', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:48', '0.327', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 15:54
'2024-01-15 15:54', '0.301', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 15:54', '0.301', '0.026', '0', '0', '0', '0', 'v')
2024-01-15 16:00
'2024-01-15 16:00', '0.288', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 16:00', '0.288', '0.023', '0', '0', '0', '0', 'v')
2024-01-15 16:06
'2024-01-15 16:06', '0.275', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 16:06', '0.275', '0.023', '0', '0', '0', '0', 'v')
2024-01-15 16:12

2024-01-15 17:30
'2024-01-15 17:30', '0.130', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 17:30', '0.130', '0.013', '0', '0', '0', '0', 'v')
2024-01-15 17:36
'2024-01-15 17:36', '0.137', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 17:36', '0.137', '0.013', '0', '0', '0', '0', 'v')
2024-01-15 17:42
'2024-01-15 17:42', '0.134', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 17:42', '0.134', '0.010', '0', '0', '0', '0', 'v')
2024-01-15 17:48
'2024-01-15 17:48', '0.134', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 17:48', '0.134', '0.013', '0', '0', '0', '0', 'v')
2024-01-15 17:54
'2024-01-15 17:54', '0.127', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 17:54', '0.127', '0.016', '0', '0', '0', '0', 'v')
2024-01-15 18:00
'2024-01-15 18:00', '0.137', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:00', '0.137', '0.016', '0', '0', '0', '0', 'v')
2024-01-15 18:06
'2024-01-15 18:06', '0.124', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:06', '0.124', '0.016', '0', '0', '0', '0', 'v')
2024-01-15 18:12
'2024-01-15 18:12', '0.134', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:12', '0.134', '0.023', '0', '0', '0', '0', 'v')
2024-01-15 18:18
'2024-01-15 18:18', '0.140', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:18', '0.140', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 18:24
'2024-01-15 18:24', '0.153', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:24', '0.153', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 18:30
'2024-01-15 18:30', '0.147', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:30', '0.147', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 18:36
'2024-01-15 18:36', '0.157', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:36', '0.157', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 18:42
'2024-01-15 18:42', '0.163', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:42', '0.163', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 18:48
'2024-01-15 18:48', '0.183', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:48', '0.183', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 18:54
'2024-01-15 18:54', '0.199', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 18:54', '0.199', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 19:00
'2024-01-15 19:00', '0.216', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:00', '0.216', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 19:06
'2024-01-15 19:06', '0.245', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:06', '0.245', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 19:12
'2024-01-15 19:12', '0.275', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:12', '0.275', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 19:18
'2024-01-15 19:18', '0.285', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:18', '0.285', '0.026', '0', '0', '0', '0', 'v')
2024-01-15 19:24
'2024-01-15 19:24', '0.321', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:24', '0.321', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 19:30
'2024-01-15 19:30', '0.347', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:30', '0.347', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 19:36
'2024-01-15 19:36', '0.390', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:36', '0.390', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 19:42
'2024-01-15 19:42', '0.419', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:42', '0.419', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 19:48
'2024-01-15 19:48', '0.462', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:48', '0.462', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 19:54
'2024-01-15 19:54', '0.504', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 19:54', '0.504', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 20:00
'2024-01-15 20:00', '0.544', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:00', '0.544', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 20:06
'2024-01-15 20:06', '0.603', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:06', '0.603', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 20:12
'2024-01-15 20:12', '0.662', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:12', '0.662', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 20:18
'2024-01-15 20:18', '0.701', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:18', '0.701', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 20:24
'2024-01-15 20:24', '0.747', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:24', '0.747', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 20:30
'2024-01-15 20:30', '0.800', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:30', '0.800', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 20:36
'2024-01-15 20:36', '0.849', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:36', '0.849', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 20:42
'2024-01-15 20:42', '0.898', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:42', '0.898', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 20:48
'2024-01-15 20:48', '0.960', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:48', '0.960', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 20:54
'2024-01-15 20:54', '1.013', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 20:54', '1.013', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 21:00
'2024-01-15 21:00', '1.069', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:00', '1.069', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 21:06
'2024-01-15 21:06', '1.108', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:06', '1.108', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 21:12
'2024-01-15 21:12', '1.164', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:12', '1.164', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 21:18
'2024-01-15 21:18', '1.213', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:18', '1.213', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 21:24
'2024-01-15 21:24', '1.269', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:24', '1.269', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 21:30
'2024-01-15 21:30', '1.318', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:30', '1.318', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 21:36
'2024-01-15 21:36', '1.367', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:36', '1.367', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 21:42
'2024-01-15 21:42', '1.426', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:42', '1.426', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 21:48
'2024-01-15 21:48', '1.469', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:48', '1.469', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 21:54
'2024-01-15 21:54', '1.521', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 21:54', '1.521', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 22:00
'2024-01-15 22:00', '1.558', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:00', '1.558', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 22:06
'2024-01-15 22:06', '1.603', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:06', '1.603', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 22:12
'2024-01-15 22:12', '1.653', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:12', '1.653', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 22:18
'2024-01-15 22:18', '1.685', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:18', '1.685', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 22:24
'2024-01-15 22:24', '1.728', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:24', '1.728', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 22:30
'2024-01-15 22:30', '1.764', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:30', '1.764', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 22:36
'2024-01-15 22:36', '1.800', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:36', '1.800', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 22:42
'2024-01-15 22:42', '1.833', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:42', '1.833', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 22:48
'2024-01-15 22:48', '1.856', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:48', '1.856', '0.046', '0', '0', '0', '0', 'v')
2024-01-15 22:54
'2024-01-15 22:54', '1.876', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 22:54', '1.876', '0.039', '0', '0', '0', '0', 'v')
2024-01-15 23:00
'2024-01-15 23:00', '1.905', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:00', '1.905', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 23:06
'2024-01-15 23:06', '1.922', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:06', '1.922', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 23:12
'2024-01-15 23:12', '1.948', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:12', '1.948', '0.030', '0', '0', '0', '0', 'v')
2024-01-15 23:18
'2024-01-15 23:18', '2.000', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:18', '2.000', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 23:24
'2024-01-15 23:24', '2.007', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:24', '2.007', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 23:30
'2024-01-15 23:30', '2.023', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:30', '2.023', '0.043', '0', '0', '0', '0', 'v')
2024-01-15 23:36
'2024-01-15 23:36', '2.033', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:36', '2.033', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 23:42
'2024-01-15 23:42', '2.050', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:42', '2.050', '0.033', '0', '0', '0', '0', 'v')
2024-01-15 23:48
'2024-01-15 23:48', '2.069', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:48', '2.069', '0.036', '0', '0', '0', '0', 'v')
2024-01-15 23:54
'2024-01-15 23:54', '2.079', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-15 23:54', '2.079', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 00:00
'2024-01-16 00:00', '2.096', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:00', '2.096', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 00:06
'2024-01-16 00:06', '2.102', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:06', '2.102', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 00:12
'2024-01-16 00:12', '2.089', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:12', '2.089', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 00:18
'2024-01-16 00:18', '2.092', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:18', '2.092', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 00:24
'2024-01-16 00:24', '2.096', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:24', '2.096', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 00:30
'2024-01-16 00:30', '2.102', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:30', '2.102', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 00:36
'2024-01-16 00:36', '2.096', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:36', '2.096', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 00:42
'2024-01-16 00:42', '2.079', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:42', '2.079', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 00:48
'2024-01-16 00:48', '2.076', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:48', '2.076', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 00:54
'2024-01-16 00:54', '2.050', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 00:54', '2.050', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 01:00
'2024-01-16 01:00', '2.027', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:00', '2.027', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 01:06
'2024-01-16 01:06', '2.010', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:06', '2.010', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 01:12
'2024-01-16 01:12', '1.997', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:12', '1.997', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 01:18
'2024-01-16 01:18', '1.968', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:18', '1.968', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 01:24
'2024-01-16 01:24', '1.958', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:24', '1.958', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 01:30
'2024-01-16 01:30', '1.935', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:30', '1.935', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 01:36
'2024-01-16 01:36', '1.899', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:36', '1.899', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 01:42
'2024-01-16 01:42', '1.872', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:42', '1.872', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 01:48
'2024-01-16 01:48', '1.836', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:48', '1.836', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 01:54
'2024-01-16 01:54', '1.800', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 01:54', '1.800', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 02:00
'2024-01-16 02:00', '1.781', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:00', '1.781', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 02:06
'2024-01-16 02:06', '1.758', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:06', '1.758', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 02:12
'2024-01-16 02:12', '1.728', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:12', '1.728', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 02:18
'2024-01-16 02:18', '1.679', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:18', '1.679', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 02:24
'2024-01-16 02:24', '1.649', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:24', '1.649', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 02:30
'2024-01-16 02:30', '1.617', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:30', '1.617', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 02:36
'2024-01-16 02:36', '1.580', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:36', '1.580', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 02:42
'2024-01-16 02:42', '1.538', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:42', '1.538', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 02:48
'2024-01-16 02:48', '1.512', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:48', '1.512', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 02:54
'2024-01-16 02:54', '1.479', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 02:54', '1.479', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 03:00
'2024-01-16 03:00', '1.439', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:00', '1.439', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 03:06
'2024-01-16 03:06', '1.400', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:06', '1.400', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 03:12
'2024-01-16 03:12', '1.371', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:12', '1.371', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 03:18
'2024-01-16 03:18', '1.341', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:18', '1.341', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 03:24
'2024-01-16 03:24', '1.302', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:24', '1.302', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 03:30
'2024-01-16 03:30', '1.266', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:30', '1.266', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 03:36
'2024-01-16 03:36', '1.226', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:36', '1.226', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 03:42
'2024-01-16 03:42', '1.190', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:42', '1.190', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 03:48
'2024-01-16 03:48', '1.157', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:48', '1.157', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 03:54
'2024-01-16 03:54', '1.115', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 03:54', '1.115', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 04:00
'2024-01-16 04:00', '1.082', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:00', '1.082', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 04:06
'2024-01-16 04:06', '1.033', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:06', '1.033', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 04:12
'2024-01-16 04:12', '1.010', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:12', '1.010', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 04:18
'2024-01-16 04:18', '0.977', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:18', '0.977', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 04:24
'2024-01-16 04:24', '0.947', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:24', '0.947', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 04:30
'2024-01-16 04:30', '0.911', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:30', '0.911', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 04:36
'2024-01-16 04:36', '0.872', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:36', '0.872', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 04:42
'2024-01-16 04:42', '0.842', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:42', '0.842', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 04:48
'2024-01-16 04:48', '0.819', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:48', '0.819', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 04:54
'2024-01-16 04:54', '0.796', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 04:54', '0.796', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 05:00
'2024-01-16 05:00', '0.764', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 05:00', '0.764', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 05:06

2024-01-16 06:18
'2024-01-16 06:18', '0.517', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 06:18', '0.517', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 06:24
'2024-01-16 06:24', '0.511', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 06:24', '0.511', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 06:30
'2024-01-16 06:30', '0.511', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 06:30', '0.511', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 06:36
'2024-01-16 06:36', '0.514', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 06:36', '0.514', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 06:42
'2024-01-16 06:42', '0.508', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 06:42', '0.508', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 06:48
'2024-01-16 06:48', '0.481', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 06:48', '0.481', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 06:54
'2024-01-16 06:54', '0.495', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 06:54', '0.495', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 07:00
'2024-01-16 07:00', '0.481', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:00', '0.481', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 07:06
'2024-01-16 07:06', '0.481', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:06', '0.481', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 07:12
'2024-01-16 07:12', '0.501', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:12', '0.501', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 07:18
'2024-01-16 07:18', '0.514', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:18', '0.514', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 07:24
'2024-01-16 07:24', '0.521', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:24', '0.521', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 07:30
'2024-01-16 07:30', '0.534', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:30', '0.534', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 07:36
'2024-01-16 07:36', '0.547', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:36', '0.547', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 07:42
'2024-01-16 07:42', '0.570', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:42', '0.570', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 07:48
'2024-01-16 07:48', '0.580', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:48', '0.580', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 07:54
'2024-01-16 07:54', '0.600', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 07:54', '0.600', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 08:00
'2024-01-16 08:00', '0.619', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:00', '0.619', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 08:06
'2024-01-16 08:06', '0.652', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:06', '0.652', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 08:12
'2024-01-16 08:12', '0.678', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:12', '0.678', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 08:18
'2024-01-16 08:18', '0.718', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:18', '0.718', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 08:24
'2024-01-16 08:24', '0.734', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:24', '0.734', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 08:30
'2024-01-16 08:30', '0.764', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:30', '0.764', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 08:36
'2024-01-16 08:36', '0.809', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:36', '0.809', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 08:42
'2024-01-16 08:42', '0.846', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:42', '0.846', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 08:48
'2024-01-16 08:48', '0.888', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:48', '0.888', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 08:54
'2024-01-16 08:54', '0.931', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 08:54', '0.931', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 09:00
'2024-01-16 09:00', '0.983', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:00', '0.983', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 09:06
'2024-01-16 09:06', '1.033', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:06', '1.033', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 09:12
'2024-01-16 09:12', '1.082', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:12', '1.082', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 09:18
'2024-01-16 09:18', '1.128', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:18', '1.128', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 09:24
'2024-01-16 09:24', '1.161', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:24', '1.161', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 09:30
'2024-01-16 09:30', '1.203', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:30', '1.203', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 09:36
'2024-01-16 09:36', '1.233', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:36', '1.233', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 09:42
'2024-01-16 09:42', '1.282', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:42', '1.282', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 09:48
'2024-01-16 09:48', '1.315', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:48', '1.315', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 09:54
'2024-01-16 09:54', '1.377', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 09:54', '1.377', '0.049', '0', '0', '0', '0', 'v')
2024-01-16 10:00
'2024-01-16 10:00', '1.420', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:00', '1.420', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 10:06
'2024-01-16 10:06', '1.482', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:06', '1.482', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 10:12
'2024-01-16 10:12', '1.525', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:12', '1.525', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 10:18
'2024-01-16 10:18', '1.567', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:18', '1.567', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 10:24
'2024-01-16 10:24', '1.607', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:24', '1.607', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 10:30
'2024-01-16 10:30', '1.646', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:30', '1.646', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 10:36
'2024-01-16 10:36', '1.676', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:36', '1.676', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 10:42
'2024-01-16 10:42', '1.722', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:42', '1.722', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 10:48
'2024-01-16 10:48', '1.764', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:48', '1.764', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 10:54
'2024-01-16 10:54', '1.807', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 10:54', '1.807', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 11:00
'2024-01-16 11:00', '1.840', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:00', '1.840', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 11:06
'2024-01-16 11:06', '1.882', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:06', '1.882', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 11:12
'2024-01-16 11:12', '1.905', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:12', '1.905', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 11:18
'2024-01-16 11:18', '1.941', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:18', '1.941', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 11:24
'2024-01-16 11:24', '1.977', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:24', '1.977', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 11:30
'2024-01-16 11:30', '2.010', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:30', '2.010', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 11:36
'2024-01-16 11:36', '2.014', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:36', '2.014', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 11:42
'2024-01-16 11:42', '2.043', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:42', '2.043', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 11:48
'2024-01-16 11:48', '2.066', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:48', '2.066', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 11:54
'2024-01-16 11:54', '2.086', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 11:54', '2.086', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 12:00
'2024-01-16 12:00', '2.096', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:00', '2.096', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 12:06
'2024-01-16 12:06', '2.115', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:06', '2.115', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 12:12
'2024-01-16 12:12', '2.132', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:12', '2.132', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 12:18
'2024-01-16 12:18', '2.142', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:18', '2.142', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 12:24
'2024-01-16 12:24', '2.148', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:24', '2.148', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 12:30
'2024-01-16 12:30', '2.158', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:30', '2.158', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 12:36
'2024-01-16 12:36', '2.171', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:36', '2.171', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 12:42
'2024-01-16 12:42', '2.168', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:42', '2.168', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 12:48
'2024-01-16 12:48', '2.168', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:48', '2.168', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 12:54
'2024-01-16 12:54', '2.161', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 12:54', '2.161', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 13:00
'2024-01-16 13:00', '2.178', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:00', '2.178', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 13:06
'2024-01-16 13:06', '2.187', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:06', '2.187', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 13:12
'2024-01-16 13:12', '2.178', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:12', '2.178', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 13:18
'2024-01-16 13:18', '2.161', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:18', '2.161', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 13:24
'2024-01-16 13:24', '2.151', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:24', '2.151', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 13:30
'2024-01-16 13:30', '2.158', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:30', '2.158', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 13:36
'2024-01-16 13:36', '2.132', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:36', '2.132', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 13:42
'2024-01-16 13:42', '2.119', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:42', '2.119', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 13:48
'2024-01-16 13:48', '2.096', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:48', '2.096', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 13:54
'2024-01-16 13:54', '2.069', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 13:54', '2.069', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 14:00
'2024-01-16 14:00', '2.063', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:00', '2.063', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 14:06
'2024-01-16 14:06', '2.030', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:06', '2.030', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 14:12
'2024-01-16 14:12', '2.014', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:12', '2.014', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 14:18
'2024-01-16 14:18', '1.991', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:18', '1.991', '0.026', '0', '0', '0', '0', 'v')
2024-01-16 14:24
'2024-01-16 14:24', '1.974', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:24', '1.974', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 14:30
'2024-01-16 14:30', '1.945', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:30', '1.945', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 14:36
'2024-01-16 14:36', '1.918', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:36', '1.918', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 14:42
'2024-01-16 14:42', '1.886', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:42', '1.886', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 14:48
'2024-01-16 14:48', '1.843', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:48', '1.843', '0.030', '0', '0', '0', '0', 'v')
2024-01-16 14:54
'2024-01-16 14:54', '1.800', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 14:54', '1.800', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 15:00
'2024-01-16 15:00', '1.787', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:00', '1.787', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 15:06
'2024-01-16 15:06', '1.754', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:06', '1.754', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 15:12
'2024-01-16 15:12', '1.735', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:12', '1.735', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 15:18
'2024-01-16 15:18', '1.695', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:18', '1.695', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 15:24
'2024-01-16 15:24', '1.659', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:24', '1.659', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 15:30
'2024-01-16 15:30', '1.617', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:30', '1.617', '0.033', '0', '0', '0', '0', 'v')
2024-01-16 15:36
'2024-01-16 15:36', '1.597', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:36', '1.597', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 15:42
'2024-01-16 15:42', '1.564', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:42', '1.564', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 15:48
'2024-01-16 15:48', '1.535', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:48', '1.535', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 15:54
'2024-01-16 15:54', '1.508', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 15:54', '1.508', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 16:00
'2024-01-16 16:00', '1.466', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:00', '1.466', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 16:06
'2024-01-16 16:06', '1.456', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:06', '1.456', '0.036', '0', '0', '0', '0', 'v')
2024-01-16 16:12
'2024-01-16 16:12', '1.426', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:12', '1.426', '0.039', '0', '0', '0', '0', 'v')
2024-01-16 16:18
'2024-01-16 16:18', '1.390', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:18', '1.390', '0.049', '0', '0', '0', '0', 'v')
2024-01-16 16:24
'2024-01-16 16:24', '1.380', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:24', '1.380', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 16:30
'2024-01-16 16:30', '1.351', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:30', '1.351', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 16:36
'2024-01-16 16:36', '1.321', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:36', '1.321', '0.043', '0', '0', '0', '0', 'v')
2024-01-16 16:42
'2024-01-16 16:42', '1.305', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:42', '1.305', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 16:48
'2024-01-16 16:48', '1.308', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:48', '1.308', '0.049', '0', '0', '0', '0', 'v')
2024-01-16 16:54
'2024-01-16 16:54', '1.282', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 16:54', '1.282', '0.049', '0', '0', '0', '0', 'v')
2024-01-16 17:00
'2024-01-16 17:00', '1.266', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 17:00', '1.266', '0.049', '0', '0', '0', '0', 'v')
2024-01-16 17:06
'2024-01-16 17:06', '1.272', '0.886', '1', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 17:06', '1.272', '0.886', '1', '0', '0', '0', 'v')
2024-01-16 17:12
'2024-01-16 17:12', '1.269', '1.736', '1', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 17:12', '1.269', '1.736', '1', '0', '0', '0', 'v')
2024-01-16 17:18
'2024-01-16 17:18', '1.269', '2.218', '1', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 17:18', '1.269', '2.218', '1', '0', '0', '0', 'v')
2024-01-16 17:24
'2024-01-16 17:24', '1.269', '1.841', '1', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 17:24', '1.269', '1.841', '1', '0', '0', '0', 'v')
2024-01-16 17:30
'2024-01-16 17:30', '1.269', '0.069', '1', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 17:30', '1.269', '0.069', '1', '0', '0', '0', 'v')
2024-01-16 17:36
'2024-01-16 17:36', '1.272', '0.758', '1', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 17:36', '1.272', '0.758', '1', '0', '0', '0', 'v')
2024-01-16 17:42
'2024-01-16 17:42', '1.275', '1.027', '1', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 17:42', '1.275', '1.027', '1', '0', '0', '0', 'v')
2024-01-16 17:48
'2024-01-16 17:48', '1.279', '0.820', '1', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 17:48', '1.279', '0.820', '1', '0', '0', '0', 'v')
2024-01-16 17:54

2024-01-16 19:00
'2024-01-16 19:00', '1.226', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:00', '1.226', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 19:06
'2024-01-16 19:06', '1.229', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:06', '1.229', '0.069', '0', '0', '0', '0', 'v')
2024-01-16 19:12
'2024-01-16 19:12', '1.213', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:12', '1.213', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 19:18
'2024-01-16 19:18', '1.220', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:18', '1.220', '0.056', '0', '0', '0', '0', 'v')
2024-01-16 19:24
'2024-01-16 19:24', '1.213', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:24', '1.213', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 19:30
'2024-01-16 19:30', '1.206', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:30', '1.206', '0.056', '0', '0', '0', '0', 'v')
2024-01-16 19:36
'2024-01-16 19:36', '1.180', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:36', '1.180', '0.056', '0', '0', '0', '0', 'v')
2024-01-16 19:42
'2024-01-16 19:42', '1.184', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:42', '1.184', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 19:48
'2024-01-16 19:48', '1.180', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:48', '1.180', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 19:54
'2024-01-16 19:54', '1.180', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 19:54', '1.180', '0.066', '0', '0', '0', '0', 'v')
2024-01-16 20:00
'2024-01-16 20:00', '1.184', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:00', '1.184', '0.052', '0', '0', '0', '0', 'v')
2024-01-16 20:06
'2024-01-16 20:06', '1.174', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:06', '1.174', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 20:12
'2024-01-16 20:12', '1.213', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:12', '1.213', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 20:18
'2024-01-16 20:18', '1.226', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:18', '1.226', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 20:24
'2024-01-16 20:24', '1.216', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:24', '1.216', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 20:30
'2024-01-16 20:30', '1.246', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:30', '1.246', '0.056', '0', '0', '0', '0', 'v')
2024-01-16 20:36
'2024-01-16 20:36', '1.256', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:36', '1.256', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 20:42
'2024-01-16 20:42', '1.298', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:42', '1.298', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 20:48
'2024-01-16 20:48', '1.315', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:48', '1.315', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 20:54
'2024-01-16 20:54', '1.334', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 20:54', '1.334', '0.049', '0', '0', '0', '0', 'v')
2024-01-16 21:00
'2024-01-16 21:00', '1.371', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:00', '1.371', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 21:06
'2024-01-16 21:06', '1.423', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:06', '1.423', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 21:12
'2024-01-16 21:12', '1.459', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:12', '1.459', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 21:18
'2024-01-16 21:18', '1.502', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:18', '1.502', '0.066', '0', '0', '0', '0', 'v')
2024-01-16 21:24
'2024-01-16 21:24', '1.551', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:24', '1.551', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 21:30
'2024-01-16 21:30', '1.613', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:30', '1.613', '0.072', '0', '0', '0', '0', 'v')
2024-01-16 21:36
'2024-01-16 21:36', '1.649', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:36', '1.649', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 21:42
'2024-01-16 21:42', '1.705', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:42', '1.705', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 21:48
'2024-01-16 21:48', '1.741', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:48', '1.741', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 21:54
'2024-01-16 21:54', '1.777', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 21:54', '1.777', '0.075', '0', '0', '0', '0', 'v')
2024-01-16 22:00
'2024-01-16 22:00', '1.833', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:00', '1.833', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 22:06
'2024-01-16 22:06', '1.872', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:06', '1.872', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 22:12
'2024-01-16 22:12', '1.941', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:12', '1.941', '0.056', '0', '0', '0', '0', 'v')
2024-01-16 22:18
'2024-01-16 22:18', '1.991', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:18', '1.991', '0.072', '0', '0', '0', '0', 'v')
2024-01-16 22:24
'2024-01-16 22:24', '2.059', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:24', '2.059', '0.049', '0', '0', '0', '0', 'v')
2024-01-16 22:30
'2024-01-16 22:30', '2.105', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:30', '2.105', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 22:36
'2024-01-16 22:36', '2.142', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:36', '2.142', '0.066', '0', '0', '0', '0', 'v')
2024-01-16 22:42
'2024-01-16 22:42', '2.187', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:42', '2.187', '0.056', '0', '0', '0', '0', 'v')
2024-01-16 22:48
'2024-01-16 22:48', '2.214', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:48', '2.214', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 22:54
'2024-01-16 22:54', '2.246', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 22:54', '2.246', '0.046', '0', '0', '0', '0', 'v')
2024-01-16 23:00
'2024-01-16 23:00', '2.266', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:00', '2.266', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 23:06
'2024-01-16 23:06', '2.286', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:06', '2.286', '0.049', '0', '0', '0', '0', 'v')
2024-01-16 23:12
'2024-01-16 23:12', '2.299', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:12', '2.299', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 23:18
'2024-01-16 23:18', '2.332', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:18', '2.332', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 23:24
'2024-01-16 23:24', '2.361', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:24', '2.361', '0.056', '0', '0', '0', '0', 'v')
2024-01-16 23:30
'2024-01-16 23:30', '2.388', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:30', '2.388', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 23:36
'2024-01-16 23:36', '2.437', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:36', '2.437', '0.049', '0', '0', '0', '0', 'v')
2024-01-16 23:42
'2024-01-16 23:42', '2.463', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:42', '2.463', '0.059', '0', '0', '0', '0', 'v')
2024-01-16 23:48
'2024-01-16 23:48', '2.493', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:48', '2.493', '0.062', '0', '0', '0', '0', 'v')
2024-01-16 23:54
'2024-01-16 23:54', '2.496', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-16 23:54', '2.496', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 00:00
'2024-01-17 00:00', '2.519', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:00', '2.519', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 00:06
'2024-01-17 00:06', '2.535', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:06', '2.535', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 00:12
'2024-01-17 00:12', '2.548', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:12', '2.548', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 00:18
'2024-01-17 00:18', '2.565', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:18', '2.565', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 00:24
'2024-01-17 00:24', '2.581', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:24', '2.581', '0.072', '0', '0', '0', '0', 'v')
2024-01-17 00:30
'2024-01-17 00:30', '2.614', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:30', '2.614', '0.072', '0', '0', '0', '0', 'v')
2024-01-17 00:36
'2024-01-17 00:36', '2.591', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:36', '2.591', '0.072', '0', '0', '0', '0', 'v')
2024-01-17 00:42
'2024-01-17 00:42', '2.630', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:42', '2.630', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 00:48
'2024-01-17 00:48', '2.630', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:48', '2.630', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 00:54
'2024-01-17 00:54', '2.621', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 00:54', '2.621', '0.082', '0', '0', '0', '0', 'v')
2024-01-17 01:00
'2024-01-17 01:00', '2.627', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:00', '2.627', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 01:06
'2024-01-17 01:06', '2.614', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:06', '2.614', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 01:12
'2024-01-17 01:12', '2.607', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:12', '2.607', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 01:18
'2024-01-17 01:18', '2.581', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:18', '2.581', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 01:24
'2024-01-17 01:24', '2.555', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:24', '2.555', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 01:30
'2024-01-17 01:30', '2.548', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:30', '2.548', '0.072', '0', '0', '0', '0', 'v')
2024-01-17 01:36
'2024-01-17 01:36', '2.525', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:36', '2.525', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 01:42
'2024-01-17 01:42', '2.499', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:42', '2.499', '0.072', '0', '0', '0', '0', 'v')
2024-01-17 01:48
'2024-01-17 01:48', '2.476', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:48', '2.476', '0.075', '0', '0', '0', '0', 'v')
2024-01-17 01:54
'2024-01-17 01:54', '2.463', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 01:54', '2.463', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 02:00
'2024-01-17 02:00', '2.450', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:00', '2.450', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 02:06
'2024-01-17 02:06', '2.424', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:06', '2.424', '0.075', '0', '0', '0', '0', 'v')
2024-01-17 02:12
'2024-01-17 02:12', '2.378', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:12', '2.378', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 02:18
'2024-01-17 02:18', '2.338', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:18', '2.338', '0.079', '0', '0', '0', '0', 'v')
2024-01-17 02:24
'2024-01-17 02:24', '2.312', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:24', '2.312', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 02:30
'2024-01-17 02:30', '2.269', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:30', '2.269', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 02:36
'2024-01-17 02:36', '2.230', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:36', '2.230', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 02:42
'2024-01-17 02:42', '2.197', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:42', '2.197', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 02:48
'2024-01-17 02:48', '2.138', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:48', '2.138', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 02:54
'2024-01-17 02:54', '2.086', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 02:54', '2.086', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 03:00
'2024-01-17 03:00', '2.076', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:00', '2.076', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 03:06
'2024-01-17 03:06', '2.030', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:06', '2.030', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 03:12
'2024-01-17 03:12', '1.974', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:12', '1.974', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 03:18
'2024-01-17 03:18', '1.935', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:18', '1.935', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 03:24
'2024-01-17 03:24', '1.889', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:24', '1.889', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 03:30
'2024-01-17 03:30', '1.850', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:30', '1.850', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 03:36
'2024-01-17 03:36', '1.784', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:36', '1.784', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 03:42
'2024-01-17 03:42', '1.761', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:42', '1.761', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 03:48
'2024-01-17 03:48', '1.712', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:48', '1.712', '0.049', '0', '0', '0', '0', 'v')
2024-01-17 03:54
'2024-01-17 03:54', '1.669', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 03:54', '1.669', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 04:00
'2024-01-17 04:00', '1.633', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:00', '1.633', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 04:06
'2024-01-17 04:06', '1.587', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:06', '1.587', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 04:12
'2024-01-17 04:12', '1.577', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:12', '1.577', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 04:18
'2024-01-17 04:18', '1.548', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:18', '1.548', '0.049', '0', '0', '0', '0', 'v')
2024-01-17 04:24
'2024-01-17 04:24', '1.508', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:24', '1.508', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 04:30
'2024-01-17 04:30', '1.479', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:30', '1.479', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 04:36
'2024-01-17 04:36', '1.439', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:36', '1.439', '0.049', '0', '0', '0', '0', 'v')
2024-01-17 04:42
'2024-01-17 04:42', '1.393', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:42', '1.393', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 04:48
'2024-01-17 04:48', '1.338', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:48', '1.338', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 04:54
'2024-01-17 04:54', '1.318', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 04:54', '1.318', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 05:00
'2024-01-17 05:00', '1.298', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:00', '1.298', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 05:06
'2024-01-17 05:06', '1.249', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:06', '1.249', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 05:12
'2024-01-17 05:12', '1.229', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:12', '1.229', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 05:18
'2024-01-17 05:18', '1.210', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:18', '1.210', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 05:24
'2024-01-17 05:24', '1.200', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:24', '1.200', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 05:30
'2024-01-17 05:30', '1.164', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:30', '1.164', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 05:36
'2024-01-17 05:36', '1.154', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:36', '1.154', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 05:42
'2024-01-17 05:42', '1.141', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:42', '1.141', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 05:48
'2024-01-17 05:48', '1.124', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:48', '1.124', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 05:54
'2024-01-17 05:54', '1.072', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 05:54', '1.072', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 06:00
'2024-01-17 06:00', '1.079', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 06:00', '1.079', '0.072', '0', '0', '0', '0', 'v')
2024-01-17 06:06
'2024-01-17 06:06', '1.052', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 06:06', '1.052', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 06:12
'2024-01-17 06:12', '1.052', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 06:12', '1.052', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 06:18
'2024-01-17 06:18', '1.042', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 06:18', '1.042', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 06:24
'2024-01-17 06:24', '1.019', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 06:24', '1.019', '0.079', '0', '0', '0', '0', 'v')
2024-01-17 06:30
'2024-01-17 06:30', '0.993', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 06:30', '0.993', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 06:36

2024-01-17 08:36
'2024-01-17 08:36', '0.793', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 08:36', '0.793', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 08:42
'2024-01-17 08:42', '0.819', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 08:42', '0.819', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 08:48
'2024-01-17 08:48', '0.832', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 08:48', '0.832', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 08:54
'2024-01-17 08:54', '0.872', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 08:54', '0.872', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 09:00
'2024-01-17 09:00', '0.918', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:00', '0.918', '0.075', '0', '0', '0', '0', 'v')
2024-01-17 09:06
'2024-01-17 09:06', '0.931', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:06', '0.931', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 09:12
'2024-01-17 09:12', '0.937', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:12', '0.937', '0.075', '0', '0', '0', '0', 'v')
2024-01-17 09:18
'2024-01-17 09:18', '0.960', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:18', '0.960', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 09:24
'2024-01-17 09:24', '0.983', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:24', '0.983', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 09:30
'2024-01-17 09:30', '1.006', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:30', '1.006', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 09:36
'2024-01-17 09:36', '1.023', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:36', '1.023', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 09:42
'2024-01-17 09:42', '1.039', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:42', '1.039', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 09:48
'2024-01-17 09:48', '1.062', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:48', '1.062', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 09:54
'2024-01-17 09:54', '1.079', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 09:54', '1.079', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 10:00
'2024-01-17 10:00', '1.118', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:00', '1.118', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 10:06
'2024-01-17 10:06', '1.157', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:06', '1.157', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 10:12
'2024-01-17 10:12', '1.184', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:12', '1.184', '0.069', '0', '0', '0', '0', 'v')
2024-01-17 10:18
'2024-01-17 10:18', '1.233', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:18', '1.233', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 10:24
'2024-01-17 10:24', '1.262', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:24', '1.262', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 10:30
'2024-01-17 10:30', '1.308', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:30', '1.308', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 10:36
'2024-01-17 10:36', '1.354', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:36', '1.354', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 10:42
'2024-01-17 10:42', '1.380', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:42', '1.380', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 10:48
'2024-01-17 10:48', '1.407', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:48', '1.407', '0.066', '0', '0', '0', '0', 'v')
2024-01-17 10:54
'2024-01-17 10:54', '1.472', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 10:54', '1.472', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 11:00
'2024-01-17 11:00', '1.485', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:00', '1.485', '0.059', '0', '0', '0', '0', 'v')
2024-01-17 11:06
'2024-01-17 11:06', '1.518', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:06', '1.518', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 11:12
'2024-01-17 11:12', '1.574', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:12', '1.574', '0.049', '0', '0', '0', '0', 'v')
2024-01-17 11:18
'2024-01-17 11:18', '1.617', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:18', '1.617', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 11:24
'2024-01-17 11:24', '1.659', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:24', '1.659', '0.062', '0', '0', '0', '0', 'v')
2024-01-17 11:30
'2024-01-17 11:30', '1.699', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:30', '1.699', '0.049', '0', '0', '0', '0', 'v')
2024-01-17 11:36
'2024-01-17 11:36', '1.725', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:36', '1.725', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 11:42
'2024-01-17 11:42', '1.781', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:42', '1.781', '0.049', '0', '0', '0', '0', 'v')
2024-01-17 11:48
'2024-01-17 11:48', '1.777', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:48', '1.777', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 11:54
'2024-01-17 11:54', '1.817', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 11:54', '1.817', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 12:00
'2024-01-17 12:00', '1.859', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:00', '1.859', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 12:06
'2024-01-17 12:06', '1.872', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:06', '1.872', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 12:12
'2024-01-17 12:12', '1.899', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:12', '1.899', '0.049', '0', '0', '0', '0', 'v')
2024-01-17 12:18
'2024-01-17 12:18', '1.928', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:18', '1.928', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 12:24
'2024-01-17 12:24', '1.955', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:24', '1.955', '0.056', '0', '0', '0', '0', 'v')
2024-01-17 12:30
'2024-01-17 12:30', '1.981', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:30', '1.981', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 12:36
'2024-01-17 12:36', '2.004', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:36', '2.004', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 12:42
'2024-01-17 12:42', '2.000', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:42', '2.000', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 12:48
'2024-01-17 12:48', '2.014', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:48', '2.014', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 12:54
'2024-01-17 12:54', '2.033', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 12:54', '2.033', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 13:00
'2024-01-17 13:00', '2.063', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:00', '2.063', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 13:06
'2024-01-17 13:06', '2.059', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:06', '2.059', '0.049', '0', '0', '0', '0', 'v')
2024-01-17 13:12
'2024-01-17 13:12', '2.069', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:12', '2.069', '0.052', '0', '0', '0', '0', 'v')
2024-01-17 13:18
'2024-01-17 13:18', '2.076', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:18', '2.076', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 13:24
'2024-01-17 13:24', '2.073', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:24', '2.073', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 13:30
'2024-01-17 13:30', '2.086', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:30', '2.086', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 13:36
'2024-01-17 13:36', '2.102', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:36', '2.102', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 13:42
'2024-01-17 13:42', '2.086', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:42', '2.086', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 13:48
'2024-01-17 13:48', '2.102', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:48', '2.102', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 13:54
'2024-01-17 13:54', '2.082', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 13:54', '2.082', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 14:00
'2024-01-17 14:00', '2.076', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:00', '2.076', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 14:06
'2024-01-17 14:06', '2.066', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:06', '2.066', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 14:12
'2024-01-17 14:12', '2.056', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:12', '2.056', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 14:18
'2024-01-17 14:18', '2.056', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:18', '2.056', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 14:24
'2024-01-17 14:24', '2.059', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:24', '2.059', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 14:30
'2024-01-17 14:30', '2.046', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:30', '2.046', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 14:36
'2024-01-17 14:36', '2.043', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:36', '2.043', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 14:42
'2024-01-17 14:42', '2.043', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:42', '2.043', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 14:48
'2024-01-17 14:48', '2.043', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:48', '2.043', '0.049', '0', '0', '0', '0', 'v')
2024-01-17 14:54
'2024-01-17 14:54', '2.030', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 14:54', '2.030', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 15:00
'2024-01-17 15:00', '2.020', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:00', '2.020', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 15:06
'2024-01-17 15:06', '2.020', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:06', '2.020', '0.046', '0', '0', '0', '0', 'v')
2024-01-17 15:12
'2024-01-17 15:12', '2.000', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:12', '2.000', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 15:18
'2024-01-17 15:18', '1.981', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:18', '1.981', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 15:24
'2024-01-17 15:24', '1.951', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:24', '1.951', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 15:30
'2024-01-17 15:30', '1.932', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:30', '1.932', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 15:36
'2024-01-17 15:36', '1.899', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:36', '1.899', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 15:42
'2024-01-17 15:42', '1.895', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:42', '1.895', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 15:48
'2024-01-17 15:48', '1.866', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:48', '1.866', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 15:54
'2024-01-17 15:54', '1.856', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 15:54', '1.856', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 16:00
'2024-01-17 16:00', '1.833', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:00', '1.833', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 16:06
'2024-01-17 16:06', '1.817', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:06', '1.817', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 16:12
'2024-01-17 16:12', '1.807', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:12', '1.807', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 16:18
'2024-01-17 16:18', '1.774', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:18', '1.774', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 16:24
'2024-01-17 16:24', '1.761', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:24', '1.761', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 16:30
'2024-01-17 16:30', '1.745', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:30', '1.745', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 16:36
'2024-01-17 16:36', '1.728', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:36', '1.728', '0.043', '0', '0', '0', '0', 'v')
2024-01-17 16:42
'2024-01-17 16:42', '1.708', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:42', '1.708', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 16:48
'2024-01-17 16:48', '1.682', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:48', '1.682', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 16:54
'2024-01-17 16:54', '1.669', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 16:54', '1.669', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 17:00
'2024-01-17 17:00', '1.640', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:00', '1.640', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 17:06
'2024-01-17 17:06', '1.600', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:06', '1.600', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 17:12
'2024-01-17 17:12', '1.574', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:12', '1.574', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 17:18
'2024-01-17 17:18', '1.548', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:18', '1.548', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 17:24
'2024-01-17 17:24', '1.518', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:24', '1.518', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 17:30
'2024-01-17 17:30', '1.482', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:30', '1.482', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 17:36
'2024-01-17 17:36', '1.443', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:36', '1.443', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 17:42
'2024-01-17 17:42', '1.410', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:42', '1.410', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 17:48
'2024-01-17 17:48', '1.380', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:48', '1.380', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 17:54
'2024-01-17 17:54', '1.357', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 17:54', '1.357', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 18:00
'2024-01-17 18:00', '1.328', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:00', '1.328', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 18:06
'2024-01-17 18:06', '1.295', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:06', '1.295', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 18:12
'2024-01-17 18:12', '1.272', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:12', '1.272', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 18:18
'2024-01-17 18:18', '1.252', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:18', '1.252', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 18:24
'2024-01-17 18:24', '1.233', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:24', '1.233', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 18:30
'2024-01-17 18:30', '1.223', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:30', '1.223', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 18:36
'2024-01-17 18:36', '1.213', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:36', '1.213', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 18:42
'2024-01-17 18:42', '1.190', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:42', '1.190', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 18:48
'2024-01-17 18:48', '1.174', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:48', '1.174', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 18:54
'2024-01-17 18:54', '1.167', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 18:54', '1.167', '0.039', '0', '0', '0', '0', 'v')
2024-01-17 19:00
'2024-01-17 19:00', '1.157', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:00', '1.157', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 19:06
'2024-01-17 19:06', '1.151', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:06', '1.151', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 19:12
'2024-01-17 19:12', '1.154', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:12', '1.154', '0.036', '0', '0', '0', '0', 'v')
2024-01-17 19:18
'2024-01-17 19:18', '1.141', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:18', '1.141', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 19:24
'2024-01-17 19:24', '1.131', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:24', '1.131', '0.023', '0', '0', '0', '0', 'v')
2024-01-17 19:30
'2024-01-17 19:30', '1.118', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:30', '1.118', '0.020', '0', '0', '0', '0', 'v')
2024-01-17 19:36
'2024-01-17 19:36', '1.105', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:36', '1.105', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 19:42
'2024-01-17 19:42', '1.098', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:42', '1.098', '0.023', '0', '0', '0', '0', 'v')
2024-01-17 19:48
'2024-01-17 19:48', '1.095', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:48', '1.095', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 19:54
'2024-01-17 19:54', '1.108', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 19:54', '1.108', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 20:00
'2024-01-17 20:00', '1.098', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 20:00', '1.098', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 20:06
'2024-01-17 20:06', '1.101', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 20:06', '1.101', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 20:12

2024-01-17 20:30
'2024-01-17 20:30', '1.134', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 20:30', '1.134', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 20:36
'2024-01-17 20:36', '1.124', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 20:36', '1.124', '0.033', '0', '0', '0', '0', 'v')
2024-01-17 20:42
'2024-01-17 20:42', '1.144', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 20:42', '1.144', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 20:48
'2024-01-17 20:48', '1.174', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 20:48', '1.174', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 20:54
'2024-01-17 20:54', '1.200', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 20:54', '1.200', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 21:00
'2024-01-17 21:00', '1.220', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:00', '1.220', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 21:06
'2024-01-17 21:06', '1.256', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:06', '1.256', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 21:12
'2024-01-17 21:12', '1.282', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:12', '1.282', '0.023', '0', '0', '0', '0', 'v')
2024-01-17 21:18
'2024-01-17 21:18', '1.311', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:18', '1.311', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 21:24
'2024-01-17 21:24', '1.328', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:24', '1.328', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 21:30
'2024-01-17 21:30', '1.361', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:30', '1.361', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 21:36
'2024-01-17 21:36', '1.393', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:36', '1.393', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 21:42
'2024-01-17 21:42', '1.426', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:42', '1.426', '0.030', '0', '0', '0', '0', 'v')
2024-01-17 21:48
'2024-01-17 21:48', '1.476', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:48', '1.476', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 21:54
'2024-01-17 21:54', '1.505', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 21:54', '1.505', '0.023', '0', '0', '0', '0', 'v')
2024-01-17 22:00
'2024-01-17 22:00', '1.544', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:00', '1.544', '0.023', '0', '0', '0', '0', 'v')
2024-01-17 22:06
'2024-01-17 22:06', '1.587', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:06', '1.587', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 22:12
'2024-01-17 22:12', '1.623', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:12', '1.623', '0.023', '0', '0', '0', '0', 'v')
2024-01-17 22:18
'2024-01-17 22:18', '1.663', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:18', '1.663', '0.023', '0', '0', '0', '0', 'v')
2024-01-17 22:24
'2024-01-17 22:24', '1.705', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:24', '1.705', '0.023', '0', '0', '0', '0', 'v')
2024-01-17 22:30
'2024-01-17 22:30', '1.761', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:30', '1.761', '0.026', '0', '0', '0', '0', 'v')
2024-01-17 22:36
'2024-01-17 22:36', '1.810', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:36', '1.810', '0.023', '0', '0', '0', '0', 'v')
2024-01-17 22:42
'2024-01-17 22:42', '1.850', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:42', '1.850', '0.013', '0', '0', '0', '0', 'v')
2024-01-17 22:48
'2024-01-17 22:48', '1.895', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:48', '1.895', '0.020', '0', '0', '0', '0', 'v')
2024-01-17 22:54
'2024-01-17 22:54', '1.945', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 22:54', '1.945', '0.020', '0', '0', '0', '0', 'v')
2024-01-17 23:00
'2024-01-17 23:00', '1.991', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:00', '1.991', '0.016', '0', '0', '0', '0', 'v')
2024-01-17 23:06
'2024-01-17 23:06', '2.033', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:06', '2.033', '0.013', '0', '0', '0', '0', 'v')
2024-01-17 23:12
'2024-01-17 23:12', '2.073', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:12', '2.073', '0.010', '0', '0', '0', '0', 'v')
2024-01-17 23:18
'2024-01-17 23:18', '2.112', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:18', '2.112', '0.016', '0', '0', '0', '0', 'v')
2024-01-17 23:24
'2024-01-17 23:24', '2.148', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:24', '2.148', '0.013', '0', '0', '0', '0', 'v')
2024-01-17 23:30
'2024-01-17 23:30', '2.191', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:30', '2.191', '0.013', '0', '0', '0', '0', 'v')
2024-01-17 23:36
'2024-01-17 23:36', '2.227', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:36', '2.227', '0.013', '0', '0', '0', '0', 'v')
2024-01-17 23:42
'2024-01-17 23:42', '2.263', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:42', '2.263', '0.013', '0', '0', '0', '0', 'v')
2024-01-17 23:48
'2024-01-17 23:48', '2.292', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:48', '2.292', '0.013', '0', '0', '0', '0', 'v')
2024-01-17 23:54
'2024-01-17 23:54', '2.306', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-17 23:54', '2.306', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 00:00
'2024-01-18 00:00', '2.338', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:00', '2.338', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 00:06
'2024-01-18 00:06', '2.358', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:06', '2.358', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 00:12
'2024-01-18 00:12', '2.388', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:12', '2.388', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 00:18
'2024-01-18 00:18', '2.407', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:18', '2.407', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 00:24
'2024-01-18 00:24', '2.420', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:24', '2.420', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 00:30
'2024-01-18 00:30', '2.453', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:30', '2.453', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 00:36
'2024-01-18 00:36', '2.479', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:36', '2.479', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 00:42
'2024-01-18 00:42', '2.496', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:42', '2.496', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 00:48
'2024-01-18 00:48', '2.506', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:48', '2.506', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 00:54
'2024-01-18 00:54', '2.519', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 00:54', '2.519', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 01:00
'2024-01-18 01:00', '2.535', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:00', '2.535', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 01:06
'2024-01-18 01:06', '2.555', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:06', '2.555', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 01:12
'2024-01-18 01:12', '2.571', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:12', '2.571', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 01:18
'2024-01-18 01:18', '2.581', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:18', '2.581', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 01:24
'2024-01-18 01:24', '2.604', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:24', '2.604', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 01:30
'2024-01-18 01:30', '2.617', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:30', '2.617', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 01:36
'2024-01-18 01:36', '2.627', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:36', '2.627', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 01:42
'2024-01-18 01:42', '2.637', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:42', '2.637', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 01:48
'2024-01-18 01:48', '2.653', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:48', '2.653', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 01:54
'2024-01-18 01:54', '2.660', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 01:54', '2.660', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 02:00
'2024-01-18 02:00', '2.666', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:00', '2.666', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 02:06
'2024-01-18 02:06', '2.657', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:06', '2.657', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 02:12
'2024-01-18 02:12', '2.650', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:12', '2.650', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 02:18
'2024-01-18 02:18', '2.647', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:18', '2.647', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 02:24
'2024-01-18 02:24', '2.640', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:24', '2.640', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 02:30
'2024-01-18 02:30', '2.634', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:30', '2.634', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 02:36
'2024-01-18 02:36', '2.624', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:36', '2.624', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 02:42
'2024-01-18 02:42', '2.607', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:42', '2.607', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 02:48
'2024-01-18 02:48', '2.611', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:48', '2.611', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 02:54
'2024-01-18 02:54', '2.604', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 02:54', '2.604', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 03:00
'2024-01-18 03:00', '2.594', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:00', '2.594', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 03:06
'2024-01-18 03:06', '2.575', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:06', '2.575', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 03:12
'2024-01-18 03:12', '2.561', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:12', '2.561', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 03:18
'2024-01-18 03:18', '2.538', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:18', '2.538', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 03:24
'2024-01-18 03:24', '2.516', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:24', '2.516', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 03:30
'2024-01-18 03:30', '2.493', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:30', '2.493', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 03:36
'2024-01-18 03:36', '2.479', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:36', '2.479', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 03:42
'2024-01-18 03:42', '2.453', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:42', '2.453', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 03:48
'2024-01-18 03:48', '2.417', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:48', '2.417', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 03:54
'2024-01-18 03:54', '2.388', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 03:54', '2.388', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 04:00
'2024-01-18 04:00', '2.368', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:00', '2.368', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 04:06
'2024-01-18 04:06', '2.348', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:06', '2.348', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 04:12
'2024-01-18 04:12', '2.322', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:12', '2.322', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 04:18
'2024-01-18 04:18', '2.296', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:18', '2.296', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 04:24
'2024-01-18 04:24', '2.263', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:24', '2.263', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 04:30
'2024-01-18 04:30', '2.230', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:30', '2.230', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 04:36
'2024-01-18 04:36', '2.191', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:36', '2.191', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 04:42
'2024-01-18 04:42', '2.155', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:42', '2.155', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 04:48
'2024-01-18 04:48', '2.112', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:48', '2.112', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 04:54
'2024-01-18 04:54', '2.063', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 04:54', '2.063', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 05:00
'2024-01-18 05:00', '2.027', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:00', '2.027', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 05:06
'2024-01-18 05:06', '1.977', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:06', '1.977', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 05:12
'2024-01-18 05:12', '1.928', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:12', '1.928', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 05:18
'2024-01-18 05:18', '1.886', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:18', '1.886', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 05:24
'2024-01-18 05:24', '1.840', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:24', '1.840', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 05:30
'2024-01-18 05:30', '1.813', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:30', '1.813', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 05:36
'2024-01-18 05:36', '1.771', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:36', '1.771', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 05:42
'2024-01-18 05:42', '1.722', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:42', '1.722', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 05:48
'2024-01-18 05:48', '1.685', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:48', '1.685', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 05:54
'2024-01-18 05:54', '1.653', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 05:54', '1.653', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 06:00
'2024-01-18 06:00', '1.626', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:00', '1.626', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 06:06
'2024-01-18 06:06', '1.587', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:06', '1.587', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 06:12
'2024-01-18 06:12', '1.567', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:12', '1.567', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 06:18
'2024-01-18 06:18', '1.551', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:18', '1.551', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 06:24
'2024-01-18 06:24', '1.518', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:24', '1.518', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 06:30
'2024-01-18 06:30', '1.502', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:30', '1.502', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 06:36
'2024-01-18 06:36', '1.485', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:36', '1.485', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 06:42
'2024-01-18 06:42', '1.462', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:42', '1.462', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 06:48
'2024-01-18 06:48', '1.436', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:48', '1.436', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 06:54
'2024-01-18 06:54', '1.407', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 06:54', '1.407', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 07:00
'2024-01-18 07:00', '1.377', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:00', '1.377', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 07:06
'2024-01-18 07:06', '1.348', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:06', '1.348', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 07:12
'2024-01-18 07:12', '1.325', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:12', '1.325', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 07:18
'2024-01-18 07:18', '1.302', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:18', '1.302', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 07:24
'2024-01-18 07:24', '1.279', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:24', '1.279', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 07:30
'2024-01-18 07:30', '1.256', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:30', '1.256', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 07:36
'2024-01-18 07:36', '1.233', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:36', '1.233', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 07:42
'2024-01-18 07:42', '1.213', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:42', '1.213', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 07:48
'2024-01-18 07:48', '1.187', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:48', '1.187', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 07:54
'2024-01-18 07:54', '1.167', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 07:54', '1.167', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 08:00
'2024-01-18 08:00', '1.144', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 08:00', '1.144', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 08:06

2024-01-18 09:12
'2024-01-18 09:12', '0.941', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 09:12', '0.941', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 09:18
'2024-01-18 09:18', '0.928', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 09:18', '0.928', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 09:24
'2024-01-18 09:24', '0.918', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 09:24', '0.918', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 09:30
'2024-01-18 09:30', '0.911', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 09:30', '0.911', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 09:36
'2024-01-18 09:36', '0.914', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 09:36', '0.914', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 09:42
'2024-01-18 09:42', '0.921', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 09:42', '0.921', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 09:48
'2024-01-18 09:48', '0.928', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 09:48', '0.928', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 09:54
'2024-01-18 09:54', '0.937', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 09:54', '0.937', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 10:00
'2024-01-18 10:00', '0.954', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:00', '0.954', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 10:06
'2024-01-18 10:06', '0.964', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:06', '0.964', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 10:12
'2024-01-18 10:12', '0.977', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:12', '0.977', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 10:18
'2024-01-18 10:18', '0.987', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:18', '0.987', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 10:24
'2024-01-18 10:24', '1.006', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:24', '1.006', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 10:30
'2024-01-18 10:30', '1.029', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:30', '1.029', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 10:36
'2024-01-18 10:36', '1.056', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:36', '1.056', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 10:42
'2024-01-18 10:42', '1.079', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:42', '1.079', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 10:48
'2024-01-18 10:48', '1.108', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:48', '1.108', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 10:54
'2024-01-18 10:54', '1.134', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 10:54', '1.134', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 11:00
'2024-01-18 11:00', '1.161', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:00', '1.161', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 11:06
'2024-01-18 11:06', '1.197', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:06', '1.197', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 11:12
'2024-01-18 11:12', '1.229', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:12', '1.229', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 11:18
'2024-01-18 11:18', '1.269', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:18', '1.269', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 11:24
'2024-01-18 11:24', '1.311', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:24', '1.311', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 11:30
'2024-01-18 11:30', '1.354', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:30', '1.354', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 11:36
'2024-01-18 11:36', '1.397', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:36', '1.397', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 11:42
'2024-01-18 11:42', '1.436', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:42', '1.436', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 11:48
'2024-01-18 11:48', '1.479', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:48', '1.479', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 11:54
'2024-01-18 11:54', '1.521', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 11:54', '1.521', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 12:00
'2024-01-18 12:00', '1.554', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:00', '1.554', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 12:06
'2024-01-18 12:06', '1.594', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:06', '1.594', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 12:12
'2024-01-18 12:12', '1.626', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:12', '1.626', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 12:18
'2024-01-18 12:18', '1.659', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:18', '1.659', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 12:24
'2024-01-18 12:24', '1.692', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:24', '1.692', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 12:30
'2024-01-18 12:30', '1.725', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:30', '1.725', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 12:36
'2024-01-18 12:36', '1.751', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:36', '1.751', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 12:42
'2024-01-18 12:42', '1.777', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:42', '1.777', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 12:48
'2024-01-18 12:48', '1.804', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:48', '1.804', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 12:54
'2024-01-18 12:54', '1.827', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 12:54', '1.827', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 13:00
'2024-01-18 13:00', '1.850', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:00', '1.850', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 13:06
'2024-01-18 13:06', '1.869', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:06', '1.869', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 13:12
'2024-01-18 13:12', '1.892', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:12', '1.892', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 13:18
'2024-01-18 13:18', '1.918', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:18', '1.918', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 13:24
'2024-01-18 13:24', '1.932', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:24', '1.932', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 13:30
'2024-01-18 13:30', '1.945', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:30', '1.945', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 13:36
'2024-01-18 13:36', '1.958', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:36', '1.958', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 13:42
'2024-01-18 13:42', '1.974', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:42', '1.974', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 13:48
'2024-01-18 13:48', '1.991', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:48', '1.991', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 13:54
'2024-01-18 13:54', '2.004', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 13:54', '2.004', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 14:00
'2024-01-18 14:00', '2.010', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:00', '2.010', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 14:06
'2024-01-18 14:06', '2.017', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:06', '2.017', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 14:12
'2024-01-18 14:12', '2.023', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:12', '2.023', '0.000', '0', '0', '0', '0', 'v')
2024-01-18 14:18
'2024-01-18 14:18', '2.023', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:18', '2.023', '0.000', '0', '0', '0', '0', 'v')
2024-01-18 14:24
'2024-01-18 14:24', '2.023', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:24', '2.023', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 14:30
'2024-01-18 14:30', '2.020', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:30', '2.020', '0.000', '0', '0', '0', '0', 'v')
2024-01-18 14:36
'2024-01-18 14:36', '2.017', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:36', '2.017', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 14:42
'2024-01-18 14:42', '2.010', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:42', '2.010', '0.000', '0', '0', '0', '0', 'v')
2024-01-18 14:48
'2024-01-18 14:48', '2.000', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:48', '2.000', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 14:54
'2024-01-18 14:54', '1.994', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 14:54', '1.994', '0.000', '0', '0', '0', '0', 'v')
2024-01-18 15:00
'2024-01-18 15:00', '1.984', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:00', '1.984', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 15:06
'2024-01-18 15:06', '1.974', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:06', '1.974', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 15:12
'2024-01-18 15:12', '1.961', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:12', '1.961', '0.003', '0', '0', '0', '0', 'v')
2024-01-18 15:18
'2024-01-18 15:18', '1.945', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:18', '1.945', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 15:24
'2024-01-18 15:24', '1.925', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:24', '1.925', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 15:30
'2024-01-18 15:30', '1.915', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:30', '1.915', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 15:36
'2024-01-18 15:36', '1.892', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:36', '1.892', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 15:42
'2024-01-18 15:42', '1.872', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:42', '1.872', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 15:48
'2024-01-18 15:48', '1.843', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:48', '1.843', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 15:54
'2024-01-18 15:54', '1.823', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 15:54', '1.823', '0.007', '0', '0', '0', '0', 'v')
2024-01-18 16:00
'2024-01-18 16:00', '1.790', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:00', '1.790', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 16:06
'2024-01-18 16:06', '1.758', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:06', '1.758', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 16:12
'2024-01-18 16:12', '1.728', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:12', '1.728', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 16:18
'2024-01-18 16:18', '1.699', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:18', '1.699', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 16:24
'2024-01-18 16:24', '1.669', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:24', '1.669', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 16:30
'2024-01-18 16:30', '1.633', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:30', '1.633', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 16:36
'2024-01-18 16:36', '1.600', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:36', '1.600', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 16:42
'2024-01-18 16:42', '1.551', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:42', '1.551', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 16:48
'2024-01-18 16:48', '1.508', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:48', '1.508', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 16:54
'2024-01-18 16:54', '1.476', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 16:54', '1.476', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 17:00
'2024-01-18 17:00', '1.436', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:00', '1.436', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 17:06
'2024-01-18 17:06', '1.407', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:06', '1.407', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 17:12
'2024-01-18 17:12', '1.367', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:12', '1.367', '0.013', '0', '0', '0', '0', 'v')
2024-01-18 17:18
'2024-01-18 17:18', '1.328', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:18', '1.328', '0.010', '0', '0', '0', '0', 'v')
2024-01-18 17:24
'2024-01-18 17:24', '1.285', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:24', '1.285', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 17:30
'2024-01-18 17:30', '1.220', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:30', '1.220', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 17:36
'2024-01-18 17:36', '1.174', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:36', '1.174', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 17:42
'2024-01-18 17:42', '1.134', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:42', '1.134', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 17:48
'2024-01-18 17:48', '1.095', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:48', '1.095', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 17:54
'2024-01-18 17:54', '1.059', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 17:54', '1.059', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 18:00
'2024-01-18 18:00', '1.010', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:00', '1.010', '0.030', '0', '0', '0', '0', 'v')
2024-01-18 18:06
'2024-01-18 18:06', '0.964', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:06', '0.964', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 18:12
'2024-01-18 18:12', '0.924', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:12', '0.924', '0.030', '0', '0', '0', '0', 'v')
2024-01-18 18:18
'2024-01-18 18:18', '0.888', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:18', '0.888', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 18:24
'2024-01-18 18:24', '0.859', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:24', '0.859', '0.026', '0', '0', '0', '0', 'v')
2024-01-18 18:30
'2024-01-18 18:30', '0.832', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:30', '0.832', '0.026', '0', '0', '0', '0', 'v')
2024-01-18 18:36
'2024-01-18 18:36', '0.793', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:36', '0.793', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 18:42
'2024-01-18 18:42', '0.760', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:42', '0.760', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 18:48
'2024-01-18 18:48', '0.724', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:48', '0.724', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 18:54
'2024-01-18 18:54', '0.678', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 18:54', '0.678', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 19:00
'2024-01-18 19:00', '0.662', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:00', '0.662', '0.026', '0', '0', '0', '0', 'v')
2024-01-18 19:06
'2024-01-18 19:06', '0.642', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:06', '0.642', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 19:12
'2024-01-18 19:12', '0.629', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:12', '0.629', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 19:18
'2024-01-18 19:18', '0.600', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:18', '0.600', '0.016', '0', '0', '0', '0', 'v')
2024-01-18 19:24
'2024-01-18 19:24', '0.567', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:24', '0.567', '0.026', '0', '0', '0', '0', 'v')
2024-01-18 19:30
'2024-01-18 19:30', '0.537', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:30', '0.537', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 19:36
'2024-01-18 19:36', '0.508', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:36', '0.508', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 19:42
'2024-01-18 19:42', '0.498', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:42', '0.498', '0.030', '0', '0', '0', '0', 'v')
2024-01-18 19:48
'2024-01-18 19:48', '0.472', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:48', '0.472', '0.030', '0', '0', '0', '0', 'v')
2024-01-18 19:54
'2024-01-18 19:54', '0.452', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 19:54', '0.452', '0.026', '0', '0', '0', '0', 'v')
2024-01-18 20:00
'2024-01-18 20:00', '0.445', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 20:00', '0.445', '0.026', '0', '0', '0', '0', 'v')
2024-01-18 20:06
'2024-01-18 20:06', '0.422', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 20:06', '0.422', '0.026', '0', '0', '0', '0', 'v')
2024-01-18 20:12
'2024-01-18 20:12', '0.413', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 20:12', '0.413', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 20:18
'2024-01-18 20:18', '0.386', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 20:18', '0.386', '0.030', '0', '0', '0', '0', 'v')
2024-01-18 20:24
'2024-01-18 20:24', '0.390', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 20:24', '0.390', '0.026', '0', '0', '0', '0', 'v')
2024-01-18 20:30
'2024-01-18 20:30', '0.383', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 20:30', '0.383', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 20:36
'2024-01-18 20:36', '0.383', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 20:36', '0.383', '0.023', '0', '0', '0', '0', 'v')
2024-01-18 20:42
'2024-01-18 20:42', '0.393', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-18 20:42', '0.393', '0.020', '0', '0', '0', '0', 'v')
2024-01-18 20:48

2024-01-19 00:30
'2024-01-19 00:30', '1.082', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 00:30', '1.082', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 00:36
'2024-01-19 00:36', '1.118', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 00:36', '1.118', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 00:42
'2024-01-19 00:42', '1.154', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 00:42', '1.154', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 00:48
'2024-01-19 00:48', '1.193', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 00:48', '1.193', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 00:54
'2024-01-19 00:54', '1.226', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 00:54', '1.226', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 01:00
'2024-01-19 01:00', '1.262', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:00', '1.262', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 01:06
'2024-01-19 01:06', '1.295', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:06', '1.295', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 01:12
'2024-01-19 01:12', '1.328', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:12', '1.328', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 01:18
'2024-01-19 01:18', '1.361', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:18', '1.361', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 01:24
'2024-01-19 01:24', '1.393', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:24', '1.393', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 01:30
'2024-01-19 01:30', '1.423', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:30', '1.423', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 01:36
'2024-01-19 01:36', '1.446', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:36', '1.446', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 01:42
'2024-01-19 01:42', '1.469', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:42', '1.469', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 01:48
'2024-01-19 01:48', '1.492', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:48', '1.492', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 01:54
'2024-01-19 01:54', '1.502', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 01:54', '1.502', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 02:00
'2024-01-19 02:00', '1.512', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:00', '1.512', '0.013', '0', '0', '0', '0', 'v')
2024-01-19 02:06
'2024-01-19 02:06', '1.531', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:06', '1.531', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 02:12
'2024-01-19 02:12', '1.541', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:12', '1.541', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 02:18
'2024-01-19 02:18', '1.564', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:18', '1.564', '0.013', '0', '0', '0', '0', 'v')
2024-01-19 02:24
'2024-01-19 02:24', '1.567', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:24', '1.567', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 02:30
'2024-01-19 02:30', '1.584', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:30', '1.584', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 02:36
'2024-01-19 02:36', '1.594', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:36', '1.594', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 02:42
'2024-01-19 02:42', '1.626', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:42', '1.626', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 02:48
'2024-01-19 02:48', '1.630', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:48', '1.630', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 02:54
'2024-01-19 02:54', '1.626', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 02:54', '1.626', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 03:00
'2024-01-19 03:00', '1.620', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:00', '1.620', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 03:06
'2024-01-19 03:06', '1.617', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:06', '1.617', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 03:12
'2024-01-19 03:12', '1.600', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:12', '1.600', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 03:18
'2024-01-19 03:18', '1.580', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:18', '1.580', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 03:24
'2024-01-19 03:24', '1.564', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:24', '1.564', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 03:30
'2024-01-19 03:30', '1.548', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:30', '1.548', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 03:36
'2024-01-19 03:36', '1.525', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:36', '1.525', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 03:42
'2024-01-19 03:42', '1.489', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:42', '1.489', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 03:48
'2024-01-19 03:48', '1.462', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:48', '1.462', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 03:54
'2024-01-19 03:54', '1.443', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 03:54', '1.443', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 04:00
'2024-01-19 04:00', '1.423', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:00', '1.423', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 04:06
'2024-01-19 04:06', '1.407', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:06', '1.407', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 04:12
'2024-01-19 04:12', '1.390', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:12', '1.390', '0.013', '0', '0', '0', '0', 'v')
2024-01-19 04:18
'2024-01-19 04:18', '1.367', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:18', '1.367', '0.013', '0', '0', '0', '0', 'v')
2024-01-19 04:24
'2024-01-19 04:24', '1.338', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:24', '1.338', '0.020', '0', '0', '0', '0', 'v')
2024-01-19 04:30
'2024-01-19 04:30', '1.308', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:30', '1.308', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 04:36
'2024-01-19 04:36', '1.256', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:36', '1.256', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 04:42
'2024-01-19 04:42', '1.213', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:42', '1.213', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 04:48
'2024-01-19 04:48', '1.167', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:48', '1.167', '0.020', '0', '0', '0', '0', 'v')
2024-01-19 04:54
'2024-01-19 04:54', '1.134', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 04:54', '1.134', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 05:00
'2024-01-19 05:00', '1.088', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:00', '1.088', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 05:06
'2024-01-19 05:06', '1.046', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:06', '1.046', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 05:12
'2024-01-19 05:12', '1.000', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:12', '1.000', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 05:18
'2024-01-19 05:18', '0.967', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:18', '0.967', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 05:24
'2024-01-19 05:24', '0.918', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:24', '0.918', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 05:30
'2024-01-19 05:30', '0.865', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:30', '0.865', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 05:36
'2024-01-19 05:36', '0.826', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:36', '0.826', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 05:42
'2024-01-19 05:42', '0.770', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:42', '0.770', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 05:48
'2024-01-19 05:48', '0.727', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:48', '0.727', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 05:54
'2024-01-19 05:54', '0.691', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 05:54', '0.691', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 06:00
'2024-01-19 06:00', '0.639', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:00', '0.639', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 06:06
'2024-01-19 06:06', '0.600', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:06', '0.600', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 06:12
'2024-01-19 06:12', '0.580', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:12', '0.580', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 06:18
'2024-01-19 06:18', '0.527', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:18', '0.527', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 06:24
'2024-01-19 06:24', '0.501', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:24', '0.501', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 06:30
'2024-01-19 06:30', '0.468', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:30', '0.468', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 06:36
'2024-01-19 06:36', '0.422', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:36', '0.422', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 06:42
'2024-01-19 06:42', '0.386', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:42', '0.386', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 06:48
'2024-01-19 06:48', '0.350', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:48', '0.350', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 06:54
'2024-01-19 06:54', '0.324', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 06:54', '0.324', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 07:00
'2024-01-19 07:00', '0.294', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:00', '0.294', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 07:06
'2024-01-19 07:06', '0.265', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:06', '0.265', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 07:12
'2024-01-19 07:12', '0.245', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:12', '0.245', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 07:18
'2024-01-19 07:18', '0.222', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:18', '0.222', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 07:24
'2024-01-19 07:24', '0.193', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:24', '0.193', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 07:30
'2024-01-19 07:30', '0.166', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:30', '0.166', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 07:36
'2024-01-19 07:36', '0.153', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:36', '0.153', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 07:42
'2024-01-19 07:42', '0.134', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:42', '0.134', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 07:48
'2024-01-19 07:48', '0.111', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:48', '0.111', '0.020', '0', '0', '0', '0', 'v')
2024-01-19 07:54
'2024-01-19 07:54', '0.094', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 07:54', '0.094', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 08:00
'2024-01-19 08:00', '0.071', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:00', '0.071', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 08:06
'2024-01-19 08:06', '0.068', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:06', '0.068', '0.020', '0', '0', '0', '0', 'v')
2024-01-19 08:12
'2024-01-19 08:12', '0.055', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:12', '0.055', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 08:18
'2024-01-19 08:18', '0.052', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:18', '0.052', '0.013', '0', '0', '0', '0', 'v')
2024-01-19 08:24
'2024-01-19 08:24', '0.045', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:24', '0.045', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 08:30
'2024-01-19 08:30', '0.042', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:30', '0.042', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 08:36
'2024-01-19 08:36', '0.016', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:36', '0.016', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 08:42
'2024-01-19 08:42', '-0.004', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:42', '-0.004', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 08:48
'2024-01-19 08:48', '-0.027', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:48', '-0.027', '0.013', '0', '0', '0', '0', 'v')
2024-01-19 08:54
'2024-01-19 08:54', '-0.024', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 08:54', '-0.024', '0.013', '0', '0', '0', '0', 'v')
2024-01-19 09:00
'2024-01-19 09:00', '-0.027', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:00', '-0.027', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 09:06
'2024-01-19 09:06', '-0.030', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:06', '-0.030', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 09:12
'2024-01-19 09:12', '-0.060', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:12', '-0.060', '0.016', '0', '0', '0', '0', 'v')
2024-01-19 09:18
'2024-01-19 09:18', '-0.047', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:18', '-0.047', '0.013', '0', '0', '0', '0', 'v')
2024-01-19 09:24
'2024-01-19 09:24', '-0.044', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:24', '-0.044', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 09:30
'2024-01-19 09:30', '-0.040', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:30', '-0.040', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 09:36
'2024-01-19 09:36', '-0.050', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:36', '-0.050', '0.003', '0', '0', '0', '0', 'v')
2024-01-19 09:42
'2024-01-19 09:42', '-0.050', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:42', '-0.050', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 09:48
'2024-01-19 09:48', '-0.037', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:48', '-0.037', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 09:54
'2024-01-19 09:54', '-0.037', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 09:54', '-0.037', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 10:00
'2024-01-19 10:00', '-0.027', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:00', '-0.027', '0.007', '0', '0', '0', '0', 'v')
2024-01-19 10:06
'2024-01-19 10:06', '-0.021', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:06', '-0.021', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 10:12
'2024-01-19 10:12', '0.006', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:12', '0.006', '0.003', '0', '0', '0', '0', 'v')
2024-01-19 10:18
'2024-01-19 10:18', '0.025', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:18', '0.025', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 10:24
'2024-01-19 10:24', '0.052', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:24', '0.052', '0.003', '0', '0', '0', '0', 'v')
2024-01-19 10:30
'2024-01-19 10:30', '0.078', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:30', '0.078', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 10:36
'2024-01-19 10:36', '0.101', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:36', '0.101', '0.010', '0', '0', '0', '0', 'v')
2024-01-19 10:42
'2024-01-19 10:42', '0.101', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:42', '0.101', '0.020', '0', '0', '0', '0', 'v')
2024-01-19 10:48
'2024-01-19 10:48', '0.127', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:48', '0.127', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 10:54
'2024-01-19 10:54', '0.163', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 10:54', '0.163', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 11:00
'2024-01-19 11:00', '0.196', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:00', '0.196', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 11:06
'2024-01-19 11:06', '0.226', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:06', '0.226', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 11:12
'2024-01-19 11:12', '0.268', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:12', '0.268', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 11:18
'2024-01-19 11:18', '0.294', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:18', '0.294', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 11:24
'2024-01-19 11:24', '0.330', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:24', '0.330', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 11:30
'2024-01-19 11:30', '0.363', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:30', '0.363', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 11:36
'2024-01-19 11:36', '0.406', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:36', '0.406', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 11:42
'2024-01-19 11:42', '0.449', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:42', '0.449', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 11:48
'2024-01-19 11:48', '0.491', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:48', '0.491', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 11:54
'2024-01-19 11:54', '0.527', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 11:54', '0.527', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 12:00
'2024-01-19 12:00', '0.554', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 12:00', '0.554', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 12:06

2024-01-19 13:36
'2024-01-19 13:36', '1.154', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 13:36', '1.154', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 13:42
'2024-01-19 13:42', '1.187', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 13:42', '1.187', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 13:48
'2024-01-19 13:48', '1.216', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 13:48', '1.216', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 13:54
'2024-01-19 13:54', '1.252', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 13:54', '1.252', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 14:00
'2024-01-19 14:00', '1.288', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:00', '1.288', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 14:06
'2024-01-19 14:06', '1.318', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:06', '1.318', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 14:12
'2024-01-19 14:12', '1.341', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:12', '1.341', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 14:18
'2024-01-19 14:18', '1.371', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:18', '1.371', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 14:24
'2024-01-19 14:24', '1.410', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:24', '1.410', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 14:30
'2024-01-19 14:30', '1.423', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:30', '1.423', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 14:36
'2024-01-19 14:36', '1.469', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:36', '1.469', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 14:42
'2024-01-19 14:42', '1.479', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:42', '1.479', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 14:48
'2024-01-19 14:48', '1.495', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:48', '1.495', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 14:54
'2024-01-19 14:54', '1.531', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 14:54', '1.531', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 15:00
'2024-01-19 15:00', '1.558', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:00', '1.558', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 15:06
'2024-01-19 15:06', '1.580', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:06', '1.580', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 15:12
'2024-01-19 15:12', '1.597', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:12', '1.597', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 15:18
'2024-01-19 15:18', '1.607', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:18', '1.607', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 15:24
'2024-01-19 15:24', '1.620', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:24', '1.620', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 15:30
'2024-01-19 15:30', '1.646', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:30', '1.646', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 15:36
'2024-01-19 15:36', '1.653', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:36', '1.653', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 15:42
'2024-01-19 15:42', '1.676', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:42', '1.676', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 15:48
'2024-01-19 15:48', '1.685', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:48', '1.685', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 15:54
'2024-01-19 15:54', '1.695', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 15:54', '1.695', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 16:00
'2024-01-19 16:00', '1.708', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:00', '1.708', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 16:06
'2024-01-19 16:06', '1.708', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:06', '1.708', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 16:12
'2024-01-19 16:12', '1.712', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:12', '1.712', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 16:18
'2024-01-19 16:18', '1.718', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:18', '1.718', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 16:24
'2024-01-19 16:24', '1.722', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:24', '1.722', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 16:30
'2024-01-19 16:30', '1.725', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:30', '1.725', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 16:36
'2024-01-19 16:36', '1.712', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:36', '1.712', '0.023', '0', '0', '0', '0', 'v')
2024-01-19 16:42
'2024-01-19 16:42', '1.722', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:42', '1.722', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 16:48
'2024-01-19 16:48', '1.712', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:48', '1.712', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 16:54
'2024-01-19 16:54', '1.712', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 16:54', '1.712', '0.026', '0', '0', '0', '0', 'v')
2024-01-19 17:00
'2024-01-19 17:00', '1.705', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:00', '1.705', '0.030', '0', '0', '0', '0', 'v')
2024-01-19 17:06
'2024-01-19 17:06', '1.692', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:06', '1.692', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 17:12
'2024-01-19 17:12', '1.676', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:12', '1.676', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 17:18
'2024-01-19 17:18', '1.672', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:18', '1.672', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 17:24
'2024-01-19 17:24', '1.659', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:24', '1.659', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 17:30
'2024-01-19 17:30', '1.646', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:30', '1.646', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 17:36
'2024-01-19 17:36', '1.626', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:36', '1.626', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 17:42
'2024-01-19 17:42', '1.610', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:42', '1.610', '0.033', '0', '0', '0', '0', 'v')
2024-01-19 17:48
'2024-01-19 17:48', '1.584', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:48', '1.584', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 17:54
'2024-01-19 17:54', '1.564', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 17:54', '1.564', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 18:00
'2024-01-19 18:00', '1.554', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:00', '1.554', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 18:06
'2024-01-19 18:06', '1.535', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:06', '1.535', '0.036', '0', '0', '0', '0', 'v')
2024-01-19 18:12
'2024-01-19 18:12', '1.521', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:12', '1.521', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 18:18
'2024-01-19 18:18', '1.489', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:18', '1.489', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 18:24
'2024-01-19 18:24', '1.476', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:24', '1.476', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 18:30
'2024-01-19 18:30', '1.446', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:30', '1.446', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 18:36
'2024-01-19 18:36', '1.413', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:36', '1.413', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 18:42
'2024-01-19 18:42', '1.387', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:42', '1.387', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 18:48
'2024-01-19 18:48', '1.357', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:48', '1.357', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 18:54
'2024-01-19 18:54', '1.341', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 18:54', '1.341', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 19:00
'2024-01-19 19:00', '1.305', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:00', '1.305', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 19:06
'2024-01-19 19:06', '1.275', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:06', '1.275', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 19:12
'2024-01-19 19:12', '1.233', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:12', '1.233', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 19:18
'2024-01-19 19:18', '1.200', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:18', '1.200', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 19:24
'2024-01-19 19:24', '1.177', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:24', '1.177', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 19:30
'2024-01-19 19:30', '1.147', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:30', '1.147', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 19:36
'2024-01-19 19:36', '1.108', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:36', '1.108', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 19:42
'2024-01-19 19:42', '1.079', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:42', '1.079', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 19:48
'2024-01-19 19:48', '1.062', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:48', '1.062', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 19:54
'2024-01-19 19:54', '1.042', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 19:54', '1.042', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 20:00
'2024-01-19 20:00', '1.019', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:00', '1.019', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 20:06
'2024-01-19 20:06', '0.993', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:06', '0.993', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 20:12
'2024-01-19 20:12', '0.964', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:12', '0.964', '0.062', '0', '0', '0', '0', 'v')
2024-01-19 20:18
'2024-01-19 20:18', '0.941', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:18', '0.941', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 20:24
'2024-01-19 20:24', '0.911', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:24', '0.911', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 20:30
'2024-01-19 20:30', '0.878', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:30', '0.878', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 20:36
'2024-01-19 20:36', '0.855', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:36', '0.855', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 20:42
'2024-01-19 20:42', '0.832', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:42', '0.832', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 20:48
'2024-01-19 20:48', '0.803', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:48', '0.803', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 20:54
'2024-01-19 20:54', '0.777', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 20:54', '0.777', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 21:00
'2024-01-19 21:00', '0.757', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:00', '0.757', '0.059', '0', '0', '0', '0', 'v')
2024-01-19 21:06
'2024-01-19 21:06', '0.731', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:06', '0.731', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 21:12
'2024-01-19 21:12', '0.711', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:12', '0.711', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 21:18
'2024-01-19 21:18', '0.678', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:18', '0.678', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 21:24
'2024-01-19 21:24', '0.672', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:24', '0.672', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 21:30
'2024-01-19 21:30', '0.642', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:30', '0.642', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 21:36
'2024-01-19 21:36', '0.632', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:36', '0.632', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 21:42
'2024-01-19 21:42', '0.622', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:42', '0.622', '0.043', '0', '0', '0', '0', 'v')
2024-01-19 21:48
'2024-01-19 21:48', '0.600', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:48', '0.600', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 21:54
'2024-01-19 21:54', '0.596', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 21:54', '0.596', '0.059', '0', '0', '0', '0', 'v')
2024-01-19 22:00
'2024-01-19 22:00', '0.573', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:00', '0.573', '0.059', '0', '0', '0', '0', 'v')
2024-01-19 22:06
'2024-01-19 22:06', '0.560', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:06', '0.560', '0.069', '0', '0', '0', '0', 'v')
2024-01-19 22:12
'2024-01-19 22:12', '0.554', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:12', '0.554', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 22:18
'2024-01-19 22:18', '0.544', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:18', '0.544', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 22:24
'2024-01-19 22:24', '0.537', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:24', '0.537', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 22:30
'2024-01-19 22:30', '0.544', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:30', '0.544', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 22:36
'2024-01-19 22:36', '0.544', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:36', '0.544', '0.066', '0', '0', '0', '0', 'v')
2024-01-19 22:42
'2024-01-19 22:42', '0.531', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:42', '0.531', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 22:48
'2024-01-19 22:48', '0.531', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:48', '0.531', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 22:54
'2024-01-19 22:54', '0.521', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 22:54', '0.521', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 23:00
'2024-01-19 23:00', '0.531', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:00', '0.531', '0.039', '0', '0', '0', '0', 'v')
2024-01-19 23:06
'2024-01-19 23:06', '0.521', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:06', '0.521', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 23:12
'2024-01-19 23:12', '0.524', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:12', '0.524', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 23:18
'2024-01-19 23:18', '0.511', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:18', '0.511', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 23:24
'2024-01-19 23:24', '0.511', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:24', '0.511', '0.046', '0', '0', '0', '0', 'v')
2024-01-19 23:30
'2024-01-19 23:30', '0.501', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:30', '0.501', '0.056', '0', '0', '0', '0', 'v')
2024-01-19 23:36
'2024-01-19 23:36', '0.508', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:36', '0.508', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 23:42
'2024-01-19 23:42', '0.517', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:42', '0.517', '0.052', '0', '0', '0', '0', 'v')
2024-01-19 23:48
'2024-01-19 23:48', '0.531', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:48', '0.531', '0.049', '0', '0', '0', '0', 'v')
2024-01-19 23:54
'2024-01-19 23:54', '0.540', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-19 23:54', '0.540', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 00:00
'2024-01-20 00:00', '0.583', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:00', '0.583', '0.043', '0', '0', '0', '0', 'v')
2024-01-20 00:06
'2024-01-20 00:06', '0.580', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:06', '0.580', '0.043', '0', '0', '0', '0', 'v')
2024-01-20 00:12
'2024-01-20 00:12', '0.606', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:12', '0.606', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 00:18
'2024-01-20 00:18', '0.636', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:18', '0.636', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 00:24
'2024-01-20 00:24', '0.652', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:24', '0.652', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 00:30
'2024-01-20 00:30', '0.665', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:30', '0.665', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 00:36
'2024-01-20 00:36', '0.678', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:36', '0.678', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 00:42
'2024-01-20 00:42', '0.701', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:42', '0.701', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 00:48
'2024-01-20 00:48', '0.741', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:48', '0.741', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 00:54
'2024-01-20 00:54', '0.757', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 00:54', '0.757', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 01:00
'2024-01-20 01:00', '0.796', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 01:00', '0.796', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 01:06
'2024-01-20 01:06', '0.839', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 01:06', '0.839', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 01:12

2024-01-20 02:36
'2024-01-20 02:36', '1.167', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 02:36', '1.167', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 02:42
'2024-01-20 02:42', '1.154', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 02:42', '1.154', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 02:48
'2024-01-20 02:48', '1.180', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 02:48', '1.180', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 02:54
'2024-01-20 02:54', '1.157', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 02:54', '1.157', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 03:00
'2024-01-20 03:00', '1.154', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:00', '1.154', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 03:06
'2024-01-20 03:06', '1.161', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:06', '1.161', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 03:12
'2024-01-20 03:12', '1.151', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:12', '1.151', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 03:18
'2024-01-20 03:18', '1.147', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:18', '1.147', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 03:24
'2024-01-20 03:24', '1.121', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:24', '1.121', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 03:30
'2024-01-20 03:30', '1.115', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:30', '1.115', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 03:36
'2024-01-20 03:36', '1.105', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:36', '1.105', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 03:42
'2024-01-20 03:42', '1.095', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:42', '1.095', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 03:48
'2024-01-20 03:48', '1.088', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:48', '1.088', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 03:54
'2024-01-20 03:54', '1.052', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 03:54', '1.052', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 04:00
'2024-01-20 04:00', '1.052', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:00', '1.052', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 04:06
'2024-01-20 04:06', '1.029', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:06', '1.029', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 04:12
'2024-01-20 04:12', '1.006', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:12', '1.006', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 04:18
'2024-01-20 04:18', '1.000', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:18', '1.000', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 04:24
'2024-01-20 04:24', '0.983', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:24', '0.983', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 04:30
'2024-01-20 04:30', '0.957', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:30', '0.957', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 04:36
'2024-01-20 04:36', '0.941', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:36', '0.941', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 04:42
'2024-01-20 04:42', '0.911', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:42', '0.911', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 04:48
'2024-01-20 04:48', '0.901', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:48', '0.901', '0.043', '0', '0', '0', '0', 'v')
2024-01-20 04:54
'2024-01-20 04:54', '0.878', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 04:54', '0.878', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 05:00
'2024-01-20 05:00', '0.869', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:00', '0.869', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 05:06
'2024-01-20 05:06', '0.842', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:06', '0.842', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 05:12
'2024-01-20 05:12', '0.829', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:12', '0.829', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 05:18
'2024-01-20 05:18', '0.813', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:18', '0.813', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 05:24
'2024-01-20 05:24', '0.796', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:24', '0.796', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 05:30
'2024-01-20 05:30', '0.747', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:30', '0.747', '0.043', '0', '0', '0', '0', 'v')
2024-01-20 05:36
'2024-01-20 05:36', '0.721', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:36', '0.721', '0.043', '0', '0', '0', '0', 'v')
2024-01-20 05:42
'2024-01-20 05:42', '0.688', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:42', '0.688', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 05:48
'2024-01-20 05:48', '0.675', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:48', '0.675', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 05:54
'2024-01-20 05:54', '0.645', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 05:54', '0.645', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 06:00
'2024-01-20 06:00', '0.636', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:00', '0.636', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 06:06
'2024-01-20 06:06', '0.606', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:06', '0.606', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 06:12
'2024-01-20 06:12', '0.600', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:12', '0.600', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 06:18
'2024-01-20 06:18', '0.600', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:18', '0.600', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 06:24
'2024-01-20 06:24', '0.580', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:24', '0.580', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 06:30
'2024-01-20 06:30', '0.580', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:30', '0.580', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 06:36
'2024-01-20 06:36', '0.557', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:36', '0.557', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 06:42
'2024-01-20 06:42', '0.563', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:42', '0.563', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 06:48
'2024-01-20 06:48', '0.534', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:48', '0.534', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 06:54
'2024-01-20 06:54', '0.521', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 06:54', '0.521', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 07:00
'2024-01-20 07:00', '0.501', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:00', '0.501', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 07:06
'2024-01-20 07:06', '0.491', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:06', '0.491', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 07:12
'2024-01-20 07:12', '0.458', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:12', '0.458', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 07:18
'2024-01-20 07:18', '0.465', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:18', '0.465', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 07:24
'2024-01-20 07:24', '0.465', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:24', '0.465', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 07:30
'2024-01-20 07:30', '0.435', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:30', '0.435', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 07:36
'2024-01-20 07:36', '0.413', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:36', '0.413', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 07:42
'2024-01-20 07:42', '0.390', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:42', '0.390', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 07:48
'2024-01-20 07:48', '0.376', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:48', '0.376', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 07:54
'2024-01-20 07:54', '0.327', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 07:54', '0.327', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 08:00
'2024-01-20 08:00', '0.324', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:00', '0.324', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 08:06
'2024-01-20 08:06', '0.314', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:06', '0.314', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 08:12
'2024-01-20 08:12', '0.271', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:12', '0.271', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 08:18
'2024-01-20 08:18', '0.268', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:18', '0.268', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 08:24
'2024-01-20 08:24', '0.232', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:24', '0.232', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 08:30
'2024-01-20 08:30', '0.235', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:30', '0.235', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 08:36
'2024-01-20 08:36', '0.216', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:36', '0.216', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 08:42
'2024-01-20 08:42', '0.193', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:42', '0.193', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 08:48
'2024-01-20 08:48', '0.193', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:48', '0.193', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 08:54
'2024-01-20 08:54', '0.173', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 08:54', '0.173', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 09:00
'2024-01-20 09:00', '0.160', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:00', '0.160', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 09:06
'2024-01-20 09:06', '0.176', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:06', '0.176', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 09:12
'2024-01-20 09:12', '0.140', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:12', '0.140', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 09:18
'2024-01-20 09:18', '0.134', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:18', '0.134', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 09:24
'2024-01-20 09:24', '0.134', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:24', '0.134', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 09:30
'2024-01-20 09:30', '0.121', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:30', '0.121', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 09:36
'2024-01-20 09:36', '0.088', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:36', '0.088', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 09:42
'2024-01-20 09:42', '0.061', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:42', '0.061', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 09:48
'2024-01-20 09:48', '0.058', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:48', '0.058', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 09:54
'2024-01-20 09:54', '0.032', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 09:54', '0.032', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 10:00
'2024-01-20 10:00', '0.016', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:00', '0.016', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 10:06
'2024-01-20 10:06', '-0.011', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:06', '-0.011', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 10:12
'2024-01-20 10:12', '-0.030', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:12', '-0.030', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 10:18
'2024-01-20 10:18', '-0.063', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:18', '-0.063', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 10:24
'2024-01-20 10:24', '-0.070', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:24', '-0.070', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 10:30
'2024-01-20 10:30', '-0.116', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:30', '-0.116', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 10:36
'2024-01-20 10:36', '-0.129', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:36', '-0.129', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 10:42
'2024-01-20 10:42', '-0.155', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:42', '-0.155', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 10:48
'2024-01-20 10:48', '-0.168', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:48', '-0.168', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 10:54
'2024-01-20 10:54', '-0.175', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 10:54', '-0.175', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 11:00
'2024-01-20 11:00', '-0.171', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:00', '-0.171', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 11:06
'2024-01-20 11:06', '-0.162', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:06', '-0.162', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 11:12
'2024-01-20 11:12', '-0.149', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:12', '-0.149', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 11:18
'2024-01-20 11:18', '-0.145', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:18', '-0.145', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 11:24
'2024-01-20 11:24', '-0.135', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:24', '-0.135', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 11:30
'2024-01-20 11:30', '-0.119', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:30', '-0.119', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 11:36
'2024-01-20 11:36', '-0.103', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:36', '-0.103', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 11:42
'2024-01-20 11:42', '-0.093', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:42', '-0.093', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 11:48
'2024-01-20 11:48', '-0.076', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:48', '-0.076', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 11:54
'2024-01-20 11:54', '-0.047', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 11:54', '-0.047', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 12:00
'2024-01-20 12:00', '-0.047', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:00', '-0.047', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 12:06
'2024-01-20 12:06', '-0.040', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:06', '-0.040', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 12:12
'2024-01-20 12:12', '-0.021', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:12', '-0.021', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 12:18
'2024-01-20 12:18', '-0.021', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:18', '-0.021', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 12:24
'2024-01-20 12:24', '-0.001', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:24', '-0.001', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 12:30
'2024-01-20 12:30', '0.012', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:30', '0.012', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 12:36
'2024-01-20 12:36', '0.025', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:36', '0.025', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 12:42
'2024-01-20 12:42', '0.048', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:42', '0.048', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 12:48
'2024-01-20 12:48', '0.078', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:48', '0.078', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 12:54
'2024-01-20 12:54', '0.104', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 12:54', '0.104', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 13:00
'2024-01-20 13:00', '0.114', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:00', '0.114', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 13:06
'2024-01-20 13:06', '0.150', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:06', '0.150', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 13:12
'2024-01-20 13:12', '0.176', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:12', '0.176', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 13:18
'2024-01-20 13:18', '0.232', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:18', '0.232', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 13:24
'2024-01-20 13:24', '0.271', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:24', '0.271', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 13:30
'2024-01-20 13:30', '0.324', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:30', '0.324', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 13:36
'2024-01-20 13:36', '0.380', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:36', '0.380', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 13:42
'2024-01-20 13:42', '0.396', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:42', '0.396', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 13:48
'2024-01-20 13:48', '0.465', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:48', '0.465', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 13:54
'2024-01-20 13:54', '0.540', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 13:54', '0.540', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 14:00
'2024-01-20 14:00', '0.583', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 14:00', '0.583', '0.075', '0', '0', '0', '0', 'v')
2024-01-20 14:06
'2024-01-20 14:06', '0.659', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 14:06', '0.659', '0.072', '0', '0', '0', '0', 'v')

2024-01-20 15:30
'2024-01-20 15:30', '1.318', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 15:30', '1.318', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 15:36
'2024-01-20 15:36', '1.341', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 15:36', '1.341', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 15:42
'2024-01-20 15:42', '1.371', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 15:42', '1.371', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 15:48
'2024-01-20 15:48', '1.400', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 15:48', '1.400', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 15:54
'2024-01-20 15:54', '1.423', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 15:54', '1.423', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 16:00
'2024-01-20 16:00', '1.449', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:00', '1.449', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 16:06
'2024-01-20 16:06', '1.453', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:06', '1.453', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 16:12
'2024-01-20 16:12', '1.472', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:12', '1.472', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 16:18
'2024-01-20 16:18', '1.492', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:18', '1.492', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 16:24
'2024-01-20 16:24', '1.521', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:24', '1.521', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 16:30
'2024-01-20 16:30', '1.525', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:30', '1.525', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 16:36
'2024-01-20 16:36', '1.551', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:36', '1.551', '0.075', '0', '0', '0', '0', 'v')
2024-01-20 16:42
'2024-01-20 16:42', '1.558', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:42', '1.558', '0.082', '0', '0', '0', '0', 'v')
2024-01-20 16:48
'2024-01-20 16:48', '1.561', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:48', '1.561', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 16:54
'2024-01-20 16:54', '1.571', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 16:54', '1.571', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 17:00
'2024-01-20 17:00', '1.577', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:00', '1.577', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 17:06
'2024-01-20 17:06', '1.610', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:06', '1.610', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 17:12
'2024-01-20 17:12', '1.600', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:12', '1.600', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 17:18
'2024-01-20 17:18', '1.590', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:18', '1.590', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 17:24
'2024-01-20 17:24', '1.590', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:24', '1.590', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 17:30
'2024-01-20 17:30', '1.567', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:30', '1.567', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 17:36
'2024-01-20 17:36', '1.574', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:36', '1.574', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 17:42
'2024-01-20 17:42', '1.574', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:42', '1.574', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 17:48
'2024-01-20 17:48', '1.551', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:48', '1.551', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 17:54
'2024-01-20 17:54', '1.541', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 17:54', '1.541', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 18:00
'2024-01-20 18:00', '1.538', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:00', '1.538', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 18:06
'2024-01-20 18:06', '1.528', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:06', '1.528', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 18:12
'2024-01-20 18:12', '1.521', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:12', '1.521', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 18:18
'2024-01-20 18:18', '1.512', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:18', '1.512', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 18:24
'2024-01-20 18:24', '1.505', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:24', '1.505', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 18:30
'2024-01-20 18:30', '1.476', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:30', '1.476', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 18:36
'2024-01-20 18:36', '1.433', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:36', '1.433', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 18:42
'2024-01-20 18:42', '1.420', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:42', '1.420', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 18:48
'2024-01-20 18:48', '1.397', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:48', '1.397', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 18:54
'2024-01-20 18:54', '1.357', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 18:54', '1.357', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 19:00
'2024-01-20 19:00', '1.328', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:00', '1.328', '0.046', '0', '0', '0', '0', 'v')
2024-01-20 19:06
'2024-01-20 19:06', '1.302', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:06', '1.302', '0.049', '0', '0', '0', '0', 'v')
2024-01-20 19:12
'2024-01-20 19:12', '1.279', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:12', '1.279', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 19:18
'2024-01-20 19:18', '1.272', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:18', '1.272', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 19:24
'2024-01-20 19:24', '1.246', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:24', '1.246', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 19:30
'2024-01-20 19:30', '1.233', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:30', '1.233', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 19:36
'2024-01-20 19:36', '1.193', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:36', '1.193', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 19:42
'2024-01-20 19:42', '1.161', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:42', '1.161', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 19:48
'2024-01-20 19:48', '1.144', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:48', '1.144', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 19:54
'2024-01-20 19:54', '1.115', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 19:54', '1.115', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 20:00
'2024-01-20 20:00', '1.062', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:00', '1.062', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 20:06
'2024-01-20 20:06', '1.046', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:06', '1.046', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 20:12
'2024-01-20 20:12', '1.023', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:12', '1.023', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 20:18
'2024-01-20 20:18', '0.996', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:18', '0.996', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 20:24
'2024-01-20 20:24', '0.957', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:24', '0.957', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 20:30
'2024-01-20 20:30', '0.934', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:30', '0.934', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 20:36
'2024-01-20 20:36', '0.882', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:36', '0.882', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 20:42
'2024-01-20 20:42', '0.862', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:42', '0.862', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 20:48
'2024-01-20 20:48', '0.842', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:48', '0.842', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 20:54
'2024-01-20 20:54', '0.819', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 20:54', '0.819', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 21:00
'2024-01-20 21:00', '0.760', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:00', '0.760', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 21:06
'2024-01-20 21:06', '0.754', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:06', '0.754', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 21:12
'2024-01-20 21:12', '0.731', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:12', '0.731', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 21:18
'2024-01-20 21:18', '0.711', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:18', '0.711', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 21:24
'2024-01-20 21:24', '0.701', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:24', '0.701', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 21:30
'2024-01-20 21:30', '0.682', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:30', '0.682', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 21:36
'2024-01-20 21:36', '0.678', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:36', '0.678', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 21:42
'2024-01-20 21:42', '0.678', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:42', '0.678', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 21:48
'2024-01-20 21:48', '0.652', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:48', '0.652', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 21:54
'2024-01-20 21:54', '0.649', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 21:54', '0.649', '0.052', '0', '0', '0', '0', 'v')
2024-01-20 22:00
'2024-01-20 22:00', '0.613', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:00', '0.613', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 22:06
'2024-01-20 22:06', '0.593', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:06', '0.593', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 22:12
'2024-01-20 22:12', '0.606', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:12', '0.606', '0.059', '0', '0', '0', '0', 'v')
2024-01-20 22:18
'2024-01-20 22:18', '0.593', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:18', '0.593', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 22:24
'2024-01-20 22:24', '0.583', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:24', '0.583', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 22:30
'2024-01-20 22:30', '0.580', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:30', '0.580', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 22:36
'2024-01-20 22:36', '0.563', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:36', '0.563', '0.075', '0', '0', '0', '0', 'v')
2024-01-20 22:42
'2024-01-20 22:42', '0.550', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:42', '0.550', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 22:48
'2024-01-20 22:48', '0.527', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:48', '0.527', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 22:54
'2024-01-20 22:54', '0.524', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 22:54', '0.524', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 23:00
'2024-01-20 23:00', '0.478', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:00', '0.478', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 23:06
'2024-01-20 23:06', '0.498', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:06', '0.498', '0.066', '0', '0', '0', '0', 'v')
2024-01-20 23:12
'2024-01-20 23:12', '0.491', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:12', '0.491', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 23:18
'2024-01-20 23:18', '0.462', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:18', '0.462', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 23:24
'2024-01-20 23:24', '0.449', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:24', '0.449', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 23:30
'2024-01-20 23:30', '0.468', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:30', '0.468', '0.069', '0', '0', '0', '0', 'v')
2024-01-20 23:36
'2024-01-20 23:36', '0.458', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:36', '0.458', '0.056', '0', '0', '0', '0', 'v')
2024-01-20 23:42
'2024-01-20 23:42', '0.455', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:42', '0.455', '0.062', '0', '0', '0', '0', 'v')
2024-01-20 23:48
'2024-01-20 23:48', '0.452', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:48', '0.452', '0.072', '0', '0', '0', '0', 'v')
2024-01-20 23:54
'2024-01-20 23:54', '0.455', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-20 23:54', '0.455', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 00:00
'2024-01-21 00:00', '0.449', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:00', '0.449', '0.079', '0', '0', '0', '0', 'v')
2024-01-21 00:06
'2024-01-21 00:06', '0.465', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:06', '0.465', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 00:12
'2024-01-21 00:12', '0.449', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:12', '0.449', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 00:18
'2024-01-21 00:18', '0.445', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:18', '0.445', '0.075', '0', '0', '0', '0', 'v')
2024-01-21 00:24
'2024-01-21 00:24', '0.435', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:24', '0.435', '0.075', '0', '0', '0', '0', 'v')
2024-01-21 00:30
'2024-01-21 00:30', '0.449', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:30', '0.449', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 00:36
'2024-01-21 00:36', '0.442', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:36', '0.442', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 00:42
'2024-01-21 00:42', '0.452', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:42', '0.452', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 00:48
'2024-01-21 00:48', '0.442', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:48', '0.442', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 00:54
'2024-01-21 00:54', '0.458', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 00:54', '0.458', '0.079', '0', '0', '0', '0', 'v')
2024-01-21 01:00
'2024-01-21 01:00', '0.498', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:00', '0.498', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 01:06
'2024-01-21 01:06', '0.498', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:06', '0.498', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 01:12
'2024-01-21 01:12', '0.514', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:12', '0.514', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 01:18
'2024-01-21 01:18', '0.527', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:18', '0.527', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 01:24
'2024-01-21 01:24', '0.563', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:24', '0.563', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 01:30
'2024-01-21 01:30', '0.613', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:30', '0.613', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 01:36
'2024-01-21 01:36', '0.636', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:36', '0.636', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 01:42
'2024-01-21 01:42', '0.705', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:42', '0.705', '0.075', '0', '0', '0', '0', 'v')
2024-01-21 01:48
'2024-01-21 01:48', '0.701', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:48', '0.701', '0.075', '0', '0', '0', '0', 'v')
2024-01-21 01:54
'2024-01-21 01:54', '0.747', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 01:54', '0.747', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 02:00
'2024-01-21 02:00', '0.764', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:00', '0.764', '0.075', '0', '0', '0', '0', 'v')
2024-01-21 02:06
'2024-01-21 02:06', '0.796', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:06', '0.796', '0.079', '0', '0', '0', '0', 'v')
2024-01-21 02:12
'2024-01-21 02:12', '0.806', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:12', '0.806', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 02:18
'2024-01-21 02:18', '0.823', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:18', '0.823', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 02:24
'2024-01-21 02:24', '0.849', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:24', '0.849', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 02:30
'2024-01-21 02:30', '0.885', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:30', '0.885', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 02:36
'2024-01-21 02:36', '0.878', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:36', '0.878', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 02:42
'2024-01-21 02:42', '0.908', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:42', '0.908', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 02:48
'2024-01-21 02:48', '0.901', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:48', '0.901', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 02:54
'2024-01-21 02:54', '0.908', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 02:54', '0.908', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 03:00
'2024-01-21 03:00', '0.905', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 03:00', '0.905', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 03:06

2024-01-21 05:48
'2024-01-21 05:48', '0.944', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 05:48', '0.944', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 05:54
'2024-01-21 05:54', '0.941', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 05:54', '0.941', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 06:00
'2024-01-21 06:00', '0.918', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:00', '0.918', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 06:06
'2024-01-21 06:06', '0.911', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:06', '0.911', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 06:12
'2024-01-21 06:12', '0.885', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:12', '0.885', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 06:18
'2024-01-21 06:18', '0.869', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:18', '0.869', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 06:24
'2024-01-21 06:24', '0.826', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:24', '0.826', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 06:30
'2024-01-21 06:30', '0.813', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:30', '0.813', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 06:36
'2024-01-21 06:36', '0.790', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:36', '0.790', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 06:42
'2024-01-21 06:42', '0.767', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:42', '0.767', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 06:48
'2024-01-21 06:48', '0.754', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:48', '0.754', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 06:54
'2024-01-21 06:54', '0.724', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 06:54', '0.724', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 07:00
'2024-01-21 07:00', '0.711', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:00', '0.711', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 07:06
'2024-01-21 07:06', '0.682', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:06', '0.682', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 07:12
'2024-01-21 07:12', '0.652', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:12', '0.652', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 07:18
'2024-01-21 07:18', '0.636', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:18', '0.636', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 07:24
'2024-01-21 07:24', '0.606', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:24', '0.606', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 07:30
'2024-01-21 07:30', '0.583', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:30', '0.583', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 07:36
'2024-01-21 07:36', '0.540', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:36', '0.540', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 07:42
'2024-01-21 07:42', '0.521', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:42', '0.521', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 07:48
'2024-01-21 07:48', '0.485', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:48', '0.485', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 07:54
'2024-01-21 07:54', '0.455', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 07:54', '0.455', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 08:00
'2024-01-21 08:00', '0.449', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:00', '0.449', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 08:06
'2024-01-21 08:06', '0.435', '0.092', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:06', '0.435', '0.092', '0', '0', '0', '0', 'v')
2024-01-21 08:12
'2024-01-21 08:12', '0.403', '0.085', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:12', '0.403', '0.085', '0', '0', '0', '0', 'v')
2024-01-21 08:18
'2024-01-21 08:18', '0.376', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:18', '0.376', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 08:24
'2024-01-21 08:24', '0.367', '0.089', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:24', '0.367', '0.089', '0', '0', '0', '0', 'v')
2024-01-21 08:30
'2024-01-21 08:30', '0.334', '0.089', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:30', '0.334', '0.089', '0', '0', '0', '0', 'v')
2024-01-21 08:36
'2024-01-21 08:36', '0.311', '0.089', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:36', '0.311', '0.089', '0', '0', '0', '0', 'v')
2024-01-21 08:42
'2024-01-21 08:42', '0.288', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:42', '0.288', '0.082', '0', '0', '0', '0', 'v')
2024-01-21 08:48
'2024-01-21 08:48', '0.298', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:48', '0.298', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 08:54
'2024-01-21 08:54', '0.268', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 08:54', '0.268', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 09:00
'2024-01-21 09:00', '0.235', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:00', '0.235', '0.079', '0', '0', '0', '0', 'v')
2024-01-21 09:06
'2024-01-21 09:06', '0.222', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:06', '0.222', '0.082', '0', '0', '0', '0', 'v')
2024-01-21 09:12
'2024-01-21 09:12', '0.209', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:12', '0.209', '0.075', '0', '0', '0', '0', 'v')
2024-01-21 09:18
'2024-01-21 09:18', '0.189', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:18', '0.189', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 09:24
'2024-01-21 09:24', '0.173', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:24', '0.173', '0.079', '0', '0', '0', '0', 'v')
2024-01-21 09:30
'2024-01-21 09:30', '0.143', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:30', '0.143', '0.082', '0', '0', '0', '0', 'v')
2024-01-21 09:36
'2024-01-21 09:36', '0.130', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:36', '0.130', '0.075', '0', '0', '0', '0', 'v')
2024-01-21 09:42
'2024-01-21 09:42', '0.121', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:42', '0.121', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 09:48
'2024-01-21 09:48', '0.117', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:48', '0.117', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 09:54
'2024-01-21 09:54', '0.107', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 09:54', '0.107', '0.075', '0', '0', '0', '0', 'v')
2024-01-21 10:00
'2024-01-21 10:00', '0.104', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:00', '0.104', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 10:06
'2024-01-21 10:06', '0.071', '0.082', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:06', '0.071', '0.082', '0', '0', '0', '0', 'v')
2024-01-21 10:12
'2024-01-21 10:12', '0.075', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:12', '0.075', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 10:18
'2024-01-21 10:18', '0.032', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:18', '0.032', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 10:24
'2024-01-21 10:24', '0.022', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:24', '0.022', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 10:30
'2024-01-21 10:30', '-0.001', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:30', '-0.001', '0.079', '0', '0', '0', '0', 'v')
2024-01-21 10:36
'2024-01-21 10:36', '-0.017', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:36', '-0.017', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 10:42
'2024-01-21 10:42', '-0.044', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:42', '-0.044', '0.079', '0', '0', '0', '0', 'v')
2024-01-21 10:48
'2024-01-21 10:48', '-0.047', '0.079', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:48', '-0.047', '0.079', '0', '0', '0', '0', 'v')
2024-01-21 10:54
'2024-01-21 10:54', '-0.070', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 10:54', '-0.070', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 11:00
'2024-01-21 11:00', '-0.096', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:00', '-0.096', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 11:06
'2024-01-21 11:06', '-0.122', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:06', '-0.122', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 11:12
'2024-01-21 11:12', '-0.119', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:12', '-0.119', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 11:18
'2024-01-21 11:18', '-0.145', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:18', '-0.145', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 11:24
'2024-01-21 11:24', '-0.175', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:24', '-0.175', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 11:30
'2024-01-21 11:30', '-0.178', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:30', '-0.178', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 11:36
'2024-01-21 11:36', '-0.211', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:36', '-0.211', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 11:42
'2024-01-21 11:42', '-0.214', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:42', '-0.214', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 11:48
'2024-01-21 11:48', '-0.231', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:48', '-0.231', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 11:54
'2024-01-21 11:54', '-0.263', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 11:54', '-0.263', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 12:00
'2024-01-21 12:00', '-0.293', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:00', '-0.293', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 12:06
'2024-01-21 12:06', '-0.293', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:06', '-0.293', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 12:12
'2024-01-21 12:12', '-0.299', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:12', '-0.299', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 12:18
'2024-01-21 12:18', '-0.319', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:18', '-0.319', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 12:24
'2024-01-21 12:24', '-0.352', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:24', '-0.352', '0.072', '0', '0', '0', '0', 'v')
2024-01-21 12:30
'2024-01-21 12:30', '-0.336', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:30', '-0.336', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 12:36
'2024-01-21 12:36', '-0.336', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:36', '-0.336', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 12:42
'2024-01-21 12:42', '-0.358', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:42', '-0.358', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 12:48
'2024-01-21 12:48', '-0.372', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:48', '-0.372', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 12:54
'2024-01-21 12:54', '-0.358', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 12:54', '-0.358', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 13:00
'2024-01-21 13:00', '-0.349', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:00', '-0.349', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 13:06
'2024-01-21 13:06', '-0.345', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:06', '-0.345', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 13:12
'2024-01-21 13:12', '-0.339', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:12', '-0.339', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 13:18
'2024-01-21 13:18', '-0.329', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:18', '-0.329', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 13:24
'2024-01-21 13:24', '-0.319', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:24', '-0.319', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 13:30
'2024-01-21 13:30', '-0.296', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:30', '-0.296', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 13:36
'2024-01-21 13:36', '-0.299', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:36', '-0.299', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 13:42
'2024-01-21 13:42', '-0.283', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:42', '-0.283', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 13:48
'2024-01-21 13:48', '-0.263', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:48', '-0.263', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 13:54
'2024-01-21 13:54', '-0.231', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 13:54', '-0.231', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 14:00
'2024-01-21 14:00', '-0.227', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:00', '-0.227', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 14:06
'2024-01-21 14:06', '-0.175', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:06', '-0.175', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 14:12
'2024-01-21 14:12', '-0.158', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:12', '-0.158', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 14:18
'2024-01-21 14:18', '-0.112', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:18', '-0.112', '0.066', '0', '0', '0', '0', 'v')
2024-01-21 14:24
'2024-01-21 14:24', '-0.093', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:24', '-0.093', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 14:30
'2024-01-21 14:30', '-0.053', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:30', '-0.053', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 14:36
'2024-01-21 14:36', '-0.004', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:36', '-0.004', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 14:42
'2024-01-21 14:42', '0.032', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:42', '0.032', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 14:48
'2024-01-21 14:48', '0.061', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:48', '0.061', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 14:54
'2024-01-21 14:54', '0.094', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 14:54', '0.094', '0.069', '0', '0', '0', '0', 'v')
2024-01-21 15:00
'2024-01-21 15:00', '0.143', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:00', '0.143', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 15:06
'2024-01-21 15:06', '0.176', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:06', '0.176', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 15:12
'2024-01-21 15:12', '0.209', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:12', '0.209', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 15:18
'2024-01-21 15:18', '0.242', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:18', '0.242', '0.062', '0', '0', '0', '0', 'v')
2024-01-21 15:24
'2024-01-21 15:24', '0.278', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:24', '0.278', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 15:30
'2024-01-21 15:30', '0.314', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:30', '0.314', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 15:36
'2024-01-21 15:36', '0.367', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:36', '0.367', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 15:42
'2024-01-21 15:42', '0.380', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:42', '0.380', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 15:48
'2024-01-21 15:48', '0.406', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:48', '0.406', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 15:54
'2024-01-21 15:54', '0.439', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 15:54', '0.439', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 16:00
'2024-01-21 16:00', '0.452', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:00', '0.452', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 16:06
'2024-01-21 16:06', '0.488', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:06', '0.488', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 16:12
'2024-01-21 16:12', '0.498', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:12', '0.498', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 16:18
'2024-01-21 16:18', '0.521', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:18', '0.521', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 16:24
'2024-01-21 16:24', '0.550', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:24', '0.550', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 16:30
'2024-01-21 16:30', '0.583', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:30', '0.583', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 16:36
'2024-01-21 16:36', '0.609', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:36', '0.609', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 16:42
'2024-01-21 16:42', '0.639', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:42', '0.639', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 16:48
'2024-01-21 16:48', '0.636', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:48', '0.636', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 16:54
'2024-01-21 16:54', '0.678', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 16:54', '0.678', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 17:00
'2024-01-21 17:00', '0.685', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 17:00', '0.685', '0.059', '0', '0', '0', '0', 'v')
2024-01-21 17:06
'2024-01-21 17:06', '0.698', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 17:06', '0.698', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 17:12
'2024-01-21 17:12', '0.714', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 17:12', '0.714', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 17:18
'2024-01-21 17:18', '0.721', '0.056', '0', '0', '0', '0', 'v'

'2024-01-21 20:30', '0.419', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 20:30', '0.419', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 20:36
'2024-01-21 20:36', '0.399', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 20:36', '0.399', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 20:42
'2024-01-21 20:42', '0.396', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 20:42', '0.396', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 20:48
'2024-01-21 20:48', '0.360', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 20:48', '0.360', '0.043', '0', '0', '0', '0', 'v')
2024-01-21 20:54
'2024-01-21 20:54', '0.334', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 20:54', '0.334', '0.043', '0', '0', '0', '0', 'v')
2024-01-21 21:00
'2024-01-21 21:00', '0.327', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:00', '0.327', '0.033', '0', '0', '0', '0', 'v')
2024-01-21 21:06
'2024-01-21 21:06', '0.314', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:06', '0.314', '0.056', '0', '0', '0', '0', 'v')
2024-01-21 21:12
'2024-01-21 21:12', '0.271', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:12', '0.271', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 21:18
'2024-01-21 21:18', '0.262', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:18', '0.262', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 21:24
'2024-01-21 21:24', '0.222', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:24', '0.222', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 21:30
'2024-01-21 21:30', '0.199', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:30', '0.199', '0.039', '0', '0', '0', '0', 'v')
2024-01-21 21:36
'2024-01-21 21:36', '0.196', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:36', '0.196', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 21:42
'2024-01-21 21:42', '0.189', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:42', '0.189', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 21:48
'2024-01-21 21:48', '0.166', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:48', '0.166', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 21:54
'2024-01-21 21:54', '0.134', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 21:54', '0.134', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 22:00
'2024-01-21 22:00', '0.121', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:00', '0.121', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 22:06
'2024-01-21 22:06', '0.124', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:06', '0.124', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 22:12
'2024-01-21 22:12', '0.088', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:12', '0.088', '0.043', '0', '0', '0', '0', 'v')
2024-01-21 22:18
'2024-01-21 22:18', '0.061', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:18', '0.061', '0.043', '0', '0', '0', '0', 'v')
2024-01-21 22:24
'2024-01-21 22:24', '0.042', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:24', '0.042', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 22:30
'2024-01-21 22:30', '0.025', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:30', '0.025', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 22:36
'2024-01-21 22:36', '0.012', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:36', '0.012', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 22:42
'2024-01-21 22:42', '-0.024', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:42', '-0.024', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 22:48
'2024-01-21 22:48', '-0.030', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:48', '-0.030', '0.039', '0', '0', '0', '0', 'v')
2024-01-21 22:54
'2024-01-21 22:54', '-0.047', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 22:54', '-0.047', '0.039', '0', '0', '0', '0', 'v')
2024-01-21 23:00
'2024-01-21 23:00', '-0.073', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:00', '-0.073', '0.043', '0', '0', '0', '0', 'v')
2024-01-21 23:06
'2024-01-21 23:06', '-0.083', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:06', '-0.083', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 23:12
'2024-01-21 23:12', '-0.093', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:12', '-0.093', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 23:18
'2024-01-21 23:18', '-0.096', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:18', '-0.096', '0.043', '0', '0', '0', '0', 'v')
2024-01-21 23:24
'2024-01-21 23:24', '-0.106', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:24', '-0.106', '0.049', '0', '0', '0', '0', 'v')
2024-01-21 23:30
'2024-01-21 23:30', '-0.135', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:30', '-0.135', '0.046', '0', '0', '0', '0', 'v')
2024-01-21 23:36
'2024-01-21 23:36', '-0.132', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:36', '-0.132', '0.043', '0', '0', '0', '0', 'v')
2024-01-21 23:42
'2024-01-21 23:42', '-0.158', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:42', '-0.158', '0.052', '0', '0', '0', '0', 'v')
2024-01-21 23:48
'2024-01-21 23:48', '-0.168', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:48', '-0.168', '0.043', '0', '0', '0', '0', 'v')
2024-01-21 23:54
'2024-01-21 23:54', '-0.175', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-21 23:54', '-0.175', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 00:00
'2024-01-22 00:00', '-0.185', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:00', '-0.185', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 00:06
'2024-01-22 00:06', '-0.211', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:06', '-0.211', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 00:12
'2024-01-22 00:12', '-0.224', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:12', '-0.224', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 00:18
'2024-01-22 00:18', '-0.227', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:18', '-0.227', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 00:24
'2024-01-22 00:24', '-0.227', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:24', '-0.227', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 00:30
'2024-01-22 00:30', '-0.234', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:30', '-0.234', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 00:36
'2024-01-22 00:36', '-0.237', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:36', '-0.237', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 00:42
'2024-01-22 00:42', '-0.237', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:42', '-0.237', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 00:48
'2024-01-22 00:48', '-0.221', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:48', '-0.221', '0.049', '0', '0', '0', '0', 'v')
2024-01-22 00:54
'2024-01-22 00:54', '-0.231', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 00:54', '-0.231', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 01:00
'2024-01-22 01:00', '-0.221', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:00', '-0.221', '0.049', '0', '0', '0', '0', 'v')
2024-01-22 01:06
'2024-01-22 01:06', '-0.201', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:06', '-0.201', '0.062', '0', '0', '0', '0', 'v')
2024-01-22 01:12
'2024-01-22 01:12', '-0.198', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:12', '-0.198', '0.059', '0', '0', '0', '0', 'v')
2024-01-22 01:18
'2024-01-22 01:18', '-0.188', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:18', '-0.188', '0.056', '0', '0', '0', '0', 'v')
2024-01-22 01:24
'2024-01-22 01:24', '-0.171', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:24', '-0.171', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 01:30
'2024-01-22 01:30', '-0.158', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:30', '-0.158', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 01:36
'2024-01-22 01:36', '-0.162', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:36', '-0.162', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 01:42
'2024-01-22 01:42', '-0.139', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:42', '-0.139', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 01:48
'2024-01-22 01:48', '-0.126', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:48', '-0.126', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 01:54
'2024-01-22 01:54', '-0.089', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 01:54', '-0.089', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 02:00
'2024-01-22 02:00', '-0.066', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:00', '-0.066', '0.056', '0', '0', '0', '0', 'v')
2024-01-22 02:06
'2024-01-22 02:06', '-0.037', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:06', '-0.037', '0.059', '0', '0', '0', '0', 'v')
2024-01-22 02:12
'2024-01-22 02:12', '-0.024', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:12', '-0.024', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 02:18
'2024-01-22 02:18', '0.009', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:18', '0.009', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 02:24
'2024-01-22 02:24', '0.029', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:24', '0.029', '0.049', '0', '0', '0', '0', 'v')
2024-01-22 02:30
'2024-01-22 02:30', '0.061', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:30', '0.061', '0.056', '0', '0', '0', '0', 'v')
2024-01-22 02:36
'2024-01-22 02:36', '0.091', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:36', '0.091', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 02:42
'2024-01-22 02:42', '0.124', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:42', '0.124', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 02:48
'2024-01-22 02:48', '0.150', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:48', '0.150', '0.056', '0', '0', '0', '0', 'v')
2024-01-22 02:54
'2024-01-22 02:54', '0.173', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 02:54', '0.173', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 03:00
'2024-01-22 03:00', '0.189', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:00', '0.189', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 03:06
'2024-01-22 03:06', '0.226', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:06', '0.226', '0.049', '0', '0', '0', '0', 'v')
2024-01-22 03:12
'2024-01-22 03:12', '0.242', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:12', '0.242', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 03:18
'2024-01-22 03:18', '0.288', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:18', '0.288', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 03:24
'2024-01-22 03:24', '0.317', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:24', '0.317', '0.059', '0', '0', '0', '0', 'v')
2024-01-22 03:30
'2024-01-22 03:30', '0.347', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:30', '0.347', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 03:36
'2024-01-22 03:36', '0.360', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:36', '0.360', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 03:42
'2024-01-22 03:42', '0.383', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:42', '0.383', '0.049', '0', '0', '0', '0', 'v')
2024-01-22 03:48
'2024-01-22 03:48', '0.416', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:48', '0.416', '0.049', '0', '0', '0', '0', 'v')
2024-01-22 03:54
'2024-01-22 03:54', '0.452', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 03:54', '0.452', '0.049', '0', '0', '0', '0', 'v')
2024-01-22 04:00
'2024-01-22 04:00', '0.458', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:00', '0.458', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 04:06
'2024-01-22 04:06', '0.514', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:06', '0.514', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 04:12
'2024-01-22 04:12', '0.544', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:12', '0.544', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 04:18
'2024-01-22 04:18', '0.570', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:18', '0.570', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 04:24
'2024-01-22 04:24', '0.593', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:24', '0.593', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 04:30
'2024-01-22 04:30', '0.619', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:30', '0.619', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 04:36
'2024-01-22 04:36', '0.639', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:36', '0.639', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 04:42
'2024-01-22 04:42', '0.662', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:42', '0.662', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 04:48
'2024-01-22 04:48', '0.695', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:48', '0.695', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 04:54
'2024-01-22 04:54', '0.701', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 04:54', '0.701', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 05:00
'2024-01-22 05:00', '0.731', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:00', '0.731', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 05:06
'2024-01-22 05:06', '0.737', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:06', '0.737', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 05:12
'2024-01-22 05:12', '0.737', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:12', '0.737', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 05:18
'2024-01-22 05:18', '0.754', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:18', '0.754', '0.036', '0', '0', '0', '0', 'v')
2024-01-22 05:24
'2024-01-22 05:24', '0.764', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:24', '0.764', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 05:30
'2024-01-22 05:30', '0.793', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:30', '0.793', '0.052', '0', '0', '0', '0', 'v')
2024-01-22 05:36
'2024-01-22 05:36', '0.790', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:36', '0.790', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 05:42
'2024-01-22 05:42', '0.813', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:42', '0.813', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 05:48
'2024-01-22 05:48', '0.809', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:48', '0.809', '0.046', '0', '0', '0', '0', 'v')
2024-01-22 05:54
'2024-01-22 05:54', '0.829', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 05:54', '0.829', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 06:00
'2024-01-22 06:00', '0.846', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:00', '0.846', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 06:06
'2024-01-22 06:06', '0.849', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:06', '0.849', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 06:12
'2024-01-22 06:12', '0.862', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:12', '0.862', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 06:18
'2024-01-22 06:18', '0.865', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:18', '0.865', '0.036', '0', '0', '0', '0', 'v')
2024-01-22 06:24
'2024-01-22 06:24', '0.875', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:24', '0.875', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 06:30
'2024-01-22 06:30', '0.875', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:30', '0.875', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 06:36
'2024-01-22 06:36', '0.865', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:36', '0.865', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 06:42
'2024-01-22 06:42', '0.869', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:42', '0.869', '0.036', '0', '0', '0', '0', 'v')
2024-01-22 06:48
'2024-01-22 06:48', '0.859', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:48', '0.859', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 06:54
'2024-01-22 06:54', '0.855', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 06:54', '0.855', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 07:00
'2024-01-22 07:00', '0.859', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:00', '0.859', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 07:06
'2024-01-22 07:06', '0.852', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:06', '0.852', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 07:12
'2024-01-22 07:12', '0.836', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:12', '0.836', '0.036', '0', '0', '0', '0', 'v')
2024-01-22 07:18
'2024-01-22 07:18', '0.826', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:18', '0.826', '0.043', '0', '0', '0', '0', 'v')
2024-01-22 07:24
'2024-01-22 07:24', '0.816', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:24', '0.816', '0.036', '0', '0', '0', '0', 'v')
2024-01-22 07:30
'2024-01-22 07:30', '0.813', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:30', '0.813', '0.036', '0', '0', '0', '0', 'v')
2024-01-22 07:36
'2024-01-22 07:36', '0.796', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:36', '0.796', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 07:42
'2024-01-22 07:42', '0.790', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:42', '0.790', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 07:48
'2024-01-22 07:48', '0.780', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:48', '0.780', '0.033', '0', '0', '0', '0', 'v')
2024-01-22 07:54
'2024-01-22 07:54', '0.764', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 07:54', '0.764', '0.033', '0', '0', '0', '0', 'v')
2024-01-22 08:00
'2024-01-22 08:00', '0.737', '0.043', '0', '0', '0', '0', 'v'

2024-01-22 09:24
'2024-01-22 09:24', '0.363', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 09:24', '0.363', '0.036', '0', '0', '0', '0', 'v')
2024-01-22 09:30
'2024-01-22 09:30', '0.334', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 09:30', '0.334', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 09:36
'2024-01-22 09:36', '0.304', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 09:36', '0.304', '0.033', '0', '0', '0', '0', 'v')
2024-01-22 09:42
'2024-01-22 09:42', '0.275', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 09:42', '0.275', '0.039', '0', '0', '0', '0', 'v')
2024-01-22 09:48
'2024-01-22 09:48', '0.248', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 09:48', '0.248', '0.030', '0', '0', '0', '0', 'v')
2024-01-22 09:54
'2024-01-22 09:54', '0.219', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 09:54', '0.219', '0.033', '0', '0', '0', '0', 'v')
2024-01-22 10:00
'2024-01-22 10:00', '0.196', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:00', '0.196', '0.026', '0', '0', '0', '0', 'v')
2024-01-22 10:06
'2024-01-22 10:06', '0.176', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:06', '0.176', '0.030', '0', '0', '0', '0', 'v')
2024-01-22 10:12
'2024-01-22 10:12', '0.166', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:12', '0.166', '0.036', '0', '0', '0', '0', 'v')
2024-01-22 10:18
'2024-01-22 10:18', '0.147', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:18', '0.147', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 10:24
'2024-01-22 10:24', '0.150', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:24', '0.150', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 10:30
'2024-01-22 10:30', '0.124', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:30', '0.124', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 10:36
'2024-01-22 10:36', '0.107', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:36', '0.107', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 10:42
'2024-01-22 10:42', '0.101', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:42', '0.101', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 10:48
'2024-01-22 10:48', '0.081', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:48', '0.081', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 10:54
'2024-01-22 10:54', '0.065', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 10:54', '0.065', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 11:00
'2024-01-22 11:00', '0.058', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:00', '0.058', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 11:06
'2024-01-22 11:06', '0.032', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:06', '0.032', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 11:12
'2024-01-22 11:12', '0.025', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:12', '0.025', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 11:18
'2024-01-22 11:18', '0.012', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:18', '0.012', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 11:24
'2024-01-22 11:24', '-0.001', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:24', '-0.001', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 11:30
'2024-01-22 11:30', '-0.011', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:30', '-0.011', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 11:36
'2024-01-22 11:36', '-0.017', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:36', '-0.017', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 11:42
'2024-01-22 11:42', '-0.024', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:42', '-0.024', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 11:48
'2024-01-22 11:48', '-0.030', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:48', '-0.030', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 11:54
'2024-01-22 11:54', '-0.037', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 11:54', '-0.037', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 12:00
'2024-01-22 12:00', '-0.044', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:00', '-0.044', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 12:06
'2024-01-22 12:06', '-0.050', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:06', '-0.050', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 12:12
'2024-01-22 12:12', '-0.053', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:12', '-0.053', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 12:18
'2024-01-22 12:18', '-0.060', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:18', '-0.060', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 12:24
'2024-01-22 12:24', '-0.060', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:24', '-0.060', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 12:30
'2024-01-22 12:30', '-0.063', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:30', '-0.063', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 12:36
'2024-01-22 12:36', '-0.060', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:36', '-0.060', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 12:42
'2024-01-22 12:42', '-0.053', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:42', '-0.053', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 12:48
'2024-01-22 12:48', '-0.047', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:48', '-0.047', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 12:54
'2024-01-22 12:54', '-0.034', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 12:54', '-0.034', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 13:00
'2024-01-22 13:00', '-0.021', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:00', '-0.021', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 13:06
'2024-01-22 13:06', '-0.004', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:06', '-0.004', '0.003', '0', '0', '0', '0', 'v')
2024-01-22 13:12
'2024-01-22 13:12', '0.012', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:12', '0.012', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 13:18
'2024-01-22 13:18', '0.032', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:18', '0.032', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 13:24
'2024-01-22 13:24', '0.055', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:24', '0.055', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 13:30
'2024-01-22 13:30', '0.081', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:30', '0.081', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 13:36
'2024-01-22 13:36', '0.114', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:36', '0.114', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 13:42
'2024-01-22 13:42', '0.143', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:42', '0.143', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 13:48
'2024-01-22 13:48', '0.180', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:48', '0.180', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 13:54
'2024-01-22 13:54', '0.219', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 13:54', '0.219', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 14:00
'2024-01-22 14:00', '0.252', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:00', '0.252', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 14:06
'2024-01-22 14:06', '0.294', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:06', '0.294', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 14:12
'2024-01-22 14:12', '0.334', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:12', '0.334', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 14:18
'2024-01-22 14:18', '0.376', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:18', '0.376', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 14:24
'2024-01-22 14:24', '0.422', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:24', '0.422', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 14:30
'2024-01-22 14:30', '0.465', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:30', '0.465', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 14:36
'2024-01-22 14:36', '0.508', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:36', '0.508', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 14:42
'2024-01-22 14:42', '0.554', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:42', '0.554', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 14:48
'2024-01-22 14:48', '0.600', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:48', '0.600', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 14:54
'2024-01-22 14:54', '0.645', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 14:54', '0.645', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 15:00
'2024-01-22 15:00', '0.691', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:00', '0.691', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 15:06
'2024-01-22 15:06', '0.737', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:06', '0.737', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 15:12
'2024-01-22 15:12', '0.787', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:12', '0.787', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 15:18
'2024-01-22 15:18', '0.832', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:18', '0.832', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 15:24
'2024-01-22 15:24', '0.869', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:24', '0.869', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 15:30
'2024-01-22 15:30', '0.928', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:30', '0.928', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 15:36
'2024-01-22 15:36', '0.974', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:36', '0.974', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 15:42
'2024-01-22 15:42', '1.023', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:42', '1.023', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 15:48
'2024-01-22 15:48', '1.072', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:48', '1.072', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 15:54
'2024-01-22 15:54', '1.115', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 15:54', '1.115', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 16:00
'2024-01-22 16:00', '1.154', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:00', '1.154', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 16:06
'2024-01-22 16:06', '1.197', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:06', '1.197', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 16:12
'2024-01-22 16:12', '1.229', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:12', '1.229', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 16:18
'2024-01-22 16:18', '1.269', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:18', '1.269', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 16:24
'2024-01-22 16:24', '1.315', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:24', '1.315', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 16:30
'2024-01-22 16:30', '1.357', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:30', '1.357', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 16:36
'2024-01-22 16:36', '1.397', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:36', '1.397', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 16:42
'2024-01-22 16:42', '1.420', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:42', '1.420', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 16:48
'2024-01-22 16:48', '1.453', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:48', '1.453', '0.026', '0', '0', '0', '0', 'v')
2024-01-22 16:54
'2024-01-22 16:54', '1.489', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 16:54', '1.489', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 17:00
'2024-01-22 17:00', '1.525', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:00', '1.525', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 17:06
'2024-01-22 17:06', '1.558', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:06', '1.558', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 17:12
'2024-01-22 17:12', '1.600', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:12', '1.600', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 17:18
'2024-01-22 17:18', '1.623', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:18', '1.623', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 17:24
'2024-01-22 17:24', '1.643', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:24', '1.643', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 17:30
'2024-01-22 17:30', '1.682', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:30', '1.682', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 17:36
'2024-01-22 17:36', '1.708', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:36', '1.708', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 17:42
'2024-01-22 17:42', '1.738', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:42', '1.738', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 17:48
'2024-01-22 17:48', '1.754', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:48', '1.754', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 17:54
'2024-01-22 17:54', '1.784', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 17:54', '1.784', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 18:00
'2024-01-22 18:00', '1.800', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:00', '1.800', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 18:06
'2024-01-22 18:06', '1.823', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:06', '1.823', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 18:12
'2024-01-22 18:12', '1.830', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:12', '1.830', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 18:18
'2024-01-22 18:18', '1.846', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:18', '1.846', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 18:24
'2024-01-22 18:24', '1.866', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:24', '1.866', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 18:30
'2024-01-22 18:30', '1.882', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:30', '1.882', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 18:36
'2024-01-22 18:36', '1.892', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:36', '1.892', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 18:42
'2024-01-22 18:42', '1.902', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:42', '1.902', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 18:48
'2024-01-22 18:48', '1.905', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:48', '1.905', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 18:54
'2024-01-22 18:54', '1.918', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 18:54', '1.918', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 19:00
'2024-01-22 19:00', '1.925', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:00', '1.925', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 19:06
'2024-01-22 19:06', '1.918', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:06', '1.918', '0.013', '0', '0', '0', '0', 'v')
2024-01-22 19:12
'2024-01-22 19:12', '1.892', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:12', '1.892', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 19:18
'2024-01-22 19:18', '1.889', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:18', '1.889', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 19:24
'2024-01-22 19:24', '1.876', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:24', '1.876', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 19:30
'2024-01-22 19:30', '1.866', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:30', '1.866', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 19:36
'2024-01-22 19:36', '1.856', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:36', '1.856', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 19:42
'2024-01-22 19:42', '1.846', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:42', '1.846', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 19:48
'2024-01-22 19:48', '1.833', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:48', '1.833', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 19:54
'2024-01-22 19:54', '1.807', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 19:54', '1.807', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 20:00
'2024-01-22 20:00', '1.797', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:00', '1.797', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 20:06
'2024-01-22 20:06', '1.774', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:06', '1.774', '0.026', '0', '0', '0', '0', 'v')
2024-01-22 20:12
'2024-01-22 20:12', '1.761', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:12', '1.761', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 20:18
'2024-01-22 20:18', '1.741', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:18', '1.741', '0.026', '0', '0', '0', '0', 'v')
2024-01-22 20:24
'2024-01-22 20:24', '1.722', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:24', '1.722', '0.026', '0', '0', '0', '0', 'v')
2024-01-22 20:30
'2024-01-22 20:30', '1.702', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:30', '1.702', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 20:36
'2024-01-22 20:36', '1.682', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:36', '1.682', '0.026', '0', '0', '0', '0', 'v')
2024-01-22 20:42
'2024-01-22 20:42', '1.666', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:42', '1.666', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 20:48
'2024-01-22 20:48', '1.643', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:48', '1.643', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 20:54
'2024-01-22 20:54', '1.613', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 20:54', '1.613', '0.023', '0', '0', '0', '0', 'v')

2024-01-22 21:54
'2024-01-22 21:54', '1.374', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 21:54', '1.374', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 22:00
'2024-01-22 22:00', '1.351', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:00', '1.351', '0.026', '0', '0', '0', '0', 'v')
2024-01-22 22:06
'2024-01-22 22:06', '1.321', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:06', '1.321', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 22:12
'2024-01-22 22:12', '1.302', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:12', '1.302', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 22:18
'2024-01-22 22:18', '1.275', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:18', '1.275', '0.030', '0', '0', '0', '0', 'v')
2024-01-22 22:24
'2024-01-22 22:24', '1.252', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:24', '1.252', '0.026', '0', '0', '0', '0', 'v')
2024-01-22 22:30
'2024-01-22 22:30', '1.226', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:30', '1.226', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 22:36
'2024-01-22 22:36', '1.206', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:36', '1.206', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 22:42
'2024-01-22 22:42', '1.174', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:42', '1.174', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 22:48
'2024-01-22 22:48', '1.147', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:48', '1.147', '0.020', '0', '0', '0', '0', 'v')
2024-01-22 22:54
'2024-01-22 22:54', '1.131', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 22:54', '1.131', '0.023', '0', '0', '0', '0', 'v')
2024-01-22 23:00
'2024-01-22 23:00', '1.121', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:00', '1.121', '0.016', '0', '0', '0', '0', 'v')
2024-01-22 23:06
'2024-01-22 23:06', '1.118', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:06', '1.118', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 23:12
'2024-01-22 23:12', '1.105', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:12', '1.105', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 23:18
'2024-01-22 23:18', '1.088', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:18', '1.088', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 23:24
'2024-01-22 23:24', '1.069', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:24', '1.069', '0.010', '0', '0', '0', '0', 'v')
2024-01-22 23:30
'2024-01-22 23:30', '1.049', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:30', '1.049', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 23:36
'2024-01-22 23:36', '1.026', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:36', '1.026', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 23:42
'2024-01-22 23:42', '1.006', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:42', '1.006', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 23:48
'2024-01-22 23:48', '0.983', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:48', '0.983', '0.007', '0', '0', '0', '0', 'v')
2024-01-22 23:54
'2024-01-22 23:54', '0.967', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-22 23:54', '0.967', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:00
'2024-01-23 00:00', '0.954', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:00', '0.954', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:06
'2024-01-23 00:06', '0.937', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:06', '0.937', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:12
'2024-01-23 00:12', '0.924', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:12', '0.924', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:18
'2024-01-23 00:18', '0.908', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:18', '0.908', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:24
'2024-01-23 00:24', '0.895', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:24', '0.895', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:30
'2024-01-23 00:30', '0.882', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:30', '0.882', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:36
'2024-01-23 00:36', '0.869', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:36', '0.869', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:42
'2024-01-23 00:42', '0.855', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:42', '0.855', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:48
'2024-01-23 00:48', '0.846', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:48', '0.846', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 00:54
'2024-01-23 00:54', '0.832', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 00:54', '0.832', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 01:00
'2024-01-23 01:00', '0.826', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:00', '0.826', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 01:06
'2024-01-23 01:06', '0.813', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:06', '0.813', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 01:12
'2024-01-23 01:12', '0.806', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:12', '0.806', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 01:18
'2024-01-23 01:18', '0.796', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:18', '0.796', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 01:24
'2024-01-23 01:24', '0.790', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:24', '0.790', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 01:30
'2024-01-23 01:30', '0.783', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:30', '0.783', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 01:36
'2024-01-23 01:36', '0.777', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:36', '0.777', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 01:42
'2024-01-23 01:42', '0.777', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:42', '0.777', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 01:48
'2024-01-23 01:48', '0.773', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:48', '0.773', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 01:54
'2024-01-23 01:54', '0.773', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 01:54', '0.773', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 02:00
'2024-01-23 02:00', '0.777', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:00', '0.777', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 02:06
'2024-01-23 02:06', '0.780', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:06', '0.780', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 02:12
'2024-01-23 02:12', '0.790', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:12', '0.790', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 02:18
'2024-01-23 02:18', '0.796', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:18', '0.796', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 02:24
'2024-01-23 02:24', '0.809', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:24', '0.809', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 02:30
'2024-01-23 02:30', '0.816', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:30', '0.816', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 02:36
'2024-01-23 02:36', '0.836', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:36', '0.836', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 02:42
'2024-01-23 02:42', '0.849', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:42', '0.849', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 02:48
'2024-01-23 02:48', '0.869', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:48', '0.869', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 02:54
'2024-01-23 02:54', '0.885', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 02:54', '0.885', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 03:00
'2024-01-23 03:00', '0.905', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:00', '0.905', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 03:06
'2024-01-23 03:06', '0.924', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:06', '0.924', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 03:12
'2024-01-23 03:12', '0.937', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:12', '0.937', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 03:18
'2024-01-23 03:18', '0.954', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:18', '0.954', '0.016', '0', '0', '0', '0', 'v')
2024-01-23 03:24
'2024-01-23 03:24', '0.983', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:24', '0.983', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 03:30
'2024-01-23 03:30', '1.006', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:30', '1.006', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 03:36
'2024-01-23 03:36', '1.036', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:36', '1.036', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 03:42
'2024-01-23 03:42', '1.056', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:42', '1.056', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 03:48
'2024-01-23 03:48', '1.095', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:48', '1.095', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 03:54
'2024-01-23 03:54', '1.128', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 03:54', '1.128', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 04:00
'2024-01-23 04:00', '1.161', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:00', '1.161', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 04:06
'2024-01-23 04:06', '1.193', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:06', '1.193', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 04:12
'2024-01-23 04:12', '1.229', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:12', '1.229', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 04:18
'2024-01-23 04:18', '1.266', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:18', '1.266', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 04:24
'2024-01-23 04:24', '1.305', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:24', '1.305', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 04:30
'2024-01-23 04:30', '1.341', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:30', '1.341', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 04:36
'2024-01-23 04:36', '1.374', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:36', '1.374', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 04:42
'2024-01-23 04:42', '1.410', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:42', '1.410', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 04:48
'2024-01-23 04:48', '1.446', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:48', '1.446', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 04:54
'2024-01-23 04:54', '1.479', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 04:54', '1.479', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 05:00
'2024-01-23 05:00', '1.508', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:00', '1.508', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 05:06
'2024-01-23 05:06', '1.541', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:06', '1.541', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 05:12
'2024-01-23 05:12', '1.571', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:12', '1.571', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 05:18
'2024-01-23 05:18', '1.600', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:18', '1.600', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 05:24
'2024-01-23 05:24', '1.623', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:24', '1.623', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 05:30
'2024-01-23 05:30', '1.649', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:30', '1.649', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 05:36
'2024-01-23 05:36', '1.672', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:36', '1.672', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 05:42
'2024-01-23 05:42', '1.695', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:42', '1.695', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 05:48
'2024-01-23 05:48', '1.715', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:48', '1.715', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 05:54
'2024-01-23 05:54', '1.735', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 05:54', '1.735', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 06:00
'2024-01-23 06:00', '1.754', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:00', '1.754', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 06:06
'2024-01-23 06:06', '1.774', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:06', '1.774', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 06:12
'2024-01-23 06:12', '1.790', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:12', '1.790', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 06:18
'2024-01-23 06:18', '1.804', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:18', '1.804', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 06:24
'2024-01-23 06:24', '1.817', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:24', '1.817', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 06:30
'2024-01-23 06:30', '1.827', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:30', '1.827', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 06:36
'2024-01-23 06:36', '1.833', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:36', '1.833', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 06:42
'2024-01-23 06:42', '1.840', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:42', '1.840', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 06:48
'2024-01-23 06:48', '1.843', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:48', '1.843', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 06:54
'2024-01-23 06:54', '1.843', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 06:54', '1.843', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 07:00
'2024-01-23 07:00', '1.843', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:00', '1.843', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 07:06
'2024-01-23 07:06', '1.843', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:06', '1.843', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 07:12
'2024-01-23 07:12', '1.836', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:12', '1.836', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 07:18
'2024-01-23 07:18', '1.830', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:18', '1.830', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 07:24
'2024-01-23 07:24', '1.823', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:24', '1.823', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 07:30
'2024-01-23 07:30', '1.813', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:30', '1.813', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 07:36
'2024-01-23 07:36', '1.804', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:36', '1.804', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 07:42
'2024-01-23 07:42', '1.790', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:42', '1.790', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 07:48
'2024-01-23 07:48', '1.774', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:48', '1.774', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 07:54
'2024-01-23 07:54', '1.758', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 07:54', '1.758', '0.003', '0', '0', '0', '0', 'v')

2024-01-23 08:00
'2024-01-23 08:00', '1.738', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:00', '1.738', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 08:06
'2024-01-23 08:06', '1.715', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:06', '1.715', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 08:12
'2024-01-23 08:12', '1.692', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:12', '1.692', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 08:18
'2024-01-23 08:18', '1.669', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:18', '1.669', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 08:24
'2024-01-23 08:24', '1.643', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:24', '1.643', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 08:30
'2024-01-23 08:30', '1.617', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:30', '1.617', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 08:36
'2024-01-23 08:36', '1.587', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:36', '1.587', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 08:42
'2024-01-23 08:42', '1.558', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:42', '1.558', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 08:48
'2024-01-23 08:48', '1.525', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:48', '1.525', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 08:54
'2024-01-23 08:54', '1.489', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 08:54', '1.489', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:00
'2024-01-23 09:00', '1.456', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:00', '1.456', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:06
'2024-01-23 09:06', '1.423', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:06', '1.423', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:12
'2024-01-23 09:12', '1.387', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:12', '1.387', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:18
'2024-01-23 09:18', '1.351', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:18', '1.351', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:24
'2024-01-23 09:24', '1.311', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:24', '1.311', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:30
'2024-01-23 09:30', '1.275', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:30', '1.275', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:36
'2024-01-23 09:36', '1.236', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:36', '1.236', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:42
'2024-01-23 09:42', '1.200', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:42', '1.200', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:48
'2024-01-23 09:48', '1.161', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:48', '1.161', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 09:54
'2024-01-23 09:54', '1.121', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 09:54', '1.121', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 10:00
'2024-01-23 10:00', '1.079', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:00', '1.079', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 10:06
'2024-01-23 10:06', '1.039', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:06', '1.039', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 10:12
'2024-01-23 10:12', '1.000', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:12', '1.000', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 10:18
'2024-01-23 10:18', '0.957', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:18', '0.957', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 10:24
'2024-01-23 10:24', '0.914', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:24', '0.914', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 10:30
'2024-01-23 10:30', '0.875', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:30', '0.875', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 10:36
'2024-01-23 10:36', '0.836', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:36', '0.836', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 10:42
'2024-01-23 10:42', '0.796', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:42', '0.796', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 10:48
'2024-01-23 10:48', '0.757', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:48', '0.757', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 10:54
'2024-01-23 10:54', '0.721', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 10:54', '0.721', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 11:00
'2024-01-23 11:00', '0.685', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:00', '0.685', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 11:06
'2024-01-23 11:06', '0.649', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:06', '0.649', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 11:12
'2024-01-23 11:12', '0.616', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:12', '0.616', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 11:18
'2024-01-23 11:18', '0.580', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:18', '0.580', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 11:24
'2024-01-23 11:24', '0.547', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:24', '0.547', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 11:30
'2024-01-23 11:30', '0.514', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:30', '0.514', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 11:36
'2024-01-23 11:36', '0.485', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:36', '0.485', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 11:42
'2024-01-23 11:42', '0.452', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:42', '0.452', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 11:48
'2024-01-23 11:48', '0.422', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:48', '0.422', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 11:54
'2024-01-23 11:54', '0.393', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 11:54', '0.393', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 12:00
'2024-01-23 12:00', '0.367', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:00', '0.367', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 12:06
'2024-01-23 12:06', '0.344', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:06', '0.344', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 12:12
'2024-01-23 12:12', '0.324', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:12', '0.324', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 12:18
'2024-01-23 12:18', '0.298', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:18', '0.298', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 12:24
'2024-01-23 12:24', '0.275', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:24', '0.275', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 12:30
'2024-01-23 12:30', '0.255', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:30', '0.255', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 12:36
'2024-01-23 12:36', '0.232', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:36', '0.232', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 12:42
'2024-01-23 12:42', '0.209', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:42', '0.209', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 12:48
'2024-01-23 12:48', '0.189', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:48', '0.189', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 12:54
'2024-01-23 12:54', '0.176', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 12:54', '0.176', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 13:00
'2024-01-23 13:00', '0.160', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:00', '0.160', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 13:06
'2024-01-23 13:06', '0.150', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:06', '0.150', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 13:12
'2024-01-23 13:12', '0.140', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:12', '0.140', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 13:18
'2024-01-23 13:18', '0.134', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:18', '0.134', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 13:24
'2024-01-23 13:24', '0.130', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:24', '0.130', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 13:30
'2024-01-23 13:30', '0.130', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:30', '0.130', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 13:36
'2024-01-23 13:36', '0.134', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:36', '0.134', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 13:42
'2024-01-23 13:42', '0.134', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:42', '0.134', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 13:48
'2024-01-23 13:48', '0.137', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:48', '0.137', '0.000', '0', '0', '0', '0', 'v')
2024-01-23 13:54
'2024-01-23 13:54', '0.143', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 13:54', '0.143', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 14:00
'2024-01-23 14:00', '0.150', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:00', '0.150', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 14:06
'2024-01-23 14:06', '0.160', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:06', '0.160', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 14:12
'2024-01-23 14:12', '0.166', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:12', '0.166', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 14:18
'2024-01-23 14:18', '0.186', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:18', '0.186', '0.003', '0', '0', '0', '0', 'v')
2024-01-23 14:24
'2024-01-23 14:24', '0.203', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:24', '0.203', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 14:30
'2024-01-23 14:30', '0.222', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:30', '0.222', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 14:36
'2024-01-23 14:36', '0.248', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:36', '0.248', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 14:42
'2024-01-23 14:42', '0.271', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:42', '0.271', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 14:48
'2024-01-23 14:48', '0.301', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:48', '0.301', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 14:54
'2024-01-23 14:54', '0.330', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 14:54', '0.330', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 15:00
'2024-01-23 15:00', '0.367', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:00', '0.367', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 15:06
'2024-01-23 15:06', '0.399', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:06', '0.399', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 15:12
'2024-01-23 15:12', '0.439', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:12', '0.439', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 15:18
'2024-01-23 15:18', '0.478', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:18', '0.478', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 15:24
'2024-01-23 15:24', '0.517', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:24', '0.517', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 15:30
'2024-01-23 15:30', '0.560', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:30', '0.560', '0.016', '0', '0', '0', '0', 'v')
2024-01-23 15:36
'2024-01-23 15:36', '0.603', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:36', '0.603', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 15:42
'2024-01-23 15:42', '0.652', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:42', '0.652', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 15:48
'2024-01-23 15:48', '0.698', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:48', '0.698', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 15:54
'2024-01-23 15:54', '0.747', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 15:54', '0.747', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 16:00
'2024-01-23 16:00', '0.796', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:00', '0.796', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 16:06
'2024-01-23 16:06', '0.839', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:06', '0.839', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 16:12
'2024-01-23 16:12', '0.885', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:12', '0.885', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 16:18
'2024-01-23 16:18', '0.934', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:18', '0.934', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 16:24
'2024-01-23 16:24', '0.974', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:24', '0.974', '0.016', '0', '0', '0', '0', 'v')
2024-01-23 16:30
'2024-01-23 16:30', '1.019', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:30', '1.019', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 16:36
'2024-01-23 16:36', '1.059', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:36', '1.059', '0.016', '0', '0', '0', '0', 'v')
2024-01-23 16:42
'2024-01-23 16:42', '1.118', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:42', '1.118', '0.016', '0', '0', '0', '0', 'v')
2024-01-23 16:48
'2024-01-23 16:48', '1.167', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:48', '1.167', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 16:54
'2024-01-23 16:54', '1.213', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 16:54', '1.213', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 17:00
'2024-01-23 17:00', '1.259', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:00', '1.259', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 17:06
'2024-01-23 17:06', '1.298', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:06', '1.298', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 17:12
'2024-01-23 17:12', '1.341', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:12', '1.341', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 17:18
'2024-01-23 17:18', '1.387', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:18', '1.387', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 17:24
'2024-01-23 17:24', '1.423', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:24', '1.423', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 17:30
'2024-01-23 17:30', '1.456', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:30', '1.456', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 17:36
'2024-01-23 17:36', '1.498', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:36', '1.498', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 17:42
'2024-01-23 17:42', '1.538', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:42', '1.538', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 17:48
'2024-01-23 17:48', '1.571', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:48', '1.571', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 17:54
'2024-01-23 17:54', '1.603', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 17:54', '1.603', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 18:00
'2024-01-23 18:00', '1.630', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:00', '1.630', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 18:06
'2024-01-23 18:06', '1.659', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:06', '1.659', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 18:12
'2024-01-23 18:12', '1.689', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:12', '1.689', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 18:18
'2024-01-23 18:18', '1.712', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:18', '1.712', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 18:24
'2024-01-23 18:24', '1.731', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:24', '1.731', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 18:30
'2024-01-23 18:30', '1.751', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:30', '1.751', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 18:36
'2024-01-23 18:36', '1.764', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:36', '1.764', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 18:42
'2024-01-23 18:42', '1.764', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:42', '1.764', '0.020', '0', '0', '0', '0', 'v')
2024-01-23 18:48
'2024-01-23 18:48', '1.777', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:48', '1.777', '0.026', '0', '0', '0', '0', 'v')
2024-01-23 18:54
'2024-01-23 18:54', '1.813', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 18:54', '1.813', '0.016', '0', '0', '0', '0', 'v')
2024-01-23 19:00
'2024-01-23 19:00', '1.827', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 19:00', '1.827', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 19:06
'2024-01-23 19:06', '1.840', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 19:06', '1.840', '0.020', '0', '0', '0', '0', 'v')
2024-01-23 19:12
'2024-01-23 19:12', '1.859', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 19:12', '1.859', '0.020', '0', '0', '0', '0', 'v')
2024-01-23 19:18
'2024-01-23 19:18', '1.892', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 19:18', '1.892', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 19:24
'2024-01-23 19:24', '1.909', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 19:24', '1.909', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 19:30
'2024-01-23 19:30', '1.918', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 19:30', '1.918', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 19:36

2024-01-23 23:18
'2024-01-23 23:18', '0.836', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 23:18', '0.836', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 23:24
'2024-01-23 23:24', '0.800', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 23:24', '0.800', '0.013', '0', '0', '0', '0', 'v')
2024-01-23 23:30
'2024-01-23 23:30', '0.760', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 23:30', '0.760', '0.020', '0', '0', '0', '0', 'v')
2024-01-23 23:36
'2024-01-23 23:36', '0.727', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 23:36', '0.727', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 23:42
'2024-01-23 23:42', '0.698', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 23:42', '0.698', '0.007', '0', '0', '0', '0', 'v')
2024-01-23 23:48
'2024-01-23 23:48', '0.662', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 23:48', '0.662', '0.010', '0', '0', '0', '0', 'v')
2024-01-23 23:54
'2024-01-23 23:54', '0.622', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-23 23:54', '0.622', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 00:00
'2024-01-24 00:00', '0.593', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:00', '0.593', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 00:06
'2024-01-24 00:06', '0.557', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:06', '0.557', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 00:12
'2024-01-24 00:12', '0.524', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:12', '0.524', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 00:18
'2024-01-24 00:18', '0.488', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:18', '0.488', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 00:24
'2024-01-24 00:24', '0.465', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:24', '0.465', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 00:30
'2024-01-24 00:30', '0.439', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:30', '0.439', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 00:36
'2024-01-24 00:36', '0.413', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:36', '0.413', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 00:42
'2024-01-24 00:42', '0.386', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:42', '0.386', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 00:48
'2024-01-24 00:48', '0.363', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:48', '0.363', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 00:54
'2024-01-24 00:54', '0.340', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 00:54', '0.340', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 01:00
'2024-01-24 01:00', '0.311', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:00', '0.311', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 01:06
'2024-01-24 01:06', '0.291', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:06', '0.291', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 01:12
'2024-01-24 01:12', '0.265', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:12', '0.265', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 01:18
'2024-01-24 01:18', '0.245', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:18', '0.245', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 01:24
'2024-01-24 01:24', '0.219', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:24', '0.219', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 01:30
'2024-01-24 01:30', '0.203', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:30', '0.203', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 01:36
'2024-01-24 01:36', '0.183', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:36', '0.183', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 01:42
'2024-01-24 01:42', '0.166', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:42', '0.166', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 01:48
'2024-01-24 01:48', '0.153', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:48', '0.153', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 01:54
'2024-01-24 01:54', '0.140', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 01:54', '0.140', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 02:00
'2024-01-24 02:00', '0.127', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:00', '0.127', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 02:06
'2024-01-24 02:06', '0.117', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:06', '0.117', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 02:12
'2024-01-24 02:12', '0.104', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:12', '0.104', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 02:18
'2024-01-24 02:18', '0.094', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:18', '0.094', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 02:24
'2024-01-24 02:24', '0.084', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:24', '0.084', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 02:30
'2024-01-24 02:30', '0.075', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:30', '0.075', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 02:36
'2024-01-24 02:36', '0.071', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:36', '0.071', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 02:42
'2024-01-24 02:42', '0.065', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:42', '0.065', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 02:48
'2024-01-24 02:48', '0.058', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:48', '0.058', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 02:54
'2024-01-24 02:54', '0.052', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 02:54', '0.052', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 03:00
'2024-01-24 03:00', '0.061', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:00', '0.061', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 03:06
'2024-01-24 03:06', '0.061', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:06', '0.061', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 03:12
'2024-01-24 03:12', '0.065', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:12', '0.065', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 03:18
'2024-01-24 03:18', '0.068', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:18', '0.068', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 03:24
'2024-01-24 03:24', '0.078', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:24', '0.078', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 03:30
'2024-01-24 03:30', '0.084', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:30', '0.084', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 03:36
'2024-01-24 03:36', '0.098', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:36', '0.098', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 03:42
'2024-01-24 03:42', '0.117', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:42', '0.117', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 03:48
'2024-01-24 03:48', '0.134', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:48', '0.134', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 03:54
'2024-01-24 03:54', '0.157', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 03:54', '0.157', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 04:00
'2024-01-24 04:00', '0.176', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:00', '0.176', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 04:06
'2024-01-24 04:06', '0.199', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:06', '0.199', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 04:12
'2024-01-24 04:12', '0.229', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:12', '0.229', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 04:18
'2024-01-24 04:18', '0.252', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:18', '0.252', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 04:24
'2024-01-24 04:24', '0.278', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:24', '0.278', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 04:30
'2024-01-24 04:30', '0.311', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:30', '0.311', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 04:36
'2024-01-24 04:36', '0.340', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:36', '0.340', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 04:42
'2024-01-24 04:42', '0.380', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:42', '0.380', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 04:48
'2024-01-24 04:48', '0.413', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:48', '0.413', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 04:54
'2024-01-24 04:54', '0.445', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 04:54', '0.445', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 05:00
'2024-01-24 05:00', '0.481', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:00', '0.481', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 05:06
'2024-01-24 05:06', '0.517', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:06', '0.517', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 05:12
'2024-01-24 05:12', '0.554', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:12', '0.554', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 05:18
'2024-01-24 05:18', '0.586', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:18', '0.586', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 05:24
'2024-01-24 05:24', '0.616', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:24', '0.616', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 05:30
'2024-01-24 05:30', '0.652', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:30', '0.652', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 05:36
'2024-01-24 05:36', '0.685', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:36', '0.685', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 05:42
'2024-01-24 05:42', '0.721', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:42', '0.721', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 05:48
'2024-01-24 05:48', '0.760', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:48', '0.760', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 05:54
'2024-01-24 05:54', '0.793', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 05:54', '0.793', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 06:00
'2024-01-24 06:00', '0.823', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:00', '0.823', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 06:06
'2024-01-24 06:06', '0.855', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:06', '0.855', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 06:12
'2024-01-24 06:12', '0.885', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:12', '0.885', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 06:18
'2024-01-24 06:18', '0.901', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:18', '0.901', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 06:24
'2024-01-24 06:24', '0.924', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:24', '0.924', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 06:30
'2024-01-24 06:30', '0.944', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:30', '0.944', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 06:36
'2024-01-24 06:36', '0.974', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:36', '0.974', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 06:42
'2024-01-24 06:42', '1.013', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:42', '1.013', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 06:48
'2024-01-24 06:48', '1.046', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:48', '1.046', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 06:54
'2024-01-24 06:54', '1.072', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 06:54', '1.072', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 07:00
'2024-01-24 07:00', '1.088', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:00', '1.088', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 07:06
'2024-01-24 07:06', '1.111', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:06', '1.111', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 07:12
'2024-01-24 07:12', '1.118', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:12', '1.118', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 07:18
'2024-01-24 07:18', '1.151', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:18', '1.151', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 07:24
'2024-01-24 07:24', '1.161', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:24', '1.161', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 07:30
'2024-01-24 07:30', '1.170', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:30', '1.170', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 07:36
'2024-01-24 07:36', '1.177', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:36', '1.177', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 07:42
'2024-01-24 07:42', '1.187', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:42', '1.187', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 07:48
'2024-01-24 07:48', '1.193', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:48', '1.193', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 07:54
'2024-01-24 07:54', '1.193', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 07:54', '1.193', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 08:00
'2024-01-24 08:00', '1.190', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:00', '1.190', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 08:06
'2024-01-24 08:06', '1.190', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:06', '1.190', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 08:12
'2024-01-24 08:12', '1.187', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:12', '1.187', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 08:18
'2024-01-24 08:18', '1.180', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:18', '1.180', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 08:24
'2024-01-24 08:24', '1.161', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:24', '1.161', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 08:30
'2024-01-24 08:30', '1.147', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:30', '1.147', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 08:36
'2024-01-24 08:36', '1.131', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:36', '1.131', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 08:42
'2024-01-24 08:42', '1.111', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:42', '1.111', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 08:48
'2024-01-24 08:48', '1.082', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:48', '1.082', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 08:54
'2024-01-24 08:54', '1.056', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 08:54', '1.056', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 09:00
'2024-01-24 09:00', '1.026', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:00', '1.026', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 09:06
'2024-01-24 09:06', '0.993', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:06', '0.993', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 09:12
'2024-01-24 09:12', '0.960', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:12', '0.960', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 09:18
'2024-01-24 09:18', '0.928', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:18', '0.928', '0.010', '0', '0', '0', '0', 'v')

2024-01-24 09:24
'2024-01-24 09:24', '0.892', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:24', '0.892', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 09:30
'2024-01-24 09:30', '0.855', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:30', '0.855', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 09:36
'2024-01-24 09:36', '0.816', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:36', '0.816', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 09:42
'2024-01-24 09:42', '0.777', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:42', '0.777', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 09:48
'2024-01-24 09:48', '0.737', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:48', '0.737', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 09:54
'2024-01-24 09:54', '0.698', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 09:54', '0.698', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 10:00
'2024-01-24 10:00', '0.652', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:00', '0.652', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 10:06
'2024-01-24 10:06', '0.609', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:06', '0.609', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 10:12
'2024-01-24 10:12', '0.573', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:12', '0.573', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 10:18
'2024-01-24 10:18', '0.527', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:18', '0.527', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 10:24
'2024-01-24 10:24', '0.491', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:24', '0.491', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 10:30
'2024-01-24 10:30', '0.455', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:30', '0.455', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 10:36
'2024-01-24 10:36', '0.426', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:36', '0.426', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 10:42
'2024-01-24 10:42', '0.396', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:42', '0.396', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 10:48
'2024-01-24 10:48', '0.360', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:48', '0.360', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 10:54
'2024-01-24 10:54', '0.330', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 10:54', '0.330', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 11:00
'2024-01-24 11:00', '0.294', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:00', '0.294', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 11:06
'2024-01-24 11:06', '0.262', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:06', '0.262', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 11:12
'2024-01-24 11:12', '0.193', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:12', '0.193', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 11:18
'2024-01-24 11:18', '0.150', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:18', '0.150', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 11:24
'2024-01-24 11:24', '0.130', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:24', '0.130', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 11:30
'2024-01-24 11:30', '0.107', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:30', '0.107', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 11:36
'2024-01-24 11:36', '0.088', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:36', '0.088', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 11:42
'2024-01-24 11:42', '0.058', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:42', '0.058', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 11:48
'2024-01-24 11:48', '0.038', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:48', '0.038', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 11:54
'2024-01-24 11:54', '0.009', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 11:54', '0.009', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 12:00
'2024-01-24 12:00', '-0.014', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:00', '-0.014', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 12:06
'2024-01-24 12:06', '-0.037', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:06', '-0.037', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 12:12
'2024-01-24 12:12', '-0.060', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:12', '-0.060', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 12:18
'2024-01-24 12:18', '-0.086', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:18', '-0.086', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 12:24
'2024-01-24 12:24', '-0.103', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:24', '-0.103', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 12:30
'2024-01-24 12:30', '-0.126', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:30', '-0.126', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 12:36
'2024-01-24 12:36', '-0.152', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:36', '-0.152', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 12:42
'2024-01-24 12:42', '-0.171', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:42', '-0.171', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 12:48
'2024-01-24 12:48', '-0.198', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:48', '-0.198', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 12:54
'2024-01-24 12:54', '-0.214', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 12:54', '-0.214', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 13:00
'2024-01-24 13:00', '-0.234', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:00', '-0.234', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 13:06
'2024-01-24 13:06', '-0.247', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:06', '-0.247', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 13:12
'2024-01-24 13:12', '-0.270', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:12', '-0.270', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 13:18
'2024-01-24 13:18', '-0.290', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:18', '-0.290', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 13:24
'2024-01-24 13:24', '-0.296', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:24', '-0.296', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 13:30
'2024-01-24 13:30', '-0.303', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:30', '-0.303', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 13:36
'2024-01-24 13:36', '-0.319', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:36', '-0.319', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 13:42
'2024-01-24 13:42', '-0.332', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:42', '-0.332', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 13:48
'2024-01-24 13:48', '-0.339', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:48', '-0.339', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 13:54
'2024-01-24 13:54', '-0.345', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 13:54', '-0.345', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 14:00
'2024-01-24 14:00', '-0.352', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:00', '-0.352', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 14:06
'2024-01-24 14:06', '-0.362', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:06', '-0.362', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 14:12
'2024-01-24 14:12', '-0.358', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:12', '-0.358', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 14:18
'2024-01-24 14:18', '-0.362', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:18', '-0.362', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 14:24
'2024-01-24 14:24', '-0.358', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:24', '-0.358', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 14:30
'2024-01-24 14:30', '-0.352', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:30', '-0.352', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 14:36
'2024-01-24 14:36', '-0.336', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:36', '-0.336', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 14:42
'2024-01-24 14:42', '-0.319', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:42', '-0.319', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 14:48
'2024-01-24 14:48', '-0.299', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:48', '-0.299', '0.000', '0', '0', '0', '0', 'v')
2024-01-24 14:54
'2024-01-24 14:54', '-0.286', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 14:54', '-0.286', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 15:00
'2024-01-24 15:00', '-0.263', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:00', '-0.263', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 15:06
'2024-01-24 15:06', '-0.234', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:06', '-0.234', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 15:12
'2024-01-24 15:12', '-0.208', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:12', '-0.208', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 15:18
'2024-01-24 15:18', '-0.175', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:18', '-0.175', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 15:24
'2024-01-24 15:24', '-0.145', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:24', '-0.145', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 15:30
'2024-01-24 15:30', '-0.122', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:30', '-0.122', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 15:36
'2024-01-24 15:36', '-0.080', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:36', '-0.080', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 15:42
'2024-01-24 15:42', '-0.034', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:42', '-0.034', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 15:48
'2024-01-24 15:48', '-0.001', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:48', '-0.001', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 15:54
'2024-01-24 15:54', '0.035', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 15:54', '0.035', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 16:00
'2024-01-24 16:00', '0.075', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:00', '0.075', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 16:06
'2024-01-24 16:06', '0.114', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:06', '0.114', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 16:12
'2024-01-24 16:12', '0.163', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:12', '0.163', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 16:18
'2024-01-24 16:18', '0.235', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:18', '0.235', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 16:24
'2024-01-24 16:24', '0.294', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:24', '0.294', '0.026', '0', '0', '0', '0', 'v')
2024-01-24 16:30
'2024-01-24 16:30', '0.344', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:30', '0.344', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 16:36
'2024-01-24 16:36', '0.393', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:36', '0.393', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 16:42
'2024-01-24 16:42', '0.422', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:42', '0.422', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 16:48
'2024-01-24 16:48', '0.481', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:48', '0.481', '0.026', '0', '0', '0', '0', 'v')
2024-01-24 16:54
'2024-01-24 16:54', '0.534', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 16:54', '0.534', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 17:00
'2024-01-24 17:00', '0.583', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:00', '0.583', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 17:06
'2024-01-24 17:06', '0.619', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:06', '0.619', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 17:12
'2024-01-24 17:12', '0.675', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:12', '0.675', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 17:18
'2024-01-24 17:18', '0.721', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:18', '0.721', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 17:24
'2024-01-24 17:24', '0.757', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:24', '0.757', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 17:30
'2024-01-24 17:30', '0.813', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:30', '0.813', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 17:36
'2024-01-24 17:36', '0.842', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:36', '0.842', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 17:42
'2024-01-24 17:42', '0.901', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:42', '0.901', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 17:48
'2024-01-24 17:48', '0.954', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:48', '0.954', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 17:54
'2024-01-24 17:54', '0.993', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 17:54', '0.993', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 18:00
'2024-01-24 18:00', '1.026', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:00', '1.026', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 18:06
'2024-01-24 18:06', '1.062', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:06', '1.062', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 18:12
'2024-01-24 18:12', '1.105', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:12', '1.105', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 18:18
'2024-01-24 18:18', '1.147', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:18', '1.147', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 18:24
'2024-01-24 18:24', '1.190', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:24', '1.190', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 18:30
'2024-01-24 18:30', '1.229', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:30', '1.229', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 18:36
'2024-01-24 18:36', '1.269', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:36', '1.269', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 18:42
'2024-01-24 18:42', '1.295', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:42', '1.295', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 18:48
'2024-01-24 18:48', '1.334', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:48', '1.334', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 18:54
'2024-01-24 18:54', '1.374', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 18:54', '1.374', '0.023', '0', '0', '0', '0', 'v')
2024-01-24 19:00
'2024-01-24 19:00', '1.403', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:00', '1.403', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 19:06
'2024-01-24 19:06', '1.426', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:06', '1.426', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 19:12
'2024-01-24 19:12', '1.466', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:12', '1.466', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 19:18
'2024-01-24 19:18', '1.505', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:18', '1.505', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 19:24
'2024-01-24 19:24', '1.525', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:24', '1.525', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 19:30
'2024-01-24 19:30', '1.551', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:30', '1.551', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 19:36
'2024-01-24 19:36', '1.577', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:36', '1.577', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 19:42
'2024-01-24 19:42', '1.610', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:42', '1.610', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 19:48
'2024-01-24 19:48', '1.643', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:48', '1.643', '0.010', '0', '0', '0', '0', 'v')
2024-01-24 19:54
'2024-01-24 19:54', '1.653', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 19:54', '1.653', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 20:00
'2024-01-24 20:00', '1.656', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 20:00', '1.656', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 20:06
'2024-01-24 20:06', '1.689', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 20:06', '1.689', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 20:12
'2024-01-24 20:12', '1.705', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 20:12', '1.705', '0.013', '0', '0', '0', '0', 'v')
2024-01-24 20:18
'2024-01-24 20:18', '1.722', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 20:18', '1.722', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 20:24
'2024-01-24 20:24', '1.738', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 20:24', '1.738', '0.003', '0', '0', '0', '0', 'v')
2024-01-24 20:30
'2024-01-24 20:30', '1.731', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 20:30', '1.731', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 20:36
'2024-01-24 20:36', '1.745', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 20:36', '1.745', '0.007', '0', '0', '0', '0', 'v')
2024-01-24 20:42
'2024-01-24 20:42', '1.728', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 20:42', '1.728', '0.020', '0', '0', '0', '0', 'v')
2024-01-24 20:48
'2024-01-24 20:48', '1.728', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 20:48', '1.728', '0.016', '0', '0', '0', '0', 'v')
2024-01-24 20:54
'2024-01-24 20:54', '1.722', '0.013', '0', '0', '0', '0', 'v'

2024-01-24 23:54
'2024-01-24 23:54', '0.911', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-24 23:54', '0.911', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 00:00
'2024-01-25 00:00', '0.875', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:00', '0.875', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 00:06
'2024-01-25 00:06', '0.836', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:06', '0.836', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 00:12
'2024-01-25 00:12', '0.806', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:12', '0.806', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 00:18
'2024-01-25 00:18', '0.777', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:18', '0.777', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 00:24
'2024-01-25 00:24', '0.750', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:24', '0.750', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 00:30
'2024-01-25 00:30', '0.711', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:30', '0.711', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 00:36
'2024-01-25 00:36', '0.682', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:36', '0.682', '0.033', '0', '0', '0', '0', 'v')
2024-01-25 00:42
'2024-01-25 00:42', '0.655', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:42', '0.655', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 00:48
'2024-01-25 00:48', '0.636', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:48', '0.636', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 00:54
'2024-01-25 00:54', '0.603', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 00:54', '0.603', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 01:00
'2024-01-25 01:00', '0.583', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:00', '0.583', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 01:06
'2024-01-25 01:06', '0.563', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:06', '0.563', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 01:12
'2024-01-25 01:12', '0.537', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:12', '0.537', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 01:18
'2024-01-25 01:18', '0.521', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:18', '0.521', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 01:24
'2024-01-25 01:24', '0.498', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:24', '0.498', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 01:30
'2024-01-25 01:30', '0.488', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:30', '0.488', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 01:36
'2024-01-25 01:36', '0.478', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:36', '0.478', '0.033', '0', '0', '0', '0', 'v')
2024-01-25 01:42
'2024-01-25 01:42', '0.458', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:42', '0.458', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 01:48
'2024-01-25 01:48', '0.445', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:48', '0.445', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 01:54
'2024-01-25 01:54', '0.432', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 01:54', '0.432', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 02:00
'2024-01-25 02:00', '0.426', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:00', '0.426', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 02:06
'2024-01-25 02:06', '0.406', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:06', '0.406', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 02:12
'2024-01-25 02:12', '0.396', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:12', '0.396', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 02:18
'2024-01-25 02:18', '0.390', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:18', '0.390', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 02:24
'2024-01-25 02:24', '0.383', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:24', '0.383', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 02:30
'2024-01-25 02:30', '0.380', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:30', '0.380', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 02:36
'2024-01-25 02:36', '0.370', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:36', '0.370', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 02:42
'2024-01-25 02:42', '0.367', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:42', '0.367', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 02:48
'2024-01-25 02:48', '0.367', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:48', '0.367', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 02:54
'2024-01-25 02:54', '0.373', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 02:54', '0.373', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 03:00
'2024-01-25 03:00', '0.380', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:00', '0.380', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 03:06
'2024-01-25 03:06', '0.376', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:06', '0.376', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 03:12
'2024-01-25 03:12', '0.380', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:12', '0.380', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 03:18
'2024-01-25 03:18', '0.403', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:18', '0.403', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 03:24
'2024-01-25 03:24', '0.413', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:24', '0.413', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 03:30
'2024-01-25 03:30', '0.429', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:30', '0.429', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 03:36
'2024-01-25 03:36', '0.455', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:36', '0.455', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 03:42
'2024-01-25 03:42', '0.472', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:42', '0.472', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 03:48
'2024-01-25 03:48', '0.498', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:48', '0.498', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 03:54
'2024-01-25 03:54', '0.527', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 03:54', '0.527', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 04:00
'2024-01-25 04:00', '0.560', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:00', '0.560', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 04:06
'2024-01-25 04:06', '0.590', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:06', '0.590', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 04:12
'2024-01-25 04:12', '0.622', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:12', '0.622', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 04:18
'2024-01-25 04:18', '0.662', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:18', '0.662', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 04:24
'2024-01-25 04:24', '0.701', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:24', '0.701', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 04:30
'2024-01-25 04:30', '0.741', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:30', '0.741', '0.036', '0', '0', '0', '0', 'v')
2024-01-25 04:36
'2024-01-25 04:36', '0.780', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:36', '0.780', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 04:42
'2024-01-25 04:42', '0.829', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:42', '0.829', '0.036', '0', '0', '0', '0', 'v')
2024-01-25 04:48
'2024-01-25 04:48', '0.875', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:48', '0.875', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 04:54
'2024-01-25 04:54', '0.914', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 04:54', '0.914', '0.033', '0', '0', '0', '0', 'v')
2024-01-25 05:00
'2024-01-25 05:00', '0.974', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:00', '0.974', '0.033', '0', '0', '0', '0', 'v')
2024-01-25 05:06
'2024-01-25 05:06', '1.013', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:06', '1.013', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 05:12
'2024-01-25 05:12', '1.049', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:12', '1.049', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 05:18
'2024-01-25 05:18', '1.095', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:18', '1.095', '0.033', '0', '0', '0', '0', 'v')
2024-01-25 05:24
'2024-01-25 05:24', '1.144', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:24', '1.144', '0.039', '0', '0', '0', '0', 'v')
2024-01-25 05:30
'2024-01-25 05:30', '1.177', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:30', '1.177', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 05:36
'2024-01-25 05:36', '1.229', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:36', '1.229', '0.036', '0', '0', '0', '0', 'v')
2024-01-25 05:42
'2024-01-25 05:42', '1.272', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:42', '1.272', '0.036', '0', '0', '0', '0', 'v')
2024-01-25 05:48
'2024-01-25 05:48', '1.325', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:48', '1.325', '0.039', '0', '0', '0', '0', 'v')
2024-01-25 05:54
'2024-01-25 05:54', '1.361', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 05:54', '1.361', '0.036', '0', '0', '0', '0', 'v')
2024-01-25 06:00
'2024-01-25 06:00', '1.407', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:00', '1.407', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 06:06
'2024-01-25 06:06', '1.459', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:06', '1.459', '0.036', '0', '0', '0', '0', 'v')
2024-01-25 06:12
'2024-01-25 06:12', '1.498', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:12', '1.498', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 06:18
'2024-01-25 06:18', '1.535', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:18', '1.535', '0.033', '0', '0', '0', '0', 'v')
2024-01-25 06:24
'2024-01-25 06:24', '1.587', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:24', '1.587', '0.036', '0', '0', '0', '0', 'v')
2024-01-25 06:30
'2024-01-25 06:30', '1.626', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:30', '1.626', '0.036', '0', '0', '0', '0', 'v')
2024-01-25 06:36
'2024-01-25 06:36', '1.666', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:36', '1.666', '0.033', '0', '0', '0', '0', 'v')
2024-01-25 06:42
'2024-01-25 06:42', '1.702', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:42', '1.702', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 06:48
'2024-01-25 06:48', '1.735', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:48', '1.735', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 06:54
'2024-01-25 06:54', '1.771', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 06:54', '1.771', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 07:00
'2024-01-25 07:00', '1.810', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:00', '1.810', '0.036', '0', '0', '0', '0', 'v')
2024-01-25 07:06
'2024-01-25 07:06', '1.843', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:06', '1.843', '0.033', '0', '0', '0', '0', 'v')
2024-01-25 07:12
'2024-01-25 07:12', '1.863', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:12', '1.863', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 07:18
'2024-01-25 07:18', '1.895', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:18', '1.895', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 07:24
'2024-01-25 07:24', '1.928', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:24', '1.928', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 07:30
'2024-01-25 07:30', '1.945', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:30', '1.945', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 07:36
'2024-01-25 07:36', '1.971', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:36', '1.971', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 07:42
'2024-01-25 07:42', '1.994', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:42', '1.994', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 07:48
'2024-01-25 07:48', '2.007', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:48', '2.007', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 07:54
'2024-01-25 07:54', '2.027', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 07:54', '2.027', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 08:00
'2024-01-25 08:00', '2.046', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:00', '2.046', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 08:06
'2024-01-25 08:06', '2.063', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:06', '2.063', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 08:12
'2024-01-25 08:12', '2.076', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:12', '2.076', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 08:18
'2024-01-25 08:18', '2.092', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:18', '2.092', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 08:24
'2024-01-25 08:24', '2.115', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:24', '2.115', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 08:30
'2024-01-25 08:30', '2.122', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:30', '2.122', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 08:36
'2024-01-25 08:36', '2.125', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:36', '2.125', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 08:42
'2024-01-25 08:42', '2.125', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:42', '2.125', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 08:48
'2024-01-25 08:48', '2.125', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:48', '2.125', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 08:54
'2024-01-25 08:54', '2.122', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 08:54', '2.122', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 09:00
'2024-01-25 09:00', '2.115', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:00', '2.115', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 09:06
'2024-01-25 09:06', '2.102', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:06', '2.102', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 09:12
'2024-01-25 09:12', '2.086', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:12', '2.086', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 09:18
'2024-01-25 09:18', '2.069', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:18', '2.069', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 09:24
'2024-01-25 09:24', '2.056', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:24', '2.056', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 09:30
'2024-01-25 09:30', '2.043', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:30', '2.043', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 09:36
'2024-01-25 09:36', '2.023', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:36', '2.023', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 09:42
'2024-01-25 09:42', '1.997', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:42', '1.997', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 09:48
'2024-01-25 09:48', '1.974', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:48', '1.974', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 09:54
'2024-01-25 09:54', '1.945', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 09:54', '1.945', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 10:00
'2024-01-25 10:00', '1.922', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:00', '1.922', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 10:06
'2024-01-25 10:06', '1.886', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:06', '1.886', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 10:12
'2024-01-25 10:12', '1.859', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:12', '1.859', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 10:18
'2024-01-25 10:18', '1.823', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:18', '1.823', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 10:24
'2024-01-25 10:24', '1.790', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:24', '1.790', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 10:30
'2024-01-25 10:30', '1.764', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:30', '1.764', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 10:36
'2024-01-25 10:36', '1.735', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:36', '1.735', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 10:42
'2024-01-25 10:42', '1.705', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:42', '1.705', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 10:48
'2024-01-25 10:48', '1.672', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:48', '1.672', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 10:54
'2024-01-25 10:54', '1.646', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 10:54', '1.646', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 11:00
'2024-01-25 11:00', '1.617', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 11:00', '1.617', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 11:06
'2024-01-25 11:06', '1.584', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 11:06', '1.584', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 11:12
'2024-01-25 11:12', '1.535', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 11:12', '1.535', '0.030', '0', '0', '0', '0', 'v')
2024-01-25 11:18
'2024-01-25 11:18', '1.508', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 11:18', '1.508', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 11:24
'2024-01-25 11:24', '1.472', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 11:24', '1.472', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 11:30

'2024-01-25 11:36', '1.413', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 11:36', '1.413', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 11:42
'2024-01-25 11:42', '1.371', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 11:42', '1.371', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 11:48
'2024-01-25 11:48', '1.344', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 11:48', '1.344', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 11:54
'2024-01-25 11:54', '1.308', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 11:54', '1.308', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 12:00
'2024-01-25 12:00', '1.285', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:00', '1.285', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 12:06
'2024-01-25 12:06', '1.262', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:06', '1.262', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 12:12
'2024-01-25 12:12', '1.226', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:12', '1.226', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 12:18
'2024-01-25 12:18', '1.190', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:18', '1.190', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 12:24
'2024-01-25 12:24', '1.151', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:24', '1.151', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 12:30
'2024-01-25 12:30', '1.101', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:30', '1.101', '0.026', '0', '0', '0', '0', 'v')
2024-01-25 12:36
'2024-01-25 12:36', '1.052', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:36', '1.052', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 12:42
'2024-01-25 12:42', '1.033', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:42', '1.033', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 12:48
'2024-01-25 12:48', '1.003', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:48', '1.003', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 12:54
'2024-01-25 12:54', '0.974', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 12:54', '0.974', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 13:00
'2024-01-25 13:00', '0.947', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:00', '0.947', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 13:06
'2024-01-25 13:06', '0.928', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:06', '0.928', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 13:12
'2024-01-25 13:12', '0.901', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:12', '0.901', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 13:18
'2024-01-25 13:18', '0.872', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:18', '0.872', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 13:24
'2024-01-25 13:24', '0.846', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:24', '0.846', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 13:30
'2024-01-25 13:30', '0.829', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:30', '0.829', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 13:36
'2024-01-25 13:36', '0.803', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:36', '0.803', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 13:42
'2024-01-25 13:42', '0.790', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:42', '0.790', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 13:48
'2024-01-25 13:48', '0.770', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:48', '0.770', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 13:54
'2024-01-25 13:54', '0.744', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 13:54', '0.744', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 14:00
'2024-01-25 14:00', '0.731', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:00', '0.731', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 14:06
'2024-01-25 14:06', '0.714', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:06', '0.714', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 14:12
'2024-01-25 14:12', '0.721', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:12', '0.721', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 14:18
'2024-01-25 14:18', '0.718', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:18', '0.718', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 14:24
'2024-01-25 14:24', '0.708', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:24', '0.708', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 14:30
'2024-01-25 14:30', '0.688', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:30', '0.688', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 14:36
'2024-01-25 14:36', '0.695', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:36', '0.695', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 14:42
'2024-01-25 14:42', '0.695', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:42', '0.695', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 14:48
'2024-01-25 14:48', '0.691', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:48', '0.691', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 14:54
'2024-01-25 14:54', '0.711', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 14:54', '0.711', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 15:00
'2024-01-25 15:00', '0.721', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:00', '0.721', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 15:06
'2024-01-25 15:06', '0.724', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:06', '0.724', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 15:12
'2024-01-25 15:12', '0.741', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:12', '0.741', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 15:18
'2024-01-25 15:18', '0.757', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:18', '0.757', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 15:24
'2024-01-25 15:24', '0.767', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:24', '0.767', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 15:30
'2024-01-25 15:30', '0.780', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:30', '0.780', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 15:36
'2024-01-25 15:36', '0.806', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:36', '0.806', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 15:42
'2024-01-25 15:42', '0.839', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:42', '0.839', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 15:48
'2024-01-25 15:48', '0.865', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:48', '0.865', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 15:54
'2024-01-25 15:54', '0.892', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 15:54', '0.892', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 16:00
'2024-01-25 16:00', '0.924', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:00', '0.924', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 16:06
'2024-01-25 16:06', '0.957', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:06', '0.957', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 16:12
'2024-01-25 16:12', '0.993', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:12', '0.993', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 16:18
'2024-01-25 16:18', '1.036', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:18', '1.036', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 16:24
'2024-01-25 16:24', '1.069', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:24', '1.069', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 16:30
'2024-01-25 16:30', '1.111', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:30', '1.111', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 16:36
'2024-01-25 16:36', '1.177', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:36', '1.177', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 16:42
'2024-01-25 16:42', '1.229', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:42', '1.229', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 16:48
'2024-01-25 16:48', '1.256', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:48', '1.256', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 16:54
'2024-01-25 16:54', '1.292', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 16:54', '1.292', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 17:00
'2024-01-25 17:00', '1.357', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:00', '1.357', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 17:06
'2024-01-25 17:06', '1.413', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:06', '1.413', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 17:12
'2024-01-25 17:12', '1.469', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:12', '1.469', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 17:18
'2024-01-25 17:18', '1.518', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:18', '1.518', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 17:24
'2024-01-25 17:24', '1.571', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:24', '1.571', '0.016', '0', '0', '0', '0', 'v')
2024-01-25 17:30
'2024-01-25 17:30', '1.617', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:30', '1.617', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 17:36
'2024-01-25 17:36', '1.659', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:36', '1.659', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 17:42
'2024-01-25 17:42', '1.712', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:42', '1.712', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 17:48
'2024-01-25 17:48', '1.758', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:48', '1.758', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 17:54
'2024-01-25 17:54', '1.787', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 17:54', '1.787', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 18:00
'2024-01-25 18:00', '1.836', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:00', '1.836', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 18:06
'2024-01-25 18:06', '1.899', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:06', '1.899', '0.023', '0', '0', '0', '0', 'v')
2024-01-25 18:12
'2024-01-25 18:12', '1.948', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:12', '1.948', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 18:18
'2024-01-25 18:18', '1.987', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:18', '1.987', '0.020', '0', '0', '0', '0', 'v')
2024-01-25 18:24
'2024-01-25 18:24', '2.043', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:24', '2.043', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 18:30
'2024-01-25 18:30', '2.089', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:30', '2.089', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 18:36
'2024-01-25 18:36', '2.132', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:36', '2.132', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 18:42
'2024-01-25 18:42', '2.174', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:42', '2.174', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 18:48
'2024-01-25 18:48', '2.214', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:48', '2.214', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 18:54
'2024-01-25 18:54', '2.253', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 18:54', '2.253', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 19:00
'2024-01-25 19:00', '2.296', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:00', '2.296', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 19:06
'2024-01-25 19:06', '2.329', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:06', '2.329', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 19:12
'2024-01-25 19:12', '2.361', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:12', '2.361', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 19:18
'2024-01-25 19:18', '2.397', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:18', '2.397', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 19:24
'2024-01-25 19:24', '2.427', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:24', '2.427', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 19:30
'2024-01-25 19:30', '2.456', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:30', '2.456', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 19:36
'2024-01-25 19:36', '2.483', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:36', '2.483', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 19:42
'2024-01-25 19:42', '2.506', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:42', '2.506', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 19:48
'2024-01-25 19:48', '2.532', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:48', '2.532', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 19:54
'2024-01-25 19:54', '2.555', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 19:54', '2.555', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 20:00
'2024-01-25 20:00', '2.575', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:00', '2.575', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 20:06
'2024-01-25 20:06', '2.591', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:06', '2.591', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 20:12
'2024-01-25 20:12', '2.604', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:12', '2.604', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 20:18
'2024-01-25 20:18', '2.617', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:18', '2.617', '0.013', '0', '0', '0', '0', 'v')
2024-01-25 20:24
'2024-01-25 20:24', '2.637', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:24', '2.637', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 20:30
'2024-01-25 20:30', '2.647', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:30', '2.647', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 20:36
'2024-01-25 20:36', '2.657', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:36', '2.657', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 20:42
'2024-01-25 20:42', '2.663', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:42', '2.663', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 20:48
'2024-01-25 20:48', '2.663', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:48', '2.663', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 20:54
'2024-01-25 20:54', '2.666', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 20:54', '2.666', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 21:00
'2024-01-25 21:00', '2.666', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:00', '2.666', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 21:06
'2024-01-25 21:06', '2.663', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:06', '2.663', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 21:12
'2024-01-25 21:12', '2.660', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:12', '2.660', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 21:18
'2024-01-25 21:18', '2.653', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:18', '2.653', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 21:24
'2024-01-25 21:24', '2.643', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:24', '2.643', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 21:30
'2024-01-25 21:30', '2.634', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:30', '2.634', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 21:36
'2024-01-25 21:36', '2.621', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:36', '2.621', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 21:42
'2024-01-25 21:42', '2.607', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:42', '2.607', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 21:48
'2024-01-25 21:48', '2.594', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:48', '2.594', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 21:54
'2024-01-25 21:54', '2.575', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 21:54', '2.575', '0.003', '0', '0', '0', '0', 'v')
2024-01-25 22:00
'2024-01-25 22:00', '2.555', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:00', '2.555', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 22:06
'2024-01-25 22:06', '2.535', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:06', '2.535', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 22:12
'2024-01-25 22:12', '2.509', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:12', '2.509', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 22:18
'2024-01-25 22:18', '2.483', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:18', '2.483', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 22:24
'2024-01-25 22:24', '2.453', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:24', '2.453', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 22:30
'2024-01-25 22:30', '2.424', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:30', '2.424', '0.007', '0', '0', '0', '0', 'v')
2024-01-25 22:36
'2024-01-25 22:36', '2.391', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:36', '2.391', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 22:42
'2024-01-25 22:42', '2.358', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:42', '2.358', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 22:48
'2024-01-25 22:48', '2.322', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:48', '2.322', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 22:54
'2024-01-25 22:54', '2.286', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 22:54', '2.286', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 23:00
'2024-01-25 23:00', '2.246', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 23:00', '2.246', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 23:06
'2024-01-25 23:06', '2.210', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-25 23:06', '2.210', '0.010', '0', '0', '0', '0', 'v')
2024-01-25 23:12

2024-01-26 00:36
'2024-01-26 00:36', '1.590', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 00:36', '1.590', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 00:42
'2024-01-26 00:42', '1.551', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 00:42', '1.551', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 00:48
'2024-01-26 00:48', '1.508', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 00:48', '1.508', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 00:54
'2024-01-26 00:54', '1.472', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 00:54', '1.472', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 01:00
'2024-01-26 01:00', '1.433', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:00', '1.433', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 01:06
'2024-01-26 01:06', '1.400', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:06', '1.400', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 01:12
'2024-01-26 01:12', '1.364', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:12', '1.364', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 01:18
'2024-01-26 01:18', '1.331', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:18', '1.331', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 01:24
'2024-01-26 01:24', '1.302', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:24', '1.302', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 01:30
'2024-01-26 01:30', '1.266', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:30', '1.266', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 01:36
'2024-01-26 01:36', '1.236', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:36', '1.236', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 01:42
'2024-01-26 01:42', '1.210', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:42', '1.210', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 01:48
'2024-01-26 01:48', '1.180', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:48', '1.180', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 01:54
'2024-01-26 01:54', '1.154', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 01:54', '1.154', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 02:00
'2024-01-26 02:00', '1.128', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:00', '1.128', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 02:06
'2024-01-26 02:06', '1.105', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:06', '1.105', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 02:12
'2024-01-26 02:12', '1.082', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:12', '1.082', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 02:18
'2024-01-26 02:18', '1.062', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:18', '1.062', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 02:24
'2024-01-26 02:24', '1.039', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:24', '1.039', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 02:30
'2024-01-26 02:30', '1.019', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:30', '1.019', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 02:36
'2024-01-26 02:36', '1.000', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:36', '1.000', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 02:42
'2024-01-26 02:42', '0.980', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:42', '0.980', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 02:48
'2024-01-26 02:48', '0.964', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:48', '0.964', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 02:54
'2024-01-26 02:54', '0.937', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 02:54', '0.937', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 03:00
'2024-01-26 03:00', '0.928', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:00', '0.928', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 03:06
'2024-01-26 03:06', '0.911', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:06', '0.911', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 03:12
'2024-01-26 03:12', '0.901', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:12', '0.901', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 03:18
'2024-01-26 03:18', '0.885', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:18', '0.885', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 03:24
'2024-01-26 03:24', '0.865', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:24', '0.865', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 03:30
'2024-01-26 03:30', '0.865', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:30', '0.865', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 03:36
'2024-01-26 03:36', '0.852', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:36', '0.852', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 03:42
'2024-01-26 03:42', '0.842', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:42', '0.842', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 03:48
'2024-01-26 03:48', '0.832', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:48', '0.832', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 03:54
'2024-01-26 03:54', '0.819', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 03:54', '0.819', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 04:00
'2024-01-26 04:00', '0.823', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:00', '0.823', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 04:06
'2024-01-26 04:06', '0.819', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:06', '0.819', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 04:12
'2024-01-26 04:12', '0.826', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:12', '0.826', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 04:18
'2024-01-26 04:18', '0.839', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:18', '0.839', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 04:24
'2024-01-26 04:24', '0.859', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:24', '0.859', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 04:30
'2024-01-26 04:30', '0.898', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:30', '0.898', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 04:36
'2024-01-26 04:36', '0.905', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:36', '0.905', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 04:42
'2024-01-26 04:42', '0.924', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:42', '0.924', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 04:48
'2024-01-26 04:48', '0.947', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:48', '0.947', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 04:54
'2024-01-26 04:54', '0.970', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 04:54', '0.970', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 05:00
'2024-01-26 05:00', '0.980', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:00', '0.980', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 05:06
'2024-01-26 05:06', '0.993', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:06', '0.993', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 05:12
'2024-01-26 05:12', '1.010', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:12', '1.010', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 05:18
'2024-01-26 05:18', '1.033', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:18', '1.033', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 05:24
'2024-01-26 05:24', '1.056', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:24', '1.056', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 05:30
'2024-01-26 05:30', '1.079', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:30', '1.079', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 05:36
'2024-01-26 05:36', '1.118', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:36', '1.118', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 05:42
'2024-01-26 05:42', '1.154', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:42', '1.154', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 05:48
'2024-01-26 05:48', '1.193', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:48', '1.193', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 05:54
'2024-01-26 05:54', '1.236', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 05:54', '1.236', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 06:00
'2024-01-26 06:00', '1.279', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:00', '1.279', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 06:06
'2024-01-26 06:06', '1.298', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:06', '1.298', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 06:12
'2024-01-26 06:12', '1.321', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:12', '1.321', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 06:18
'2024-01-26 06:18', '1.357', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:18', '1.357', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 06:24
'2024-01-26 06:24', '1.393', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:24', '1.393', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 06:30
'2024-01-26 06:30', '1.439', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:30', '1.439', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 06:36
'2024-01-26 06:36', '1.482', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:36', '1.482', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 06:42
'2024-01-26 06:42', '1.535', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:42', '1.535', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 06:48
'2024-01-26 06:48', '1.574', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:48', '1.574', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 06:54
'2024-01-26 06:54', '1.597', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 06:54', '1.597', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 07:00
'2024-01-26 07:00', '1.640', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:00', '1.640', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 07:06
'2024-01-26 07:06', '1.679', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:06', '1.679', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 07:12
'2024-01-26 07:12', '1.718', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:12', '1.718', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 07:18
'2024-01-26 07:18', '1.754', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:18', '1.754', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 07:24
'2024-01-26 07:24', '1.787', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:24', '1.787', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 07:30
'2024-01-26 07:30', '1.827', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:30', '1.827', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 07:36
'2024-01-26 07:36', '1.866', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:36', '1.866', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 07:42
'2024-01-26 07:42', '1.899', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:42', '1.899', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 07:48
'2024-01-26 07:48', '1.918', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:48', '1.918', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 07:54
'2024-01-26 07:54', '1.958', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 07:54', '1.958', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 08:00
'2024-01-26 08:00', '1.994', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:00', '1.994', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 08:06
'2024-01-26 08:06', '2.010', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:06', '2.010', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 08:12
'2024-01-26 08:12', '2.040', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:12', '2.040', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 08:18
'2024-01-26 08:18', '2.059', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:18', '2.059', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 08:24
'2024-01-26 08:24', '2.079', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:24', '2.079', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 08:30
'2024-01-26 08:30', '2.096', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:30', '2.096', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 08:36
'2024-01-26 08:36', '2.109', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:36', '2.109', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 08:42
'2024-01-26 08:42', '2.105', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:42', '2.105', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 08:48
'2024-01-26 08:48', '2.122', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:48', '2.122', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 08:54
'2024-01-26 08:54', '2.122', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 08:54', '2.122', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 09:00
'2024-01-26 09:00', '2.125', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:00', '2.125', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 09:06
'2024-01-26 09:06', '2.119', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:06', '2.119', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 09:12
'2024-01-26 09:12', '2.099', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:12', '2.099', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 09:18
'2024-01-26 09:18', '2.102', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:18', '2.102', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 09:24
'2024-01-26 09:24', '2.079', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:24', '2.079', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 09:30
'2024-01-26 09:30', '2.076', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:30', '2.076', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 09:36
'2024-01-26 09:36', '2.082', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:36', '2.082', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 09:42
'2024-01-26 09:42', '2.069', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:42', '2.069', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 09:48
'2024-01-26 09:48', '2.053', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:48', '2.053', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 09:54
'2024-01-26 09:54', '2.007', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 09:54', '2.007', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 10:00
'2024-01-26 10:00', '1.971', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:00', '1.971', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 10:06
'2024-01-26 10:06', '1.948', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:06', '1.948', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 10:12
'2024-01-26 10:12', '1.918', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:12', '1.918', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 10:18
'2024-01-26 10:18', '1.879', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:18', '1.879', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 10:24
'2024-01-26 10:24', '1.850', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:24', '1.850', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 10:30
'2024-01-26 10:30', '1.823', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:30', '1.823', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 10:36
'2024-01-26 10:36', '1.790', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:36', '1.790', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 10:42
'2024-01-26 10:42', '1.745', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:42', '1.745', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 10:48
'2024-01-26 10:48', '1.712', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:48', '1.712', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 10:54
'2024-01-26 10:54', '1.676', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 10:54', '1.676', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 11:00
'2024-01-26 11:00', '1.640', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:00', '1.640', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 11:06
'2024-01-26 11:06', '1.610', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:06', '1.610', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 11:12
'2024-01-26 11:12', '1.577', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:12', '1.577', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 11:18
'2024-01-26 11:18', '1.538', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:18', '1.538', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 11:24
'2024-01-26 11:24', '1.489', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:24', '1.489', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 11:30
'2024-01-26 11:30', '1.433', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:30', '1.433', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 11:36
'2024-01-26 11:36', '1.387', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:36', '1.387', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 11:42
'2024-01-26 11:42', '1.341', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:42', '1.341', '0.036', '0', '0', '0', '0', 'v')
2024-01-26 11:48
'2024-01-26 11:48', '1.295', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:48', '1.295', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 11:54
'2024-01-26 11:54', '1.266', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 11:54', '1.266', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 12:00
'2024-01-26 12:00', '1.216', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:00', '1.216', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 12:06
'2024-01-26 12:06', '1.170', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:06', '1.170', '0.026', '0', '0', '0', '0', 'v')

2024-01-26 12:12
'2024-01-26 12:12', '1.131', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:12', '1.131', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 12:18
'2024-01-26 12:18', '1.098', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:18', '1.098', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 12:24
'2024-01-26 12:24', '1.065', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:24', '1.065', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 12:30
'2024-01-26 12:30', '1.026', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:30', '1.026', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 12:36
'2024-01-26 12:36', '1.000', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:36', '1.000', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 12:42
'2024-01-26 12:42', '0.970', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:42', '0.970', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 12:48
'2024-01-26 12:48', '0.934', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:48', '0.934', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 12:54
'2024-01-26 12:54', '0.911', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 12:54', '0.911', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 13:00
'2024-01-26 13:00', '0.869', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:00', '0.869', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 13:06
'2024-01-26 13:06', '0.842', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:06', '0.842', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 13:12
'2024-01-26 13:12', '0.819', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:12', '0.819', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 13:18
'2024-01-26 13:18', '0.806', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:18', '0.806', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 13:24
'2024-01-26 13:24', '0.780', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:24', '0.780', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 13:30
'2024-01-26 13:30', '0.760', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:30', '0.760', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 13:36
'2024-01-26 13:36', '0.747', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:36', '0.747', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 13:42
'2024-01-26 13:42', '0.714', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:42', '0.714', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 13:48
'2024-01-26 13:48', '0.695', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:48', '0.695', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 13:54
'2024-01-26 13:54', '0.668', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 13:54', '0.668', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 14:00
'2024-01-26 14:00', '0.659', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:00', '0.659', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 14:06
'2024-01-26 14:06', '0.636', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:06', '0.636', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 14:12
'2024-01-26 14:12', '0.619', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:12', '0.619', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 14:18
'2024-01-26 14:18', '0.609', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:18', '0.609', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 14:24
'2024-01-26 14:24', '0.580', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:24', '0.580', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 14:30
'2024-01-26 14:30', '0.554', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:30', '0.554', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 14:36
'2024-01-26 14:36', '0.544', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:36', '0.544', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 14:42
'2024-01-26 14:42', '0.517', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:42', '0.517', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 14:48
'2024-01-26 14:48', '0.501', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:48', '0.501', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 14:54
'2024-01-26 14:54', '0.478', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 14:54', '0.478', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 15:00
'2024-01-26 15:00', '0.478', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:00', '0.478', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 15:06
'2024-01-26 15:06', '0.478', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:06', '0.478', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 15:12
'2024-01-26 15:12', '0.452', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:12', '0.452', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 15:18
'2024-01-26 15:18', '0.458', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:18', '0.458', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 15:24
'2024-01-26 15:24', '0.449', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:24', '0.449', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 15:30
'2024-01-26 15:30', '0.439', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:30', '0.439', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 15:36
'2024-01-26 15:36', '0.449', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:36', '0.449', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 15:42
'2024-01-26 15:42', '0.455', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:42', '0.455', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 15:48
'2024-01-26 15:48', '0.462', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:48', '0.462', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 15:54
'2024-01-26 15:54', '0.472', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 15:54', '0.472', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 16:00
'2024-01-26 16:00', '0.495', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:00', '0.495', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 16:06
'2024-01-26 16:06', '0.514', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:06', '0.514', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 16:12
'2024-01-26 16:12', '0.537', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:12', '0.537', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 16:18
'2024-01-26 16:18', '0.583', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:18', '0.583', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 16:24
'2024-01-26 16:24', '0.613', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:24', '0.613', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 16:30
'2024-01-26 16:30', '0.642', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:30', '0.642', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 16:36
'2024-01-26 16:36', '0.678', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:36', '0.678', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 16:42
'2024-01-26 16:42', '0.708', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:42', '0.708', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 16:48
'2024-01-26 16:48', '0.737', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:48', '0.737', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 16:54
'2024-01-26 16:54', '0.773', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 16:54', '0.773', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 17:00
'2024-01-26 17:00', '0.813', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:00', '0.813', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 17:06
'2024-01-26 17:06', '0.849', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:06', '0.849', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 17:12
'2024-01-26 17:12', '0.901', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:12', '0.901', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 17:18
'2024-01-26 17:18', '0.941', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:18', '0.941', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 17:24
'2024-01-26 17:24', '0.983', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:24', '0.983', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 17:30
'2024-01-26 17:30', '1.036', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:30', '1.036', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 17:36
'2024-01-26 17:36', '1.092', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:36', '1.092', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 17:42
'2024-01-26 17:42', '1.144', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:42', '1.144', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 17:48
'2024-01-26 17:48', '1.190', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:48', '1.190', '0.033', '0', '0', '0', '0', 'v')
2024-01-26 17:54
'2024-01-26 17:54', '1.236', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 17:54', '1.236', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 18:00
'2024-01-26 18:00', '1.288', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:00', '1.288', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 18:06
'2024-01-26 18:06', '1.341', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:06', '1.341', '0.036', '0', '0', '0', '0', 'v')
2024-01-26 18:12
'2024-01-26 18:12', '1.397', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:12', '1.397', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 18:18
'2024-01-26 18:18', '1.456', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:18', '1.456', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 18:24
'2024-01-26 18:24', '1.508', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:24', '1.508', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 18:30
'2024-01-26 18:30', '1.564', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:30', '1.564', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 18:36
'2024-01-26 18:36', '1.607', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:36', '1.607', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 18:42
'2024-01-26 18:42', '1.663', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:42', '1.663', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 18:48
'2024-01-26 18:48', '1.715', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:48', '1.715', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 18:54
'2024-01-26 18:54', '1.758', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 18:54', '1.758', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 19:00
'2024-01-26 19:00', '1.804', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:00', '1.804', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 19:06
'2024-01-26 19:06', '1.853', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:06', '1.853', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 19:12
'2024-01-26 19:12', '1.905', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:12', '1.905', '0.030', '0', '0', '0', '0', 'v')
2024-01-26 19:18
'2024-01-26 19:18', '1.955', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:18', '1.955', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 19:24
'2024-01-26 19:24', '2.004', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:24', '2.004', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 19:30
'2024-01-26 19:30', '2.037', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:30', '2.037', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 19:36
'2024-01-26 19:36', '2.076', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:36', '2.076', '0.026', '0', '0', '0', '0', 'v')
2024-01-26 19:42
'2024-01-26 19:42', '2.119', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:42', '2.119', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 19:48
'2024-01-26 19:48', '2.158', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:48', '2.158', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 19:54
'2024-01-26 19:54', '2.191', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 19:54', '2.191', '0.023', '0', '0', '0', '0', 'v')
2024-01-26 20:00
'2024-01-26 20:00', '2.220', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:00', '2.220', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 20:06
'2024-01-26 20:06', '2.256', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:06', '2.256', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 20:12
'2024-01-26 20:12', '2.289', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:12', '2.289', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 20:18
'2024-01-26 20:18', '2.322', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:18', '2.322', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 20:24
'2024-01-26 20:24', '2.345', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:24', '2.345', '0.020', '0', '0', '0', '0', 'v')
2024-01-26 20:30
'2024-01-26 20:30', '2.388', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:30', '2.388', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 20:36
'2024-01-26 20:36', '2.417', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:36', '2.417', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 20:42
'2024-01-26 20:42', '2.434', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:42', '2.434', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 20:48
'2024-01-26 20:48', '2.447', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:48', '2.447', '0.016', '0', '0', '0', '0', 'v')
2024-01-26 20:54
'2024-01-26 20:54', '2.473', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 20:54', '2.473', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 21:00
'2024-01-26 21:00', '2.483', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:00', '2.483', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 21:06
'2024-01-26 21:06', '2.496', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:06', '2.496', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 21:12
'2024-01-26 21:12', '2.512', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:12', '2.512', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 21:18
'2024-01-26 21:18', '2.529', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:18', '2.529', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 21:24
'2024-01-26 21:24', '2.542', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:24', '2.542', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 21:30
'2024-01-26 21:30', '2.545', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:30', '2.545', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 21:36
'2024-01-26 21:36', '2.535', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:36', '2.535', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 21:42
'2024-01-26 21:42', '2.555', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:42', '2.555', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 21:48
'2024-01-26 21:48', '2.555', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:48', '2.555', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 21:54
'2024-01-26 21:54', '2.555', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 21:54', '2.555', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 22:00
'2024-01-26 22:00', '2.552', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:00', '2.552', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 22:06
'2024-01-26 22:06', '2.545', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:06', '2.545', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 22:12
'2024-01-26 22:12', '2.538', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:12', '2.538', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 22:18
'2024-01-26 22:18', '2.529', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:18', '2.529', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 22:24
'2024-01-26 22:24', '2.516', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:24', '2.516', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 22:30
'2024-01-26 22:30', '2.502', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:30', '2.502', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 22:36
'2024-01-26 22:36', '2.489', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:36', '2.489', '0.003', '0', '0', '0', '0', 'v')
2024-01-26 22:42
'2024-01-26 22:42', '2.473', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:42', '2.473', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 22:48
'2024-01-26 22:48', '2.453', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:48', '2.453', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 22:54
'2024-01-26 22:54', '2.434', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 22:54', '2.434', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 23:00
'2024-01-26 23:00', '2.411', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 23:00', '2.411', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 23:06
'2024-01-26 23:06', '2.391', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 23:06', '2.391', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 23:12
'2024-01-26 23:12', '2.361', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 23:12', '2.361', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 23:18
'2024-01-26 23:18', '2.338', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 23:18', '2.338', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 23:24
'2024-01-26 23:24', '2.309', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 23:24', '2.309', '0.010', '0', '0', '0', '0', 'v')
2024-01-26 23:30
'2024-01-26 23:30', '2.276', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 23:30', '2.276', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 23:36
'2024-01-26 23:36', '2.246', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 23:36', '2.246', '0.007', '0', '0', '0', '0', 'v')
2024-01-26 23:42
'2024-01-26 23:42', '2.217', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-26 23:42', '2.217', '0.013', '0', '0', '0', '0', 'v')
2024-01-26 23:48

INSERT INTO noaa_data VALUES ('2024-01-27 02:18', '1.325', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 02:24
'2024-01-27 02:24', '1.275', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 02:24', '1.275', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 02:30
'2024-01-27 02:30', '1.246', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 02:30', '1.246', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 02:36
'2024-01-27 02:36', '1.216', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 02:36', '1.216', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 02:42
'2024-01-27 02:42', '1.193', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 02:42', '1.193', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 02:48
'2024-01-27 02:48', '1.147', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 02:48', '1.147', '0.020', '0', '0', '0', '0', 'v')
2024-01-27 02:54
'2024-01-27 02:54', '1.121', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 02:54', '1.121', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 03:00
'2024-01-27 03:00', '1.111', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:00', '1.111', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 03:06
'2024-01-27 03:06', '1.052', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:06', '1.052', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 03:12
'2024-01-27 03:12', '1.019', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:12', '1.019', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 03:18
'2024-01-27 03:18', '0.990', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:18', '0.990', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 03:24
'2024-01-27 03:24', '0.974', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:24', '0.974', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 03:30
'2024-01-27 03:30', '0.957', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:30', '0.957', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 03:36
'2024-01-27 03:36', '0.951', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:36', '0.951', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 03:42
'2024-01-27 03:42', '0.954', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:42', '0.954', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 03:48
'2024-01-27 03:48', '0.944', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:48', '0.944', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 03:54
'2024-01-27 03:54', '0.937', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 03:54', '0.937', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 04:00
'2024-01-27 04:00', '0.931', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:00', '0.931', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 04:06
'2024-01-27 04:06', '0.921', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:06', '0.921', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 04:12
'2024-01-27 04:12', '0.918', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:12', '0.918', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 04:18
'2024-01-27 04:18', '0.914', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:18', '0.914', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 04:24
'2024-01-27 04:24', '0.918', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:24', '0.918', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 04:30
'2024-01-27 04:30', '0.921', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:30', '0.921', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 04:36
'2024-01-27 04:36', '0.921', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:36', '0.921', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 04:42
'2024-01-27 04:42', '0.928', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:42', '0.928', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 04:48
'2024-01-27 04:48', '0.937', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:48', '0.937', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 04:54
'2024-01-27 04:54', '0.951', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 04:54', '0.951', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 05:00
'2024-01-27 05:00', '0.970', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:00', '0.970', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 05:06
'2024-01-27 05:06', '0.987', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:06', '0.987', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 05:12
'2024-01-27 05:12', '1.010', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:12', '1.010', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 05:18
'2024-01-27 05:18', '1.036', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:18', '1.036', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 05:24
'2024-01-27 05:24', '1.065', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:24', '1.065', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 05:30
'2024-01-27 05:30', '1.092', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:30', '1.092', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 05:36
'2024-01-27 05:36', '1.131', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:36', '1.131', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 05:42
'2024-01-27 05:42', '1.161', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:42', '1.161', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 05:48
'2024-01-27 05:48', '1.200', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:48', '1.200', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 05:54
'2024-01-27 05:54', '1.236', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 05:54', '1.236', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 06:00
'2024-01-27 06:00', '1.279', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:00', '1.279', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 06:06
'2024-01-27 06:06', '1.321', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:06', '1.321', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 06:12
'2024-01-27 06:12', '1.361', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:12', '1.361', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 06:18
'2024-01-27 06:18', '1.403', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:18', '1.403', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 06:24
'2024-01-27 06:24', '1.453', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:24', '1.453', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 06:30
'2024-01-27 06:30', '1.492', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:30', '1.492', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 06:36
'2024-01-27 06:36', '1.535', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:36', '1.535', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 06:42
'2024-01-27 06:42', '1.577', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:42', '1.577', '0.020', '0', '0', '0', '0', 'v')
2024-01-27 06:48
'2024-01-27 06:48', '1.620', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:48', '1.620', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 06:54
'2024-01-27 06:54', '1.669', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 06:54', '1.669', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 07:00
'2024-01-27 07:00', '1.715', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:00', '1.715', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 07:06
'2024-01-27 07:06', '1.761', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:06', '1.761', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 07:12
'2024-01-27 07:12', '1.807', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:12', '1.807', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 07:18
'2024-01-27 07:18', '1.853', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:18', '1.853', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 07:24
'2024-01-27 07:24', '1.902', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:24', '1.902', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 07:30
'2024-01-27 07:30', '1.948', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:30', '1.948', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 07:36
'2024-01-27 07:36', '1.991', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:36', '1.991', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 07:42
'2024-01-27 07:42', '2.037', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:42', '2.037', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 07:48
'2024-01-27 07:48', '2.076', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:48', '2.076', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 07:54
'2024-01-27 07:54', '2.119', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 07:54', '2.119', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 08:00
'2024-01-27 08:00', '2.155', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:00', '2.155', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 08:06
'2024-01-27 08:06', '2.187', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:06', '2.187', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 08:12
'2024-01-27 08:12', '2.227', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:12', '2.227', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 08:18
'2024-01-27 08:18', '2.256', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:18', '2.256', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 08:24
'2024-01-27 08:24', '2.289', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:24', '2.289', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 08:30
'2024-01-27 08:30', '2.315', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:30', '2.315', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 08:36
'2024-01-27 08:36', '2.342', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:36', '2.342', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 08:42
'2024-01-27 08:42', '2.371', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:42', '2.371', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 08:48
'2024-01-27 08:48', '2.394', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:48', '2.394', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 08:54
'2024-01-27 08:54', '2.414', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 08:54', '2.414', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 09:00
'2024-01-27 09:00', '2.430', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:00', '2.430', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 09:06
'2024-01-27 09:06', '2.443', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:06', '2.443', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 09:12
'2024-01-27 09:12', '2.456', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:12', '2.456', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 09:18
'2024-01-27 09:18', '2.466', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:18', '2.466', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 09:24
'2024-01-27 09:24', '2.476', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:24', '2.476', '0.000', '0', '0', '0', '0', 'v')
2024-01-27 09:30
'2024-01-27 09:30', '2.486', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:30', '2.486', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 09:36
'2024-01-27 09:36', '2.496', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:36', '2.496', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 09:42
'2024-01-27 09:42', '2.502', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:42', '2.502', '0.000', '0', '0', '0', '0', 'v')
2024-01-27 09:48
'2024-01-27 09:48', '2.506', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:48', '2.506', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 09:54
'2024-01-27 09:54', '2.509', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 09:54', '2.509', '0.000', '0', '0', '0', '0', 'v')
2024-01-27 10:00
'2024-01-27 10:00', '2.509', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:00', '2.509', '0.000', '0', '0', '0', '0', 'v')
2024-01-27 10:06
'2024-01-27 10:06', '2.506', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:06', '2.506', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 10:12
'2024-01-27 10:12', '2.499', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:12', '2.499', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 10:18
'2024-01-27 10:18', '2.489', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:18', '2.489', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 10:24
'2024-01-27 10:24', '2.476', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:24', '2.476', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 10:30
'2024-01-27 10:30', '2.466', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:30', '2.466', '0.003', '0', '0', '0', '0', 'v')
2024-01-27 10:36
'2024-01-27 10:36', '2.450', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:36', '2.450', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 10:42
'2024-01-27 10:42', '2.430', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:42', '2.430', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 10:48
'2024-01-27 10:48', '2.411', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:48', '2.411', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 10:54
'2024-01-27 10:54', '2.394', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 10:54', '2.394', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 11:00
'2024-01-27 11:00', '2.368', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:00', '2.368', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 11:06
'2024-01-27 11:06', '2.338', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:06', '2.338', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 11:12
'2024-01-27 11:12', '2.312', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:12', '2.312', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 11:18
'2024-01-27 11:18', '2.283', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:18', '2.283', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 11:24
'2024-01-27 11:24', '2.256', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:24', '2.256', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 11:30
'2024-01-27 11:30', '2.217', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:30', '2.217', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 11:36
'2024-01-27 11:36', '2.184', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:36', '2.184', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 11:42
'2024-01-27 11:42', '2.151', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:42', '2.151', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 11:48
'2024-01-27 11:48', '2.115', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:48', '2.115', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 11:54
'2024-01-27 11:54', '2.079', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 11:54', '2.079', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 12:00
'2024-01-27 12:00', '2.043', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:00', '2.043', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 12:06
'2024-01-27 12:06', '2.007', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:06', '2.007', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 12:12
'2024-01-27 12:12', '1.968', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:12', '1.968', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 12:18
'2024-01-27 12:18', '1.925', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:18', '1.925', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 12:24
'2024-01-27 12:24', '1.889', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:24', '1.889', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 12:30
'2024-01-27 12:30', '1.850', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:30', '1.850', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 12:36
'2024-01-27 12:36', '1.804', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:36', '1.804', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 12:42
'2024-01-27 12:42', '1.767', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:42', '1.767', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 12:48
'2024-01-27 12:48', '1.725', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:48', '1.725', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 12:54
'2024-01-27 12:54', '1.695', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 12:54', '1.695', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 13:00
'2024-01-27 13:00', '1.663', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 13:00', '1.663', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 13:06
'2024-01-27 13:06', '1.620', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 13:06', '1.620', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 13:12
'2024-01-27 13:12', '1.584', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 13:12', '1.584', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 13:18
'2024-01-27 13:18', '1.541', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 13:18', '1.541', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 13:24
'2024-01-27 13:24', '1.508', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 13:24', '1.508', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 13:30
'2024-01-27 13:30', '1.469', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 13:30', '1.469', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 13:36
'2024-01-27 13:36', '1.436', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 13:36', '1.436', '0.007', '0', '0', '0', '0', 'v')
2024-01-27 13:42
'2024-01-27 13:42', '1.397', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 13:42', '1.397', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 13:48
'2024-01-27 13:48', '1.364', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 13:48', '1.364', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 13:54
'2024-01-27 13:54', '1.325', '0.010', '0', '0', '0', '0', 'v'

2024-01-27 18:00
'2024-01-27 18:00', '1.407', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:00', '1.407', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 18:06
'2024-01-27 18:06', '1.433', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:06', '1.433', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 18:12
'2024-01-27 18:12', '1.469', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:12', '1.469', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 18:18
'2024-01-27 18:18', '1.512', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:18', '1.512', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 18:24
'2024-01-27 18:24', '1.558', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:24', '1.558', '0.033', '0', '0', '0', '0', 'v')
2024-01-27 18:30
'2024-01-27 18:30', '1.620', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:30', '1.620', '0.043', '0', '0', '0', '0', 'v')
2024-01-27 18:36
'2024-01-27 18:36', '1.672', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:36', '1.672', '0.033', '0', '0', '0', '0', 'v')
2024-01-27 18:42
'2024-01-27 18:42', '1.725', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:42', '1.725', '0.036', '0', '0', '0', '0', 'v')
2024-01-27 18:48
'2024-01-27 18:48', '1.767', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:48', '1.767', '0.033', '0', '0', '0', '0', 'v')
2024-01-27 18:54
'2024-01-27 18:54', '1.827', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 18:54', '1.827', '0.036', '0', '0', '0', '0', 'v')
2024-01-27 19:00
'2024-01-27 19:00', '1.886', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:00', '1.886', '0.036', '0', '0', '0', '0', 'v')
2024-01-27 19:06
'2024-01-27 19:06', '1.951', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:06', '1.951', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 19:12
'2024-01-27 19:12', '1.991', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:12', '1.991', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 19:18
'2024-01-27 19:18', '2.040', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:18', '2.040', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 19:24
'2024-01-27 19:24', '2.092', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:24', '2.092', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 19:30
'2024-01-27 19:30', '2.148', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:30', '2.148', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 19:36
'2024-01-27 19:36', '2.191', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:36', '2.191', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 19:42
'2024-01-27 19:42', '2.227', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:42', '2.227', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 19:48
'2024-01-27 19:48', '2.273', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:48', '2.273', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 19:54
'2024-01-27 19:54', '2.322', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 19:54', '2.322', '0.033', '0', '0', '0', '0', 'v')
2024-01-27 20:00
'2024-01-27 20:00', '2.374', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:00', '2.374', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 20:06
'2024-01-27 20:06', '2.420', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:06', '2.420', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 20:12
'2024-01-27 20:12', '2.473', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:12', '2.473', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 20:18
'2024-01-27 20:18', '2.519', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:18', '2.519', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 20:24
'2024-01-27 20:24', '2.558', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:24', '2.558', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 20:30
'2024-01-27 20:30', '2.598', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:30', '2.598', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 20:36
'2024-01-27 20:36', '2.634', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:36', '2.634', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 20:42
'2024-01-27 20:42', '2.666', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:42', '2.666', '0.013', '0', '0', '0', '0', 'v')
2024-01-27 20:48
'2024-01-27 20:48', '2.703', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:48', '2.703', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 20:54
'2024-01-27 20:54', '2.732', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 20:54', '2.732', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 21:00
'2024-01-27 21:00', '2.752', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:00', '2.752', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 21:06
'2024-01-27 21:06', '2.775', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:06', '2.775', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 21:12
'2024-01-27 21:12', '2.794', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:12', '2.794', '0.010', '0', '0', '0', '0', 'v')
2024-01-27 21:18
'2024-01-27 21:18', '2.811', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:18', '2.811', '0.016', '0', '0', '0', '0', 'v')
2024-01-27 21:24
'2024-01-27 21:24', '2.824', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:24', '2.824', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 21:30
'2024-01-27 21:30', '2.821', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:30', '2.821', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 21:36
'2024-01-27 21:36', '2.840', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:36', '2.840', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 21:42
'2024-01-27 21:42', '2.850', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:42', '2.850', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 21:48
'2024-01-27 21:48', '2.863', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:48', '2.863', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 21:54
'2024-01-27 21:54', '2.876', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 21:54', '2.876', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 22:00
'2024-01-27 22:00', '2.883', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:00', '2.883', '0.033', '0', '0', '0', '0', 'v')
2024-01-27 22:06
'2024-01-27 22:06', '2.886', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:06', '2.886', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 22:12
'2024-01-27 22:12', '2.876', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:12', '2.876', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 22:18
'2024-01-27 22:18', '2.870', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:18', '2.870', '0.033', '0', '0', '0', '0', 'v')
2024-01-27 22:24
'2024-01-27 22:24', '2.867', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:24', '2.867', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 22:30
'2024-01-27 22:30', '2.850', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:30', '2.850', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 22:36
'2024-01-27 22:36', '2.853', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:36', '2.853', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 22:42
'2024-01-27 22:42', '2.837', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:42', '2.837', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 22:48
'2024-01-27 22:48', '2.821', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:48', '2.821', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 22:54
'2024-01-27 22:54', '2.811', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 22:54', '2.811', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 23:00
'2024-01-27 23:00', '2.791', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:00', '2.791', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 23:06
'2024-01-27 23:06', '2.771', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:06', '2.771', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 23:12
'2024-01-27 23:12', '2.748', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:12', '2.748', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 23:18
'2024-01-27 23:18', '2.722', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:18', '2.722', '0.033', '0', '0', '0', '0', 'v')
2024-01-27 23:24
'2024-01-27 23:24', '2.712', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:24', '2.712', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 23:30
'2024-01-27 23:30', '2.680', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:30', '2.680', '0.030', '0', '0', '0', '0', 'v')
2024-01-27 23:36
'2024-01-27 23:36', '2.660', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:36', '2.660', '0.023', '0', '0', '0', '0', 'v')
2024-01-27 23:42
'2024-01-27 23:42', '2.627', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:42', '2.627', '0.033', '0', '0', '0', '0', 'v')
2024-01-27 23:48
'2024-01-27 23:48', '2.598', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:48', '2.598', '0.026', '0', '0', '0', '0', 'v')
2024-01-27 23:54
'2024-01-27 23:54', '2.565', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-27 23:54', '2.565', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 00:00
'2024-01-28 00:00', '2.525', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:00', '2.525', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 00:06
'2024-01-28 00:06', '2.512', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:06', '2.512', '0.030', '0', '0', '0', '0', 'v')
2024-01-28 00:12
'2024-01-28 00:12', '2.479', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:12', '2.479', '0.030', '0', '0', '0', '0', 'v')
2024-01-28 00:18
'2024-01-28 00:18', '2.437', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:18', '2.437', '0.023', '0', '0', '0', '0', 'v')
2024-01-28 00:24
'2024-01-28 00:24', '2.391', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:24', '2.391', '0.030', '0', '0', '0', '0', 'v')
2024-01-28 00:30
'2024-01-28 00:30', '2.348', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:30', '2.348', '0.026', '0', '0', '0', '0', 'v')
2024-01-28 00:36
'2024-01-28 00:36', '2.302', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:36', '2.302', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 00:42
'2024-01-28 00:42', '2.256', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:42', '2.256', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 00:48
'2024-01-28 00:48', '2.217', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:48', '2.217', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 00:54
'2024-01-28 00:54', '2.181', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 00:54', '2.181', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 01:00
'2024-01-28 01:00', '2.138', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:00', '2.138', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 01:06
'2024-01-28 01:06', '2.105', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:06', '2.105', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 01:12
'2024-01-28 01:12', '2.063', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:12', '2.063', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 01:18
'2024-01-28 01:18', '2.020', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:18', '2.020', '0.052', '0', '0', '0', '0', 'v')
2024-01-28 01:24
'2024-01-28 01:24', '1.981', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:24', '1.981', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 01:30
'2024-01-28 01:30', '1.948', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:30', '1.948', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 01:36
'2024-01-28 01:36', '1.912', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:36', '1.912', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 01:42
'2024-01-28 01:42', '1.872', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:42', '1.872', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 01:48
'2024-01-28 01:48', '1.827', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:48', '1.827', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 01:54
'2024-01-28 01:54', '1.800', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 01:54', '1.800', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 02:00
'2024-01-28 02:00', '1.767', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:00', '1.767', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 02:06
'2024-01-28 02:06', '1.725', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:06', '1.725', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 02:12
'2024-01-28 02:12', '1.695', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:12', '1.695', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 02:18
'2024-01-28 02:18', '1.663', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:18', '1.663', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 02:24
'2024-01-28 02:24', '1.630', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:24', '1.630', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 02:30
'2024-01-28 02:30', '1.607', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:30', '1.607', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 02:36
'2024-01-28 02:36', '1.564', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:36', '1.564', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 02:42
'2024-01-28 02:42', '1.558', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:42', '1.558', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 02:48
'2024-01-28 02:48', '1.521', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:48', '1.521', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 02:54
'2024-01-28 02:54', '1.498', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 02:54', '1.498', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 03:00
'2024-01-28 03:00', '1.476', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:00', '1.476', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 03:06
'2024-01-28 03:06', '1.456', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:06', '1.456', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 03:12
'2024-01-28 03:12', '1.436', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:12', '1.436', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 03:18
'2024-01-28 03:18', '1.407', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:18', '1.407', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 03:24
'2024-01-28 03:24', '1.393', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:24', '1.393', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 03:30
'2024-01-28 03:30', '1.371', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:30', '1.371', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 03:36
'2024-01-28 03:36', '1.354', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:36', '1.354', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 03:42
'2024-01-28 03:42', '1.341', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:42', '1.341', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 03:48
'2024-01-28 03:48', '1.334', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:48', '1.334', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 03:54
'2024-01-28 03:54', '1.315', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 03:54', '1.315', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 04:00
'2024-01-28 04:00', '1.298', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:00', '1.298', '0.030', '0', '0', '0', '0', 'v')
2024-01-28 04:06
'2024-01-28 04:06', '1.288', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:06', '1.288', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 04:12
'2024-01-28 04:12', '1.292', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:12', '1.292', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 04:18
'2024-01-28 04:18', '1.275', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:18', '1.275', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 04:24
'2024-01-28 04:24', '1.295', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:24', '1.295', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 04:30
'2024-01-28 04:30', '1.295', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:30', '1.295', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 04:36
'2024-01-28 04:36', '1.302', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:36', '1.302', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 04:42
'2024-01-28 04:42', '1.302', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:42', '1.302', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 04:48
'2024-01-28 04:48', '1.295', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:48', '1.295', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 04:54
'2024-01-28 04:54', '1.305', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 04:54', '1.305', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 05:00
'2024-01-28 05:00', '1.295', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:00', '1.295', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 05:06
'2024-01-28 05:06', '1.295', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:06', '1.295', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 05:12
'2024-01-28 05:12', '1.298', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:12', '1.298', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 05:18
'2024-01-28 05:18', '1.311', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:18', '1.311', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 05:24
'2024-01-28 05:24', '1.298', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:24', '1.298', '0.046', '0', '0', '0', '0', 'v')

2024-01-28 05:30
'2024-01-28 05:30', '1.302', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:30', '1.302', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 05:36
'2024-01-28 05:36', '1.318', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:36', '1.318', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 05:42
'2024-01-28 05:42', '1.308', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:42', '1.308', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 05:48
'2024-01-28 05:48', '1.288', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:48', '1.288', '0.056', '0', '0', '0', '0', 'v')
2024-01-28 05:54
'2024-01-28 05:54', '1.305', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 05:54', '1.305', '0.052', '0', '0', '0', '0', 'v')
2024-01-28 06:00
'2024-01-28 06:00', '1.315', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:00', '1.315', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 06:06
'2024-01-28 06:06', '1.328', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:06', '1.328', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 06:12
'2024-01-28 06:12', '1.331', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:12', '1.331', '0.056', '0', '0', '0', '0', 'v')
2024-01-28 06:18
'2024-01-28 06:18', '1.348', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:18', '1.348', '0.052', '0', '0', '0', '0', 'v')
2024-01-28 06:24
'2024-01-28 06:24', '1.413', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:24', '1.413', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 06:30
'2024-01-28 06:30', '1.416', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:30', '1.416', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 06:36
'2024-01-28 06:36', '1.449', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:36', '1.449', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 06:42
'2024-01-28 06:42', '1.482', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:42', '1.482', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 06:48
'2024-01-28 06:48', '1.528', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:48', '1.528', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 06:54
'2024-01-28 06:54', '1.574', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 06:54', '1.574', '0.056', '0', '0', '0', '0', 'v')
2024-01-28 07:00
'2024-01-28 07:00', '1.617', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:00', '1.617', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 07:06
'2024-01-28 07:06', '1.689', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:06', '1.689', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 07:12
'2024-01-28 07:12', '1.777', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:12', '1.777', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 07:18
'2024-01-28 07:18', '1.833', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:18', '1.833', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 07:24
'2024-01-28 07:24', '1.879', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:24', '1.879', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 07:30
'2024-01-28 07:30', '1.938', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:30', '1.938', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 07:36
'2024-01-28 07:36', '2.010', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:36', '2.010', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 07:42
'2024-01-28 07:42', '2.040', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:42', '2.040', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 07:48
'2024-01-28 07:48', '2.096', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:48', '2.096', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 07:54
'2024-01-28 07:54', '2.164', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 07:54', '2.164', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 08:00
'2024-01-28 08:00', '2.227', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:00', '2.227', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 08:06
'2024-01-28 08:06', '2.276', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:06', '2.276', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 08:12
'2024-01-28 08:12', '2.338', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:12', '2.338', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 08:18
'2024-01-28 08:18', '2.414', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:18', '2.414', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 08:24
'2024-01-28 08:24', '2.463', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:24', '2.463', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 08:30
'2024-01-28 08:30', '2.512', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:30', '2.512', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 08:36
'2024-01-28 08:36', '2.568', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:36', '2.568', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 08:42
'2024-01-28 08:42', '2.630', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:42', '2.630', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 08:48
'2024-01-28 08:48', '2.693', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:48', '2.693', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 08:54
'2024-01-28 08:54', '2.729', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 08:54', '2.729', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 09:00
'2024-01-28 09:00', '2.778', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:00', '2.778', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 09:06
'2024-01-28 09:06', '2.817', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:06', '2.817', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 09:12
'2024-01-28 09:12', '2.824', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:12', '2.824', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 09:18
'2024-01-28 09:18', '2.834', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:18', '2.834', '0.030', '0', '0', '0', '0', 'v')
2024-01-28 09:24
'2024-01-28 09:24', '2.847', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:24', '2.847', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 09:30
'2024-01-28 09:30', '2.863', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:30', '2.863', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 09:36
'2024-01-28 09:36', '2.880', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:36', '2.880', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 09:42
'2024-01-28 09:42', '2.893', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:42', '2.893', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 09:48
'2024-01-28 09:48', '2.890', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:48', '2.890', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 09:54
'2024-01-28 09:54', '2.890', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 09:54', '2.890', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 10:00
'2024-01-28 10:00', '2.886', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:00', '2.886', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 10:06
'2024-01-28 10:06', '2.899', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:06', '2.899', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 10:12
'2024-01-28 10:12', '2.886', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:12', '2.886', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 10:18
'2024-01-28 10:18', '2.883', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:18', '2.883', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 10:24
'2024-01-28 10:24', '2.893', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:24', '2.893', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 10:30
'2024-01-28 10:30', '2.893', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:30', '2.893', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 10:36
'2024-01-28 10:36', '2.867', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:36', '2.867', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 10:42
'2024-01-28 10:42', '2.886', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:42', '2.886', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 10:48
'2024-01-28 10:48', '2.883', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:48', '2.883', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 10:54
'2024-01-28 10:54', '2.863', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 10:54', '2.863', '0.030', '0', '0', '0', '0', 'v')
2024-01-28 11:00
'2024-01-28 11:00', '2.844', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:00', '2.844', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 11:06
'2024-01-28 11:06', '2.840', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:06', '2.840', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 11:12
'2024-01-28 11:12', '2.824', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:12', '2.824', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 11:18
'2024-01-28 11:18', '2.808', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:18', '2.808', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 11:24
'2024-01-28 11:24', '2.771', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:24', '2.771', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 11:30
'2024-01-28 11:30', '2.788', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:30', '2.788', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 11:36
'2024-01-28 11:36', '2.703', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:36', '2.703', '0.052', '0', '0', '0', '0', 'v')
2024-01-28 11:42
'2024-01-28 11:42', '2.729', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:42', '2.729', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 11:48
'2024-01-28 11:48', '2.703', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:48', '2.703', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 11:54
'2024-01-28 11:54', '2.689', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 11:54', '2.689', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 12:00
'2024-01-28 12:00', '2.673', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:00', '2.673', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 12:06
'2024-01-28 12:06', '2.673', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:06', '2.673', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 12:12
'2024-01-28 12:12', '2.640', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:12', '2.640', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 12:18
'2024-01-28 12:18', '2.594', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:18', '2.594', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 12:24
'2024-01-28 12:24', '2.578', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:24', '2.578', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 12:30
'2024-01-28 12:30', '2.545', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:30', '2.545', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 12:36
'2024-01-28 12:36', '2.548', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:36', '2.548', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 12:42
'2024-01-28 12:42', '2.496', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:42', '2.496', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 12:48
'2024-01-28 12:48', '2.493', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:48', '2.493', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 12:54
'2024-01-28 12:54', '2.460', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 12:54', '2.460', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 13:00
'2024-01-28 13:00', '2.420', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:00', '2.420', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 13:06
'2024-01-28 13:06', '2.391', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:06', '2.391', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 13:12
'2024-01-28 13:12', '2.332', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:12', '2.332', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 13:18
'2024-01-28 13:18', '2.289', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:18', '2.289', '0.056', '0', '0', '0', '0', 'v')
2024-01-28 13:24
'2024-01-28 13:24', '2.214', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:24', '2.214', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 13:30
'2024-01-28 13:30', '2.155', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:30', '2.155', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 13:36
'2024-01-28 13:36', '2.119', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:36', '2.119', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 13:42
'2024-01-28 13:42', '2.082', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:42', '2.082', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 13:48
'2024-01-28 13:48', '2.017', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:48', '2.017', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 13:54
'2024-01-28 13:54', '1.984', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 13:54', '1.984', '0.052', '0', '0', '0', '0', 'v')
2024-01-28 14:00
'2024-01-28 14:00', '1.948', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:00', '1.948', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 14:06
'2024-01-28 14:06', '1.935', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:06', '1.935', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 14:12
'2024-01-28 14:12', '1.892', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:12', '1.892', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 14:18
'2024-01-28 14:18', '1.846', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:18', '1.846', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 14:24
'2024-01-28 14:24', '1.853', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:24', '1.853', '0.052', '0', '0', '0', '0', 'v')
2024-01-28 14:30
'2024-01-28 14:30', '1.807', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:30', '1.807', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 14:36
'2024-01-28 14:36', '1.774', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:36', '1.774', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 14:42
'2024-01-28 14:42', '1.735', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:42', '1.735', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 14:48
'2024-01-28 14:48', '1.708', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:48', '1.708', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 14:54
'2024-01-28 14:54', '1.682', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 14:54', '1.682', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 15:00
'2024-01-28 15:00', '1.653', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:00', '1.653', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 15:06
'2024-01-28 15:06', '1.623', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:06', '1.623', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 15:12
'2024-01-28 15:12', '1.607', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:12', '1.607', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 15:18
'2024-01-28 15:18', '1.584', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:18', '1.584', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 15:24
'2024-01-28 15:24', '1.574', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:24', '1.574', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 15:30
'2024-01-28 15:30', '1.554', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:30', '1.554', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 15:36
'2024-01-28 15:36', '1.525', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:36', '1.525', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 15:42
'2024-01-28 15:42', '1.512', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:42', '1.512', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 15:48
'2024-01-28 15:48', '1.502', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:48', '1.502', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 15:54
'2024-01-28 15:54', '1.502', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 15:54', '1.502', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 16:00
'2024-01-28 16:00', '1.489', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:00', '1.489', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 16:06
'2024-01-28 16:06', '1.482', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:06', '1.482', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 16:12
'2024-01-28 16:12', '1.492', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:12', '1.492', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 16:18
'2024-01-28 16:18', '1.495', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:18', '1.495', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 16:24
'2024-01-28 16:24', '1.502', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:24', '1.502', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 16:30
'2024-01-28 16:30', '1.505', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:30', '1.505', '0.030', '0', '0', '0', '0', 'v')
2024-01-28 16:36
'2024-01-28 16:36', '1.508', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:36', '1.508', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 16:42
'2024-01-28 16:42', '1.512', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:42', '1.512', '0.030', '0', '0', '0', '0', 'v')
2024-01-28 16:48
'2024-01-28 16:48', '1.525', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:48', '1.525', '0.033', '0', '0', '0', '0', 'v')
2024-01-28 16:54
'2024-01-28 16:54', '1.521', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 16:54', '1.521', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 17:00
'2024-01-28 17:00', '1.538', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 17:00', '1.538', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 17:06

2024-01-28 22:06
'2024-01-28 22:06', '3.162', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 22:06', '3.162', '0.036', '0', '0', '0', '0', 'v')
2024-01-28 22:12
'2024-01-28 22:12', '3.165', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 22:12', '3.165', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 22:18
'2024-01-28 22:18', '3.178', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 22:18', '3.178', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 22:24
'2024-01-28 22:24', '3.198', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 22:24', '3.198', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 22:30
'2024-01-28 22:30', '3.201', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 22:30', '3.201', '0.049', '0', '0', '0', '0', 'v')
2024-01-28 22:36
'2024-01-28 22:36', '3.198', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 22:36', '3.198', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 22:42
'2024-01-28 22:42', '3.195', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 22:42', '3.195', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 22:48
'2024-01-28 22:48', '3.191', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 22:48', '3.191', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 22:54
'2024-01-28 22:54', '3.188', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 22:54', '3.188', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 23:00
'2024-01-28 23:00', '3.188', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:00', '3.188', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 23:06
'2024-01-28 23:06', '3.182', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:06', '3.182', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 23:12
'2024-01-28 23:12', '3.172', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:12', '3.172', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 23:18
'2024-01-28 23:18', '3.172', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:18', '3.172', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 23:24
'2024-01-28 23:24', '3.139', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:24', '3.139', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 23:30
'2024-01-28 23:30', '3.136', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:30', '3.136', '0.043', '0', '0', '0', '0', 'v')
2024-01-28 23:36
'2024-01-28 23:36', '3.113', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:36', '3.113', '0.039', '0', '0', '0', '0', 'v')
2024-01-28 23:42
'2024-01-28 23:42', '3.093', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:42', '3.093', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 23:48
'2024-01-28 23:48', '3.057', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:48', '3.057', '0.046', '0', '0', '0', '0', 'v')
2024-01-28 23:54
'2024-01-28 23:54', '3.050', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-28 23:54', '3.050', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 00:00
'2024-01-29 00:00', '3.011', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:00', '3.011', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 00:06
'2024-01-29 00:06', '2.988', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:06', '2.988', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 00:12
'2024-01-29 00:12', '2.968', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:12', '2.968', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 00:18
'2024-01-29 00:18', '2.926', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:18', '2.926', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 00:24
'2024-01-29 00:24', '2.896', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:24', '2.896', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 00:30
'2024-01-29 00:30', '2.857', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:30', '2.857', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 00:36
'2024-01-29 00:36', '2.821', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:36', '2.821', '0.033', '0', '0', '0', '0', 'v')
2024-01-29 00:42
'2024-01-29 00:42', '2.785', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:42', '2.785', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 00:48
'2024-01-29 00:48', '2.748', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:48', '2.748', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 00:54
'2024-01-29 00:54', '2.706', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 00:54', '2.706', '0.036', '0', '0', '0', '0', 'v')
2024-01-29 01:00
'2024-01-29 01:00', '2.676', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:00', '2.676', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 01:06
'2024-01-29 01:06', '2.637', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:06', '2.637', '0.033', '0', '0', '0', '0', 'v')
2024-01-29 01:12
'2024-01-29 01:12', '2.601', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:12', '2.601', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 01:18
'2024-01-29 01:18', '2.555', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:18', '2.555', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 01:24
'2024-01-29 01:24', '2.529', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:24', '2.529', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 01:30
'2024-01-29 01:30', '2.496', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:30', '2.496', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 01:36
'2024-01-29 01:36', '2.453', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:36', '2.453', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 01:42
'2024-01-29 01:42', '2.414', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:42', '2.414', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 01:48
'2024-01-29 01:48', '2.381', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:48', '2.381', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 01:54
'2024-01-29 01:54', '2.355', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 01:54', '2.355', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 02:00
'2024-01-29 02:00', '2.322', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:00', '2.322', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 02:06
'2024-01-29 02:06', '2.302', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:06', '2.302', '0.033', '0', '0', '0', '0', 'v')
2024-01-29 02:12
'2024-01-29 02:12', '2.279', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:12', '2.279', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 02:18
'2024-01-29 02:18', '2.250', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:18', '2.250', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 02:24
'2024-01-29 02:24', '2.220', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:24', '2.220', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 02:30
'2024-01-29 02:30', '2.197', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:30', '2.197', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 02:36
'2024-01-29 02:36', '2.171', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:36', '2.171', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 02:42
'2024-01-29 02:42', '2.142', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:42', '2.142', '0.036', '0', '0', '0', '0', 'v')
2024-01-29 02:48
'2024-01-29 02:48', '2.115', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:48', '2.115', '0.030', '0', '0', '0', '0', 'v')
2024-01-29 02:54
'2024-01-29 02:54', '2.092', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 02:54', '2.092', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 03:00
'2024-01-29 03:00', '2.086', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:00', '2.086', '0.033', '0', '0', '0', '0', 'v')
2024-01-29 03:06
'2024-01-29 03:06', '2.066', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:06', '2.066', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 03:12
'2024-01-29 03:12', '2.043', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:12', '2.043', '0.036', '0', '0', '0', '0', 'v')
2024-01-29 03:18
'2024-01-29 03:18', '2.010', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:18', '2.010', '0.036', '0', '0', '0', '0', 'v')
2024-01-29 03:24
'2024-01-29 03:24', '2.007', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:24', '2.007', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 03:30
'2024-01-29 03:30', '1.981', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:30', '1.981', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 03:36
'2024-01-29 03:36', '1.974', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:36', '1.974', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 03:42
'2024-01-29 03:42', '1.958', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:42', '1.958', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 03:48
'2024-01-29 03:48', '1.928', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:48', '1.928', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 03:54
'2024-01-29 03:54', '1.915', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 03:54', '1.915', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 04:00
'2024-01-29 04:00', '1.902', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:00', '1.902', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 04:06
'2024-01-29 04:06', '1.872', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:06', '1.872', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 04:12
'2024-01-29 04:12', '1.853', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:12', '1.853', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 04:18
'2024-01-29 04:18', '1.827', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:18', '1.827', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 04:24
'2024-01-29 04:24', '1.820', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:24', '1.820', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 04:30
'2024-01-29 04:30', '1.804', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:30', '1.804', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 04:36
'2024-01-29 04:36', '1.807', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:36', '1.807', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 04:42
'2024-01-29 04:42', '1.777', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:42', '1.777', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 04:48
'2024-01-29 04:48', '1.774', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:48', '1.774', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 04:54
'2024-01-29 04:54', '1.767', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 04:54', '1.767', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 05:00
'2024-01-29 05:00', '1.751', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:00', '1.751', '0.033', '0', '0', '0', '0', 'v')
2024-01-29 05:06
'2024-01-29 05:06', '1.754', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:06', '1.754', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 05:12
'2024-01-29 05:12', '1.777', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:12', '1.777', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 05:18
'2024-01-29 05:18', '1.764', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:18', '1.764', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 05:24
'2024-01-29 05:24', '1.758', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:24', '1.758', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 05:30
'2024-01-29 05:30', '1.767', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:30', '1.767', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 05:36
'2024-01-29 05:36', '1.767', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:36', '1.767', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 05:42
'2024-01-29 05:42', '1.787', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:42', '1.787', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 05:48
'2024-01-29 05:48', '1.794', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:48', '1.794', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 05:54
'2024-01-29 05:54', '1.807', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 05:54', '1.807', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 06:00
'2024-01-29 06:00', '1.807', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:00', '1.807', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 06:06
'2024-01-29 06:06', '1.833', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:06', '1.833', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 06:12
'2024-01-29 06:12', '1.850', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:12', '1.850', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 06:18
'2024-01-29 06:18', '1.876', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:18', '1.876', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 06:24
'2024-01-29 06:24', '1.892', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:24', '1.892', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 06:30
'2024-01-29 06:30', '1.905', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:30', '1.905', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 06:36
'2024-01-29 06:36', '1.928', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:36', '1.928', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 06:42
'2024-01-29 06:42', '1.941', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:42', '1.941', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 06:48
'2024-01-29 06:48', '1.968', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:48', '1.968', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 06:54
'2024-01-29 06:54', '1.997', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 06:54', '1.997', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 07:00
'2024-01-29 07:00', '2.037', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:00', '2.037', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 07:06
'2024-01-29 07:06', '2.059', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:06', '2.059', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 07:12
'2024-01-29 07:12', '2.089', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:12', '2.089', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 07:18
'2024-01-29 07:18', '2.122', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:18', '2.122', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 07:24
'2024-01-29 07:24', '2.171', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:24', '2.171', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 07:30
'2024-01-29 07:30', '2.191', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:30', '2.191', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 07:36
'2024-01-29 07:36', '2.230', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:36', '2.230', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 07:42
'2024-01-29 07:42', '2.266', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:42', '2.266', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 07:48
'2024-01-29 07:48', '2.296', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:48', '2.296', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 07:54
'2024-01-29 07:54', '2.351', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 07:54', '2.351', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 08:00
'2024-01-29 08:00', '2.368', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:00', '2.368', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 08:06
'2024-01-29 08:06', '2.417', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:06', '2.417', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 08:12
'2024-01-29 08:12', '2.466', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:12', '2.466', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 08:18
'2024-01-29 08:18', '2.519', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:18', '2.519', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 08:24
'2024-01-29 08:24', '2.561', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:24', '2.561', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 08:30
'2024-01-29 08:30', '2.598', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:30', '2.598', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 08:36
'2024-01-29 08:36', '2.634', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:36', '2.634', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 08:42
'2024-01-29 08:42', '2.660', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:42', '2.660', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 08:48
'2024-01-29 08:48', '2.693', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:48', '2.693', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 08:54
'2024-01-29 08:54', '2.729', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 08:54', '2.729', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 09:00
'2024-01-29 09:00', '2.768', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 09:00', '2.768', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 09:06
'2024-01-29 09:06', '2.798', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 09:06', '2.798', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 09:12
'2024-01-29 09:12', '2.817', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 09:12', '2.817', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 09:18
'2024-01-29 09:18', '2.827', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 09:18', '2.827', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 09:24
'2024-01-29 09:24', '2.870', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 09:24', '2.870', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 09:30
'2024-01-29 09:30', '2.886', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 09:30', '2.886', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 09:36
'2024-01-29 09:36', '2.903', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 09:36', '2.903', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 09:42

2024-01-29 11:48
'2024-01-29 11:48', '2.857', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 11:48', '2.857', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 11:54
'2024-01-29 11:54', '2.837', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 11:54', '2.837', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 12:00
'2024-01-29 12:00', '2.814', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:00', '2.814', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 12:06
'2024-01-29 12:06', '2.775', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:06', '2.775', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 12:12
'2024-01-29 12:12', '2.765', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:12', '2.765', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 12:18
'2024-01-29 12:18', '2.745', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:18', '2.745', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 12:24
'2024-01-29 12:24', '2.703', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:24', '2.703', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 12:30
'2024-01-29 12:30', '2.680', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:30', '2.680', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 12:36
'2024-01-29 12:36', '2.660', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:36', '2.660', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 12:42
'2024-01-29 12:42', '2.621', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:42', '2.621', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 12:48
'2024-01-29 12:48', '2.588', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:48', '2.588', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 12:54
'2024-01-29 12:54', '2.548', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 12:54', '2.548', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 13:00
'2024-01-29 13:00', '2.522', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:00', '2.522', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 13:06
'2024-01-29 13:06', '2.516', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:06', '2.516', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 13:12
'2024-01-29 13:12', '2.479', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:12', '2.479', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 13:18
'2024-01-29 13:18', '2.463', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:18', '2.463', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 13:24
'2024-01-29 13:24', '2.443', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:24', '2.443', '0.043', '0', '0', '0', '0', 'v')
2024-01-29 13:30
'2024-01-29 13:30', '2.401', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:30', '2.401', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 13:36
'2024-01-29 13:36', '2.391', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:36', '2.391', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 13:42
'2024-01-29 13:42', '2.355', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:42', '2.355', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 13:48
'2024-01-29 13:48', '2.319', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:48', '2.319', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 13:54
'2024-01-29 13:54', '2.292', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 13:54', '2.292', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 14:00
'2024-01-29 14:00', '2.273', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:00', '2.273', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 14:06
'2024-01-29 14:06', '2.243', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:06', '2.243', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 14:12
'2024-01-29 14:12', '2.224', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:12', '2.224', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 14:18
'2024-01-29 14:18', '2.207', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:18', '2.207', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 14:24
'2024-01-29 14:24', '2.181', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:24', '2.181', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 14:30
'2024-01-29 14:30', '2.174', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:30', '2.174', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 14:36
'2024-01-29 14:36', '2.145', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:36', '2.145', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 14:42
'2024-01-29 14:42', '2.135', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:42', '2.135', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 14:48
'2024-01-29 14:48', '2.132', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:48', '2.132', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 14:54
'2024-01-29 14:54', '2.102', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 14:54', '2.102', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 15:00
'2024-01-29 15:00', '2.092', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:00', '2.092', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 15:06
'2024-01-29 15:06', '2.046', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:06', '2.046', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 15:12
'2024-01-29 15:12', '2.046', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:12', '2.046', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 15:18
'2024-01-29 15:18', '2.043', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:18', '2.043', '0.069', '0', '0', '0', '0', 'v')
2024-01-29 15:24
'2024-01-29 15:24', '2.020', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:24', '2.020', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 15:30
'2024-01-29 15:30', '1.997', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:30', '1.997', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 15:36
'2024-01-29 15:36', '1.968', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:36', '1.968', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 15:42
'2024-01-29 15:42', '1.938', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:42', '1.938', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 15:48
'2024-01-29 15:48', '1.918', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:48', '1.918', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 15:54
'2024-01-29 15:54', '1.882', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 15:54', '1.882', '0.069', '0', '0', '0', '0', 'v')
2024-01-29 16:00
'2024-01-29 16:00', '1.879', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:00', '1.879', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 16:06
'2024-01-29 16:06', '1.853', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:06', '1.853', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 16:12
'2024-01-29 16:12', '1.840', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:12', '1.840', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 16:18
'2024-01-29 16:18', '1.807', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:18', '1.807', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 16:24
'2024-01-29 16:24', '1.771', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:24', '1.771', '0.069', '0', '0', '0', '0', 'v')
2024-01-29 16:30
'2024-01-29 16:30', '1.781', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:30', '1.781', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 16:36
'2024-01-29 16:36', '1.754', '0.075', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:36', '1.754', '0.075', '0', '0', '0', '0', 'v')
2024-01-29 16:42
'2024-01-29 16:42', '1.725', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:42', '1.725', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 16:48
'2024-01-29 16:48', '1.712', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:48', '1.712', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 16:54
'2024-01-29 16:54', '1.712', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 16:54', '1.712', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 17:00
'2024-01-29 17:00', '1.695', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:00', '1.695', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 17:06
'2024-01-29 17:06', '1.676', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:06', '1.676', '0.069', '0', '0', '0', '0', 'v')
2024-01-29 17:12
'2024-01-29 17:12', '1.659', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:12', '1.659', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 17:18
'2024-01-29 17:18', '1.663', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:18', '1.663', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 17:24
'2024-01-29 17:24', '1.646', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:24', '1.646', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 17:30
'2024-01-29 17:30', '1.643', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:30', '1.643', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 17:36
'2024-01-29 17:36', '1.643', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:36', '1.643', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 17:42
'2024-01-29 17:42', '1.617', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:42', '1.617', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 17:48
'2024-01-29 17:48', '1.584', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:48', '1.584', '0.069', '0', '0', '0', '0', 'v')
2024-01-29 17:54
'2024-01-29 17:54', '1.584', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 17:54', '1.584', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 18:00
'2024-01-29 18:00', '1.580', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:00', '1.580', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 18:06
'2024-01-29 18:06', '1.564', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:06', '1.564', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 18:12
'2024-01-29 18:12', '1.567', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:12', '1.567', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 18:18
'2024-01-29 18:18', '1.558', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:18', '1.558', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 18:24
'2024-01-29 18:24', '1.587', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:24', '1.587', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 18:30
'2024-01-29 18:30', '1.587', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:30', '1.587', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 18:36
'2024-01-29 18:36', '1.590', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:36', '1.590', '0.069', '0', '0', '0', '0', 'v')
2024-01-29 18:42
'2024-01-29 18:42', '1.610', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:42', '1.610', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 18:48
'2024-01-29 18:48', '1.607', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:48', '1.607', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 18:54
'2024-01-29 18:54', '1.613', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 18:54', '1.613', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 19:00
'2024-01-29 19:00', '1.623', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:00', '1.623', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 19:06
'2024-01-29 19:06', '1.643', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:06', '1.643', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 19:12
'2024-01-29 19:12', '1.656', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:12', '1.656', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 19:18
'2024-01-29 19:18', '1.689', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:18', '1.689', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 19:24
'2024-01-29 19:24', '1.715', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:24', '1.715', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 19:30
'2024-01-29 19:30', '1.735', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:30', '1.735', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 19:36
'2024-01-29 19:36', '1.774', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:36', '1.774', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 19:42
'2024-01-29 19:42', '1.794', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:42', '1.794', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 19:48
'2024-01-29 19:48', '1.836', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:48', '1.836', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 19:54
'2024-01-29 19:54', '1.879', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 19:54', '1.879', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 20:00
'2024-01-29 20:00', '1.928', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:00', '1.928', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 20:06
'2024-01-29 20:06', '1.974', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:06', '1.974', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 20:12
'2024-01-29 20:12', '2.010', '0.069', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:12', '2.010', '0.069', '0', '0', '0', '0', 'v')
2024-01-29 20:18
'2024-01-29 20:18', '2.056', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:18', '2.056', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 20:24
'2024-01-29 20:24', '2.109', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:24', '2.109', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 20:30
'2024-01-29 20:30', '2.119', '0.066', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:30', '2.119', '0.066', '0', '0', '0', '0', 'v')
2024-01-29 20:36
'2024-01-29 20:36', '2.164', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:36', '2.164', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 20:42
'2024-01-29 20:42', '2.201', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:42', '2.201', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 20:48
'2024-01-29 20:48', '2.237', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:48', '2.237', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 20:54
'2024-01-29 20:54', '2.283', '0.062', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 20:54', '2.283', '0.062', '0', '0', '0', '0', 'v')
2024-01-29 21:00
'2024-01-29 21:00', '2.312', '0.072', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:00', '2.312', '0.072', '0', '0', '0', '0', 'v')
2024-01-29 21:06
'2024-01-29 21:06', '2.358', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:06', '2.358', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 21:12
'2024-01-29 21:12', '2.378', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:12', '2.378', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 21:18
'2024-01-29 21:18', '2.414', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:18', '2.414', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 21:24
'2024-01-29 21:24', '2.430', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:24', '2.430', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 21:30
'2024-01-29 21:30', '2.479', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:30', '2.479', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 21:36
'2024-01-29 21:36', '2.499', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:36', '2.499', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 21:42
'2024-01-29 21:42', '2.532', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:42', '2.532', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 21:48
'2024-01-29 21:48', '2.558', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:48', '2.558', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 21:54
'2024-01-29 21:54', '2.571', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 21:54', '2.571', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 22:00
'2024-01-29 22:00', '2.598', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:00', '2.598', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 22:06
'2024-01-29 22:06', '2.624', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:06', '2.624', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 22:12
'2024-01-29 22:12', '2.643', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:12', '2.643', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 22:18
'2024-01-29 22:18', '2.680', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:18', '2.680', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 22:24
'2024-01-29 22:24', '2.689', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:24', '2.689', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 22:30
'2024-01-29 22:30', '2.696', '0.059', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:30', '2.696', '0.059', '0', '0', '0', '0', 'v')
2024-01-29 22:36
'2024-01-29 22:36', '2.696', '0.056', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:36', '2.696', '0.056', '0', '0', '0', '0', 'v')
2024-01-29 22:42
'2024-01-29 22:42', '2.716', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:42', '2.716', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 22:48
'2024-01-29 22:48', '2.726', '0.052', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:48', '2.726', '0.052', '0', '0', '0', '0', 'v')
2024-01-29 22:54
'2024-01-29 22:54', '2.745', '0.049', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 22:54', '2.745', '0.049', '0', '0', '0', '0', 'v')
2024-01-29 23:00
'2024-01-29 23:00', '2.742', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 23:00', '2.742', '0.036', '0', '0', '0', '0', 'v')
2024-01-29 23:06
'2024-01-29 23:06', '2.735', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 23:06', '2.735', '0.039', '0', '0', '0', '0', 'v')
2024-01-29 23:12
'2024-01-29 23:12', '2.739', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 23:12', '2.739', '0.036', '0', '0', '0', '0', 'v')
2024-01-29 23:18
'2024-01-29 23:18', '2.732', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-29 23:18', '2.732', '0.046', '0', '0', '0', '0', 'v')
2024-01-29 23:24

2024-01-30 04:24
'2024-01-30 04:24', '1.745', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 04:24', '1.745', '0.043', '0', '0', '0', '0', 'v')
2024-01-30 04:30
'2024-01-30 04:30', '1.718', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 04:30', '1.718', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 04:36
'2024-01-30 04:36', '1.708', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 04:36', '1.708', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 04:42
'2024-01-30 04:42', '1.676', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 04:42', '1.676', '0.046', '0', '0', '0', '0', 'v')
2024-01-30 04:48
'2024-01-30 04:48', '1.669', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 04:48', '1.669', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 04:54
'2024-01-30 04:54', '1.646', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 04:54', '1.646', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 05:00
'2024-01-30 05:00', '1.630', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:00', '1.630', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 05:06
'2024-01-30 05:06', '1.620', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:06', '1.620', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 05:12
'2024-01-30 05:12', '1.613', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:12', '1.613', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 05:18
'2024-01-30 05:18', '1.587', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:18', '1.587', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 05:24
'2024-01-30 05:24', '1.594', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:24', '1.594', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 05:30
'2024-01-30 05:30', '1.571', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:30', '1.571', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 05:36
'2024-01-30 05:36', '1.564', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:36', '1.564', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 05:42
'2024-01-30 05:42', '1.561', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:42', '1.561', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 05:48
'2024-01-30 05:48', '1.541', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:48', '1.541', '0.043', '0', '0', '0', '0', 'v')
2024-01-30 05:54
'2024-01-30 05:54', '1.535', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 05:54', '1.535', '0.043', '0', '0', '0', '0', 'v')
2024-01-30 06:00
'2024-01-30 06:00', '1.521', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:00', '1.521', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 06:06
'2024-01-30 06:06', '1.508', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:06', '1.508', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 06:12
'2024-01-30 06:12', '1.515', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:12', '1.515', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 06:18
'2024-01-30 06:18', '1.521', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:18', '1.521', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 06:24
'2024-01-30 06:24', '1.512', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:24', '1.512', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 06:30
'2024-01-30 06:30', '1.515', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:30', '1.515', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 06:36
'2024-01-30 06:36', '1.531', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:36', '1.531', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 06:42
'2024-01-30 06:42', '1.531', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:42', '1.531', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 06:48
'2024-01-30 06:48', '1.525', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:48', '1.525', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 06:54
'2024-01-30 06:54', '1.551', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 06:54', '1.551', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 07:00
'2024-01-30 07:00', '1.571', '0.046', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:00', '1.571', '0.046', '0', '0', '0', '0', 'v')
2024-01-30 07:06
'2024-01-30 07:06', '1.587', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:06', '1.587', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 07:12
'2024-01-30 07:12', '1.603', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:12', '1.603', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 07:18
'2024-01-30 07:18', '1.620', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:18', '1.620', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 07:24
'2024-01-30 07:24', '1.640', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:24', '1.640', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 07:30
'2024-01-30 07:30', '1.666', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:30', '1.666', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 07:36
'2024-01-30 07:36', '1.702', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:36', '1.702', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 07:42
'2024-01-30 07:42', '1.728', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:42', '1.728', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 07:48
'2024-01-30 07:48', '1.754', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:48', '1.754', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 07:54
'2024-01-30 07:54', '1.787', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 07:54', '1.787', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 08:00
'2024-01-30 08:00', '1.830', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:00', '1.830', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 08:06
'2024-01-30 08:06', '1.856', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:06', '1.856', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 08:12
'2024-01-30 08:12', '1.889', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:12', '1.889', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 08:18
'2024-01-30 08:18', '1.922', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:18', '1.922', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 08:24
'2024-01-30 08:24', '1.971', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:24', '1.971', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 08:30
'2024-01-30 08:30', '2.010', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:30', '2.010', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 08:36
'2024-01-30 08:36', '2.059', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:36', '2.059', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 08:42
'2024-01-30 08:42', '2.102', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:42', '2.102', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 08:48
'2024-01-30 08:48', '2.145', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:48', '2.145', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 08:54
'2024-01-30 08:54', '2.197', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 08:54', '2.197', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 09:00
'2024-01-30 09:00', '2.243', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:00', '2.243', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 09:06
'2024-01-30 09:06', '2.289', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:06', '2.289', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 09:12
'2024-01-30 09:12', '2.322', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:12', '2.322', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 09:18
'2024-01-30 09:18', '2.351', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:18', '2.351', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 09:24
'2024-01-30 09:24', '2.388', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:24', '2.388', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 09:30
'2024-01-30 09:30', '2.424', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:30', '2.424', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 09:36
'2024-01-30 09:36', '2.460', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:36', '2.460', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 09:42
'2024-01-30 09:42', '2.493', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:42', '2.493', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 09:48
'2024-01-30 09:48', '2.548', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:48', '2.548', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 09:54
'2024-01-30 09:54', '2.571', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 09:54', '2.571', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 10:00
'2024-01-30 10:00', '2.598', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:00', '2.598', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 10:06
'2024-01-30 10:06', '2.621', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:06', '2.621', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 10:12
'2024-01-30 10:12', '2.650', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:12', '2.650', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 10:18
'2024-01-30 10:18', '2.689', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:18', '2.689', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 10:24
'2024-01-30 10:24', '2.722', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:24', '2.722', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 10:30
'2024-01-30 10:30', '2.755', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:30', '2.755', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 10:36
'2024-01-30 10:36', '2.765', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:36', '2.765', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 10:42
'2024-01-30 10:42', '2.775', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:42', '2.775', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 10:48
'2024-01-30 10:48', '2.781', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:48', '2.781', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 10:54
'2024-01-30 10:54', '2.801', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 10:54', '2.801', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 11:00
'2024-01-30 11:00', '2.817', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:00', '2.817', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 11:06
'2024-01-30 11:06', '2.824', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:06', '2.824', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 11:12
'2024-01-30 11:12', '2.830', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:12', '2.830', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 11:18
'2024-01-30 11:18', '2.840', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:18', '2.840', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 11:24
'2024-01-30 11:24', '2.844', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:24', '2.844', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 11:30
'2024-01-30 11:30', '2.857', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:30', '2.857', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 11:36
'2024-01-30 11:36', '2.860', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:36', '2.860', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 11:42
'2024-01-30 11:42', '2.870', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:42', '2.870', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 11:48
'2024-01-30 11:48', '2.857', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:48', '2.857', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 11:54
'2024-01-30 11:54', '2.867', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 11:54', '2.867', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 12:00
'2024-01-30 12:00', '2.857', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:00', '2.857', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 12:06
'2024-01-30 12:06', '2.857', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:06', '2.857', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 12:12
'2024-01-30 12:12', '2.834', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:12', '2.834', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 12:18
'2024-01-30 12:18', '2.827', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:18', '2.827', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 12:24
'2024-01-30 12:24', '2.811', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:24', '2.811', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 12:30
'2024-01-30 12:30', '2.794', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:30', '2.794', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 12:36
'2024-01-30 12:36', '2.781', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:36', '2.781', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 12:42
'2024-01-30 12:42', '2.765', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:42', '2.765', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 12:48
'2024-01-30 12:48', '2.742', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:48', '2.742', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 12:54
'2024-01-30 12:54', '2.719', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 12:54', '2.719', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 13:00
'2024-01-30 13:00', '2.703', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:00', '2.703', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 13:06
'2024-01-30 13:06', '2.673', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:06', '2.673', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 13:12
'2024-01-30 13:12', '2.643', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:12', '2.643', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 13:18
'2024-01-30 13:18', '2.627', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:18', '2.627', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 13:24
'2024-01-30 13:24', '2.594', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:24', '2.594', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 13:30
'2024-01-30 13:30', '2.571', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:30', '2.571', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 13:36
'2024-01-30 13:36', '2.532', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:36', '2.532', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 13:42
'2024-01-30 13:42', '2.499', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:42', '2.499', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 13:48
'2024-01-30 13:48', '2.463', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:48', '2.463', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 13:54
'2024-01-30 13:54', '2.440', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 13:54', '2.440', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 14:00
'2024-01-30 14:00', '2.397', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:00', '2.397', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 14:06
'2024-01-30 14:06', '2.368', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:06', '2.368', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 14:12
'2024-01-30 14:12', '2.325', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:12', '2.325', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 14:18
'2024-01-30 14:18', '2.299', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:18', '2.299', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 14:24
'2024-01-30 14:24', '2.256', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:24', '2.256', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 14:30
'2024-01-30 14:30', '2.227', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:30', '2.227', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 14:36
'2024-01-30 14:36', '2.204', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:36', '2.204', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 14:42
'2024-01-30 14:42', '2.174', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:42', '2.174', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 14:48
'2024-01-30 14:48', '2.142', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:48', '2.142', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 14:54
'2024-01-30 14:54', '2.119', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 14:54', '2.119', '0.043', '0', '0', '0', '0', 'v')
2024-01-30 15:00
'2024-01-30 15:00', '2.082', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:00', '2.082', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 15:06
'2024-01-30 15:06', '2.050', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:06', '2.050', '0.039', '0', '0', '0', '0', 'v')
2024-01-30 15:12
'2024-01-30 15:12', '2.030', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:12', '2.030', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 15:18
'2024-01-30 15:18', '1.987', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:18', '1.987', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 15:24
'2024-01-30 15:24', '1.964', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:24', '1.964', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 15:30
'2024-01-30 15:30', '1.938', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:30', '1.938', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 15:36
'2024-01-30 15:36', '1.905', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:36', '1.905', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 15:42
'2024-01-30 15:42', '1.892', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:42', '1.892', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 15:48
'2024-01-30 15:48', '1.872', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:48', '1.872', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 15:54
'2024-01-30 15:54', '1.850', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 15:54', '1.850', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 16:00

2024-01-30 16:48
'2024-01-30 16:48', '1.738', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 16:48', '1.738', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 16:54
'2024-01-30 16:54', '1.728', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 16:54', '1.728', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 17:00
'2024-01-30 17:00', '1.702', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:00', '1.702', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 17:06
'2024-01-30 17:06', '1.685', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:06', '1.685', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 17:12
'2024-01-30 17:12', '1.682', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:12', '1.682', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 17:18
'2024-01-30 17:18', '1.676', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:18', '1.676', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 17:24
'2024-01-30 17:24', '1.672', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:24', '1.672', '0.010', '0', '0', '0', '0', 'v')
2024-01-30 17:30
'2024-01-30 17:30', '1.663', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:30', '1.663', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 17:36
'2024-01-30 17:36', '1.646', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:36', '1.646', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 17:42
'2024-01-30 17:42', '1.633', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:42', '1.633', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 17:48
'2024-01-30 17:48', '1.620', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:48', '1.620', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 17:54
'2024-01-30 17:54', '1.613', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 17:54', '1.613', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 18:00
'2024-01-30 18:00', '1.613', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:00', '1.613', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 18:06
'2024-01-30 18:06', '1.626', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:06', '1.626', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 18:12
'2024-01-30 18:12', '1.620', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:12', '1.620', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 18:18
'2024-01-30 18:18', '1.623', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:18', '1.623', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 18:24
'2024-01-30 18:24', '1.633', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:24', '1.633', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 18:30
'2024-01-30 18:30', '1.646', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:30', '1.646', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 18:36
'2024-01-30 18:36', '1.663', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:36', '1.663', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 18:42
'2024-01-30 18:42', '1.682', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:42', '1.682', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 18:48
'2024-01-30 18:48', '1.699', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:48', '1.699', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 18:54
'2024-01-30 18:54', '1.715', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 18:54', '1.715', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 19:00
'2024-01-30 19:00', '1.731', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:00', '1.731', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 19:06
'2024-01-30 19:06', '1.745', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:06', '1.745', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 19:12
'2024-01-30 19:12', '1.764', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:12', '1.764', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 19:18
'2024-01-30 19:18', '1.787', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:18', '1.787', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 19:24
'2024-01-30 19:24', '1.827', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:24', '1.827', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 19:30
'2024-01-30 19:30', '1.850', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:30', '1.850', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 19:36
'2024-01-30 19:36', '1.899', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:36', '1.899', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 19:42
'2024-01-30 19:42', '1.935', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:42', '1.935', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 19:48
'2024-01-30 19:48', '1.958', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:48', '1.958', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 19:54
'2024-01-30 19:54', '1.981', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 19:54', '1.981', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 20:00
'2024-01-30 20:00', '2.010', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:00', '2.010', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 20:06
'2024-01-30 20:06', '2.040', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:06', '2.040', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 20:12
'2024-01-30 20:12', '2.092', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:12', '2.092', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 20:18
'2024-01-30 20:18', '2.125', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:18', '2.125', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 20:24
'2024-01-30 20:24', '2.168', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:24', '2.168', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 20:30
'2024-01-30 20:30', '2.207', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:30', '2.207', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 20:36
'2024-01-30 20:36', '2.246', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:36', '2.246', '0.036', '0', '0', '0', '0', 'v')
2024-01-30 20:42
'2024-01-30 20:42', '2.289', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:42', '2.289', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 20:48
'2024-01-30 20:48', '2.329', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:48', '2.329', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 20:54
'2024-01-30 20:54', '2.371', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 20:54', '2.371', '0.033', '0', '0', '0', '0', 'v')
2024-01-30 21:00
'2024-01-30 21:00', '2.420', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:00', '2.420', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 21:06
'2024-01-30 21:06', '2.476', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:06', '2.476', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 21:12
'2024-01-30 21:12', '2.516', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:12', '2.516', '0.023', '0', '0', '0', '0', 'v')
2024-01-30 21:18
'2024-01-30 21:18', '2.545', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:18', '2.545', '0.030', '0', '0', '0', '0', 'v')
2024-01-30 21:24
'2024-01-30 21:24', '2.601', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:24', '2.601', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 21:30
'2024-01-30 21:30', '2.637', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:30', '2.637', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 21:36
'2024-01-30 21:36', '2.689', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:36', '2.689', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 21:42
'2024-01-30 21:42', '2.722', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:42', '2.722', '0.026', '0', '0', '0', '0', 'v')
2024-01-30 21:48
'2024-01-30 21:48', '2.758', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:48', '2.758', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 21:54
'2024-01-30 21:54', '2.804', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 21:54', '2.804', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 22:00
'2024-01-30 22:00', '2.844', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:00', '2.844', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 22:06
'2024-01-30 22:06', '2.876', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:06', '2.876', '0.020', '0', '0', '0', '0', 'v')
2024-01-30 22:12
'2024-01-30 22:12', '2.922', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:12', '2.922', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 22:18
'2024-01-30 22:18', '2.955', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:18', '2.955', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 22:24
'2024-01-30 22:24', '2.985', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:24', '2.985', '0.016', '0', '0', '0', '0', 'v')
2024-01-30 22:30
'2024-01-30 22:30', '3.014', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:30', '3.014', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 22:36
'2024-01-30 22:36', '3.040', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:36', '3.040', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 22:42
'2024-01-30 22:42', '3.083', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:42', '3.083', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 22:48
'2024-01-30 22:48', '3.113', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:48', '3.113', '0.007', '0', '0', '0', '0', 'v')
2024-01-30 22:54
'2024-01-30 22:54', '3.136', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 22:54', '3.136', '0.007', '0', '0', '0', '0', 'v')
2024-01-30 23:00
'2024-01-30 23:00', '3.155', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:00', '3.155', '0.003', '0', '0', '0', '0', 'v')
2024-01-30 23:06
'2024-01-30 23:06', '3.162', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:06', '3.162', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 23:12
'2024-01-30 23:12', '3.185', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:12', '3.185', '0.013', '0', '0', '0', '0', 'v')
2024-01-30 23:18
'2024-01-30 23:18', '3.208', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:18', '3.208', '0.007', '0', '0', '0', '0', 'v')
2024-01-30 23:24
'2024-01-30 23:24', '3.221', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:24', '3.221', '0.003', '0', '0', '0', '0', 'v')
2024-01-30 23:30
'2024-01-30 23:30', '3.227', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:30', '3.227', '0.000', '0', '0', '0', '0', 'v')
2024-01-30 23:36
'2024-01-30 23:36', '3.237', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:36', '3.237', '0.003', '0', '0', '0', '0', 'v')
2024-01-30 23:42
'2024-01-30 23:42', '3.241', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:42', '3.241', '0.000', '0', '0', '0', '0', 'v')
2024-01-30 23:48
'2024-01-30 23:48', '3.244', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:48', '3.244', '0.000', '0', '0', '0', '0', 'v')
2024-01-30 23:54
'2024-01-30 23:54', '3.244', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-30 23:54', '3.244', '0.000', '0', '0', '0', '0', 'v')
2024-01-31 00:00
'2024-01-31 00:00', '3.244', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:00', '3.244', '0.000', '0', '0', '0', '0', 'v')
2024-01-31 00:06
'2024-01-31 00:06', '3.241', '0.000', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:06', '3.241', '0.000', '0', '0', '0', '0', 'v')
2024-01-31 00:12
'2024-01-31 00:12', '3.237', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:12', '3.237', '0.003', '0', '0', '0', '0', 'v')
2024-01-31 00:18
'2024-01-31 00:18', '3.231', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:18', '3.231', '0.003', '0', '0', '0', '0', 'v')
2024-01-31 00:24
'2024-01-31 00:24', '3.224', '0.003', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:24', '3.224', '0.003', '0', '0', '0', '0', 'v')
2024-01-31 00:30
'2024-01-31 00:30', '3.198', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:30', '3.198', '0.013', '0', '0', '0', '0', 'v')
2024-01-31 00:36
'2024-01-31 00:36', '3.182', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:36', '3.182', '0.010', '0', '0', '0', '0', 'v')
2024-01-31 00:42
'2024-01-31 00:42', '3.168', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:42', '3.168', '0.010', '0', '0', '0', '0', 'v')
2024-01-31 00:48
'2024-01-31 00:48', '3.159', '0.010', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:48', '3.159', '0.010', '0', '0', '0', '0', 'v')
2024-01-31 00:54
'2024-01-31 00:54', '3.145', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 00:54', '3.145', '0.007', '0', '0', '0', '0', 'v')
2024-01-31 01:00
'2024-01-31 01:00', '3.126', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:00', '3.126', '0.007', '0', '0', '0', '0', 'v')
2024-01-31 01:06
'2024-01-31 01:06', '3.100', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:06', '3.100', '0.007', '0', '0', '0', '0', 'v')
2024-01-31 01:12
'2024-01-31 01:12', '3.073', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:12', '3.073', '0.007', '0', '0', '0', '0', 'v')
2024-01-31 01:18
'2024-01-31 01:18', '3.044', '0.007', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:18', '3.044', '0.007', '0', '0', '0', '0', 'v')
2024-01-31 01:24
'2024-01-31 01:24', '3.008', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:24', '3.008', '0.020', '0', '0', '0', '0', 'v')
2024-01-31 01:30
'2024-01-31 01:30', '2.968', '0.013', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:30', '2.968', '0.013', '0', '0', '0', '0', 'v')
2024-01-31 01:36
'2024-01-31 01:36', '2.939', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:36', '2.939', '0.016', '0', '0', '0', '0', 'v')
2024-01-31 01:42
'2024-01-31 01:42', '2.899', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:42', '2.899', '0.023', '0', '0', '0', '0', 'v')
2024-01-31 01:48
'2024-01-31 01:48', '2.857', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:48', '2.857', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 01:54
'2024-01-31 01:54', '2.827', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 01:54', '2.827', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 02:00
'2024-01-31 02:00', '2.794', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:00', '2.794', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 02:06
'2024-01-31 02:06', '2.755', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:06', '2.755', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 02:12
'2024-01-31 02:12', '2.726', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:12', '2.726', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 02:18
'2024-01-31 02:18', '2.693', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:18', '2.693', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 02:24
'2024-01-31 02:24', '2.647', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:24', '2.647', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 02:30
'2024-01-31 02:30', '2.624', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:30', '2.624', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 02:36
'2024-01-31 02:36', '2.598', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:36', '2.598', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 02:42
'2024-01-31 02:42', '2.555', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:42', '2.555', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 02:48
'2024-01-31 02:48', '2.525', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:48', '2.525', '0.023', '0', '0', '0', '0', 'v')
2024-01-31 02:54
'2024-01-31 02:54', '2.499', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 02:54', '2.499', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 03:00
'2024-01-31 03:00', '2.476', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:00', '2.476', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 03:06
'2024-01-31 03:06', '2.450', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:06', '2.450', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 03:12
'2024-01-31 03:12', '2.411', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:12', '2.411', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 03:18
'2024-01-31 03:18', '2.378', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:18', '2.378', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 03:24
'2024-01-31 03:24', '2.348', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:24', '2.348', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 03:30
'2024-01-31 03:30', '2.309', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:30', '2.309', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 03:36
'2024-01-31 03:36', '2.289', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:36', '2.289', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 03:42
'2024-01-31 03:42', '2.243', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:42', '2.243', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 03:48
'2024-01-31 03:48', '2.224', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:48', '2.224', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 03:54
'2024-01-31 03:54', '2.194', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 03:54', '2.194', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 04:00
'2024-01-31 04:00', '2.168', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 04:00', '2.168', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 04:06
'2024-01-31 04:06', '2.148', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 04:06', '2.148', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 04:12
'2024-01-31 04:12', '2.112', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 04:12', '2.112', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 04:18
'2024-01-31 04:18', '2.096', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 04:18', '2.096', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 04:24

INSERT INTO noaa_data VALUES ('2024-01-31 06:12', '1.889', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 06:18
'2024-01-31 06:18', '1.892', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 06:18', '1.892', '0.043', '0', '0', '0', '0', 'v')
2024-01-31 06:24
'2024-01-31 06:24', '1.895', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 06:24', '1.895', '0.043', '0', '0', '0', '0', 'v')
2024-01-31 06:30
'2024-01-31 06:30', '1.902', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 06:30', '1.902', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 06:36
'2024-01-31 06:36', '1.909', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 06:36', '1.909', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 06:42
'2024-01-31 06:42', '1.918', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 06:42', '1.918', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 06:48
'2024-01-31 06:48', '1.932', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 06:48', '1.932', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 06:54
'2024-01-31 06:54', '1.951', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 06:54', '1.951', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 07:00
'2024-01-31 07:00', '1.955', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:00', '1.955', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 07:06
'2024-01-31 07:06', '1.961', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:06', '1.961', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 07:12
'2024-01-31 07:12', '1.974', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:12', '1.974', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 07:18
'2024-01-31 07:18', '2.000', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:18', '2.000', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 07:24
'2024-01-31 07:24', '2.017', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:24', '2.017', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 07:30
'2024-01-31 07:30', '2.050', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:30', '2.050', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 07:36
'2024-01-31 07:36', '2.059', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:36', '2.059', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 07:42
'2024-01-31 07:42', '2.092', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:42', '2.092', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 07:48
'2024-01-31 07:48', '2.115', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:48', '2.115', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 07:54
'2024-01-31 07:54', '2.135', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 07:54', '2.135', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 08:00
'2024-01-31 08:00', '2.171', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:00', '2.171', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 08:06
'2024-01-31 08:06', '2.191', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:06', '2.191', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 08:12
'2024-01-31 08:12', '2.227', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:12', '2.227', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 08:18
'2024-01-31 08:18', '2.263', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:18', '2.263', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 08:24
'2024-01-31 08:24', '2.312', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:24', '2.312', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 08:30
'2024-01-31 08:30', '2.345', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:30', '2.345', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 08:36
'2024-01-31 08:36', '2.381', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:36', '2.381', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 08:42
'2024-01-31 08:42', '2.434', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:42', '2.434', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 08:48
'2024-01-31 08:48', '2.470', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:48', '2.470', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 08:54
'2024-01-31 08:54', '2.509', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 08:54', '2.509', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 09:00
'2024-01-31 09:00', '2.548', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:00', '2.548', '0.023', '0', '0', '0', '0', 'v')
2024-01-31 09:06
'2024-01-31 09:06', '2.591', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:06', '2.591', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 09:12
'2024-01-31 09:12', '2.637', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:12', '2.637', '0.023', '0', '0', '0', '0', 'v')
2024-01-31 09:18
'2024-01-31 09:18', '2.676', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:18', '2.676', '0.023', '0', '0', '0', '0', 'v')
2024-01-31 09:24
'2024-01-31 09:24', '2.716', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:24', '2.716', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 09:30
'2024-01-31 09:30', '2.755', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:30', '2.755', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 09:36
'2024-01-31 09:36', '2.798', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:36', '2.798', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 09:42
'2024-01-31 09:42', '2.821', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:42', '2.821', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 09:48
'2024-01-31 09:48', '2.870', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:48', '2.870', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 09:54
'2024-01-31 09:54', '2.906', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 09:54', '2.906', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 10:00
'2024-01-31 10:00', '2.942', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:00', '2.942', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 10:06
'2024-01-31 10:06', '2.981', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:06', '2.981', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 10:12
'2024-01-31 10:12', '3.011', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:12', '3.011', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 10:18
'2024-01-31 10:18', '3.037', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:18', '3.037', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 10:24
'2024-01-31 10:24', '3.063', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:24', '3.063', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 10:30
'2024-01-31 10:30', '3.100', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:30', '3.100', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 10:36
'2024-01-31 10:36', '3.129', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:36', '3.129', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 10:42
'2024-01-31 10:42', '3.162', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:42', '3.162', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 10:48
'2024-01-31 10:48', '3.191', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:48', '3.191', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 10:54
'2024-01-31 10:54', '3.214', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 10:54', '3.214', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 11:00
'2024-01-31 11:00', '3.227', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:00', '3.227', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 11:06
'2024-01-31 11:06', '3.257', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:06', '3.257', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 11:12
'2024-01-31 11:12', '3.270', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:12', '3.270', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 11:18
'2024-01-31 11:18', '3.296', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:18', '3.296', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 11:24
'2024-01-31 11:24', '3.303', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:24', '3.303', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 11:30
'2024-01-31 11:30', '3.323', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:30', '3.323', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 11:36
'2024-01-31 11:36', '3.336', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:36', '3.336', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 11:42
'2024-01-31 11:42', '3.346', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:42', '3.346', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 11:48
'2024-01-31 11:48', '3.352', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:48', '3.352', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 11:54
'2024-01-31 11:54', '3.369', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 11:54', '3.369', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 12:00
'2024-01-31 12:00', '3.362', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:00', '3.362', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 12:06
'2024-01-31 12:06', '3.355', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:06', '3.355', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 12:12
'2024-01-31 12:12', '3.359', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:12', '3.359', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 12:18
'2024-01-31 12:18', '3.362', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:18', '3.362', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 12:24
'2024-01-31 12:24', '3.362', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:24', '3.362', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 12:30
'2024-01-31 12:30', '3.355', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:30', '3.355', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 12:36
'2024-01-31 12:36', '3.359', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:36', '3.359', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 12:42
'2024-01-31 12:42', '3.346', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:42', '3.346', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 12:48
'2024-01-31 12:48', '3.346', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:48', '3.346', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 12:54
'2024-01-31 12:54', '3.352', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 12:54', '3.352', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 13:00
'2024-01-31 13:00', '3.332', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:00', '3.332', '0.043', '0', '0', '0', '0', 'v')
2024-01-31 13:06
'2024-01-31 13:06', '3.332', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:06', '3.332', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 13:12
'2024-01-31 13:12', '3.309', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:12', '3.309', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 13:18
'2024-01-31 13:18', '3.290', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:18', '3.290', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 13:24
'2024-01-31 13:24', '3.277', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:24', '3.277', '0.043', '0', '0', '0', '0', 'v')
2024-01-31 13:30
'2024-01-31 13:30', '3.250', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:30', '3.250', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 13:36
'2024-01-31 13:36', '3.237', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:36', '3.237', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 13:42
'2024-01-31 13:42', '3.221', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:42', '3.221', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 13:48
'2024-01-31 13:48', '3.191', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:48', '3.191', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 13:54
'2024-01-31 13:54', '3.159', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 13:54', '3.159', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 14:00
'2024-01-31 14:00', '3.152', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:00', '3.152', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 14:06
'2024-01-31 14:06', '3.113', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:06', '3.113', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 14:12
'2024-01-31 14:12', '3.103', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:12', '3.103', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 14:18
'2024-01-31 14:18', '3.060', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:18', '3.060', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 14:24
'2024-01-31 14:24', '3.040', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:24', '3.040', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 14:30
'2024-01-31 14:30', '2.998', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:30', '2.998', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 14:36
'2024-01-31 14:36', '2.965', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:36', '2.965', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 14:42
'2024-01-31 14:42', '2.939', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:42', '2.939', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 14:48
'2024-01-31 14:48', '2.909', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:48', '2.909', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 14:54
'2024-01-31 14:54', '2.876', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 14:54', '2.876', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 15:00
'2024-01-31 15:00', '2.840', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:00', '2.840', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 15:06
'2024-01-31 15:06', '2.814', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:06', '2.814', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 15:12
'2024-01-31 15:12', '2.765', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:12', '2.765', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 15:18
'2024-01-31 15:18', '2.739', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:18', '2.739', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 15:24
'2024-01-31 15:24', '2.706', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:24', '2.706', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 15:30
'2024-01-31 15:30', '2.686', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:30', '2.686', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 15:36
'2024-01-31 15:36', '2.650', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:36', '2.650', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 15:42
'2024-01-31 15:42', '2.634', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:42', '2.634', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 15:48
'2024-01-31 15:48', '2.604', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:48', '2.604', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 15:54
'2024-01-31 15:54', '2.584', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 15:54', '2.584', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 16:00
'2024-01-31 16:00', '2.561', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:00', '2.561', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 16:06
'2024-01-31 16:06', '2.532', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:06', '2.532', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 16:12
'2024-01-31 16:12', '2.512', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:12', '2.512', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 16:18
'2024-01-31 16:18', '2.506', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:18', '2.506', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 16:24
'2024-01-31 16:24', '2.483', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:24', '2.483', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 16:30
'2024-01-31 16:30', '2.460', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:30', '2.460', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 16:36
'2024-01-31 16:36', '2.440', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:36', '2.440', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 16:42
'2024-01-31 16:42', '2.420', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:42', '2.420', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 16:48
'2024-01-31 16:48', '2.404', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:48', '2.404', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 16:54
'2024-01-31 16:54', '2.384', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 16:54', '2.384', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 17:00
'2024-01-31 17:00', '2.365', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 17:00', '2.365', '0.023', '0', '0', '0', '0', 'v')
2024-01-31 17:06
'2024-01-31 17:06', '2.358', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 17:06', '2.358', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 17:12
'2024-01-31 17:12', '2.351', '0.026', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 17:12', '2.351', '0.026', '0', '0', '0', '0', 'v')
2024-01-31 17:18
'2024-01-31 17:18', '2.335', '0.023', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 17:18', '2.335', '0.023', '0', '0', '0', '0', 'v')
2024-01-31 17:24
'2024-01-31 17:24', '2.315', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 17:24', '2.315', '0.016', '0', '0', '0', '0', 'v')
2024-01-31 17:30
'2024-01-31 17:30', '2.306', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 17:30', '2.306', '0.020', '0', '0', '0', '0', 'v')
2024-01-31 17:36
'2024-01-31 17:36', '2.289', '0.020', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 17:36', '2.289', '0.020', '0', '0', '0', '0', 'v')
2024-01-31 17:42
'2024-01-31 17:42', '2.276', '0.016', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 17:42', '2.276', '0.016', '0', '0', '0', '0', 'v')
2024-01-31 17:48
'2024-01-31 17:48', '2.276', '0.016', '0', '0', '0', '0', 'v'

2024-01-31 22:24
'2024-01-31 22:24', '2.942', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 22:24', '2.942', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 22:30
'2024-01-31 22:30', '2.962', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 22:30', '2.962', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 22:36
'2024-01-31 22:36', '2.991', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 22:36', '2.991', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 22:42
'2024-01-31 22:42', '3.017', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 22:42', '3.017', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 22:48
'2024-01-31 22:48', '3.034', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 22:48', '3.034', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 22:54
'2024-01-31 22:54', '3.063', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 22:54', '3.063', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 23:00
'2024-01-31 23:00', '3.083', '0.039', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:00', '3.083', '0.039', '0', '0', '0', '0', 'v')
2024-01-31 23:06
'2024-01-31 23:06', '3.093', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:06', '3.093', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 23:12
'2024-01-31 23:12', '3.119', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:12', '3.119', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 23:18
'2024-01-31 23:18', '3.126', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:18', '3.126', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 23:24
'2024-01-31 23:24', '3.149', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:24', '3.149', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 23:30
'2024-01-31 23:30', '3.162', '0.043', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:30', '3.162', '0.043', '0', '0', '0', '0', 'v')
2024-01-31 23:36
'2024-01-31 23:36', '3.165', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:36', '3.165', '0.036', '0', '0', '0', '0', 'v')
2024-01-31 23:42
'2024-01-31 23:42', '3.172', '0.030', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:42', '3.172', '0.030', '0', '0', '0', '0', 'v')
2024-01-31 23:48
'2024-01-31 23:48', '3.178', '0.033', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:48', '3.178', '0.033', '0', '0', '0', '0', 'v')
2024-01-31 23:54
'2024-01-31 23:54', '3.201', '0.036', '0', '0', '0', '0', 'v'
INSERT INTO noaa_data VALUES ('2024-01-31 23:54', '3.201', '0.036', '0', '0', '0', '0', 'v')

In [53]:
print(line)
print(line[0])
placeholders = ', '.join([val for val in line])
print(placeholders)

['2024-01-31 23:54', '3.201', '0.036', '0', '0', '0', '0', 'v']
2024-01-31 23:54
2024-01-31 23:54, 3.201, 0.036, 0, 0, 0, 0, v

In [57]:
data = reader
"""Inserts data into the SQLite table."""
placeholders = ', '.join([val for val in reader])
query = f'INSERT INTO {table_name} VALUES ({placeholders})'
print(query)
conn.executemany(query, data)

INSERT INTO noaa_data VALUES ()

OperationalError: near ")": syntax error

In [40]:

def create_table(conn, table_name, columns):
    """Creates a table in the SQLite database."""
    column_defs = ', '.join([f'{col.strip().replace(" ","_").replace("(","").replace(")","")} TEXT' for col in columns])
    print(column_defs)
    conn.execute(f'CREATE TABLE IF NOT EXISTS {table_name} ({column_defs})')

def insert_data(conn, table_name, data):
    """Inserts data into the SQLite table."""
    placeholders = ', '.join(['?' for _ in data[0]])
    query = f'INSERT INTO {table_name} VALUES ({placeholders})'
    conn.executemany(query, data)

def csv_string_to_table(conn, csv_string, table_name):
    """Converts a CSV string to a SQLite table."""
    reader = csv.reader(csv_string.splitlines())
    columns = next(reader) 
    create_table(conn, table_name, columns)
    insert_data(conn, table_name, reader)

# Example usage
csv_data = """
Name,Age,City
Alice,25,New York
Bob,30,London
"""
#csv_data = response.text

csv_string_to_table(conn, csv_data, 'sample_data')
conn.commit()

OperationalError: near ")": syntax error

In [70]:
# Convert the CSV data into a DataFrame
# df = pd.read_csv(response.text)
 # gives an error too long for windows

In [109]:
scur = conn.cursor()
scur.execute(f'''select date(Date_Time), * 
from {table_name}
limit 10''')

In [110]:
for row in scur.fetchall():
    print(row)

('2024-01-01', '2024-01-01 00:06', '2.043', '0.007', '0', '0', '0', '0', 'v')
('2024-01-01', '2024-01-01 00:12', '2.043', '0.007', '0', '0', '0', '0', 'v')
('2024-01-01', '2024-01-01 00:18', '2.046', '0.007', '0', '0', '0', '0', 'v')
('2024-01-01', '2024-01-01 00:24', '2.017', '0.016', '0', '0', '0', '0', 'v')
('2024-01-01', '2024-01-01 00:30', '2.010', '0.016', '0', '0', '0', '0', 'v')
('2024-01-01', '2024-01-01 00:36', '2.010', '0.013', '0', '0', '0', '0', 'v')
('2024-01-01', '2024-01-01 00:42', '2.014', '0.010', '0', '0', '0', '0', 'v')
('2024-01-01', '2024-01-01 00:48', '2.000', '0.013', '0', '0', '0', '0', 'v')
('2024-01-01', '2024-01-01 00:54', '1.991', '0.016', '0', '0', '0', '0', 'v')
('2024-01-01', '2024-01-01 01:00', '1.977', '0.016', '0', '0', '0', '0', 'v')

In [97]:
for col in scur.description:
    print(col[0])

Date_Time
Water_Level
Sigma
O_or_I_for_verified
F
R
L
Quality

In [122]:
for mth in range(1,13):
    print(mth)
for year in range(2021,2014,-1):
    print(year)

1
2
3
4
5
6
7
8
9
10
11
12
2021
2020
2019
2018
2017
2016
2015

In [151]:
### GET YEARS WORTH OF DATA
station = '8571892'
for year in range(2000,1996,-1):
    print(year)
    for month in range(12,0,-1):
        print(month,url(year,month,station))
        response = requests.get(url(year,month,station))

        reader = csv.reader(response.text.splitlines())
        columns = next(reader)

        # create table with columns, already done

        for line in reader:
            placeholders = ", ".join([f"'{val}'" for val in line])
            query = f'INSERT INTO {table_name} VALUES ({placeholders})'
            conn.execute(query)
    conn.commit()

2000
12 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20001201&end_date=20001231&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
11 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20001101&end_date=20001130&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
10 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20001001&end_date=20001031&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
9 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000901&end_date=20000930&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
8 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000801&end_date=20000831&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
7 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000701&end_date=20000731&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
6 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000601&end_date=20000630&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
5 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000501&end_date=20000531&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
4 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000401&end_date=20000430&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
3 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000301&end_date=20000331&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
2 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000201&end_date=20000228&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
1 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=20000101&end_date=20000131&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
1999
12 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19991201&end_date=19991231&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
11 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19991101&end_date=19991130&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
10 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19991001&end_date=19991031&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
9 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19990901&end_date=19990930&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
8 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19990801&end_date=19990831&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
7 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19990701&end_date=19990731&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
6 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19990601&end_date=19990630&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
5 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19990501&end_date=19990531&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
4 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19990401&end_date=19990430&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
3 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19990301&end_date=19990331&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
2 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19990201&end_date=19990228&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
1 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19990101&end_date=19990131&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
1998
12 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19981201&end_date=19981231&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
11 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19981101&end_date=19981130&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
10 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19981001&end_date=19981031&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
9 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19980901&end_date=19980930&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
8 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19980801&end_date=19980831&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
7 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19980701&end_date=19980731&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
6 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19980601&end_date=19980630&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
5 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19980501&end_date=19980531&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
4 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19980401&end_date=19980430&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
3 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19980301&end_date=19980331&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
2 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19980201&end_date=19980228&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
1 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19980101&end_date=19980131&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
1997
12 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19971201&end_date=19971231&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
11 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19971101&end_date=19971130&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
10 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19971001&end_date=19971031&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv

9 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19970901&end_date=19970930&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
8 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19970801&end_date=19970831&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
7 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19970701&end_date=19970731&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
6 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19970601&end_date=19970630&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
5 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19970501&end_date=19970531&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv
4 https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=water_level&application=NOS.COOPS.TAC.WL&begin_date=19970401&end_date=19970430&datum=MLLW&station=8571892&time_zone=GMT&units=english&format=csv

OperationalError: table noaa_data has 8 columns but 1 values were supplied

In [112]:
conn.commit()

In [137]:
scur = conn.cursor()
scur.execute(f'drop view if exists daily') 
scur.execute(f'''create view daily as 

select date(Date_Time) as report_date, 
max(water_level) as max_water_level,
min(water_level) as min_water_level,
count(*) as record_count
from {table_name}
group by 1
order by 1
''')

In [135]:
scur = conn.cursor()
scur.execute(f'''
select *
from daily
order by 1
limit 10
''')

for col in scur.description:
    print(col[0])

for row in scur.fetchall():
    print(row)

report_date
max_water_level
min_water_level
record_count
('2014-01-01', '2.056', '-0.024', 240)
('2014-01-02', '2.243', '-0.017', 240)
('2014-01-03', '2.286', '-0.001', 240)
('2014-01-04', '3.017', '-0.001', 240)
('2014-01-05', '2.985', '0.524', 240)
('2014-01-06', '2.663', '0.577', 240)
('2014-01-07', '2.365', '-0.014', 240)
('2014-01-08', '0.832', '-0.004', 240)
('2014-01-09', '0.819', '-0.004', 240)
('2014-01-10', '1.003', '-0.007', 240)

In [152]:
scur = conn.cursor()
scur.execute(f'''
select date(report_date,'start of year'),

avg(max_water_level), avg(min_water_level), max(max_water_level),
sum(record_count), count(*)
from daily
group by 1
order by 1
''')

for col in scur.description:
    print(col[0])

for row in scur.fetchall():
    print(row)

date(report_date,'start of year')
avg(max_water_level)
avg(min_water_level)
max(max_water_level)
sum(record_count)
count(*)
('1997-01-01', 2.204351020408163, 0.2956938775510201, '3.441', 58800, 245)
('1998-01-01', 2.344400000000001, 0.3492328767123284, '4.028', 87600, 365)
('1999-01-01', 2.1945342465753424, 0.2551041095890407, '3.811', 87600, 365)
('2000-01-01', 2.0724305555555564, 0.21978055555555526, '3.539', 86266, 360)
('2001-01-01', 2.042046575342468, 0.19994246575342445, '3.762', 87600, 365)
('2002-01-01', 2.0187890410958897, 0.17968493150684925, '3.559', 87600, 365)
('2003-01-01', 2.1190136986301384, 0.23942739726027368, '6.180', 87600, 365)
('2004-01-01', 2.1847205479452065, 0.2514328767123285, '3.976', 87600, 365)
('2005-01-01', 2.3458767123287654, 0.3540876712328764, '4.015', 87600, 365)
('2006-01-01', 2.2850438356164395, 0.30486301369863006, '3.903', 87600, 365)
('2007-01-01', 2.135452054794519, 0.25422465753424645, '3.706', 87600, 365)
('2008-01-01', 2.2406356164383547, 0.3034958904109584, '4.379', 87600, 365)
('2009-01-01', 2.3279506849315057, 0.38585479452054816, '3.943', 87600, 365)
('2010-01-01', 2.4278986301369843, 0.42504931506849286, '4.537', 87600, 365)
('2011-01-01', 2.4919808219178083, 0.4399424657534242, '4.707', 87600, 365)
('2012-01-01', 2.4764383561643832, 0.4171890410958904, '4.704', 87600, 365)
('2013-01-01', 2.350054794520546, 0.36144931506849276, '3.900', 87600, 365)
('2014-01-01', 2.38310410958904, 0.38328767123287666, '4.205', 87600, 365)
('2015-01-01', 2.2894438356164377, 0.3489205479452054, '3.834', 87600, 365)
('2016-01-01', 2.4008493150684926, 0.41565479452054793, '4.300', 87600, 365)
('2017-01-01', 2.4256273972602727, 0.46266849315068487, '3.887', 87600, 365)
('2018-01-01', 2.5133397260273944, 0.5039780821917812, '4.507', 87600, 365)
('2019-01-01', 2.6669095890410977, 0.5623369863013699, '4.681', 87600, 365)
('2020-01-01', 2.576663013698629, 0.5175369863013702, '4.556', 87600, 365)
('2021-01-01', 2.5449643835616422, 0.5029671232876712, '5.262', 87600, 365)
('2022-01-01', 2.4942986301369867, 0.4635643835616434, '4.530', 87600, 365)
('2023-01-01', 2.699589041095888, 0.6787917808219178, '4.251', 87600, 365)
('2024-01-01', 2.7893178082191787, 0.7517506849315072, '5.245', 87599, 365)

In [155]:
scur = conn.cursor()
scur.execute(f'''select 
 date(report_date,'start of year'),
 date(report_date,'start of month'),

avg(max_water_level), avg(min_water_level), max(max_water_level),
sum(record_count), count(*)
from daily
where date(report_date,'start of year') >= '2015-01-01'
group by 1,2
order by 1,2
''')

for col in scur.description:
    print(col[0])

for row in scur.fetchall():
    print(row)

date(report_date,'start of year')
date(report_date,'start of month')
avg(max_water_level)
avg(min_water_level)
max(max_water_level)
sum(record_count)
count(*)
('2015-01-01', '2015-01-01', 1.7364193548387097, 0.07106451612903227, '2.683', 7440, 31)
('2015-01-01', '2015-02-01', 1.8442857142857143, 0.14860714285714285, '3.496', 6720, 28)
('2015-01-01', '2015-03-01', 1.6970000000000005, 0.023, '2.653', 7440, 31)
('2015-01-01', '2015-04-01', 2.1169000000000002, 0.19136666666666666, '3.303', 7200, 30)
('2015-01-01', '2015-05-01', 2.147645161290322, 0.18054838709677415, '2.955', 7440, 31)
('2015-01-01', '2015-06-01', 2.5612, 0.37799999999999995, '3.605', 7200, 30)
('2015-01-01', '2015-07-01', 2.6617096774193545, 0.6055161290322579, '3.264', 7440, 31)
('2015-01-01', '2015-08-01', 2.5580645161290323, 0.5238064516129032, '3.293', 7440, 31)
('2015-01-01', '2015-09-01', 2.7270999999999996, 0.7227, '3.441', 7200, 30)
('2015-01-01', '2015-10-01', 2.7359354838709673, 0.6435483870967739, '3.834', 7440, 31)
('2015-01-01', '2015-11-01', 2.3054333333333332, 0.3402000000000001, '3.608', 7200, 30)
('2015-01-01', '2015-12-01', 2.356387096774194, 0.34693548387096773, '3.359', 7440, 31)
('2016-01-01', '2016-01-01', 2.1610322580645165, 0.2999354838709678, '4.189', 7440, 31)
('2016-01-01', '2016-02-01', 2.180285714285714, 0.2750714285714286, '4.300', 6720, 28)
('2016-01-01', '2016-03-01', 2.2324516129032266, 0.29135483870967743, '2.981', 7440, 31)
('2016-01-01', '2016-04-01', 2.410566666666667, 0.4888333333333333, '3.214', 7200, 30)
('2016-01-01', '2016-05-01', 2.4800000000000004, 0.4295161290322582, '3.782', 7440, 31)
('2016-01-01', '2016-06-01', 2.502966666666666, 0.3854666666666666, '3.083', 7200, 30)
('2016-01-01', '2016-07-01', 2.4922258064516134, 0.3551290322580645, '3.086', 7440, 31)
('2016-01-01', '2016-08-01', 2.508193548387097, 0.3695161290322581, '3.569', 7440, 31)
('2016-01-01', '2016-09-01', 2.8571333333333326, 0.8390000000000002, '3.605', 7200, 30)
('2016-01-01', '2016-10-01', 2.654032258064516, 0.650774193548387, '3.874', 7440, 31)
('2016-01-01', '2016-11-01', 2.3025333333333338, 0.3676000000000001, '3.720', 7200, 30)
('2016-01-01', '2016-12-01', 2.02258064516129, 0.2355483870967742, '2.893', 7440, 31)
('2017-01-01', '2017-01-01', 2.0230967741935486, 0.2527419354838709, '3.372', 7440, 31)
('2017-01-01', '2017-02-01', 2.0804285714285715, 0.19378571428571428, '3.313', 6720, 28)
('2017-01-01', '2017-03-01', 1.6870322580645156, 0.11925806451612903, '2.952', 7440, 31)
('2017-01-01', '2017-04-01', 2.513066666666667, 0.5382, '3.887', 7200, 30)
('2017-01-01', '2017-05-01', 2.7419999999999995, 0.6154193548387096, '3.657', 7440, 31)
('2017-01-01', '2017-06-01', 2.624533333333333, 0.5547000000000002, '3.519', 7200, 30)
('2017-01-01', '2017-07-01', 2.6427419354838713, 0.4902903225806452, '3.326', 7440, 31)
('2017-01-01', '2017-08-01', 2.7235161290322583, 0.6891612903225806, '3.657', 7440, 31)
('2017-01-01', '2017-09-01', 2.819566666666666, 0.7888666666666666, '3.769', 7200, 30)
('2017-01-01', '2017-10-01', 2.7094193548387095, 0.6320967741935486, '3.716', 7440, 31)
('2017-01-01', '2017-11-01', 2.502366666666666, 0.4892, '3.723', 7200, 30)
('2017-01-01', '2017-12-01', 2.0307741935483867, 0.17906451612903226, '2.975', 7440, 31)
('2018-01-01', '2018-01-01', 1.5456129032258064, 0.050258064516129054, '3.027', 7440, 31)
('2018-01-01', '2018-02-01', 1.9269285714285718, 0.09310714285714286, '2.929', 6720, 28)
('2018-01-01', '2018-03-01', 2.459774193548387, 0.5113548387096775, '4.507', 7440, 31)
('2018-01-01', '2018-04-01', 2.289633333333333, 0.30539999999999995, '4.048', 7200, 30)
('2018-01-01', '2018-05-01', 2.4742580645161296, 0.41909677419354835, '3.346', 7440, 31)
('2018-01-01', '2018-06-01', 2.8830999999999993, 0.7586333333333332, '3.562', 7200, 30)
('2018-01-01', '2018-07-01', 2.763258064516129, 0.7139354838709678, '3.746', 7440, 31)
('2018-01-01', '2018-08-01', 2.6585483870967743, 0.5564838709677419, '3.657', 7440, 31)
('2018-01-01', '2018-09-01', 3.1851333333333343, 1.0226, '4.126', 7200, 30)
('2018-01-01', '2018-10-01', 2.7475483870967734, 0.6793548387096772, '3.414', 7440, 31)
('2018-01-01', '2018-11-01', 2.5909, 0.38786666666666675, '4.035', 7200, 30)
('2018-01-01', '2018-12-01', 2.6075161290322586, 0.5246774193548387, '3.710', 7440, 31)
('2019-01-01', '2019-01-01', 2.508258064516129, 0.42848387096774204, '3.946', 7440, 31)
('2019-01-01', '2019-02-01', 2.155714285714286, 0.24671428571428575, '3.270', 6720, 28)
('2019-01-01', '2019-03-01', 2.3383548387096775, 0.37548387096774194, '2.952', 7440, 31)
('2019-01-01', '2019-04-01', 2.495133333333333, 0.44053333333333333, '3.618', 7200, 30)
('2019-01-01', '2019-05-01', 2.8276129032258064, 0.7207096774193547, '3.503', 7440, 31)
('2019-01-01', '2019-06-01', 2.7187333333333332, 0.5530999999999999, '3.195', 7200, 30)
('2019-01-01', '2019-07-01', 2.7673870967741947, 0.5598387096774192, '3.234', 7440, 31)
('2019-01-01', '2019-08-01', 2.8662903225806464, 0.6689677419354838, '3.815', 7440, 31)
('2019-01-01', '2019-09-01', 3.0569333333333337, 0.8129666666666666, '4.021', 7200, 30)
('2019-01-01', '2019-10-01', 3.2527096774193556, 1.0122903225806448, '4.681', 7440, 31)
('2019-01-01', '2019-11-01', 2.585866666666667, 0.5337999999999999, '3.802', 7200, 30)
('2019-01-01', '2019-12-01', 2.3865483870967745, 0.3675483870967742, '3.690', 7440, 31)
('2020-01-01', '2020-01-01', 2.2600000000000007, 0.30912903225806454, '3.736', 7440, 31)
('2020-01-01', '2020-02-01', 2.2716785714285708, 0.33924999999999994, '3.818', 6720, 28)
('2020-01-01', '2020-03-01', 2.4376129032258063, 0.4650645161290324, '3.559', 7440, 31)
('2020-01-01', '2020-04-01', 2.6973666666666665, 0.5837666666666668, '3.867', 7200, 30)
('2020-01-01', '2020-05-01', 2.4187419354838706, 0.48490322580645157, '3.834', 7440, 31)
('2020-01-01', '2020-06-01', 2.7185333333333337, 0.6156999999999998, '3.155', 7200, 30)
('2020-01-01', '2020-07-01', 2.8598064516129034, 0.5598387096774194, '3.421', 7440, 31)
('2020-01-01', '2020-08-01', 2.8565483870967743, 0.5745161290322581, '4.556', 7440, 31)
('2020-01-01', '2020-09-01', 2.9067333333333343, 0.8006333333333334, '3.513', 7200, 30)
('2020-01-01', '2020-10-01', 2.739999999999999, 0.6530967741935483, '3.424', 7440, 31)
('2020-01-01', '2020-11-01', 2.4511, 0.4611666666666668, '3.598', 7200, 30)
('2020-01-01', '2020-12-01', 2.2873870967741943, 0.3587419354838711, '3.880', 7440, 31)
('2021-01-01', '2021-01-01', 2.4357096774193545, 0.43445161290322587, '3.303', 7440, 31)
('2021-01-01', '2021-02-01', 2.3527142857142858, 0.3125714285714286, '3.241', 6720, 28)
('2021-01-01', '2021-03-01', 2.1668709677419353, 0.2595483870967743, '3.093', 7440, 31)
('2021-01-01', '2021-04-01', 2.4761333333333337, 0.4999333333333334, '3.431', 7200, 30)
('2021-01-01', '2021-05-01', 2.360129032258064, 0.292, '3.434', 7440, 31)
('2021-01-01', '2021-06-01', 2.601366666666666, 0.47119999999999995, '3.329', 7200, 30)
('2021-01-01', '2021-07-01', 2.656645161290323, 0.4823870967741935, '3.362', 7440, 31)
('2021-01-01', '2021-08-01', 2.7595483870967743, 0.6510645161290324, '3.477', 7440, 31)
('2021-01-01', '2021-09-01', 2.8457, 0.7930333333333333, '4.251', 7200, 30)
('2021-01-01', '2021-10-01', 3.080677419354839, 1.0296129032258063, '5.262', 7440, 31)
('2021-01-01', '2021-11-01', 2.489333333333333, 0.48593333333333344, '3.437', 7200, 30)
('2021-01-01', '2021-12-01', 2.303645161290323, 0.31312903225806454, '3.116', 7440, 31)
('2022-01-01', '2022-01-01', 2.3223225806451606, 0.2933548387096774, '3.687', 7440, 31)
('2022-01-01', '2022-02-01', 1.9185714285714284, 0.12000000000000004, '2.512', 6720, 28)
('2022-01-01', '2022-03-01', 2.0896774193548393, 0.24370967741935484, '2.945', 7440, 31)
('2022-01-01', '2022-04-01', 2.2748999999999997, 0.3190666666666667, '3.014', 7200, 30)
('2022-01-01', '2022-05-01', 2.8697741935483867, 0.7690645161290323, '3.575', 7440, 31)
('2022-01-01', '2022-06-01', 2.7671333333333337, 0.5797666666666668, '3.349', 7200, 30)
('2022-01-01', '2022-07-01', 2.549419354838709, 0.4157741935483871, '3.073', 7440, 31)
('2022-01-01', '2022-08-01', 2.6568709677419347, 0.4921612903225806, '3.401', 7440, 31)
('2022-01-01', '2022-09-01', 2.736166666666666, 0.6991333333333334, '3.726', 7200, 30)
('2022-01-01', '2022-10-01', 2.721322580645161, 0.6852903225806452, '3.644', 7440, 31)
('2022-01-01', '2022-11-01', 2.436833333333333, 0.4132333333333334, '3.247', 7200, 30)
('2022-01-01', '2022-12-01', 2.5405483870967744, 0.5040322580645162, '4.530', 7440, 31)
('2023-01-01', '2023-01-01', 2.335612903225807, 0.38725806451612915, '3.287', 7440, 31)
('2023-01-01', '2023-02-01', 2.2469642857142857, 0.3915357142857144, '3.136', 6720, 28)
('2023-01-01', '2023-03-01', 2.6524516129032256, 0.6440967741935484, '3.854', 7440, 31)
('2023-01-01', '2023-04-01', 2.669, 0.6700666666666668, '3.871', 7200, 30)
('2023-01-01', '2023-05-01', 2.677870967741936, 0.6605806451612902, '3.831', 7440, 31)
('2023-01-01', '2023-06-01', 2.9884666666666666, 0.8706999999999999, '3.972', 7200, 30)
('2023-01-01', '2023-07-01', 2.845387096774193, 0.6902258064516127, '3.408', 7440, 31)
('2023-01-01', '2023-08-01', 2.825612903225806, 0.6648387096774194, '3.867', 7440, 31)
('2023-01-01', '2023-09-01', 2.9418, 0.9064, '4.018', 7200, 30)
('2023-01-01', '2023-10-01', 2.899612903225807, 0.8843548387096772, '3.496', 7440, 31)
('2023-01-01', '2023-11-01', 2.6772, 0.7337333333333333, '3.939', 7200, 30)
('2023-01-01', '2023-12-01', 2.606709677419355, 0.6289354838709678, '4.251', 7440, 31)
('2024-01-01', '2024-01-01', 2.637677419354838, 0.7166451612903227, '5.245', 7439, 31)
('2024-01-01', '2024-02-01', 2.9723214285714286, 0.9796785714285713, '3.546', 6720, 28)
('2024-01-01', '2024-03-01', 2.702322580645161, 0.7094516129032258, '4.218', 7440, 31)
('2024-01-01', '2024-04-01', 3.0639333333333334, 0.9791666666666664, '4.310', 7200, 30)
('2024-01-01', '2024-05-01', 3.1440967741935477, 1.0670645161290322, '4.143', 7440, 31)
('2024-01-01', '2024-06-01', 2.7626333333333335, 0.5862333333333332, '3.516', 7200, 30)
('2024-01-01', '2024-07-01', 2.735451612903225, 0.5275483870967743, '3.188', 7440, 31)
('2024-01-01', '2024-08-01', 2.779354838709678, 0.6689032258064515, '3.897', 7440, 31)
('2024-01-01', '2024-09-01', 3.2735000000000003, 1.2160000000000002, '4.281', 7200, 30)
('2024-01-01', '2024-10-01', 2.784645161290323, 0.8138387096774193, '3.792', 7440, 31)
('2024-01-01', '2024-11-01', 2.636766666666667, 0.5558000000000001, '3.880', 7200, 30)
('2024-01-01', '2024-12-01', 2.015516129032258, 0.2333870967741935, '2.824', 7440, 31)

In [148]:
scur = conn.cursor()
scur.execute(f'''
select date(Date_Time,'start of year'),

count(*)
from noaa_data
--where date(Date_Time,'start of year') = '2014-01-01'
group by 1
order by 1
''')

for col in scur.description:
    print(col[0])

for row in scur.fetchall():
    print(row)

date(Date_Time,'start of year')
count(*)
('2015-01-01', 87600)
('2016-01-01', 87600)
('2017-01-01', 87600)
('2018-01-01', 87600)
('2019-01-01', 87600)
('2020-01-01', 87600)
('2021-01-01', 87600)
('2022-01-01', 87600)
('2023-01-01', 87600)
('2024-01-01', 87599)